// Alert Overrides

@use "uswds-core" as *;

.page-errors {
  font-weight: bold;
  color: color($theme-color-secondary-dark);
}

.usa-alert--error {
  background-image: url(../../img/alerts/error-red.svg), linear-gradient(transparent, transparent);
}

#word-limit-alert.usa-alert.usa-alert--warning {
  background-image: url(../../img/alerts/word-count-alert.svg),
    linear-gradient(transparent, transparent);
}
