// Alert Overrides

.page-errors {
  font-weight: bold;
  color: $red-vivid-60;
}

.usa-alert--error {
  background-image: url(../img/alerts/error-red.svg),linear-gradient(transparent,transparent);
}

#word-limit-alert.usa-alert.usa-alert--warning {
  background-image: url(../img/alerts/word-count-alert.svg),linear-gradient(transparent,transparent);
}

.usa-input--error {
  color: $red-vivid-60;
}