// USA Gov Banner Customization

@use "uswds-core" as *;

.usa-banner {
  .usa-banner__header {
    padding-top: .75rem;
    padding-bottom: .75rem;
    .how-you-know-dropdown {
      padding-right: 1rem;
    }
  }

  .usa-banner__header-text,
  .usa-media-block__body {
    color: color('white');

    // Touchpoints footer styling
    [id='fba-modal-dialog'] & {
      color: color($theme-color-base-darkest);
    }
  }

  .usa-banner__header-action {
    /* Override aggressive global <p> font-size */
    /* Should match font-size of .usa-banner__header-text */
    font-size: .75rem;
  }

  .language-selection {

    @media (max-width: 63.99em) {
      display: none;
    }

    @media (min-width: 64em) {
      text-align: right;

      .language-selection__inner {
        display: inline-flex;
      }

      .usa-banner__button {
        margin-left: 1.5rem;

        .usa-banner__button-text {
          text-decoration: none;
        }
      }

      .usa-banner__button.language-selection__button {
        &:after {
          display: none;
        }
      }

      img {
        height: 1rem;
        margin-top: .25rem;
      }

      .language-selection__button-active {
        text-decoration: underline;
      }
    }
  }
}
