button,
.usa-button {
  background-color: color($theme-color-primary-darker);
}

.button--edit {
  background-color: transparent;
  @include text--body-copy__medium();
  float: right;
  &:before {
    margin-right: 10px;
    background-image: url(../../img/ic_edit.svg);
    background-repeat: none;
    content: '';
    height: 12px;
    width: 12px;
    display: inline-block;
  }
}

.button--cancel {
  background-color: transparent;
  @include u-color('secondary-dark');
  margin-left: 0.5rem;
  &:hover,
  &:active,
  &:focus {
    @include u-color('secondary');
    background-color: transparent !important;
  }
}

.button--continue, button#login {
  color: color('white') !important;
}

// glue the review page edit buttons to the bottom of the card on mobile
@include at-media-max('mobile-lg') {
  .crt-portal-card__content {
    position: relative; // won't change display of card but will allow absolute positioning of button
    padding-bottom: units($spacer-6x); // to accommodate button
  }
  .button--review {
    position: absolute;
    width: 88%;
    bottom: units($spacer-3x);
  }
}
