@use "uswds-core" as *;
@use "layout" as *;
@use "variables" as *;

.crt-portal-card {
  @include u-radius('lg');
  background-color: color('white');
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.14);
  margin: units($spacer-3x) 0;

  &:first-of-type {
    margin-top: 0;
  }

  // provides styled for a hoverable card, use in primary issue page
  &.crt-hover-card {
    &:hover {
      background-color: color(
        'gray-cool-4'
      ); // USWDS system design token: https://designsystem.digital.gov/design-tokens/color/system-tokens/
      cursor: pointer;
    }
    &.selected,
    &:hover.selected {
      background-color: color($theme-color-primary-lightest);
    }

    > .crt-portal-card__content {
      @include u-padding-top(4);
      @include u-padding-bottom(1);
    }
  }

  &__content {
    @include u-margin-bottom(1);
    @include u-padding-y(1.5);
    @include u-padding-x(3);

    &--sm {
      @include u-padding-top(3);
      @include u-padding-x(4);
      @include u-padding-bottom(5);
      @include at-media-max(mobile-lg) {
        @include u-padding(3);
      }
    }

    &--lg {
      @include u-padding-x(7);
      @include u-padding-bottom(6);
      @include u-padding-top(5);
      @include at-media-max(mobile-lg) {
        @include u-padding(3);
      }
    }

    // no margin when the only thing or last thing on the card is the help text
    // example: "something else" in "primary concern"
    > div:last-child,
    > label:last-child {
      .help-text:last-child,
      .help-text__small:last-child {
        margin-bottom: 0;
      }
    }
    // card header
    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .title {
    @include flex-container();
    border-color: color($theme-color-primary-darker);
    border-width: 0;
    border-bottom: 1px solid;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  h3.crt-portal-card__subheader {
    padding-bottom: 0.25rem;
    border-bottom: 1px solid color($theme-color-base-lighter);
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

.crt-actions-card {
  margin-top: 1rem !important;

  button {
    margin-top: 1rem !important;
  }

  ul.errorlist {
    color: color($theme-color-secondary);
    list-style-type: none;
  }

  input, select {
    &[disabled=disabled] {
      cursor: not-allowed;
    }
  }

  .bulk-helptext-list {
    li {
      margin: 0 !important;
      list-style-position: inside;
    }
  }
}

.crt-related-reports-card {
  max-height: 450px;
  overflow-y: scroll;
}

.crt-responses-card {
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.crt-responses-card table.card-table {
  td:last-child {
    padding-right: 0;
    text-align: left;
  }
}

table.card-table {
  font-size: 0.75rem;
  margin-top: 0px;

  td {
    white-space: nowrap;
  }

  td:first-child {
    padding-left: 0;
  }

  td:last-child {
    padding-right: 0;
    text-align: right;
  }

  .card-table-icon {
    height: 1rem;
    min-width: 1rem;
    max-width: 1rem;
    vertical-align: text-bottom;
    margin-left: 0.15rem;
  }
}

table.attachments-table {
  font-size: 0.75rem;
  margin-top: 0px;

  th:first-child {
    padding-left: 1rem;
  }
}
