@use "uswds-core" as *;

.usa-combo-box input {
  border-radius: 3px;
}

.usa-combo-box__list {
  border-radius: 3px;
}

.usa-combo-box__toggle-list {
  background-image: url(../../img/intake-icons/ic_chevron-down.svg), linear-gradient(transparent, transparent);;
  background-size: 15px;
  background-position: center center;

  /* Override a very aggressive button width from .intake-content */
  width: auto !important;
}

/* Override a very aggressive li margin from .usa-form */
.usa-combo-box__list-option {
  margin-top: 0 !important;
}

.usa-combo-box__clear-input {
  background-image: url(../../img/close-blue-60-alt.svg), linear-gradient(transparent, transparent);
  background-size: 13px;

  /* Override a very aggressive button width from .intake-content */
  width: auto !important;
}

.usa-combo-box__clear-input, .usa-combo-box__toggle-list {
  /* Override USWDS opacity setting */
  opacity: 1;
}
