$complaint-header-min-height: 200px;

.complaint-card-table {
  display: fixed;
  width: 100%;

  th {
    color: $blue-warm-vivid-70;
    font-size: 1rem;
    font-weight: bold;
    padding-right: 0;
    width: 40%;
  }

  td {
    padding-left: 0;
    width: 60%;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
  }

  th,
  td {
    border-top: 0;
    padding-bottom: 0.8rem;
  }

  tr:last-child {
    th,
    td {
      border: none;
    }
  }
}

.activity-stream {
  .crt-portal-card__content {
    max-height: 43.75rem;
    overflow-y: scroll;
  }

  .activity-stream-list {
    .activity-stream-item {
      border-bottom: 1px solid #c6cace;
      padding: 0.5rem 0 0.5rem 0;

      &:first-child {
        padding-top: 0;
      }

      &:not(:first-child) {
        margin-top: 1rem;
      }

      &:last-child {
        border-bottom: none;
      }

      .date {
        color: #aeaeab;
      }
    }
  }
}

.bold {
  font-weight: bold;
}

.backend-blue {
  @include u-color($blue-warm-vivid-80-t);
}

#current-summary-text {
  @include u-margin-top(0.5rem);
  @include u-margin-right(3rem);
}

.activity-stream-list.usa-list,
.usa-prose #current-summary-text {
  line-height: 1.4; // USWDS override
}
