$twenty-percent-mult: .2;
$complaint-header-min-height: 200px;
$complaint-body-offset: calc(
  -#{$twenty-percent-mult} * #{$complaint-header-min-height}
);

.complaint-header {
  min-height: $complaint-header-min-height;
  width: 100%;

  & .close-record {
    margin-right: 0;
    // Matches h2 margin-top value
    margin-top: 1.66rem;
    text-decoration: none;

    &:visited {
      color: $blue-50;
    }
  }
}

.complaint-body {
  transform: translateY(#{$complaint-body-offset});
}

.complaint-card {
  @include u-margin-bottom(1);
  @include u-padding-y(1.5);
  @include u-padding-x(2.5);
  @include u-radius('md');
  @include u-shadow(1);

  background-color: $white;

  .complaint-card-heading {
    color: $gray-warm-80;
    margin-top: 0;
  }

  .usa-button--outline {
    &.complaint-card-action {
      box-shadow: inset 0 0 0 2px $gray-60;
      color: $gray-60;
      font-size: .75rem;
      padding: .5rem;
      text-transform: uppercase;
    }
  }

  .complaint-card-table {
    display: fixed;
    width: 100%;

    th {
      color: $blue-warm-vivid-70;
      font-size: 1rem;
      font-weight: bold;
      padding-right: 0;
      text-transform: uppercase;
      width: 40%;
    }

    td {
      padding-left: 0;
      width: 60%;
      white-space: normal;
      word-wrap: break-word;
      word-break: break-all;
    }

    th, td {
      border-top: 0;
      padding-bottom: 0;
    }
  }
}
