@use "uswds-core" as *;
@use "variables" as *;

$complaint-header-min-height: 200px;

.complaint-card-table {
  display: fixed;
  width: 100%;

  th {
    width: 40%;
    padding-right: 0;
    color: color($theme-color-base-ink);
    font-weight: bold;
  }

  td {
    width: 60%;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
  }

  th,
  td {
    border-top: 0;
    padding-bottom: 0.8rem;
  }

  tr:last-child {
    th,
    td {
      border: none;
    }
  }
}

.activity-stream {
  .crt-portal-card__content ul {
    max-height: 40rem;
    overflow-y: scroll;
  }

  .activity-stream-list {
    .activity-stream-item {
      svg {
        width: 1.25rem;
        height: 1.25rem;
      }

      .comment-icon {
        display: none;
      }
      &.comment .comment-icon {
        display: inline-block;
        padding-top: 5px;
        vertical-align: middle;
      }

      border-bottom: 1px solid color('gray-cool-20'); // USWDS system color design token: https://designsystem.digital.gov/design-tokens/color/system-tokens/
      padding: 0.5rem 0 0.5rem 0;

      &:first-child {
        padding-top: 0;
      }

      &:not(:first-child) {
        margin-top: 1rem;
      }

      &:last-child {
        border-bottom: none;
      }

      .date {
        color: color($theme-color-base);
      }
    }
  }
}

.complaint-card-heading {
  small {
    text-transform: none;
  }

  .margin-left-auto {
    float: right;
  }
}

.bold {
  font-weight: bold;
}

.backend-blue {
  color: color($theme-color-primary-darker);
}

#current-summary-text {
  margin-top: 0.5rem;
  margin-right: 3rem;
}

.activity-stream-list.usa-list,
.usa-prose #current-summary-text {
  line-height: 1.4; // USWDS override
}

// Messages rendering
ul.messages {
  @include text--body-copy__large();
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: color($theme-color-primary-darker);
  list-style: none;
  margin-top: 0px;
  padding: 1rem;
  color: color($theme-color-primary-darker);
}

h2.messages {
  margin-top: 0px;

  li.error {
    color: color($theme-color-secondary-dark);
  }
}
