.confirmation-header {
  @extend .crt-form-header;
}

.crt-success-card {
  @include u-radius('lg');
  background-color: $white;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 3.5rem;

  &__content {
    @include u-margin-left(5);
    @include u-margin-top(5);
    @include u-padding-bottom(5);
    @include u-padding-x(3);
    flex-direction: column;

    &--lg {
      @include u-padding-x(7);
      @include u-padding-bottom(6);
      @include u-padding-top(5);
    }
    p {
      margin-right: 2.5rem; // to match the left margin inherited from card styles
    }
  }

  .title-wrapper {
    @include u-margin-x('auto');
    @include flex-container();
    @include u-bg($blue-warm-5-t);
    justify-content: center;
    align-content: center;

    .icon {
      margin-right: 10px;
    }
  }

  .title {
    @include u-color($blue-warm-vivid-80-t);
    @include flex-container();
    background-color: $blue-warm-5;
    h2 {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }

  h3 {
    margin-top: 0;
    @include u-color($blue-warm-vivid-80-t);
  }
}

section hr {
  @include u-margin-top(5);
  border-bottom: 1px solid $blue-warm-vivid-80;
}

.record-number-wrapper {
  align-content: center;
  @include flex-container();
  font-size: 1.38rem; //22px

  #paper-icon-wrapper {
    @include flex-container();
    justify-content: center;
    background-color: $blue-warm-5;
    height: 25px;
    width: 25px;
    border-radius: 2rem;
  }

  .record-number {
    background-color: $blue-warm-5;
    font-weight: bold;
    font-size: 1.38rem; //22px
  }
}

.confirmation-content p,
.confirmation-content li {
  line-height: 1.625;
  @media screen and (min-width: 480px) {
    max-width: 85%;
  }
}

section.what-to-expect {
  @include u-bg($blue-warm-5-t);
  @include u-margin-top(5);
  padding-bottom: 14rem;

  .title {
    @include flex-container();
    margin-top: 1rem;
  }

  h2 {
    @include u-color($blue-warm-vivid-80-t);
    @include u-font-family('serif');
    @include u-padding-top(5);
    font-size: 2.75rem;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }

  ol.confirmation-list {
    padding-left: 0;
    margin-left: 0;
    margin-top: -0.5rem;
    list-style-position: inside;
    list-style: none;
    li {
      @include u-margin-top(5);
      div {
        margin-top: 0;
        h3 {
          margin-top: 0;
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  ul.confirmation-list {
    padding-left: 0.1rem;
    margin-left: 0.1rem;
    list-style-position: inside;
    list-style-type: none;
    li {
      margin: 1rem 0;
      padding-left: 1.5rem;
      &::before {
        content: '';
        height: 7px;
        width: 7px;
        background-color: black;
        border-radius: 100%;
        display: inline-block;
        margin-left: -1.5rem;
        margin-right: 1rem;
      }
    }
  }

  .title-icon-blue {
    align-self: flex-start;
    margin-bottom: 1.5rem;
    background-color: $blue-warm-vivid-80;
    @include flex-container();
    border-radius: 2rem;
    justify-content: center;
    min-height: 32px;
    min-width: 32px;
    color: white;
    @include u-font-family('serif');

    span {
      margin-top: -0.015rem; // Merriweather numerals have a dropped baseline and don't sit in the center of the circle naturally
    }
  }
}

section.submission {
  margin-top: -15rem;

  #submission {
    .submission-title {
      @include u-color($blue-warm-vivid-80-t);
      @include u-font-family('serif');
      font-size: 2.75rem;
    }

    h3 {
      border-bottom: solid rgba(0, 0, 0, 0.1) thin;
    }

    .question {
      p:not(:last-child) {
        padding-bottom: 0.2rem;
        border-bottom: solid rgba(0, 0, 0, 0.1) thin;
      }
    }
  }
}
