@use "uswds-core" as *;
@use "variables" as *;
@use "layout" as *;

.crt-success-card {
  @include u-radius('lg');
  background-color: color('white');
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 3.5rem;

  &__content {
    @include u-margin-left(5);
    @include u-margin-top(5);
    @include u-padding-bottom(5);
    @include u-padding-x(3);
    flex-direction: column;

    @include at-media-max(tablet){
      margin: 0;
      padding: 1.5rem;
    }

    &--lg {
      @include u-padding-x(7);
      @include u-padding-bottom(6);
      @include u-padding-top(5);
    }
    p {
      margin-right: 2.5rem; // to match the left margin inherited from card styles
    }
  }

  .title-wrapper {
    @include u-margin-x('auto');
    @include flex-container();
    @include u-bg($theme-color-primary-lightest);
    justify-content: center;
    align-content: center;
    padding: 0 1rem;
    @include at-media-max(tablet){
      padding: 0 1.5rem;
      border-radius: 0.5rem;
    }

    .icon {
      margin-right: 8px;
      @include at-media-max(tablet){
        padding-bottom: 1.5rem;
      }
    }
  }

  .title {
    color: color($theme-color-primary-darker);
    @include flex-container();
    background-color: color($theme-color-primary-lightest);
    h2 {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      @include at-media-max(tablet){
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  h3 {
    margin-top: 0;
    color: color($theme-color-primary-darker);
  }

  #print_button {
    margin-top: 2rem;
  }
}

section hr {
  @include u-margin-top(5);
  border-bottom: 1px solid color($theme-color-primary-darker);
}

.record-number-wrapper {
  @include text--heading__medium();
  align-content: center;
  @include flex-container();

  @include at-media-max(mobile-lg) {
    // break up in two rows for mobile
    flex-direction: column;
    align-items: initial;
  }

  #paper-icon-wrapper {
    @include flex-container();
    justify-content: center;
    background-color: color($theme-color-primary-lightest);
    height: 25px;
    width: 25px;
    border-radius: 2rem;
  }

  .record-number-note {
    display: flex;
    align-items: center;
    @include at-media-max(mobile-lg) {
      margin-bottom: 0.5rem;
    }
  }

  .record-number {
    @include text--heading__medium();
    background-color: color($theme-color-primary-lightest);
    font-weight: bold;
    @include at-media-max(mobile-lg) {
      margin: 2rem;
    }
  }
}

.confirmation-content p,
.confirmation-content li {
  margin-top: 0;
  @media screen and (min-width: 480px) {
    max-width: 85%;
  }
}

.question {
  h4 {
    margin-bottom: 0;
  }
  p {
    margin-top: units($spacer-half);
  }
}

section.what-to-expect {
  @include u-bg($theme-color-primary-lightest);
  @include u-margin-top(5);
  padding-bottom: 14rem;

  .title {
    @include flex-container();
    margin-top: 1rem;
  }

  h2 {
    @include u-padding-top(5);
    margin-bottom: 2.5rem;
    margin-top: 0;
  }

  ol.confirmation-list {
    padding-left: 0;
    margin-left: 0;
    margin-top: -0.5rem;
    list-style-position: inside;
    list-style: none;
    li {
      @include u-margin-top(5);
      div {
        margin-top: 0;
        h3 {
          margin-top: 0;
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  ul.confirmation-list {
    padding-left: 0.1rem;
    margin-left: 0.1rem;
    list-style-position: inside;
    list-style-type: none;
    li {
      margin: 1rem 0;
      padding-left: 1.5rem;
      &::before {
        content: '';
        height: 7px;
        width: 7px;
        background-color: black;
        border-radius: 100%;
        display: inline-block;
        margin-left: -1.5rem;
        margin-right: 1rem;
      }
    }
  }

  .title-icon-blue {
    align-self: flex-start;
    margin-bottom: 1.5rem;
    background-color: color($theme-color-primary-darker);
    @include flex-container();
    border-radius: 2rem;
    justify-content: center;
    min-height: 32px;
    min-width: 32px;
    color: color('white');
    @include u-font-family('serif');

    span {
      margin-top: -0.015rem; // Merriweather numerals have a dropped baseline and don't sit in the center of the circle naturally
    }
  }
}

section.submission {
  margin-top: -15rem;

  #submission {
    h3 {
      border-bottom: solid rgba(0, 0, 0, 0.1) thin;
    }

    .question {
      p:not(:last-child) {
        padding-bottom: 0.2rem;
        border-bottom: solid rgba(0, 0, 0, 0.1) thin;
      }
    }
  }
}
