.confirmation-header {
  @extend .crt-form-header;
  min-height: 400px;
}

.crt-success-card {
@include u-radius('lg');
background-color: $white;
box-shadow: 0 1px 6px 2px rgba(0,0,0,.14);

  &__content {
      @include u-margin-left(5);
      @include u-margin-bottom(1);
      @include u-padding-y(1.5);
      @include u-padding-x(3);
      flex-direction: column;

      &--lg {
      @include u-padding-x(7);
      @include u-padding-bottom(6);
      @include u-padding-top(5);
      }
}

    .title-wrapper {
        @include u-margin-x('auto');
        @include flex-container();
        @include u-bg($blue-warm-5-t);
        justify-content: center;
        align-content: center;

        .icon {
        margin-right: 10px;
        }
    }

    .title {
        @include u-color($blue-warm-vivid-80-t);
        @include flex-container();
        background-color: $blue-warm-5;
        }

      h3 {
        @include u-color($blue-warm-vivid-80-t);
        }

}

.record-number-wrapper {
    align-content: center;
    @include flex-container();

    .record-number-icon {
      @include flex-container();
      background-color: $blue-warm-5;
      // border: 5px solid $blue-warm-5;
      border-radius: 2rem;
      justify-content: center;
      height: 25px;
      width: 25px;
    }

    .record-number {
      background-color: $blue-warm-5;
      font-weight: bold;
  }
}

section.what-to-expect {
    @include u-bg($blue-warm-5-t);
    padding-bottom: 14rem;

    .title {
      @include flex-container();
      margin-top: 1rem;
    }

    h2 {
      @include u-color($blue-warm-vivid-80-t);
      @include u-font-family('serif');
      font-size: 2.75rem;
      margin-bottom: 1rem;
    }
    h2:first {
      padding-top: 1rem;
    }

    ol.confirmation-list {
      padding-left: 0;
      margin-left: 0;
      list-style-position: inside;
      list-style: none;
    }

    ul.confirmation-list {
      padding-left: 0.1rem;
      margin-left: 0.1rem;
      list-style-position: inside;
      list-style-type: disc;
      li {
        margin: 1rem 0;
      }
    }

    .title-icon-blue {
      background-color: $blue-warm-vivid-80;
      @include flex-container();
      border-radius: 2rem;
      justify-content: center;
      min-height: 25px;
      min-width: 25px;
      color:white;
      @include u-font-family('serif');
    }
}

section.submission {
  margin-top: -15rem;

  #submission {
    .submission-title {
      @include u-color($blue-warm-vivid-80-t);
      @include u-font-family('serif');
      font-size: 2.75rem;
    }

    h3 {
      border-bottom: solid rgba(0,0,0,.1) thin;
    }

    .question {
        p:not(:last-child) {
        padding-bottom: 0.2rem;
        border-bottom: solid rgba(0,0,0,.1) thin;
      }
    }
  }
}
