.filter-control {
  color: $blue-warm-vivid-70;
  display: inline-block;
  padding-left: 12px;
  padding-right: 2px;
  position: relative;

  > .divider {
    border-left: 1px solid $gray-warm-10;
    display: inline;
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    top: 0;
  }

  .filter-action {
    margin: 0;
    margin-top: 1px;
    padding-left: 12px;
    vertical-align: top;
    width: 34px;
  }
}
