// Footer Styles
footer {
  width: 100%; // IE11 fix
  color: white;

  select,
  input {
    color: black;
  }
}

.usa-footer__contact {
  display: flex;
  flex-direction: column;

  @include at-media-max(desktop) {
    margin-bottom: 2.5rem;
  }
}

.usa-footer__section {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-top: 0.5rem;
    align-items: center;
  }
}

.usa-footer__icon {
  margin-right: 1.5rem;
}

.usa-footer__logo-section {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}

.usa-footer__logo-heading {
  font-size: 2rem;
  font-weight: bold;

  @include at-media-max(desktop) {
    font-size: 1.38rem;
  }
}

.usa-footer__logo-subheading {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  @include u-font-family('serif');
}

.usa-footer__heading {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1em;
}

.usa-footer__separator {
  margin-top: 1rem;
  border: 2px solid $gold;
  border-radius: 2px;
  width: 25px;
}

.usa-footer__links {
  font-size: 14px;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }

  a {
    text-transform: uppercase;
    margin-bottom: 1.5em;
  }
}

.usa-footer__language {
  width: 100%; // IE11 fix
}

.usa-footer__secondary-section {
  background-color: #2e2e2a;

  a,
  a:visited {
    color: white;
    text-decoration: none;
  }
}

.i8n-section {
  display: flex;
  align-items: center;

  #i8n_select {
    background-color: $gold;
    color: black;
    margin-top: 0;
    max-width: 10em;
  }

  .i8n-submit {
    margin-left: 1em;
    margin-top: 0 !important;
    background-color: #2e2e2a;
    border: 1px solid white;
    width: 50%;
    max-width: 4em;

    &:hover {
      background-color: white !important;
      color: #2e2e2a;
    }
  }
}

a.privacy-footer,
a.privacy-footer:visited {
    color: white;
    text-transform: none;
}
