// Django Formtools Wizard customization

// Django wraps lot of elements in <li> by default
// that we'd prefer not to have bulleted, like
// radio buttons; so remove list item bullets by default.
form#details-edit-form,
form#report-form {
  .question--header {
    width: 100%; // IE11 fix
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    + .help-text,
    + .help-text__small,
    + p {
      margin-top: -1rem; // to match other help text margins
    }
  }

  fieldset:first-of-type .question--header {
    margin-top: 0;
  }

  .question_primary_complaint {
    ul {
      padding-left: 0;
    }

    li {
      margin-bottom: 1.5rem;

      &.primary-issue-example-li {
        @include text--body-copy__small();
        list-style: disc !important;
        margin-bottom: 0;
        margin-left: 18px;
        margin-top: 0.5rem;

        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  li {
    list-style: none;
  }

  // patterns for page intro text
  h2 {
    + .help-text {
      margin-bottom: 2rem;
    }
    // question headers sometimes abut page headers, which makes them the first-of-type and thus they lose their margin,
    // but when they immediately follow page headers they need the standard question--header spacing
    + div[data-toggle] fieldset:first-of-type .question--header {
      margin-top: 2.5rem;
    }
  }
}

// Form styles
.usa-form {
  max-width: 100% !important;
  ul {
    margin-left: 0;
    padding-left: 0;
  }

  .form-group {
    margin-bottom: 1.5rem;
    > h3 {
      margin-top: 0;
    }

    // removes margin on the last .form-group element and also from the last group of form elements
    &:last-child {
      margin-bottom: 0;
    }
    ul,
    input {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.top-margin {
      margin-top: 2.5rem;
    }
  }

  .other-class-option {
    margin-left: 2rem;
    margin-top: 1.5rem;
    padding-left: 1rem;
    border-left: 2px solid color($theme-color-primary-darker);

    ul > li:last-child {
      height: 25px;
      margin-bottom: 0 !important;
      padding-bottom: 0;
    }
  }

  .usa-fieldset {
    margin-top: 2.5rem;
    margin-bottom: 0;
    .usa-fieldset {
      margin-top: 1.5rem;
    }

    &:first-of-type {
      margin-top: 0;
    }

    ul {
      margin-bottom: 0;
    }
  }
  .usa-radio__input:checked + .usa-radio__label::before,
  .usa-checkbox__input:checked + .usa-checkbox__label::before {
    background-color: color($theme-color-primary-darker);
    box-shadow: 0 0 0 2px color($theme-color-primary-darker), inset 0 0 0 2px color('white');
  }
  .usa-button {
    &:hover {
      background-color: color('blue-50');
    }

    @media (min-width: 30em) {
      margin-top: 0;
    }
  }

  .light-button {
    color: color($theme-color-primary-darker);
    background-color: transparent;
    &:hover {
      background-color: color('white');
    }
  }

  li {
    > .usa-checkbox {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }

    > .usa-radio {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .usa-input {
    border-radius: 3px;
    &:focus {
      outline-offset: 0;
      border: 1px solid color($theme-focus-color);
    }
  }

  textarea.usa-textarea {
    resize: none;
    height: 15rem;

    &:focus {
      outline: 0.125rem solid color($theme-focus-color);
      outline-offset: 0;
      border: 1px solid color($theme-focus-color);
    }

    &.bg-gold-outline {
      outline: 0.125rem solid color($theme-color-warning);
      outline-offset: 0;
      border: 1px solid color($theme-color-warning);
    }

    &.bg-gold-outline:focus {
      outline: 0.125rem solid color($theme-color-warning);
      outline-offset: 0;
      border: 0.125rem solid color($theme-color-warning);
    }
  }

  .usa-checkbox__input,
  .usa-radio__input {
    // Display HTML5 error messages on hidden inputs:
    // https://stackoverflow.com/questions/49687229/display-html5-error-message-validation-on-hidden-radio-checkbox
    left: 45px;
    opacity: 0;
  }

  .crt-radio__label_helper {
    line-height: 0.85rem;
    margin-bottom: 0;

    .label-text {
      position: relative;
      bottom: 32px;
      margin-bottom: -30px;
    }

    .radio-help-text {
      line-height: 1.25rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
      text-indent: 0;
    }
  }

  .crt-radio__label_area {
    @extend .usa-radio__label;
    margin-bottom: 1rem;
    padding-left: 0;
    text-indent: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      top: 0;
      vertical-align: middle;
    }

    .label-text {
      position: relative;
      bottom: 1.5rem;
      margin-bottom: 0;

      ul {
        padding-inline-start: 20px;
      }

      .examples-title {
        @include text--body-copy__small();
        text-transform: uppercase;
        font-weight: bold;
        color: color($theme-color-base-darker);
      }
    }
  }

  input[type='radio']:checked + .crt-radio__label_area {
    background-color: color($theme-color-primary-lightest);
  }

  .crt-checkbox__label {
    @extend .usa-checkbox__label;
    line-height: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .question_group_optional_tag {
    font-weight: lighter;
    color: color($theme-color-base-ink);
  }
}

// Remove extra dropown error from datalist element
[list]::-webkit-calendar-picker-indicator {
  display: none;
}

.form-help-text {
  @include text--body-copy__small();
  color: color($theme-color-base-darker);

  // Necessary because we want to override styles applied to the p tag
  margin: 0.5rem 0 1rem 0 !important;
}

.group-help-text {
  line-height: 1.625rem;
}

a.usa-button {
  text-decoration: none;
  font-weight: normal;
  @include u-text($theme-color-primary-darker);
  &:hover,
  &:visited {
    @include u-text($theme-color-primary-darker);
  }
  img {
    margin-left: 0.5rem;
  }
}

.usa-button--light {
  background-color: color('gray-warm-3');
  color: color('blue-50');

  &:hover {
    background-color: color('gray-warm-5');
    color: color('blue-50');
  }

  img {
    margin-top: -2px;
    padding-right: 0.5rem;
    vertical-align: middle;
  }
}

.help-text,
.help-text__small {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;

  + fieldset legend {
    padding-top: 0;
  }
}

// no margin when the only thing or last thing on the card is the help text -- see "something else" in "primary concern"
.crt-portal-card__content {
  > div:last-child,
  > label:last-child {
    .help-text:last-child,
    .help-text__small:last-child {
      margin-bottom: 0;
    }
  }
}

.usa-input--error,
select.usa-input--error {
  border: 0.25rem solid color($theme-color-secondary-dark);
}

.complaint-multi-select {
  min-width: 140px;
}

.crt-portal-card {
  @include u-radius('lg');
  @include u-shadow(3);
  background: color('white');

  &.crt-hover-card {
    &:hover {
      background-color: color(
        'gray-cool-4'
      ); // USWDS system design token: https://designsystem.digital.gov/design-tokens/color/system-tokens/
      cursor: pointer;
    }
    &.selected,
    &:hover.selected {
      background-color: color($theme-color-primary-lightest);
    }

    > .crt-portal-card__content {
      @include u-padding-top(4);
      @include u-padding-bottom(1);
    }
  }

  .crt-portal-card__content {
    @include u-padding-x(7);
    @include u-padding-bottom(6);
    @include u-padding-top(5);
  }
}

.inline-block {
  margin: 0;
  display: inline-block;
}

.grid-gap div:last-child {
  margin-right: 0;
}

@media screen and (min-width: 480px) {
  .usa-form input[id*='-contact_phone'] {
    max-width: 80%;
  }
}

.field-required {
  @include text--body-copy__medium();
  font-weight: normal;
  font-style: italic;
  color: color($theme-color-base);

  &::before {
    content: '*';
    font-weight: bold;
    margin-left: 0.3rem;
    color: color($theme-color-secondary-dark);
  }

  &--group {
    @extend .field-required;

    &::before {
      @extend .field-required::before;
      margin-left: 0.5rem;
    }
  }
}

.usa-memorable-date {
  input {
    margin-right: 1rem;
  }
}

#page-errors {
  .error-summary {
    margin-block-start: 0px;
    li {
      font-weight: normal;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
}
