// Django Formtools Wizard customization

// Django wraps lot of elements in <li> by default
// that we'd prefer not to have bulleted, like
// radio buttons; so remove list item bullets by default.
form#report-form {
  .question-header {
    margin-top: 2.5rem;
  }

  fieldset:first-of-type .question-header {
    margin-top: 0;
  }

  .question_primary_complaint {
    ul {
      padding-left: 0;
    }

    li {
      margin-bottom: 1.5rem;

      &.primary-issue-example-li {
        font-size: 0.875rem;
        line-height: 1.3125rem;
        list-style: disc !important;
        margin-bottom: 0;
        margin-left: 18px;
        margin-top: 0.5rem;

        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  li {
    list-style: none;
  }
}

// Form styles
.usa-form {
  max-width: 100% !important;
  ul {
    margin-left: 0;
    padding-left: 0;
  }

  .form-group {
    margin-bottom: 1.5rem;
    > h3 {
      margin-top: 0;
    }

    // removes margin on the last .form-group element and also from the last group of form elements
    &:last-child {
      margin-bottom: 0;
    }
    ul,
    input {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .other-class-option {
    margin-left: 2rem;
    margin-top: 1.5rem;
    padding-left: 1rem;
    border-left: 2px solid $blue-warm-vivid-70;

    ul > li:last-child {
      height: 25px;
      margin-bottom: 0 !important;
      padding-bottom: 0;
    }
  }

  .usa-fieldset {
    margin-top: 2.5rem;
    margin-bottom: 0;
    .usa-fieldset {
      margin-top: 1.5rem;
    }

    &:first-of-type {
      margin-top: 0;
    }

    ul {
      margin-bottom: 0;
    }
  }
  .usa-radio__input:checked + .usa-radio__label::before,
  .usa-checkbox__input:checked + .usa-checkbox__label::before {
    background-color: $blue-warm-vivid-80;
    box-shadow: 0 0 0 2px $blue-warm-vivid-80, inset 0 0 0 2px #fff;
  }
  .usa-button {
    &:hover {
      background-color: $blue-50;
    }

    @media (min-width: 30em) {
      margin-top: 0;
    }
  }

  .light-button {
    background-color: transparent;
    &:hover {
      background-color: $white;
    }
  }

  li {
    > .usa-checkbox {
      margin-bottom: 1rem;
    }

    > .usa-radio {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .usa-input {
    border-radius: 3px;
    &:focus {
      outline-offset: 0;
      border: 1px solid $blue-vivid-40;
    }
  }

  textarea.usa-textarea {
    resize: none;
    height: 15rem;

    &:focus {
      outline: 0.125rem solid $blue-vivid-40;
      outline-offset: 0;
      border: 1px solid $blue-vivid-40;
    }

    &.bg-gold-outline {
      outline: 0.125rem solid $gold;
      outline-offset: 0;
      border: 1px solid $gold;
    }

    &.bg-gold-outline:focus {
      outline: 0.125rem solid $gold;
      outline-offset: 0;
      border: 0.125rem solid $gold;
    }
  }

  .usa-checkbox__input,
  .usa-radio__input {
    // Display HTML5 error messages on hidden inputs:
    // https://stackoverflow.com/questions/49687229/display-html5-error-message-validation-on-hidden-radio-checkbox
    left: 45px;
    opacity: 0;
  }

  .crt-radio__label_helper {
    line-height: 0.85rem;
    margin-bottom: 0;

    .label-text {
      position: relative;
      bottom: 32px;
      margin-bottom: -30px;
    }

    .radio-help-text {
      line-height: 1.25rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
      text-indent: 0;
    }
  }

  .crt-radio__label_area {
    @extend .usa-radio__label;
    margin-bottom: 1rem;
    padding-left: 0;
    text-indent: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      top: 0;
      vertical-align: middle;
    }

    .label-text {
      position: relative;
      bottom: 1.5rem;
      margin-bottom: 0;

      ul {
        padding-inline-start: 20px;
      }

      .examples-title {
        text-transform: uppercase;
        font-weight: bold;
        color: $gray-70;
        @include u-font('body', 3);
      }
    }
  }

  input[type='radio']:checked + .crt-radio__label_area {
    background-color: $blue-warm-5;
  }

  .crt-checkbox__label {
    @extend .usa-checkbox__label;
    line-height: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .question_group_optional_tag {
    font-weight: lighter;
    color: $gray-warm-80;
  }
}

// Remove extra dropown error from datalist element
[list]::-webkit-calendar-picker-indicator {
  display: none;
}

.form-help-text {
  color: $gray-70;
  font-size: 0.9rem;

  // Necessary because we want to override styles applied to the p tag
  margin: 0.5rem 0 1rem 0 !important;
}

.group-help-text {
  line-height: 1.625rem;
}

.usa-button--light {
  background-color: $light-beige;
  color: $blue-50;

  &:hover {
    background-color: #f2f2f2;
    color: $blue-50;
  }

  img {
    margin-top: -2px;
    padding-right: 0.5rem;
    vertical-align: middle;
  }
}

.help-text {
  line-height: 1.625rem;
}

.help-text__small {
  @include u-font('body', 'xs');
}

.help-text,
.help-text__small {
  font-style: italic;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  + fieldset legend {
    padding-top: 0;
  }
}

// pattern for page intro text
h2 + .help-text {
  margin-top: 0;
  margin-bottom: 2rem;
}

.usa-input--error,
select.usa-input--error {
  border: 0.25rem solid $red-vivid-60;
}

.complaint-multi-select {
  min-width: 140px;
}

.crt-portal-card {
  @include u-radius('lg');
  @include u-shadow(3);
  background: white;

  &.crt-hover-card {
    &:hover {
      background-color: $gray-cool-4;
      cursor: pointer;
    }
    &.selected,
    &:hover.selected {
      background-color: $blue-warm-5;
    }

    > .crt-portal-card__content {
      @include u-padding-top(4);
      @include u-padding-bottom(1);
    }
  }

  .crt-portal-card__content {
    @include u-padding-x(7);
    @include u-padding-bottom(6);
    @include u-padding-top(5);
  }
}

.inline-block {
  margin: 0;
  display: inline-block;
}

.grid-gap div:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .usa-form .usa-input[id*='contact_phone'] {
    max-width: 80%;
  }
}

.field-required {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  color: $gray-50;

  &::before {
    content: "*";
    font-weight: bold;
    margin-left: 0.3rem;
    color: $red-vivid-60;
  }

  &--group {
    @extend .field-required;

    &::before {
      @extend .field-required::before;
      margin-left: 0.5rem;
    }
  }
}
