// Header area

.crt-form-header {
  background-color: $blue-warm-vivid-80;
  color: white;
  padding-bottom: 6rem;

  header {
    @include u-margin-top(8);
  }

  .title {
    font-size: 2.8125rem;
    font-weight: 400;
    line-height: 3.75rem;
  }

  .doj-brand {
    font-size: 1.125rem;
    margin-top: 4rem;
    img {
      height: 38px;
      width: 38px;
    }
  }
}

.page-background {
  background-color: $blue-warm-5;
}

.usa-banner {
  .usa-banner__inner {
    max-width: 87rem !important;
  }
}

.crt-header--warning-pii {
  width: 100%;
  background-color: $blue-warm-vivid-80;
  padding-top: 1rem;
}
