.intake-bg {
  @include u-bg($theme-color-primary-lightest);
}

.intake-header {
  @include u-bg($theme-color-primary-darker);
  @include u-padding-x(5);
  @include flex-container();
  justify-content: space-between;
  min-height: 7.9rem;

  .title {
    @include flex-container();

    .title-copy {
      @include text--heading__medium();
      font-family: family('heading');
      color: color('white');
      font-weight: 400;
      margin-left: 0.8rem;
    }
  }

  .intake-actions {
    @include flex-container();
    justify-content: space-between;

    .add-record {
      @extend .crt-button;
      color: color($theme-color-primary-darker);
      background: color($theme-color-warning) !important;
      margin-right: 1.5rem;

      &.usa-button:visited {
        color: color($theme-color-primary-darker);
      }

      &:hover {
        background: color($theme-color-warning-light) !important;
      }
    }
  }
}

.intake-header--progress-bar {
  @include u-bg($theme-color-primary-darker);
  @include u-padding-top(3);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;

  + main {
    @include u-margin-top(3);
  }

  .progress-bar {
    margin-top: 0; //override setting in progress.scss

    a,
    a:visited {
      color: color($theme-color-primary-lightest);
    }
  }
}

#service-member + h3 {
  @include text--heading__medium();
  font-weight: $theme-font-weight-bold;
  color: color($theme-color-primary-darker);
}

// Fix for IE and Edge, which rely on .intake-header--progress-bar being position: fixed (applied via progress-bar.js).
// This prevents the progress bar from covering up the card header when a target is clicked on.
// Class is inserted into markup automatically if necessary in progress-bar.js.
.crt-portal-card--space-for-header h2::before {
  display: block;
  content: '';
  height: 150px;
  margin: -150px 0 0;
}

.title-icon {
  @include u-bg($theme-color-primary-lightest);
  @include flex-container();
  border-radius: 2rem;
  justify-content: center;
  height: 2rem;
  width: 2rem;
}

.intake-content {
  @include u-padding-x(5);

  .intake-filters {
    @include flex-container();
    width: 100%;
    flex-wrap: wrap;
    white-space: normal;
    align-items: baseline;

    @include at-media(desktop-lg) {
      padding-right: 4rem;
    }

    &.intake-checkbox {
      ul {
        @include flex-container();
        flex-wrap: wrap;
        white-space: normal;

        li {
          margin: 0.5rem;
        }

        + .usa-button {
          margin-left: 2rem;
        }
      }
    }

    .crt-textbox {
      margin-right: 1rem;
      margin-bottom: 2rem;

      input {
        border: none;
      }

      input[name='contact_first_name'] {
        max-width: 12rem;
      }

      input[name='contact_last_name'] {
        max-width: 12rem;
      }

      input[name='public_id'] {
        max-width: 7rem;
      }

      &.summary_input {
        width: 19rem;
      }
    }

    .crt-dropdown {
      margin-right: 1rem;
      margin-bottom: 2rem;

      button {
        width: 100%;
      }
    }

    .crt-dropdown:last-of-type {
      margin-top: 0rem;
    }

    .location-state--container {
      @include u-border(1px, $theme-color-primary-darker);
      height: 12rem;
      overflow-y: scroll;
      position: relative;

      ul {
        padding: 0;
        margin: 0.5rem;

        .crt-checkbox__label::before {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    .usa-button {
      margin-bottom: 2rem;
    }
  }
}

.usa-select {
  @include u-border(1px, $theme-color-primary-darker);
  border-radius: 3px;
  background-image: url(../../img/intake-icons/ic_chevron-down.svg);
  background-size: 15px;
}

.crt-dropdown {
  align-items: center;
  background: color('white');
  border-radius: 3px;
  display: flex;
  min-height: 2.5rem;
  min-width: 6rem;
  position: relative;

  &:focus-within {
    .content {
      outline: initial;
    }
  }

  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 20px 10px hsla(0, 0%, 39.2%, 0.2);
  }

  &--stroke {
    @include u-border($theme-color-primary-darker);
    border: 1px solid;
  }

  .crt-dropdown-container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include flex-container();
    color: color($theme-color-primary-darker);
    background-color: color('white');
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: $theme-text-font-size-md;
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: left;
    width: 100%;

    .label {
      margin-right: 1rem;
    }

    * {
      pointer-events: none;
    }
  }

  select {
    background-image: url(../../img/intake-icons/ic_chevron-down.svg);
    background-size: 15px;
  }

  select.complaint-multi-select {
    background-image: none;
  }

  .content {
    background: color('white');
    border-radius: 3px;
    border-top-left-radius: 0px;
    box-shadow: 0 15px 10px hsla(0, 0%, 39.2%, 0.2);
    left: 0;
    min-width: 16rem;
    padding: 1.5rem;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
  }

  .icon {
    height: 1rem;
    margin-left: auto;
    width: 1rem;
  }
}

@mixin icon-dark {
  color: color($theme-color-primary-darker);
  @include u-border($theme-color-primary-darker);
}

.crt-button {
  @extend .usa-button;
  @include flex-container();
  background: transparent;
  border-radius: 5px;
  border-width: 1px;
  font-size: $theme-text-font-size-lg;
  height: 2.5rem;
  text-decoration: none;

  .icon {
    height: 1rem;
    margin-right: 0.5rem;
  }
}

.outline-button {
  @extend .crt-button;
  @include u-border('solid');

  &:hover {
    @include u-border($theme-color-primary-darker);
    color: color($theme-color-primary-darker);
    background: transparent;
    border: 1px solid !important;
    box-shadow: none !important;
  }

  &:visited {
    color: color($theme-color-primary-darker);
  }

  &--light {
    @include u-color($theme-color-primary-lightest);
    @include u-border($theme-color-primary-lightest);

    &:hover {
      @include u-color($theme-color-primary-lightest);
      @include u-border($theme-color-primary-lightest);
    }

    &.usa-button:visited {
      @include u-color($theme-color-primary-lightest);
    }

    .icon {
      @include u-color($theme-color-primary-lightest);
    }
  }

  &--blue {
    @include u-color($theme-color-primary-darker);
    @include u-bg($theme-color-primary-lighter);
    font-weight: normal;
    border: 0;

    &:hover {
      @include u-color($theme-color-primary-lighter);
      background: $theme-color-primary-dark !important;
    }
  }

  &--dark {
    @include icon-dark();
  }

  .icon {
    height: 1rem;
    pointer-events: none;
    vertical-align: middle;
    width: 1rem;

    &.right {
      margin-left: 0.6rem;
    }

    &.left {
      margin-right: 0.6rem;
    }
  }
}

.filter-tag {
  @extend .outline-button;
  @include icon-dark();
  @include u-padding-y(1);
  @include u-padding-x(1.5);
  font-size: $theme-text-font-size-md;
  height: 2rem;
  margin-right: 1rem;

  &--large {
    min-height: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.intake-table {
  border-radius: 5px;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.14);
}

.intake-table-header {
  @include u-bg($theme-color-primary-lighter);

  display: flex;
  border-radius: 5px 5px;
  min-height: 5rem;
  padding-left: 1.3rem;
  padding-right: 2rem;
  padding-top: 1.2rem;
}

.complaint-show-body {
  margin-left: -4rem;
}

#complaint-view-actions {
  .crt-dropdown {
    &.crt-dropdown__shrink-to-contents {
      select {
        flex-basis: 30%;
      }
      .help-text {
        flex-basis: 30%;
        font-size: $theme-text-font-size-xs;
        padding-left: 0.5rem;

        &::before {
          height: 1rem;
          width: 1rem;
          content: '';
          display: block;
          margin: auto;
          background-image: url(../../img/ic_help-circle-dark.svg);
          background-repeat: no-repeat;
          background-position: center;
        }

        &.usa-button {
          background-color: transparent;
        }

        span {
          display: block;
          text-align: center;
        }
      }
    }

    select,
    label[for='id_assigned_to'] + div {
      flex-basis: 60%; // label flex-basis is 40% for total of 100%
    }
  }
}

.intake-label {
  @include u-font('sans', 16);
  color: color($theme-color-base-ink);
  flex-basis: 40%; // select flex-basis is 60% for total of 100%
  font-weight: 700;
  font-size: $theme-text-font-size-md;
  width: 9rem;
}

.intake-section {
  margin: 2rem 0;

  button {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .icon {
    width: initial;
  }
}

.details-id,
ul.messages {
  margin-top: 2.3rem;
  margin-bottom: 0;
}

.details-date-label {
  color: color($theme-color-base-ink);
  font-size: $theme-text-font-size-sm;
  font-weight: 900;
  align-self: flex-end;
  padding-right: 0.25rem;
}

.blue-background {
  @include u-bg($theme-color-primary-lightest);
  padding: 1rem;
}

// Autocomplete styles; overrides native library styles
.autocomplete__wrapper {
  .autocomplete__input,
  .autocomplete__hint {
    @include u-font('body', 5);
    @include u-border(1px, 'solid', $theme-color-primary-darker, '!important');
    font-weight: bold;
    border-radius: 3px;
    margin-top: 0.5rem;
    padding: 0.5rem;

    &.autocomplete__input--focused {
      box-shadow: inset 0 0 0 1px;
      outline: 0.125rem solid color($theme-focus-color);
      outline-offset: 0;
    }
  }

  .autocomplete__option {
    @include u-font('body', 5);
    margin-top: 0 !important;
    padding: 10px;

    &.autocomplete__option--focused,
    &:hover {
      @include u-bg($theme-color-primary-lightest);
      @include u-text($theme-color-primary-darker);
    }
  }

  .autocomplete__menu {
    @include u-border(1px, 'solid', $theme-color-primary-darker, '!important');
    position: absolute;
    width: 100%;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 5px;
    box-shadow: 0 15px 10px hsla(0, 0%, 39.2%, 0.2);
  }
}

#response_copied_notification {
  padding: 0;
  margin-bottom: 1rem;
  background-image: none;

  .usa-alert__body {
    padding-left: 2rem;
  }
}
