.intake-bg {
  @include u-bg($theme-color-primary-lightest);
  .intake-section-title {
    font-size: 28px;
    line-height: 26px;
    margin-top: 0;
  }
}

.intake-header {
  @include u-bg($theme-color-primary-darker);
  @include u-padding-x(5);
  @include flex-container();
  justify-content: space-between;
  min-height: 7.9rem;

  .title {
    @include flex-container();

    img {
      max-width: 32px;
      width: 32px;
      padding: 3px;
    }

    .title-copy {
      @include text--heading__medium();
      font-family: family('heading');
      color: color('white');
      font-weight: 700;
      margin-left: 0.8rem;
      min-width: 250px;
      font-size: 28px;
      line-height: 28px;
    }
    .usa-nav__primary {
      display: flex;
      margin-top: 0;
      .usa-nav__primary-item {
        border-top: none;
        a {
          color: white !important;
        }
      }

    }

  }

  .crt-landing--menu_link.reporting-header {
    color: #fff;
    border-bottom: 3px solid #162e51;
    margin: 0 .5rem;
    font-size: 18px;
    font-weight: 500;
    &:hover {
      color: #fff;
      border-bottom: 3px solid color('white');
    }

    &.selected {
      border-bottom: 3px solid color('white');
    }
  }

  .intake-actions {
    @include flex-container();
    justify-content: space-between;

    .add-record {
      @extend .crt-button;
      color: color($theme-color-primary-darker);
      background: color($theme-color-warning) !important;
      margin-right: 1.5rem;

      &.usa-button:visited {
        color: color($theme-color-primary-darker);
      }

      &:hover {
        background: color($theme-color-warning-light) !important;
      }
    }
  }
}

.intake-header--progress-bar {
  @include u-bg($theme-color-primary-darker);
  @include u-padding-top(3);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;

  + main {
    @include u-margin-top(3);
  }

  .progress-bar {
    margin-top: 0; //override setting in progress.scss

    a,
    a:visited {
      color: color($theme-color-primary-lightest);
    }
  }
}

#service-member + h3 {
  @include text--heading__medium();
  font-weight: $theme-font-weight-bold;
  color: color($theme-color-primary-darker);
}

// Fix for IE and Edge, which rely on .intake-header--progress-bar being position: fixed (applied via progress-bar.js).
// This prevents the progress bar from covering up the card header when a target is clicked on.
// Class is inserted into markup automatically if necessary in progress-bar.js.
.crt-portal-card--space-for-header h2::before {
  display: block;
  content: '';
  height: 150px;
  margin: -150px 0 0;
}

.title-icon {
  @include u-bg($theme-color-primary-lightest);
  @include flex-container();
  border-radius: 2rem;
  justify-content: center;
  height: 2rem;
  width: 2rem;
}

.intake-content {
  @include u-padding-x(5);

  .intake-filters {
    @include flex-container();
    width: 100%;
    flex-wrap: wrap;
    white-space: normal;
    align-items: center;

    @include at-media(desktop-lg) {
      padding-right: 4rem;
    }

    &.intake-checkbox {
      ul {
        @include flex-container();
        flex-wrap: wrap;
        white-space: normal;

        li {
          margin: 0.5rem;
        }

        li:first-child {
          margin-left: 0;
        }

        + .usa-button {
          margin-left: 2rem;
        }

        .usa-checkbox {
          position: relative;
        }
      }
    }

    .crt-textbox {
      margin-right: 1rem;
      margin-bottom: 2rem;

      input {
        border: none;
        margin-top: 0;
      }

      input[name='contact_first_name'] {
        max-width: 12rem;
      }

      input[name='contact_last_name'] {
        max-width: 12rem;
      }

      input[name='public_id'] {
        max-width: 7rem;
      }

      &.summary_input {
        width: 17rem;
      }
    }

    .crt-dropdown {
      margin-right: 1rem;
      margin-bottom: 2rem;

      button {
        width: 100%;
      }
    }

    .crt-dropdown:last-of-type {
      margin-top: 0rem;
    }

    .primary-issue {
      width: 20rem;
    }

    .reported-reason {
      width: 18rem;
    }

    .relevant-details {
      width: 18rem;
    }

    .multicheckboxes-container {
      @include u-border(1px, $theme-color-primary-darker);
      height: 13rem; // just enough to accommodate 5 checkboxes
      overflow-y: scroll;
      position: relative;

      ul {
        padding: 0;
        margin: 0.5rem;

        .crt-checkbox__label::before {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    .multicheckboxes-yesno {
      height: auto;
      overflow-y: hidden;
    }

    .usa-button {
      margin-right: 1em;
      margin-bottom: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.usa-select {
  @include u-border(1px, $theme-color-primary-darker);
  border-radius: 3px;
  background-image: url(../../img/intake-icons/ic_chevron-down.svg);
  background-size: 15px;
  background-position: right 0.75rem center; // Restore legacy position
}

.crt-dropdown {
  align-items: center;
  background: color('white');
  border-radius: 3px;
  display: flex;
  min-height: 2.5rem;
  min-width: 6rem;
  position: relative;

  &:focus-within {
    .content {
      outline: initial;
    }
  }

  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 20px 10px hsla(0, 0%, 39.2%, 0.2);
  }

  &--stroke {
    @include u-border($theme-color-primary-darker);
    border: 1px solid;
  }

  .crt-dropdown-container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include flex-container();
    color: color($theme-color-primary-darker);
    background-color: color('white');
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: $theme-text-font-size-md;
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: left;
    width: 100%;

    .label {
      margin-right: 1rem;
    }

    * {
      pointer-events: none;
    }
  }

  select.complaint-multi-select {
    background-image: none;
  }

  .content {
    background: color('white');
    border-radius: 3px;
    border-top-left-radius: 0px;
    box-shadow: 0 15px 10px hsla(0, 0%, 39.2%, 0.2);
    left: 0;
    min-width: 16rem;
    padding: 1.5rem;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
  }

  .icon {
    height: 1rem;
    margin-left: auto;
    width: 1rem;
  }
}

/* Matches styling of .crt-dropdown, but is not a .crt-dropdown */
.crt-filter {
  align-items: center;
  background: color('white');
  border-radius: 3px;
  display: flex;
  min-height: 2.5rem;
  min-width: 6rem;
  position: relative;
  margin-right: 1rem;
  margin-bottom: 2rem;

  &:last-of-type {
    margin-top: 0rem;
  }
}

.crt-checkbox {
  @extend .crt-dropdown;

  .crt-checkbox__label {
    padding-left: 0;
  }
}

@mixin icon-dark {
  color: color($theme-color-primary-darker);
  @include u-border($theme-color-primary-darker);
}

.crt-button {
  @extend .usa-button;
  @include flex-container();
  background: transparent;
  border-radius: 5px;
  border-width: 1px;
  font-size: $theme-text-font-size-lg;
  height: 2.5rem;
  text-decoration: none;

  .icon {
    height: 1rem;
    margin-right: 0.5rem;
  }
}

form#cts-forms-profile {
  .crt-dropdown {
    background-color: color($theme-color-primary-darker);
    border-bottom: 4px solid color($theme-color-warning);
    margin-right: 1rem;
    border-radius: 0;

    &__title {
      color: color($theme-color-warning);
      background-color: color($theme-color-primary-darker);
    }

    .crt-section_dropdown {
      padding: .5rem .25rem;
      font-weight: bold;
    }

    .icon {
      background-image: url(../../img/intake-icons/ic_select-down_gold.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    &.expanded {
      .icon {
        background-image: url(../../img/intake-icons/ic_select-up.svg);
      }

      .crt-section_dropdown {
        color: color($theme-color-primary-darker);
        background-color: color('white');
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }

  .content {
    min-width: 12rem;
    padding-top: 0;

    ul {
      margin-bottom: 1.5rem;
    }
  }
}

.outline-button {
  @extend .crt-button;
  @include u-border('solid');

  &:hover {
    @include u-border($theme-color-primary-darker);
    color: color($theme-color-primary-darker);
    background: transparent;
    border: 1px solid !important;
    box-shadow: none !important;
  }

  &:visited {
    color: color($theme-color-primary-darker);
  }

  &--light {
    @include u-color($theme-color-primary-lightest);
    @include u-border($theme-color-primary-lightest);

    &:hover {
      @include u-color($theme-color-primary-lightest);
      @include u-border($theme-color-primary-lightest);
    }

    &.usa-button:visited {
      @include u-color($theme-color-primary-lightest);
    }

    .icon {
      @include u-color($theme-color-primary-lightest);
    }
  }

  &--blue {
    @include u-color($theme-color-primary-darker);
    @include u-bg($theme-color-primary-lighter);
    font-weight: normal;
    border: 0;

    &:hover {
      @include u-color($theme-color-primary-lighter);
      background: $theme-color-primary-dark !important;
    }
  }

  &--dark {
    @include icon-dark();
  }

  .icon {
    height: 1rem;
    pointer-events: none;
    vertical-align: middle;
    width: 1rem;

    &.right {
      margin-left: 0.6rem;
    }

    &.left {
      margin-right: 0.6rem;
    }
  }
}

.filter-tag {
  @extend .outline-button;
  @include icon-dark();
  @include u-padding-y(1);
  @include u-padding-x(1.5);
  font-size: $theme-text-font-size-md;
  height: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  max-width: 50rem; /* This is an arbitrary number */

  &--large {
    min-height: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.6; /* Prevent text from being clipped */
  }
}

.intake-table {
  border-radius: 5px;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.14);
}

.intake-table-header {
  @include u-bg($theme-color-primary-lighter);

  display: flex;
  border-radius: 5px 5px;
  min-height: 5rem;
  padding-left: 1.3rem;
  padding-right: 2rem;
  padding-top: 1.2rem;
}

.complaint-show-body {
  margin-left: -4rem;
}

.complaint-actions {
  .bulk-print-link {
    text-decoration: none;
  }

  .bulk-print-disabled {
    @include u-text($theme-color-base-dark);
    cursor: not-allowed;
  }
}

#complaint-view-actions, #bulk_actions_section {
  .crt-dropdown {
    &.crt-dropdown__shrink-to-contents {
      select {
        flex-basis: 30%;
      }

      .help-text {
        flex-basis: 30%;
        font-size: $theme-text-font-size-xs;
        padding-left: 0.5rem;
        margin-top: 0.5rem;

        &::before {
          height: 1rem;
          width: 1rem;
          content: '';
          display: block;
          margin: auto;
          background-image: url(../../img/ic_help-circle-dark.svg);
          background-repeat: no-repeat;
          background-position: center;
        }

        &.usa-button {
          background-color: transparent;
        }

        span {
          display: block;
          text-align: center;
        }
      }
    }

    select,
    .usa-combo-box {
      flex-basis: 60%; // label flex-basis is 40% for total of 100%
    }

    select,
    .usa-combo-box input,
    .crt-checkbox__label {
      margin-top: 0; // Fixes vertical spacing issues
    }

    // Force combo box inputs to use bold text to match other UI
    .usa-combo-box input {
      font-weight: bold;
    }
  }

  .crt-textarea {
    display: flex;
    align-items: baseline;

    textarea {
      flex-basis: 60%;
      height: auto;
      border-radius: 3px;
    }
  }
}

.intake-label {
  @include u-font('sans', 16);
  color: color($theme-color-base-ink);
  flex-basis: 40%; // select flex-basis is 60% for total of 100%
  font-weight: 700;
  font-size: $theme-text-font-size-md;
  width: 9rem;
}

.intake-section {
  margin: 2rem 0;

  button {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .icon {
    width: initial;
  }
}

.details-id,
ul.messages {
  margin-top: 2.3rem;
  margin-bottom: 0;
}

.intake-content {
  // reverse padding if we are on the incoming records table
  ul.messages {
    margin-top: 0;
    margin-bottom: 2.3rem;
  }
}

.details-date-label {
  color: color($theme-color-base-ink);
  font-size: $theme-text-font-size-sm;
  font-weight: 900;
  align-self: flex-end;
  padding-right: 0.25rem;
}

.blue-background {
  @include u-bg($theme-color-primary-lightest);
  padding: 1rem;
}

#id_assigned_toaria-autocomplete-1-wrapper {
  flex-basis: 60%;

  ul.aria-autocomplete__list {
    @include u-z('top');
  }
}

.aria-autocomplete__wrapper {
  p.aria-autocomplete__sr-announcements {
    // do not show number of completions
    display: none;
  }

  input {
    @extend .usa-input;
    font-weight: bold;
  }

  ul.aria-autocomplete__list {
    @include u-border(1px, 'solid', $theme-color-primary-darker, '!important');
    position: absolute;
    width: 60%;
    border-radius: 3px;
    margin-top: 0;
    box-shadow: 0 15px 10px hsla(0, 0%, 39.2%, 0.2);

    li {
      @include u-font('body', 5);
      @include u-bg('white');
      margin-top: 0 !important;
      padding: 10px;
      list-style: none;

      &:nth-child(odd) {
        @include u-bg($theme-color-base-lightest);
      }

      &:not(:last-child) {
        border-bottom: 1px solid color($theme-color-primary-darker);
      }

      &:hover {
        font-weight: bold;
        @include u-bg($theme-color-primary-lightest);
        @include u-text($theme-color-primary-darker);
      }
    }
  }
}

#response_copied_notification {
  padding: 0;
  margin-bottom: 1rem;
  background-image: none;

  .usa-alert__body {
    padding-left: 2rem;
  }
}

/* Stylized to fit width of content and to override USWDS tooltip
   component's wrapping behavior */
.search-helper-tooltip {
  .usa-tooltip__trigger {
    // Allows tooltip arrow to position at centered vertical position
    display: inline-block;
  }

  .usa-tooltip__body {
    padding: 0.75rem;
    white-space: initial;
    width: 260px;

    p {
      font-size: .80rem;
      margin: 0;
      line-height: 1.4;
    }

    ul {
      margin-left: 1.25rem;
      margin-bottom: 0;
    }

    li {
      list-style: initial !important;
      font-size: .80rem;
      line-height: 1.4;
    }
  }
}

/* Match combo box input styling with other filters */
.crt-combo-box-filter {
  width: 15rem; /* Hard code width to fix situation where input would expand when an item is selected */

  .usa-combo-box__input {
    margin-top: 0;
    border: 0;

    &::placeholder {
      color: color($theme-color-primary-darker);
      opacity: 1; /* Firefox */
    }

    &::-ms-input-placeholder {
      color: color($theme-color-primary-darker);
    }
  }

  .usa-combo-box__list {
    border: 0;
    border-top: 1px solid color("base-lighter"); /* Match list item border color */
    box-shadow: 0 15px 10px rgb(100 100 100 / 20%); /* Match .crt-dropdown .content */
  }
}
