.intake-bg {
  @include u-bg($blue-warm-5-t);
}

.intake-header {
  @include u-bg($blue-warm-vivid-80-t);
  @include u-padding-x(5);
  @include flex-container();
  justify-content: space-between;
  min-height: 7.9rem;

  .title {
    @include flex-container();

    .title-copy {
      color: $white;
      font-size: 1.375rem;
      font-weight: 400;
      line-height: 3.75rem;
      margin-left: 0.8rem;
    }
  }

  .intake-actions {
    @include flex-container();
    justify-content: space-between;

    .add-record {
      @extend .crt-button;
      @include u-color($blue-warm-vivid-80-t);
      background: $gold !important;
      margin-right: 1.5rem;

      &.usa-button:visited {
        @include u-color($blue-warm-vivid-80-t);
      }

      &:hover {
        background: $gold-vivid !important;
      }
    }
  }
}

.intake-header--progress-bar {
  @include u-bg($blue-warm-vivid-80-t);
  @include u-padding-top(3);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
  + main {
    @include u-margin-top(3);
  }
  .progress-bar {
    margin-top: 0; //override setting in progress.scss
  }
}

// Fix for IE and Edge, which rely on .intake-header--progress-bar being position: fixed (applied via progress-bar.js).
// This prevents the progress bar from covering up the card header when a target is clicked on.
// Class is inserted into markup automatically if necessary in progress-bar.js.
.crt-portal-card--space-for-header h2::before {
  display: block;
  content: '';
  height: 150px;
  margin: -150px 0 0;
}

.title-icon {
  @include u-bg($blue-warm-5-t);
  @include flex-container();
  border-radius: 2rem;
  justify-content: center;
  height: 2rem;
  width: 2rem;
}

.intake-content {
  @include u-padding-x(5);

  .intake-filters {
    @include flex-container();
    width: 100%;
    flex-wrap: wrap;
    white-space: normal;

    .crt-dropdown {
      margin-right: 2rem;
      margin-bottom: 2rem;

      button {
        width: 100%;
      }
    }
  }
}

.usa-select {
  @include u-border(1px, $blue-warm-vivid-80-t);
  border-radius: 3px;
  background-image: url(../../img/intake-icons/ic_chevron-down.svg);
  background-size: 15px;
}

.crt-dropdown {
  align-items: center;
  background: $white;
  border-radius: 3px;
  display: flex;
  min-height: 2.5rem;
  min-width: 6rem;
  position: relative;

  &:focus-within {
    .content {
      outline: initial;
    }
  }

  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 20px 10px hsla(0, 0%, 39.2%, 0.2);
  }
  &--stroke {
    @include u-border($blue-warm-vivid-80-t);
    border: 1px solid;
  }
  .crt-dropdown-container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include flex-container();
    @include u-color($blue-warm-vivid-80-t);
    background-color: $white;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: left;
    width: 100%;

    .label {
      margin-right: 1rem;
    }
    * {
      pointer-events: none;
    }
  }
  select {
    background-image: url(../../img/intake-icons/ic_chevron-down.svg);
    background-size: 15px;
  }
  select.complaint-multi-select {
    background-image: none;
  }

  .content {
    background: $white;
    border-radius: 3px;
    border-top-left-radius: 0px;
    box-shadow: 0 15px 10px hsla(0, 0%, 39.2%, 0.2);
    left: 0;
    min-width: 16rem;
    padding: 1.5rem;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
  }

  .icon {
    height: 1rem;
    margin-left: auto;
    width: 1rem;
  }
}

@mixin icon-dark {
  @include u-color($blue-warm-vivid-80-t);
  @include u-border($blue-warm-vivid-80-t);
}

.crt-button {
  @extend .usa-button;
  @include flex-container();
  background: transparent;
  border-radius: 5px;
  border-width: 1px;
  font-size: 1.125rem;
  height: 2.5rem;
  text-decoration: none;

  .icon {
    height: 1rem;
    margin-right: 0.5rem;
  }
}

.outline-button {
  @extend .crt-button;
  @include u-border('solid');

  &:hover {
    @include u-border($blue-warm-vivid-80-t);
    @include u-color($blue-warm-vivid-80-t);
    background: transparent;
    border: 1px solid !important;
    box-shadow: none !important;
  }

  &:visited {
    @include u-color($blue-warm-vivid-80-t);
  }

  &--light {
    @include u-color($blue-warm-5-t);
    @include u-border($blue-warm-5-t);

    &:hover {
      @include u-color($blue-warm-5-t);
      @include u-border($blue-warm-5-t);
    }

    &.usa-button:visited {
      @include u-color($blue-warm-5-t);
    }

    .icon {
      @include u-color($blue-warm-5-t);
    }
  }

  &--blue {
    @include u-color($blue-warm-vivid-80-t);
    @include u-bg($blue-warm-10-t);
    font-weight: normal;
    border: 0;

    &:hover {
      @include u-color($blue-warm-10-t);
      background: $blue-warm-vivid-70 !important;
    }
  }

  &--dark {
    @include icon-dark();
  }

  .icon {
    height: 1rem;
    pointer-events: none;
    vertical-align: middle;
    width: 1rem;

    &.right {
      margin-left: 0.6rem;
    }

    &.left {
      margin-right: 0.6rem;
    }
  }
}

.filter-tag {
  @extend .outline-button;
  @include icon-dark();
  @include u-padding-y(1);
  @include u-padding-x(1.5);
  font-size: 1rem;
  height: 2rem;
  margin-right: 1rem;

  &--large {
    min-height: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.intake-section-title {
  @include u-color($blue-warm-vivid-80-t);
  @include u-font-family('serif');
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.6rem;
}

.intake-table {
  border-radius: 5px;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.14);
}

.intake-table-header {
  @include u-bg('blue-warm-10');

  display: flex;
  border-radius: 5px 5px;
  min-height: 5rem;
  padding-left: 1.3rem;
  padding-right: 2rem;
  padding-top: 1.2rem;
}

.complaint-show-body {
  margin-left: -4rem;
}

#complaint-view-actions {
  .crt-dropdown {
    &.crt-dropdown__shrink-to-contents select {
      width: auto;
      flex-basis: auto;
      min-width: 33%; // Don't get super shrinky; affects usability
    }
    select,
    label[for='id_assigned_to'] + div {
      flex-basis: 60%; // label flex-basis is 40% for total of 100%
    }
  }
}

.intake-label {
  @include u-font('sans', 16);
  @include u-color('gray-warm-80');
  flex-basis: 40%; // select flex-basis is 60% for total of 100%
  font-weight: 700;
  font-size: 1rem;
  width: 9rem;
}

.intake-section {
  margin: 2rem 0;

  .icon {
    width: initial;
  }
}

.details-id {
  margin-top: 2.3rem;
  margin-bottom: 0;
}

.details-date-label {
  @include u-color('gray-warm-80');
  font-size: 0.875rem;
  font-weight: 900;
}

.blue-background {
  @include u-bg($blue-warm-5-t);
  padding: 1rem;
}

// Autocomplete styles; overrides native library styles
.autocomplete__wrapper {
  .autocomplete__input,
  .autocomplete__hint {
    @include u-font('body', 5);
    @include u-border(1px, 'solid', 'blue-warm-80v', '!important');
    font-weight: bold;
    border-radius: 3px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    &.autocomplete__input--focused {
      box-shadow: inset 0 0 0 1px;
      outline: 0.125rem solid $blue-vivid-40;
      outline-offset: 0;
    }
  }

  .autocomplete__option {
    @include u-font('body', 5);
    margin-top: 0 !important;
    padding: 10px;
    &.autocomplete__option--focused,
    &:hover {
      @include u-bg($blue-warm-5-t);
      @include u-text('blue-warm-80v');
    }
  }

  .autocomplete__menu {
    @include u-border(1px, 'solid', 'blue-warm-80v', '!important');
    position: absolute;
    width: 100%;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 5px;
    box-shadow: 0 15px 10px hsla(0, 0%, 39.2%, 0.2);
  }
}

#response_copied_notification {
  padding: 0;
  margin-bottom: 1rem;
  background-image: none;

  .usa-alert__body {
    padding-left: 2rem;
  }
}
