@use "uswds-core" as *;
@use "layout" as *;
@use "variables" as *;
@use "card" as *;

$arrow-height: 24px;

.crt-landing--logo_section  {
  p.crt-landing--logo_heading {
    @include at-media-max(mobile-lg) {
      font-size: 1.25rem;
    }
  }
}

.crt-landing--emergency_contact .crt-external--link {
    color: #fff;
  &::after {
  padding-left: .25rem;
  content: url(../../img/ic_external-link-white.svg);
}
}
.crt-landing--header {
  .crt-landing--header_section {
    .tablet-menu-button {
      margin-top: .5rem;
    }
  }
}
.crt-landing--section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include at-media-max(mobile-lg) {
    &.crt-landing--emergency {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  h1 {
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 1.3;
  }

  h2 {
    margin-top: 1.5rem;
    margin-bottom: 0;

    @include at-media-max(mobile-lg) {
      margin-top: 0;
    }
  }

  li {
    margin-bottom: 1rem;
  }
}

.crt-header--icon_group {
  display: flex;

  .crt-header--icon {
    padding-right: 0.5rem;
  }
}

.crt-button--large {
  color: color('white');
  font-weight: bold !important;
  margin-top: 0.5rem;
  padding: 1rem 2rem;

  &.usa-button:visited {
    color: color('white');
  }

  &.usa-button--outline {
    color: #162e51;
    box-shadow: inset 0 0 0 2px #162e51;

    &:hover {
      box-shadow: inset 0 0 0 2px #2378c3;
    }
  }

  &.usa-button--outline:visited {
    color: #162e51;
  }

  &:hover {
    background: color($theme-link-hover-color);
  }
}

.crt-landing--blue {
  background-color: color($theme-color-primary-darker);
  color: color('white');
}

.crt-landing--lightblue {
  background-color: #e9eef5; // custom color to match background of hero image
  color: color($theme-color-primary-darker);

  & + .crt-landing--lightblue {
    padding-top: 0;
  }
}

.crt-landing--pale {
  color: color($theme-color-primary-darker);
}

.crt-landing--separator {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 2px solid color($theme-color-warning);
  border-radius: 2px;
  background: color($theme-color-warning);
  width: 50px;
}

.crt-landing--separator_small {
  @extend .crt-landing--separator;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.crt-landing--separator_sub {
  background: $theme-color-primary-darker;
  border: 2px solid color($theme-color-primary-darker);
  border-radius: 2px;
  width: 25px;
  margin-bottom: 1rem;
}

.crt-landing--header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .grid-container {
    padding: 0;
    margin: 0;
  }

  .crt-landing--header_section {
    display: flex;
    justify-content: space-between;

    padding: 0 1rem 0 6rem;

    @include at-media-max(desktop) {
      padding: 0 1rem;
    }
  }

  li {
    list-style: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  a {
    color: color('white');
    text-decoration: none;
  }

  .crt-menu--section {
    margin-top: 0.1rem;
    margin-left: 1rem;
    padding-right: 0;

    .language-selection {
      @media (min-width: 64em) {
        display: none;
      }

      .language-selection__inner {
        margin-top: 2rem;
      }
    }

    .language-selection__button-active {
      font-weight: bold !important;
      background-color: rgba($color: #162e51, $alpha: 0.1)
    }

    .language-assistance {
      @media (min-width: 64em) {
        display: none;
      }

      .language-assistance__inner {
        margin-top: 1rem;

        img {
          height: 1rem;
        }

        // Override USWDS styles
        a {
          color: #162e51 !important;
          padding-top: 0 !important;
          padding-left: 0.5rem !important;
        }
      }
    }
  }

  .crt-menu--navbar {
    border-bottom: 0 !important;
  }

  .crt-menu--mobile {
    @include u-radius('md');
    padding: 0.25rem 0.5rem;
    text-transform: unset;
    background: color($theme-color-primary-lightest);
    color: color($theme-color-primary-darker);
    max-height: 2rem;
  }

  // again overriding USWDS defaults
  .crt-landing--menu_link {
    color: #162e51 !important;
    font-weight: normal !important;
    padding: 1rem 0.25rem !important;

    @include at-media('desktop') {
      color: white !important;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 0.5rem 0 !important;

      &:hover {
        border-bottom: 2px solid color('white');
      }
    }
  }

  .crt-landing--logo_section {
    img {
      height: 45px;
      width: 45px;
      max-width: initial;
      @include at-media(mobile-lg) {
        height: 60px;
        width: 60px;
      }
    }

    a {
      /* Allows focus border to appear in Chrome/Safari */
      display: inline-block;
    }

    a:visited {
      color: color('white');
    }

    a:hover {
      color: color('white');
    }

    /* Prevent agency heading from wrapping to below the logo */
    .grid-row {
      flex-wrap: nowrap;
    }
  }

  .crt-landing--logo_subheading {
    @include text--heading__small();
    @include u-font-family('serif');
    font-weight: bold;
    margin: 0;
    font-size: $theme-text-font-size-xs;
    line-height: 1.2;

    @include at-media(mobile-lg) {
      line-height: 1.3;
    }
  }

  .crt-landing--logo_heading {
    @include text--heading__large();
    @include u-font-family('serif');
    font-weight: bold;
    margin: 0;
    font-size: $theme-heading-font-size-md-mobile;
    line-height: 1.2;

    @include at-media(mobile-lg) {
      font-size: $theme-heading-font-size-md;
      line-height: 1.3;
    }
  }
}

.crt-landing--important-message {
  @include text--body-copy__large();
}

.crt-landing--admin-message * {
  font-size: 18px;
}

.crt-landing--important-message.crt-landing--admin-message-emergency a,
.crt-landing--admin-message-emergency.crt-landing--important-message a:visited {
  color: #f0f0f0;
}

.crt-landing--important-message.crt-landing--admin-message-emergency a,
.crt-landing--admin-message-emergency.crt-landing--important-message a:hover {
  color: #dfe1e2;
}

.crt-landing--admin-message a {
  font-weight: 700;
}

.crt-landing--admin-message p {
  margin: 0;
}

.crt-landing--admin-message a:hover {
  text-decoration: none;
}

.crt-landing--hero {
  background-image: url(../../img/landing-page-hero.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  min-height: 800px;
  rel: preload;

  @include at-media-max(desktop) {
    background-image: url(../../img/landing-page-hero-tablet.jpg);
    background-position: bottom;
    min-height: 850px;
    rel: preload;
  }

  // This must be placed _after_ the desktop media query for higher priority
  @include at-media-max(mobile-lg) {
    background-image: url(../../img/landing-page-hero-mobile.jpeg);
    background-size: cover; // avoid unsightly mobile gap
    background-color: #436eac;
    min-height: 600px;
    color: color('white');
    rel: preload;

    .h1__display {
      color: color('white');
    }

    .crt-button--large {
      background: color($theme-color-warning);
      color: black !important;
      margin-top: 0;
    }

    a,
    a:visited {
      color: white;
    }
  }

  h1 {
    margin-top: 0.5rem;
  }
}

.crt-landing--emergency {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  .h3__display {
    color: color($theme-color-warning);
  }
  &_header {
    color: color($theme-color-warning);
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    a {
      color: color($theme-color-warning);
      font-weight: bold;
      &:hover {
        color:color($theme-link-dark-hover-color) !important;
      }
    }
  }

  &_contact {
    margin: 0.5rem;

    a {
      color: color('white');
      font-weight: bold;
      &:hover {
        color:color($theme-link-dark-hover-color) !important;
      }
    }
  }
}

.crt-landing--description {
  a {
    font-weight: bold;
  }

  .crt-landing--description__rights {
    @include text--heading__large();
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    @include at-media-max(mobile-lg) {
      margin-bottom: 2rem;
    }
  }

  .crt-landing--columns {
    min-height: 6rem;
    @include at-media-max(desktop) {
      min-height: unset;

      &.crt-landing--largetext {
        font-size: $theme-heading-font-size-md-mobile;
        line-height: 1.5;
      }
    }
  }
}

.crt-landing--section__item {
  &:not(:last-child){
    @include at-media-max(mobile-lg) {
      margin-bottom: 2.5rem;
    }
  }
}

.crt-landing--rights {
  .crt-landing--rights_text {
    @include text--heading__medium();
    margin-bottom: 2rem;

    @include at-media-max(mobile-lg) {
      margin-bottom: 1.5rem;
      line-height: 1.5;
    }
  }

  .crt-landing--largetext {
    margin-bottom: 1rem;
  }

  &_categories {
    color: color($theme-color-warning);
  }
}

.crt-landing--largetext {
  @include text--heading__medium();
  @include at-media-max(mobile-lg) {
    @include text--body-copy__medium();
  }
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.crt-landing--smalltext {
  @include text--body-copy__small();
}

.crt-landing--subheader {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.crt-landing--list {
  padding-top: calc(2rem - #{$arrow-height});

  h2 {
    margin-top: 2rem;

    @include at-media-max(mobile-lg) {
      margin-top: 2rem;
    }
  }

  h3 {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }

  div.grid-container {
    padding-bottom: 1rem;
    @include at-media-max(mobile-lg) {
      padding-bottom: 0;
    }
  }

  .crt-landing--divider {
    margin-top: units($spacer-5x);
    padding-left: units($spacer-4x) !important;
    border-top: none;
    border-left: 1px solid color($theme-color-primary-darker);
    @include at-media-max(mobile-lg) {
      border-left: none;
      border-top: 1px solid color($theme-color-primary-darker);
      margin-top: 1.5rem;
      padding-top: units($spacer-3x);
      padding-left: 0rem !important;
    }

  }

  ul {
    padding-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  li {
    font-weight: bold;

    .crt-landing--protected {
      font-weight: normal;
      font-style: italic;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .crt-landing--large_select {
    @include u-radius-top('lg');
    @include u-shadow(3);
    margin-top: 1rem;
    padding: 0;
    background-color: color('white');

    @include at-media-max(mobile-lg) {
      margin-top: 2rem;
    }

    li {
      width: 100%;
    }

    button {
      @include u-radius('lg');
      @include text--heading__medium();
      padding: 1rem 1.5rem !important;
      font-weight: normal;
      color: color('white');
      min-height: 5rem;

      // caret adjustments -- in many cases overriding the USWDS defaults
      background-repeat: no-repeat !important;
      background-position: right 1.5rem center !important;
      @include at-media-max (tablet-lg){
        background-position: right 1.5rem top 1.25rem !important;
      }
      background-size: 1.5rem !important;
      background-color: color($theme-color-primary-darker);
      width: 100%;

      &[aria-expanded='false'] {
        background-image: url(../../img/angle-arrow-down-white.svg) !important;
      }

      &[aria-expanded='true'] {
        @include u-radius-bottom(0);
        background-image: url(../../img/angle-arrow-up-white.svg) !important;
      }

      &:hover {
        background-color: color($theme-link-hover-color) !important;
      }
    }
  }

  .crt-landing--example_option {
    font-weight: bold;
    margin-right: 2rem;
  }

  .usa-nav__primary .crt-landing--example {
    @include u-radius-bottom('lg');
    @include u-shadow(3);
    background-color: color('white');
    min-height: 20rem;
    padding: 2rem 3.5rem 2.5rem 3.5rem;

    @include at-media-max(mobile-lg) {
      padding: 1.5rem;
    }

    .crt-landing--choice_helptext p {
      margin-top: 0;
      margin-bottom: 1.5rem;
      font-style: italic;
    }

    .crt-landing--choice_examples p {
      font-weight: normal;
      margin-top: 1.5rem;
      padding-right: 1rem;
    }

    a {
      background-color: color('white');
      margin-top: 0.5rem;
      font-weight: bold;
      img {
        padding-left: 2px;
      }
      color: #162e51;
      text-decoration: underline;
      padding: 0px;
    }

    .crt-landing--example_header {
      margin-top: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.crt-landing--how_to_report {
  .crt-landing--largetext {
    @include at-media-max(mobile-lg) {
      font-size: $theme-heading-font-size-lg-mobile;
      line-height: 1.3;
      margin-bottom: 2rem;
    }
  }

  .crt-landing--icon_gold {
    @include flex-container();
    border-radius: 2rem;
    justify-content: center;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
    height: 32px;
    background-color: color($theme-color-warning);
    margin-right: 1rem;
  }

  .crt-landing--reporting_column {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    @include at-media-max(mobile-lg) {
      margin-top: 0;
    }

    h2 {
      min-height: 3rem;
      margin-top: 0;

      @include at-media-max(desktop) {
        min-height: unset;
      }
    }
  }
}

.crt-landing--submit {
  padding-top: calc(2rem - #{$arrow-height});

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;

    @include at-media-max(mobile-lg) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  p.crt-landing--text {
    @include text--body-copy__medium;
    margin-bottom: 0;
  }
}

.crt-landing--already_submitted {
  h2 {
    margin-top: 1rem;
  }

  .crt-landing--largetext{
    font-size: $theme-heading-font-size-md-mobile;
    line-height: 1.3;
  }

  .crt-landing--card {
    @include at-media-max(mobile-lg) {
      padding: 1.5rem !important
    }
  }
}

.crt-landing--card {
  @extend .crt-portal-card;

  a {
    font-weight: bold;
  }

  padding: 1.5rem 2rem !important;
}

.crt-landing--arrow {
  width: 100px;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: $arrow-height solid color($theme-color-primary-darker);
}

.crt-landing--similar_situation {
  margin-top: 2rem;

  @include at-media-max(mobile-lg) {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  a {
    font-weight: bold;
  }
}

.american-bar-link {
  word-break: break-word;
}
