.crt-landing--section {
  padding-top: 2rem;
  padding-bottom: 2rem;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    @include u-font-family('serif');
    margin-bottom: 0;
  }

  h3 {
    @include u-font-family('serif');
  }

  li {
    margin-bottom: 1rem;
  }
}

.crt-landing--blue {
  background-color: $blue-warm-vivid-80;
  color: white;
}

.crt-landing--lightblue {
  background-color: $blue-warm-5;
  color: $blue-warm-vivid-80;
}

.crt-landing--separator {
  margin-top: 1rem;
  border: 2px solid $gold;
  border-radius: 2px;
  width: 50px;
}

.crt-landing--smallseparator {
  border: 2px solid $blue-warm-vivid-80;
  border-radius: 2px;
  width: 25px;
}

.crt-landing--header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .grid-container {
    padding: 0;
  }

  ul {
    display: flex;
  }

  li {
    list-style: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid white;
    }
  }

  .crt-landing--menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .crt-landing--logo_subheading {
    @extend .usa-footer__logo-subheading;
    font-size: 0.8em;
  }

  .crt-landing--logo_heading {
    @extend .usa-footer__logo-heading;
    font-size: 1.2em;
  }
}

.crt-landing--hero {
  color: $blue-warm-vivid-80;
  padding-bottom: 2rem; // temporary
}

.crt-landing--emergency {
  text-align: center;

  &_header {
    @include u-font-family('serif');
    font-size: 1.2rem;
    font-weight: bold;
    color: $gold;
    margin-top: 0.5rem;

    a {
      color: $gold;
      font-weight: bold;
      text-decoration: none
    }
  }

  &_contact {
    margin: 0.5rem;

    a {
      color: white;
      font-weight: bold;
      text-decoration: none
    }
  }
}

.crt-landing--description {
  color: $blue-warm-vivid-80;
}

.crt-landing--rights {
  &_categories {
    color: $gold;
  }
}

.crt-landing--largetext {
  font-size: 1.5rem;
  line-height: 2rem;
}

.crt-landing--mediumtext {
  font-size: 1.2rem;
}

.crt-landing--subheader {
  @include u-font-family('serif');
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.crt-landing--list {
  .crt-landing--divider {
    border-left: 1px solid $blue-warm-vivid-80;
  }

  li {
    font-weight: bold;

    .crt-landing--protected {
      font-weight: normal;
      font-style: italic;
    }
  }
}

.crt-landing--how_to_report {
}

.crt-landing--submit {
  h2 {
    margin-bottom: 1rem;
  }
}

.crt-landing--already_submitted {
  color: $blue-warm-vivid-80;
}
