// Sticky Footer (IE 10/11)
// Based on: https://codepen.io/dezertdezine/pen/zKjggy

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.flex-child {
  // Explicitly tell this element it should grow.
  // IE sets its flex-grow property to 0 by default
  flex: 1 0 auto;
}
