// Sticky Footer (IE 10/11)
// Based on: https://codepen.io/dezertdezine/pen/zKjggy

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1 0 auto;

  p, em, h2, label:not(.big), span:not(.big) {
    color: $gray-warm;
  }

  legend, .page-subtitle, .big {
    color: $blue-warm-vivid-70;
    font-weight: bold;
    font-size: 1.17em; // Matches h3 size
    margin-bottom: 0.5rem;
  }
}

footer {
  flex-shrink: 0;
}

.content-wrapper {
  max-width: 700px;
  margin: auto;
  padding: 0 8px;
}