@use "uswds-core" as *;

.external-link--white:after {
  padding-left: 0.25rem;
  content: url(../../img/ic_external-link-white.svg);
}

.external-link--blue:after {
  padding-left: 0.25rem;
  content: url(../../img/ic_external-link-blue.svg);
}
