@use "uswds-core" as *;
@use "variables" as *;

// prevent scrolling when modal is open
body.is-modal {
  height: 100vw;
  overflow-y: hidden;

  @media print {
    main, header {
      display: none;
    }
  }
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  overflow-y: auto; // a11y: allow scroll for zoomed in modal

  @media print {
    display: none;
  }

  .modal-content {
    position: relative;
    background: white;
    @include u-radius('md');
    @include u-shadow(3);
  }

  .modal-content--small {
    width: 90%;
    padding: 1rem;
    @include at-media(tablet) {
      width: 85%;
      padding: 2rem;
    }
    @include at-media(desktop) {
      width: 50%;
      padding: 3rem;
    }
  }

  .modal-content--large {
    width: 80%;
    height: 60%;
    min-height: 40rem; // a11y: don't collapse modal
    padding: 2rem;
    @include at-media(tablet) {
      width: 70%;
      padding: 2rem;
    }
    @include at-media(desktop) {
      width: 50%;
      padding: 3rem;
    }
  }

  .modal-main {
    flex-grow: 1;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    height: calc(100% - 4rem);
  }

  .modal-guide {
    display: flex;
    flex-direction: column;
    height: calc(100% - 4rem);
    overflow-y: scroll;
    border-bottom: 1px solid color($theme-color-primary-darker);
  }

  h1:not(.h2__display) {
    color: color($theme-color-primary-darker);
    margin-top: 0;
    font-size: 2rem;
    border-bottom: 1px solid color($theme-color-primary-darker);
  }
}

// specific modal instances
.routing-guide--modal {
  .modal-content--guide {
    width: 80%;
    height: 60%;
    min-height: 40rem; // a11y: don't collapse modal
    padding: 2rem;
  }

  .modal-footer {
    margin-top: 0.5rem;
  }
}

.intake-template--modal {
  align-items: normal;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .modal-content--large {
    min-height: 50rem;
  }

  .intake-template--description {
    min-height: 2rem;
  }

  #response-modal-form {
    p {
      margin-top: 0px;
      margin-bottom: 1rem;
    }
  }

  #template-language-select {
    width: 50%;
    margin-bottom: 1rem;
  }

  .intake-select {
    width: 50%;
    margin-bottom: 1rem;
  }

  #intake_letter {
    padding: 0 1rem;
    width: 100%;
    height: 80%;
    @include u-radius('md');
  }

  #intake_letter_html {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    width: 100%;
    height: 220px;
    border: 1px solid black;
    @include u-radius('md');
  }
}

.print-report--modal {
  ul {
    list-style-type: none;
    margin-left: 1rem;
  }
}

.intake-letter-preview {
  @media print {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    white-space: pre-wrap;
  }
}

#form-letterhead {
  @page {
    size: auto;
    margin: 0mm;
  }

  @media print {
    height: 100%;
    width: 100%;

    .form-letterhead--header {
      display: flex;

      img {
        height: 100px;
        padding-left: 3rem;
      }

      .form-letterhead--header-logo {
        width: 50%;
      }

      .form-letterhead--header-text {
        margin-top: 1.25rem;
        margin-bottom: 0px;
      }

      .form-letterhead--header-subtext {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }

    .subheader {
      width: 50%;
      margin-left: 50%;
      margin-bottom: 1rem;
    }

    #form-letterhead--addressee, #form-letterhead--dept-addressee {
      margin-left: 0.75in;
      margin-right: 0.75in;
    }

    #form-letterhead--dept-addressee {
      white-space: pre-line;
    }

    #form-letter--placeholder {
      margin-left: 0.75in;
      margin-right: 0.75in;

      // For rendering text-only letter content
      &.form-letter-text {
        white-space: pre-line;
      }
    }

    hr {
      border: 2px solid #000;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    // Display link destinations when printing
    a[href]:after {
      content: ' (' attr(href) ')';
    }
  }
}

// For HTML-rendered letter content
// We are overriding some form/modal CSS in parent elements,
// please forgive the !importants
.form-letter {
  // Restore margin & padding
  ul {
    margin-left: 1em;
    padding-left: 1em;
  }

  h1 {
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
    font-family: family('heading');
    border-bottom: 0 !important;

    &::after {
      content: '';
      display: block;
      margin-top: 0.2em;
      border: 2px solid color($theme-color-primary-darker);
      border-radius: 2px;
      background: color($theme-color-primary-darker);
      width: 25px;
    }
  }

  h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-family: family('heading');
    color: color($theme-color-primary-darker);
  }
}

#external-link--modal {
  color: color($theme-color-primary-darker);

  .external-link--disclaimer {
    font-style: italic;
    font-size: $theme-text-font-size-sm;
    margin-top: 0.5rem;
  }

  /* Break long links */
  #external-link--address {
    word-wrap: break-word;
    word-break: break-word;
  }

  #external-link--cancel {
    &:focus {
      color: color($theme-color-primary-darker) !important;
    }
  }

  .modal-footer {
    margin-top: auto;
  }
}

#attachment-removal-confirmation--modal {
  color: color($theme-color-primary-darker);

  #attachment-removal--no {
    &:focus {
      color: color($theme-color-primary-darker) !important;
    }
  }
}

#unsupported_browser_modal .modal-content.modal-content--small {
  padding: 0;

  .usa-alert.usa-alert--warning {
    background-image: url(../../img/alerts/warning-yellow.svg),
      linear-gradient(transparent, transparent);
    background-size: 24px 24px;
    padding-left: 0;
  }

  .usa-alert__text {
    display: inline-block;
    padding-bottom: 1rem;

    .crt-button {
      color: #2e2e2a;
      background-color: transparent;
      text-decoration: underline;
      padding: 0px;

      .icon {
        margin-left: 0px;
      }
    }
  }
}
