.usa-pagination-wrapper {
  display: flex;
}

.usa-pagination {

  &.view-all-pagination {
    margin-left: auto;
  }

  ol {
    list-style-type: none;
    padding-left: 2rem;
    display: flex;
  }

  li {
    a, div, span.ellipsis {
      display: block;
      width: 40px;
      height: 44px;
      border-radius: 5px;
      padding: 3px 10px;
      border-color: rgb(215, 215, 215);
      text-align: center;
    }

    &:hover:not(.disabled-nav) {
      background: $blue-warm-5;
    }

    &.current-page {
      background-color: $blue-warm-vivid-70;
      color: $white;
    }

    &.nav-arrow.disabled-nav {
      .nav-arrow-svg {
        g {
          g {
            path {
              fill: #ADADAD;
            }
          }
        }
      }
    }
  }

  svg.point-right {
    transform: rotate(180deg);
  }

  a {
    text-decoration: none;
  }
}
