.usa-pagination {
  text-align: right;

  ol {
    list-style-type: none;
    padding-left: 2rem;
  }

  li {
    display: inline;
    padding: 3px 10px;

    &.is-active {
      background-color: $blue-warm-vivid-70;
      color: $white;
    }

  }

  a {
    text-decoration: none;
  }
}
