$button-size: 1.5rem;

.usa-pagination-wrapper {
  display: flex;
}

.usa-pagination {
  &.view-all-pagination {
    margin-left: auto;
  }

  ol {
    list-style-type: none;
    padding-left: 2rem;
    display: flex;
  }

  li {
    height: 2rem;
    margin: 0 2px;
    min-width: 2rem;

    a,
    div,
    span.ellipsis {
      border-radius: 5px;
      display: block;
      padding: 0 0.25rem;
      height: $button-size;
      line-height: $button-size;
      text-align: center;
      color: color($theme-color-primary-darker);
    }

    &.complaint-nav a {
      @include u-border(1px, 'solid', $theme-color-primary-darker);
    }

    &.current-page {
      div {
        background-color: color($theme-color-primary-darker);
      }

      div {
        color: color('white');
      }
    }

    &.nav-arrow.disabled-nav {
      .nav-arrow-svg {
        g {
          g {
            path {
              fill: color($theme-color-base-light);
            }
          }
        }
      }
    }
  }

  svg.point-right {
    transform: rotate(180deg);
  }

  a {
    text-decoration: none;
  }
}
