.usa-pagination {
  text-align: right;

  ol {
    list-style-type: none;
    padding-left: 2rem;
  }

  li {
    display: inline;
    border-radius: 5px;
    padding: 3px 10px;

    &:hover {
      background: $blue-warm-5;
    }

    &.is-active {
      background-color: $blue-warm-vivid-70;
      color: $white;
    }
  }

  a {
    text-decoration: none;
  }
}
