@media print {
  .intake-bg {
    background-color: color('white');
  }

  header.intake-header,
  .complaint-navigation,
  .crt-action-card,
  .crt-comment-new,
  .crt-header--warning-pii {
    display: none;
  }

  #main-content, .details-id {
    margin: 0;
  }

  .complaint-page {
    flex-direction: column-reverse; // make activity log last
  }
  .complaint-information {
    @include grid-col(12);
    @include grid-offset(0);
  }
  .complaint-actions {
    @include grid-col(12);
    @include grid-offset(0);
  }

  .activity-stream .crt-portal-card__content {
    max-height: none;
    overflow-y: visible;
  }
}

.activity-stream-list {
  display: block;
  @media print {
    display: none;
  }
  &.activity-stream-print {
    display: none;
    @media print {
      display: block;
    }
  }
}
