@use "uswds-core" as *;

@media print {
  .intake-bg {
    background-color: color('white');
  }

  // selectively hide page elements that we don't want to be visible
  // when printing.
  // - hide the header.
  header.intake-header,
  // - do not show any status messages, if any.
  #status-update,
  // - hide complaint filter navigation.
  .complaint-filter-navigation,
  // - hide the actions form card.
  .crt-action-card,
  // - hide the "new comment" card.
  .crt-actions-card,
  // - hide the "reported complaint" card.
  .crt-complaint-card,
  // - hide the bulk print card.
  .crt-comment-new,
  // - hide the current summary (embedded in the details form) as we
  //   have a separate print-only summary section.
  .crt-current-summary,
  // - hide the activity stream section, since we have separate
  //   print-only actions and comments sections.
  .bulk-print-link,
  // - hide the "print all" on the bulk actions page.
  .activity-stream,
  // - hide related report `view all (#) links
  a.related-reports,
  // - always hide the related reports card
  .crt-related-reports-card,
  // - always hide the warning banner.
  .crt-header--warning-pii {
    display: none;
  }

  #main-content, .details-id {
    margin: 0;
  }

  .complaint-show-body {
    .title-icon, .usa-button {
      display: none;
    }

    .complaint-page {
      flex-direction: column-reverse; // make activity section last
    }
    .complaint-information {
      @include grid-col(11);
      @include grid-offset(1);
    }
    .complaint-actions {
      @include grid-col(11);
      @include grid-offset(1);
    }

    .crt-portal-card {
      box-shadow: unset;
    }

    .crt-portal-card__content {
      padding: 0;
    }

    // simulate personal description card to look like its own section.
    .complaint-card-heading {
      // below does not work: can only @extend from within same directive
      // @extend .intake-section-title;
      @include text--heading__medium();
      font-family: family('heading');
      font-weight: $theme-font-weight-bold;
      color: color($theme-color-primary-darker);
      text-transform: none;

      padding-bottom: 0.8rem;
      border-bottom: 1px solid;
    }

    .activity-stream .crt-portal-card__content {
      max-height: none;
      overflow-y: visible;
    }
  }

  .bulk-print-report {
    display: block;
    page-break-after: always;
  }
}

// print-only cards
.crt-activities-card,
.crt-comments-card,
.crt-summary-card,
.crt-report-card,
// bulk-print reports
.bulk-print-reports,
// confirmation print header
.doj-brand-print,
.crt-print-separator {
  display: none;
  @media print {
    display: block;
  }
}

// confirmation page
@media print {
  // remove "how can we improve this site?" and usa banner
  #fba-button, .usa-banner {
    display: none !important;
  }

  .confirmation-page {

    background-color: color('white');

    header.crt-form-header {
      color: color('black');
      background-color: color('white');
      padding: 0;
      margin: 0;

      .doj-brand-print {
        display: flex;
        flex-direction: column;
        align-items: center;
        span:not(.doj-brand-url) {
          font-family: family('heading');
          font-weight: bold;
        }
        .doj-brand-url {
          font-size: 0.8rem;
        }
        img {
          width: 38px;
        }
      }
      .doj-brand {
        display: none;
      }

      h1 {
        color: color('black');
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-top: 2rem;
        padding: 0;
        font-family: family('heading');
      }

      // reset all grid margins/padding
      div {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
      }
    }

    footer {
      display: none;
    }

    #print_button,
    .crt-success-card__content p,
    .title img,
    a.external-link--popup:after {
      display: none;
    }

    // force black text on white background
    background-color: color('white');
    section, .grid-container, .title-wrapper {
      background-color: color('white') !important;
      padding: 0;
      margin: 0;
    }
    .h1,
    .h1__display,
    .h3__display,
    .intake-section-title,
    .crt-portal-card__subheader,
    a, a:visited,
    img {
      color: color('black');
    }
    hr {
      border-bottom: unset;
    }

    // record number styling
    .record-number-wrapper {
      border: 1px solid color('black');
      padding: 1rem !important;
      width: fit-content !important;

      div {
        width: unset !important;
      }
      .record-number, #paper-icon-wrapper {
        background-color: color('white');
        margin-right: 1rem;
      }
      #paper-icon-wrapper {
        border: 1px solid color('black');
        padding: 0.3rem;
      }
    }

    // reset all grid margins/padding
    .h1, .grid-container, div:not(.title-icon-blue):not(.paper-icon-wrapper) {
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 100%;
    }
    li {
      margin: 0 !important;
    }
    .submission {
      margin-top: 0;
    }

    // typography adjustments
    h2.h1 {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
    h2.h1__display {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    h3.h3__display {
      font-weight: unset;
      font-style: italic;
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
    h3 {
      font-size: 1rem;
      line-height: 1.25rem;
    }
    p, li {
      font-size: 0.75rem;
      line-height: 1rem;
    }
    .record-number-note, .record-number {
      font-size: 0.875rem;
    }

    // spacing
    h2.h1__display {
      margin-top: 1rem;
      margin-bottom: 0.25rem;
      padding: 0;
    }
    h2.h1 {
      margin: 1rem 0;
    }
    .confirmation-content {
      margin: 0 1rem !important;
      padding-bottom: 1.5rem !important;
    }
    .title-icon-blue {
      margin: 0 0.5rem 0 0 !important;
    }
    .intake-section-title {
      margin: 0 0 0.5rem 0 !important;
    }
    h4, hr, p {
      margin: 0;
    }
    p {
      max-width: 80%;
    }
    .crt-portal-card__content {
      padding-bottom: 1rem !important;
      .crt-portal-card__subheader {
        margin-bottom: 1rem;
      }
    }
    .record-number-note + div {
      display: flex;
    }
    section:first-child {
      margin-bottom: 2rem;
    }
    section:not(:first-child) {
      padding-top: 1rem;
    }
    h4:not(:first-child) {
      margin-top: 1rem;
    }
    section, .what-to-expect .grid-container div:last-child {
      padding-top: 1rem;
    }
    ul + p {
      margin-top: 1rem;
    }

    // redo icons as black and white
    .title-icon-blue {
      background-color: color('white') !important;
      color: color('black') !important;
      border: 1px solid color('black');
      font-weight: bold;
      min-width: 20px !important;
      min-height: 20px !important;
    }

    // undo boxes and shadows
    .crt-portal-card, .crt-success-card, .what-to-expect {
      border-radius: 0;
      box-shadow: unset;
    }
    .question {
      p {
        border-bottom: unset !important;
      }
      h4 {
        margin-bottom: 0.5rem !important;
      }
    }

    // misc: make the bullets smaller
    ul.confirmation-list li::before {
      height: 4px !important;
      width: 4px !important;
    }

    // misc: add dividers
    .crt-portal-card, .what-to-expect {
      border-top: 1px solid color($theme-color-base-darker);
    }

    // misc separator
    .crt-print-separator {
      display: block;
      margin-bottom: 2rem !important;
      border: 2px solid color('black');
      border-radius: 2px;
      background: color('black');
      width: 30px !important;
    }
    section.what-to-expect ul.confirmation-list li {
      padding-left: 0;
    }
    .confirmation-page .confirmation-content {
      margin-left: .5rem !important;
    }
  }
}
