/*
  Wizard progress bar code adapted from Carlos Ballena via CodePen:
  https://codepen.io/cballenar/pen/vxpZxE
  MIT Licensed: https://blog.codepen.io/legal/licensing/
*/

@use "uswds-core" as *;

// Variables
$steps-width: 100%;

$label-font-size: $theme-text-font-size-xs;
$label-line-height: 1.25rem;

$counter-font-size: 0.8125rem;

$circle-diameter: 24px;
$circle-border-width: 1px;
$line-width: 1px;

$visited: color($theme-color-warning);
$outline: color('white');

.progress-bar {
  @include u-margin-top(5);
  padding-bottom: 1rem;
}

.connecting-line {
  border-bottom: 1px solid color('white');
  position: relative;
  bottom: 52px;
  left: 35px;
  width: 90%;

  @include at-media-max('tablet') {
    width: 85%;
  }
}

// Steps Progress Bar
ol.steps {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  counter-reset: milestones; // init counter
  height: 62px;

  // design
  width: $steps-width;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    width: 90px;

    // design
    font-size: $label-font-size;
    line-height: $label-line-height;
  }
  .step {
    display: block;
    text-decoration: none;
    color: color('white');

    a {
      display: block;
      margin-top: -($circle-diameter + 6.5px); // 6.5px == size of 0.5em bottom margin on step circle
      padding-top: $circle-diameter + 6.5px;
    }

    .step-text {
      @include at-media-max(desktop) {
        display: none;
      }
    }
  }

  .step::before,
  .step::after {
    display: block;
    font-size: $counter-font-size;
    box-sizing: border-box;
  }

  // circle
  .step::before {
    border-radius: 50%;
    text-decoration: none;

    // add counter
    content: counter(milestones);
    counter-increment: milestones;

    // design
    width: $circle-diameter;
    height: $circle-diameter;
    line-height: $circle-diameter - 1px; // the font size is 13px and line-height is 24, which doesn't divide evenly and looks wonky
    margin: 0 auto 0.5em;
    color: color($theme-color-primary-darker);
    background-color: color($theme-color-primary-lightest);
  }

  // current milestone
  li.current {
    &:focus {
      outline: 1px;
    }
    &.step {
      font-weight: bold;

      &::before {
        background-color: $visited !important;
        box-shadow: inset 0 0 0 $circle-border-width $visited;
      }
    }
  }

  // unfinished milestone
  li.current {
    ~ li.step::before {
      color: color('white');
      background-color: color($theme-color-primary-darker);
      box-shadow: inset 0 0 0 $circle-border-width $outline;
    }
  }
}
