.crt-table {
  @extend .usa-table;
  font-size: 14px;
  color: $gray-90;
  line-height: 22px;
  background: $white;
  box-shadow: 0 1px 6px 2px rgba(0,0,0,0.14);
  thead {
    font-weight: $bold;
    font-size: 12px;
    line-height: 25.92px;
    text-transform: uppercase;
    th {
      background-color: $white;
    }
  }
}

.tr-status-new {
  td {
    font-weight: bold;
    text-transform: uppercase;
  }
}

// Styles for complaint statuses in View All Table

.status-new {
  color: $white;
  background-color: $blue-warm-vivid-70;
}

.status-open {
  background-color: $gold;
}

.status-closed {
  background-color: $gray-warm-10;
}

.status-tag {
  font-weight: bold;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1.5rem;
}