@use "uswds-core" as *;
@use "variables" as *;

@mixin clickable-table-cell {
  color: color($theme-color-base-ink);
  height: 100%;
  padding-top: 0.5rem;
  padding-left: 0.25rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  position: relative;
  text-decoration: none;
  width: 100%;
  z-index: 1;
}

@mixin sortable-cell-icon {
  @include text--body-copy__xsmall();
  content: ' ';
  display: block;
  height: 6px;
  position: absolute;
  right: 5%;
  top: 45%;
  width: 10px;
}

.crt-table td,
.crt-table th,
.usa-prose > table td,
.usa-prose > table th,
.usa-table td,
.usa-table th {
  border-bottom: 1px solid color($theme-color-base-lighter);
}

.crt-xscroll {
  overflow-x: scroll;
}

.new-user-landing-table {
  width: 100%;
  th {
    width: 60%;
    padding-right: 0;
    color: #2e2e2a;
    font-weight: 700;
    border-top: 0;
    padding-bottom: 0.8rem;
    vertical-align: top;
  }
  tr {
    td {
      vertical-align: top;
      &:nth-child(2) {
        font-weight: bold;
      }
    }
    td:nth-child(even) {
      border-left: 1px solid #D8D8D8;
    }
  }
  .landing-table-border-bottom {
    border-bottom: 1px solid color($theme-color-base-ink);
  }
}

.data-table {
  .crt-table {
    thead {
      th {
        text-transform: none;
      }
    }
    tbody {
      tr {
        td {
          color: #2e2e2a;
          height: 100%;
          padding: 0.5rem 1rem 0.5rem 0.25rem;
          position: relative;
          width: 100%;
        }
      }
    }
  }
}

.disposition-action-table {
  thead {
    tr {
      th {
        font-weight: 700!important;
      }
    }
  }
}

.notifications.crt-table {
  border-spacing: 0;
  border-collapse: collapse;

  thead tr th {
    text-align: left;
    vertical-align: middle;
    padding: 1em;
  }

  tbody tr td {
    text-align: left;
    vertical-align: middle;
    padding: 1em;

    &:first-child {
      font-weight: bold;
    }
  }

  tbody tr:nth-child(odd) {
    background-color: color('gray-2');
  }
}

.crt-table {
  @extend .usa-table;
  @include text--body-copy__small();
  background: color('white');
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;

  thead {
    th {
      background-color: color('white');
      border-top: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important; //override the .usa-table extension
      border-bottom: 1px solid color($theme-color-base-lighter);
      border-top: 0;
      font-size: $theme-text-font-size-md;
      font-weight: 400 !important;
      height: 4.4rem;
      position: relative;
      text-transform: uppercase;

      &:last-of-type {
        padding-right: 2rem !important;
      }
    }
    .checkbox-all {
      padding-bottom: 1.8rem;
    }
  }

  tr {
    th a:first-child,
    td a:first-child {
      padding-left: 1.3rem;
    }

    th a:last-child,
    td a:last-child {
      padding-right: 1.2rem;
    }
  }

  tr.stripe {
    td {
      background-color: color('gray-2');
      border-left: 1px solid color('gray-2');
    }
  }

  tr.selected {
    td {
      background-color: color($theme-color-primary-lighter);
      border-left: 1px solid color($theme-color-primary-lighter);
    }
  }

  &.usa-table {
    tr,
    td,
    th {
      border-left: 0;
      border-right: 0;
    }

    th {
      border-bottom: 1px solid color('gray-cool-20'); // USWDS system color design token: https://designsystem.digital.gov/design-tokens/color/system-tokens/
    }

    td {
      // USWDS adds a lot of complicated styles, and this is the most straightforward
      // way to remove padding from td elements in the table body
      border-left: 1px solid color('white');
      vertical-align: top;
      .circle-4 svg.icon, .copy-resource svg.icon {
        max-width: 26px;
        max-height: 26px;
        position: absolute;
        top: 3px;
        left: 3px;
      }
    }

    tr {
      td:first-child {
        .td-link {
          padding-left: 0;
        }
      }
    }

    .td-link {
      @include clickable-table-cell();
    }

    .td-checkbox {
      background: transparent;
      padding: 0;
      position: relative;

      .usa-checkbox__input {
        cursor: pointer;
        height: 100%;
        left: 0;
        width: 100%;
        z-index: 10;
      }
    }

    .td-toggle,
    .td-toggle-all {
      width: auto;
      height: auto;
      padding: 1rem 0;

      img {
        max-width: unset;
      }

      .rotate {
        transform: rotate(90deg);
        transition-duration: 120ms;
      }
    }

    td.quickview {
      &:first-of-type {
        // Skip the checkbox row
        padding-left: calc(30px + 1rem);
      }
      &:last-of-type {
        // Skip the last two columns
        padding-right: calc(150px + 167px + 1rem);
      }
    }

    &.saved-search-table {
      td.quickview {
        &:last-of-type {
          padding-right: 1rem;
        }
      }
    }

    .td-quickview {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    .td-summary {
      height: 4rem;
      max-height: 10rem;
      overflow-y: auto;
      resize: vertical;

      p:first-child {
        margin-top: 0;
      }
    }
  }

  tbody {
    td {
      border-bottom: 1px solid color($theme-color-base-lighter);
    }

    tr:last-child {
      border-bottom: 0;
    }

    .tr-status-new {
      td {
        font-weight: bold;
      }
    }
  }
}

.report-count {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.show-cw.hidden .cw-icon, .show-cw.hidden .cw-text{
  display: none;
}

.show-cw {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
}

.cw-icon {
  margin: 0 8px 0 12px;
}

// Styles for complaint statuses in View All Table

.status-new {
  @include u-bg('cyan-10v');
  color: color($theme-color-base-ink);
  border-color: #a8f2ff;
}

.status-open {
  @include u-bg('green-cool-10v');
  border-color: #b7f5bd;
}

.status-closed {
  background-color: color($theme-color-base-lighter);
  border-color: color($theme-color-base-lighter);
}

.status-retention {
  border-color: #162e51;
  color: #162e51;
  margin-left: 0.5em;
  min-width: fit-content;
}

.status-tag {
  font-weight: bold;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 1.5rem;
  text-transform: uppercase;
}

.tr--hover {
  &:hover {
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.14);
    transform: scale(1);
  }
}

.sort-cell {
  padding: 0 !important;

  span {
    margin-right: 20px;
  }
}

.sort-image {
  text-align: right;
}

.table-message {
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.09);
}

.sort-link {
  @include clickable-table-cell();
  align-items: center;
  display: flex;
  position: relative;
  vertical-align: middle;
  z-index: 1;

  &.sort-up {
    &:after {
      @include sortable-cell-icon();
      background: url('../../img/sort-up.svg');
    }
  }

  &.sort-down {
    &:after {
      @include sortable-cell-icon();
      background: url('../../img/sort-down.svg');
    }
  }
}

#active-filters {
  display: flex;
  flex-wrap: wrap;
}

.crt-table {
  tr {
    &.removed {
      .td-link {
        opacity: 0.7;
      }
    }
    td.report-control {
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      a.report-batch-control {
        background-color: #1E4A80;
        border-radius: 50%;
        padding: 0;
        display: flex;
        margin: 1em 0;
        .report-batch-icon {
          width: 20px;
          height: 20px;
        }
        &.removed {
          background-color: #7891B1;
          .add {
            display: block;
          }
          .remove {
            display: none;
          }
        }
        .add {
          display: none;
        }
      }
    }
  }
}

.intake-pagination {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  min-width: 12rem;

  &.activity-pagination {
    .kabob-menu {
      height: 0;
    }
  }
  .kabob-menu {
    width: 25px;
    background: url(../../img/kebab-menu-icon.svg) no-repeat;
    border: none;
    display: flex;
    margin-left: 10px;
    margin-top: 2px;
  }
}

.grouping-select {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  padding-right: 1.5rem;
  .select-link.usa-select {
    background: url(../../img/kebab-menu-icon.svg) no-repeat;
    background-color: transparent;
    background-position: right center;
    border: none;
    display: flex;
    height: auto;
    margin-left: 5px;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 12px;
    padding-top: 0;
    width: auto;
  }
  &.default {
    .select-link.usa-select {
      max-width: 73px;
    }
  }
}

.selection-action-notification {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;

  color: color('white');
  background-color: color($theme-color-primary-darker);

  img, h2 {
    margin-left: 2rem;
  }

  .selection-submit {
    margin: 1rem 2rem;

    button#actions {
      color: color($theme-color-primary-darker);
      background-color: color($theme-color-primary-lighter);
      &:hover {
        background-color: color($theme-link-dark-hover-color);
      }
    }
  }
}

.dashboard-table {
  td {
    height: 4.4rem;
  }
}

body.intake-bg .dataTables_scrollBody {
  width: calc(100% - 5px);
  border-bottom: 0px;
}

body.intake-bg table.datatable-table.dataTable {
  @extend .crt-table;

  * {
    width: auto !important;
  }

  width: calc(100% - 10px) !important;

  box-shadow: 0 1px 6px 2px rgba(0,0,0,.14);
  border-radius: 5px 5px;
  margin-left: 5px !important;

  font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

  thead {
    background-color: #e1e7f1;
    border-radius: 5px 5px;
    min-height: 3rem;
    padding: 1.2rem 2rem 1.2rem 1.3rem;

    font-family: Merriweather Web,Merriweather Web,Tinos,Georgia,Cambria,Times New Roman,Times,serif;
    color: #162e51;

    tr {
      background-color: transparent;

      th {
        text-transform: uppercase;
        background-color: transparent;
        text-decoration: underline;
        font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
      }
    }
  }

  tbody {
    tr {
      height: 4em;


      td {
        padding-top: 2em;
        padding-bottom: 2em;
        color: #2e2e2a;
        height: 100%;
        padding: 0.5rem 1rem 0.5rem 0.25rem;
        position: relative;
        width: 100%;
        font-weight: 700;
        border-left: 0px;
      }
    }

    tr:hover {
      box-shadow: 0 1px 6px 2px rgba(0,0,0,.14);
      transform: scale(1);
      background-color: inherit;
    }

    tr.selected {
      td {
        box-shadow: inset 0 0 0 9999px #e1e7f1;
      }
    }
  }

  thead>tr>th.sorting_asc:before, thead>tr>th.sorting_desc:after, thead>tr>td.sorting_asc:before, thead>tr>td.sorting_desc:after {
    opacity: 1;
    color: #162e51;
  }
}

body.intake-bg .dataTables_wrapper .dataTables_info {
  text-align: right;
  display: block;
  width: calc(100% - 10px);
  padding: 0.5em;
  background-color: #e1e7f1;
  font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  color: #162e51;
  box-shadow: 0 1px 6px 2px rgba(0,0,0,.14);
  margin-left: 5px;
  line-height: 2em;
}

body.intake-bg .dataTables_wrapper .dataTables_paginate {
  display: block;
  width: calc(100% - 10px);
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1em;

  background-color: #e1e7f1;
  font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  color: #162e51;
  box-shadow: 0 1px 6px 2px rgba(0,0,0,.14);
  clip-path: inset(0px -5px -5px -5px);
  margin-right: 5px;
}

body.intake-bg .dataTables_wrapper .dataTables_paginate .paginate_button {
  margin: 0 2px;
  border: 0px;

  &.previous, &.next {
    visibility: hidden;
    width: 0px;
    height: 0px;
    padding: 0px;
  }

  &.previous:after, &.next:after {
    height: 16px;
    width: 10px;
    content: " ";
    visibility: visible;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &.previous:after {
    background-image: url('/static/img/intake-icons/ic_chevron-left.svg');
  }

  &.next:after {
    background-image: url('/static/img/intake-icons/ic_chevron-right.svg');
  }

  &.disabled:after {
    filter: invert(82%) sepia(0%) saturate(31%) hue-rotate(154deg) brightness(88%) contrast(81%);
  }

  &:not(.previous):not(.next) {
    background: none;
    color: #162e51 !important;

    font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1rem;

    height: 2em;
    content: " ";
    visibility: visible;
    display: inline-block;
    min-width: 2rem;

    border-radius: 5px;
    padding: 0 .25rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;

    &:hover:not(.current) {
      background: none;
      color: inherit !important;
    }

    &.current {
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #162e51;
      color: #fff !important;

    }
  }
}

body.intake-bg .dataTables_wrapper {
  width: calc(100% - 10px);

  .dt-buttons {
    margin-left: 5px;
    border-radius: 5px 5px 0px 0px;
    padding: 1.5em;
  }

  .dataTables_filter {
    margin-right: 5px;
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
    padding-top: 0px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
  }

  .dt-button-collection {
    padding: 1em;
    width: fit-content !important;

    button.dt-button {
      background: none;
      font-weight: normal;
      width: auto;
      display: list-item;
      padding-left: 2em;
      line-height: 1.25em;

      &:hover {
        background: none;
      }

      &:after {
        display: none;
      }

      &.dt-button-active:before {
        background-image: url(../../img/correct8.svg), linear-gradient(transparent, transparent);
        background-repeat: no-repeat;
        background-color: #162e51;
        box-shadow: 0 0 0 2px #162e51, inset 0 0 0 2px #fff;
      }

      &:before {
        content: " ";
        display: block;
        left: 0;
        margin-left: 2px;
        margin-top: .075rem;
        position: absolute;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 2px;
        background: #fff;
        box-shadow: 0 0 0 2px #2e2e2a;
        cursor: pointer;
      }
    }
  }

  .dataTables_filter, .dt-buttons {
    width: calc(100% - 10px);

    background: white;

    font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

    font-size: 1rem;
    line-height: 1.4;

    input[type="search"], input[type="text"] {
      border-width: 1px;
      border-color: #162e51;
      border-style: solid;
      border-radius: 3px;
      max-width: none;
      padding: .5rem;
      color: #2e2e2a;
      display: inline-block;
      height: 2.5rem;
      margin-top: .5rem;
    }

    button {
      &:hover {
        border-radius: .25rem !important;
      }

      color: #162e51;
      background: unset;
      background-color: #e1e7f1;
      font-size: 1rem;
      line-height: 1;
      appearance: none;
      border: 0;
      border-radius: .25rem;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      margin-right: .5rem;
      padding: .75rem 1.25rem;
      text-align: center;
      text-decoration: none;

      &:hover:not(.disabled) {
        border: 0;
        background: unset;
        background-color: #81aefc;
        color: #162e51;
      }

      .dt-button-down-arrow {
        visibility: hidden;

        &:after {
          filter: invert(13%) sepia(30%) saturate(2509%) hue-rotate(189deg) brightness(97%) contrast(92%);
          visibility: visible;
          content: " ";
          display: inline-block;
          height: 10px;
          width: 16px;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url('/static/img/intake-icons/ic_chevron-down.svg');
        }
      }
    }
  }

  div.dtsp-searchPane {
    border: 1px solid #162e51;
    border-radius: 5px;
    padding: 0px 5px 6px 3px;

    div.dtsp-topRow {
      display: block;

      button {
        padding: 0;
        font-size: 2em;
        color: #666;
      }

      input.dtsp-paneInputButton.dtsp-search {
        border-width: 1px;
        border-color: #162e51;
        border-style: solid;
        border-radius: 3px;
        max-width: none;
        padding: .5rem;
        color: #2e2e2a;
        display: inline-block;
        height: 2.5rem;
        margin-top: .5rem;
      }

      div.dtsp-subRow1 button.dtsp-searchIcon, div.dtsp-subRow1 button.dtsp-searchIcon:hover{
        font-size: 1.5em;
        background-image: url(/static/img/search-primary.svg);
        content-visibility: hidden;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: 0.75em !important;
        background-color: unset;
        margin-top: 10px;
      }

      button.dtsp-paneButton {
        opacity: 1;
      }
    }
  }

  .dtsp-paneButton.dtsp-collapseButton,
  .dtsp-collapseAll,
  .dtsp-showAll
  {
    display: none !important;
  }
}
