@use "uswds-core" as *;
@use "variables" as *;

@mixin clickable-table-cell {
  color: color($theme-color-base-ink);
  height: 100%;
  padding-top: 0.5rem;
  padding-left: 0.25rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  position: relative;
  text-decoration: none;
  width: 100%;
  z-index: 1;
}

@mixin sortable-cell-icon {
  @include text--body-copy__xsmall();
  content: ' ';
  display: block;
  height: 6px;
  position: absolute;
  right: 5%;
  top: 45%;
  width: 10px;
}

.crt-table td,
.crt-table th,
.usa-prose > table td,
.usa-prose > table th,
.usa-table td,
.usa-table th {
  border-bottom: 1px solid color($theme-color-base-lighter);
}

.crt-xscroll {
  overflow-x: scroll;
}

.crt-table {
  @extend .usa-table;
  @include text--body-copy__small();
  background: color('white');
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;

  thead {
    th {
      background-color: color('white');
      border-top: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important; //override the .usa-table extension
      border-bottom: 1px solid color($theme-color-base-lighter);
      border-top: 0;
      font-size: $theme-text-font-size-md;
      font-weight: 400 !important;
      height: 4.4rem;
      position: relative;
      text-transform: uppercase;

      &:last-of-type {
        padding-right: 2rem !important;
      }
    }
    .checkbox-all {
      padding-bottom: 1.8rem;
    }
  }

  tr {
    th a:first-child,
    td a:first-child {
      padding-left: 1.3rem;
    }

    th a:last-child,
    td a:last-child {
      padding-right: 1.2rem;
    }
  }

  tr.stripe {
    td {
      background-color: color('gray-2');
      border-left: 1px solid color('gray-2');
    }
  }

  tr.selected {
    td {
      background-color: color($theme-color-primary-lighter);
      border-left: 1px solid color($theme-color-primary-lighter);
    }
  }

  &.usa-table {
    tr,
    td,
    th {
      border-left: 0;
      border-right: 0;
    }

    th {
      border-bottom: 1px solid color('gray-cool-20'); // USWDS system color design token: https://designsystem.digital.gov/design-tokens/color/system-tokens/
    }

    td {
      // USWDS adds a lot of complicated styles, and this is the most straightforward
      // way to remove padding from td elements in the table body
      border-left: 1px solid color('white');
      vertical-align: top;
    }

    tr {
      td:first-child {
        .td-link {
          padding-left: 0;
        }
      }
    }

    .td-link {
      @include clickable-table-cell();
    }

    .td-checkbox {
      background: transparent;
      padding: 0;
    }

    .td-toggle,
    .td-toggle-all {
      width: auto;
      height: auto;
      padding: 1rem 0;

      img {
        max-width: unset;
      }

      .rotate {
        transform: rotate(90deg);
        transition-duration: 120ms;
      }
    }

    td.quickview {
      &:first-of-type {
        // Skip the checkbox row
        padding-left: calc(30px + 1rem);
      }
      &:last-of-type {
        // Skip the last two columns
        padding-right: calc(150px + 167px + 1rem);
      }
    }

    .td-quickview {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    .td-summary {
      height: 4rem;
      max-height: 10rem;
      overflow-y: auto;
      resize: vertical;

      p:first-child {
        margin-top: 0;
      }
    }
  }

  tbody {
    td {
      border-bottom: 1px solid color($theme-color-base-lighter);
    }

    tr:last-child {
      border-bottom: 0;
    }

    .tr-status-new {
      td {
        font-weight: bold;
      }
    }
  }
}

.constant-writer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.constant-writer img {
  margin: 0 8px 0 12px;
}

// Styles for complaint statuses in View All Table

.status-new {
  @include u-bg('cyan-10v');
  color: color($theme-color-base-ink);
}

.status-open {
  @include u-bg('green-cool-10v');
}

.status-closed {
  background-color: color($theme-color-base-lighter);
}

.status-tag {
  font-weight: bold;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1.5rem;
  text-transform: uppercase;
}

.tr--hover {
  &:hover {
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.14);
    transform: scale(1);
  }
}

.sort-cell {
  padding: 0 !important;

  span {
    margin-right: 20px;
  }
}

.sort-image {
  text-align: right;
}

.table-message {
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.09);
}

.sort-link {
  @include clickable-table-cell();
  align-items: center;
  display: flex;
  position: relative;
  vertical-align: middle;
  z-index: 1;

  &.sort-up {
    &:after {
      @include sortable-cell-icon();
      background: url('../../img/sort-up.svg');
    }
  }

  &.sort-down {
    &:after {
      @include sortable-cell-icon();
      background: url('../../img/sort-down.svg');
    }
  }
}

#active-filters {
  display: flex;
  flex-wrap: wrap;
}

.intake-pagination {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  min-width: 12rem;
  .kabob-menu {
    width: 25px;
    background: url(../../img/kebab-menu-icon.svg) no-repeat;
    border: none;
    display: flex;
    margin-left: 10px;
    margin-top: 2px;
  }
}

.selection-action-notification {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;

  color: color('white');
  background-color: color($theme-color-primary-darker);

  img, h2 {
    margin-left: 2rem;
  }

  .selection-submit {
    margin: 1rem 2rem;

    button#actions {
      color: color($theme-color-primary-darker);
      background-color: color($theme-color-primary-lighter);
      &:hover {
        background-color: color($theme-link-dark-hover-color);
      }
    }
  }
}

.dashboard-table {
  td {
    height: 4.4rem;
  }
}
