.team-management {
  .usa-card__heading {
    border-bottom: 1px solid hsla(216, 57%, 20%, 1);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18px;
  }

  .title {
    font-size: 28px;
    line-height: 26px;
    margin-top: 0;
    border-bottom: 1px solid hsla(216, 57%, 20%, 1);
    padding-bottom: 10px;
    font-family: Merriweather Web,Merriweather Web,Tinos,Georgia,Cambria,Times New Roman,Times,serif;
  }

  .results {
    padding-top: 35px;
    .results-text {
      margin-top: 5px;
      font-style: italic;
    }
  }

  .usa-card__body {
    padding-top: 15px;
  }

  .label {
    color: hsla(60, 5%, 17%, 1);
  }
  .crt-combo-box-filter {
    border: 1px solid hsla(216, 57%, 20%, 1);
    border-radius: 3px;
    width: auto;
  }
  .required {
    color: #757575;
    font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
    font-style: italic;

    &:before {
      color: #B50909;
      content: "*";
    }
  }
}

