// Header Styles
h1,
h2,
h3,
h4,
h5,
h6,
.intake-label {
  @include add-knockout-font-smoothing;
}

h1 {
  @include u-font('heading', '2xl');
}

h2 {
  @include u-font('body', 'xl');
}

.intro-subtitle {
  @include u-font('body', 'lg');
  @include u-line-height('alt', 5);
}

h3 {
  @include u-text('blue-warm-80v');
}

a,
a:visited {
  color: $blue-warm-vivid-80;
}

p {
  line-height: 1.625;
}

.usa-radio__label .label-text p {
  line-height: 0.85; //inherit from USWDS
  &.help-text,
  &.help-text__small {
    line-height: 1.625;
  }
}

.em-text {
  color: $blue-warm-vivid-80;
  font-weight: bold;
  font-size: 1.22rem;
  margin-bottom: 0.5rem;
}

.look-like-link {
  padding: 0;
  border: none;
  background: none;
  text-decoration: underline;
}

.usa-prose {
  p {
    margin-top: 0.5rem;
    line-height: 1.625;
  }

  .form-label {
    line-height: 1.625;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 68ex;
  }
}

.align-center {
  text-align: center;
}

.page-form-title {
  font-size: 1.375rem;
  font-weight: 100;
  line-height: 2.065rem;
  margin: 0;
}
