@use "uswds-core" as *;

//Color
$theme-link-dark-hover-color: "blue-warm-30v";

//Components
$theme-input-tile-background-color-selected: "primary-lighter";
$theme-input-tile-border-color: "base-lighter";
$theme-input-tile-border-color-selected: "primary-light";
$theme-input-tile-border-color: "base-lighter";
$theme-input-tile-border-color-selected: "primary-light";

//Spacing
$theme-site-max-width: "desktop";

// Use with the units() function; ex; units($spacer-unit-2x)
$spacer-half: '05'; // 0.25rem / 4px
$spacer-1x: 1;      // 0.5rem  / 8px
$spacer-2x: 2;      // 1rem    / 16px
$spacer-3x: 3;      // 1.5rem  / 24px
$spacer-4x: 4;      // 2rem    / 32px
$spacer-5x: 5;      // 2.5rem  / 40px
$spacer-6x: 6;      // 3rem    / 48px
$spacer-7x: 7;      // 3.5rem  / 56px
$spacer-8x: 8;      // 4rem    / 64px
$spacer-9x: 9;      // 4.5rem  / 72px
$spacer-12x: 5rem;  // 5rem    / 96px - not defined in USWDS tokens

// Typography
// Custom type variables -- note that these are not USWDS-native variables
$theme-heading-font-size-xl: 2.8125rem; // 45px - h1 display
$theme-heading-font-size-lg: 2rem; // 32px - h2 display
$theme-heading-font-size-md: 1.375rem; // 22px - h3 display
$theme-heading-font-size-sm: 1rem; // 16px - h4 display
$theme-heading-font-size-lg-mobile: 1.5rem; // 24px - mobile headers
$theme-heading-font-size-md-mobile: 1.25rem; // 20px - mobile headers
$theme-text-font-size-lg: 1.125rem; // 18px - lead body copy
$theme-text-font-size-md: 1rem; //16px - regular body copy
$theme-text-font-size-sm: 0.875rem; // 14px - small body copy
$theme-text-font-size-xs: 0.75rem; // 12px - accent text
$theme-body-copy-line-height: 1.625;
// Custom type mixins
@mixin text--body-copy__xsmall {
  font-size: $theme-text-font-size-xs;
  line-height: 1.3;
}
@mixin text--body-copy__small {
  font-size: $theme-text-font-size-sm;
  line-height: 1.5;
}
@mixin text--body-copy__medium {
  font-size: $theme-text-font-size-md;
  line-height: 1.625;
}
@mixin text--body-copy__large {
  font-size: $theme-text-font-size-lg;
  line-height: 1.5;
}
@mixin text--heading__small {
  font-size: $theme-heading-font-size-sm;
  line-height: 1.5;
}
@mixin text--heading__medium {
  font-size: $theme-heading-font-size-md;
  line-height: 1.5;
  @include at-media-max(mobile-lg) {
    font-size: $theme-heading-font-size-md-mobile;
    line-height: 1.3;
  }
}
@mixin text--heading__large {
  font-size: $theme-heading-font-size-lg;
  line-height: 1.3;
  @include at-media-max(mobile-lg) {
    font-size: $theme-heading-font-size-lg-mobile;
  }
}
@mixin text--heading__xlarge {
  font-size: $theme-heading-font-size-xl;
  line-height: 1.3;
  @include at-media-max(mobile-lg) {
    font-size: $theme-heading-font-size-lg;
  }
}