// Colors

$yellow: #FEE685;
$gold: #FFBE2E;
$light-beige: #F6F6F2;
$blue-warm-vivid-70: #1A4480;
$blue-50: #2378C3;
$blue-vivid-40: #2491FF;
$blue-warm-5: #ECF1F7;
$blue-warm-10: #E1E7F1;
$gray-warm-80: #2E2E2A;
$gray-warm-10: #E6E6E2;
$gray-90: #171717;
$gray-70: #454545;
$gray-cool-4: #F1F3F6;
$red-vivid-60: #B51D09;
$white: #FFFFFF;

// Typography

$bold: 700;

// Breakpoints

$tablet: 640px;