{% load i18n %}

<div id="attachment-uploading--modal" hidden>
  <div class="modal-wrapper" role="dialog" aria-modal="true" aria-describedby="attachment_modal_dialog_header">
    <div class="modal-content modal-content--small">
      <div class="modal-header">
        <h1 id="attachment_modal_dialog_header" class="h3__display" tabindex="0">
          Uploading attachment...
        </h1>
      </div>
      <div class="modal-form">
        <p>
          Your attachment is uploading...
        </p>
      </div>
    </div>
  </div>
</div>
