

<div id="attachment-removal-confirmation--modal" hidden>
  <div class="modal-wrapper" role="dialog" aria-modal="true" aria-describedby="modal_dialog_header">
    <div class="modal-content modal-content--small">
      <div class="modal-header">
        <h1 id="modal_dialog_header" class="h2__display margin-0">
          Remove attachment
        </h1>
      </div>
      <div class="modal-form">
        <p>
          Are you sure you want to remove the following attachment?
          <h3 id="attachment-removal--filename">
          </h3>
        </p>
        <div class="modal-footer">
          <ul class="usa-button-group">
            <li class="usa-button-group__item">
              <a id="attachment-removal--no" href="#" class="usa-button usa-button--outline">No</a>
            </li>
            <li class="usa-button-group__item">
              <a id="attachment-removal--yes" href="#" class="usa-button button--continue">Yes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
