<div class="grid-container">
  <div class="grid-row grid-gap">

    <div class="grid-col-6">
      <div class="usa-footer__header">
        Contact
      </div>

      <div class="grid-row grid-gap">
        <div class="grid-col-12 usa-footer__links">
          <span>U.S. Department of Justice</span>
          <span>Civil Rights Division</span>
          <span>950 Pennsylvania Avenue, NW</span>
          <span>Office of the Assistant Attorney General</span>
          <span>Washington, D.C. 20530-0001</span>
        </div>

        <div class="grid-col-12 usa-footer__links">
          <a href="tel:202-514-4609">(202) 514-4609</a>
          <span>Telephone Device for the Deaf</span>
          <a href="tel:202-514-4609">(202) 514-4609</a>
        </div>
      </div>
    </div>

    <div class="grid-col-6">
      <div class="usa-footer__header">
        Links
      </div>

      <div class="grid-row grid-gap">
        <div class="grid-col-6 usa-footer__links">
          <a href="https://www.justice.gov/crt/about">About the division</a>
          <a href="#">Your Rights</a>
          <a href="https://civilrights.justice.gov">Report a violation</a>
          <a href="#">Already submitted?</a>
          <a href="#">En Español</a>
          <!-- <div class="usa-footer__logo-heading">
               {% include 'partials/i8n.html' %}
               </div> -->
        </div>

        <div class="grid-col-6 usa-footer__links">
          <a href="#">Privacy policy</a>
          <a href="https://www.justice.gov/oip">FOIA</a>
          <a href="https://www.justice.gov/accessibility/accessibility-information">Accessibility</a>
          <a href="https://www.justice.gov/">Justice.gov</a>
          <a href="https://oig.justice.gov/">Office of the Inspector General</a>
        </div>
      </div>

    </div>
  </div>
</div>
