{% load i18n %}

<div class="grid-container">
  <div class="grid-row">

    <div class="grid-col-6">
      <div class="usa-footer__heading usa-footer__logo-heading">
        Contact
      </div>

      <div class="grid-row grid-gap">
        <div class="grid-col-1 usa-footer__icon">
          <img src="/static/img/intake-icons/ic_inbox.svg" alt="" class="icon">
        </div>
        <div class="grid-col-11 usa-footer__links">
          <p>U.S. Department of Justice</p>
          <p>Civil Rights Division</p>
          <p>950 Pennsylvania Avenue, NW</p>
          <p>Office of the Assistant Attorney General</p>
          <p>Washington, D.C. 20530-0001</p>
        </div>

        <div class="grid-col-1 usa-footer__icon">
          <img src="/static/img/intake-icons/ic_contact.svg" alt="" class="icon">
        </div>
        <div class="grid-col-11 usa-footer__links">
          <a href="tel:202-514-4609">(202) 514-4609</a>
          <p>Telephone Device for the Deaf</p>
          <p>(TTY) <a href="tel:202-514-0716">(202) 514-0716</a></p>
        </div>
      </div>
    </div>

    <div class="grid-col-6">
      <div class="usa-footer__heading usa-footer__logo-heading">
        Links
      </div>

      <div class="grid-row grid-gap">
        <div class="grid-col-6 usa-footer__links">
          <a href="https://www.justice.gov/crt/about">
            {% trans "About the division" %}
          </a>
          <a href="#">
            {% trans "Your Rights" %}
          </a>
          <a href="https://civilrights.justice.gov">
            {% trans "Report a violation" %}
          </a>
          <a href="#">
            {% trans "Already submitted?" %}
          </a>
          <a href="#">
            {% trans "Privacy policy" %}
          </a>
          <a href="https://www.justice.gov/">
            Justice.gov
          </a>
          {% include 'partials/i8n.html' %}
        </div>

        <div class="grid-col-6 usa-footer__links">
          <a href="https://www.justice.gov/oip">
            {% trans "FOIA" %}
          </a>
          <a href="https://www.justice.gov/accessibility/accessibility-information">
            {% trans "Accessibility" %}
          </a>
          <a href="https://oig.justice.gov/">
            {% trans "Office of the Inspector General" %}
          </a>
          <a href="https://www.justice.gov/doj/budget-and-performance">
            {% trans "Budget and performance" %}
          </a>
          <a href="https://www.usa.gov/">
            USA.gov
          </a>
          <a href="https://www.usa.gov/espanol/">
            USAGov en Español
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
