{% load i18n %}

<div class="grid-container">
  <div class="grid-row">

    <div class="tablet:grid-col-5 grid-col-12">
      <div id="contact-footer" class="usa-footer__heading usa-footer__logo-heading">
        {% trans 'Contact' %}
        <div class="usa-footer__separator"></div>
      </div>

      <div id="contact-crt" class="usa-footer__contact">
        <div class="usa-footer__section">
          <div class="usa-footer__icon">
            <img src="{% static "img/mail.svg" %}" alt="mail" class="icon">
          </div>
          <div id="address-footer" class="usa-footer__links">
            <p>{% trans 'Send Printed Report Form (<a target="_blank" href="https://www.ada.gov/assets/pdfs/file-a-complaint.pdf">Regular Format</a> | <a target="_blank" href="https://www.ada.gov/assets/pdfs/file-a-complaint-lg.pdf">Large Format</a>) To:' %}</p>
            <p>U.S. Department of Justice</p>
            <p>Civil Rights Division</p>
            <p>950 Pennsylvania Avenue, NW</p>
            <p>Washington, D.C. 20530-0001</p>
          </div>
        </div>

        <div class="usa-footer__section">
          <div class="usa-footer__icon">
            <img src="{% static "img/phone.svg" %}" alt="phone" class="icon">
          </div>
          <div id="phone-footer" class="usa-footer__links">
            <p><a href="tel:202-514-3847">(202) 514-3847</a></p>
            <p><a href="tel:1-855-856-1247">1-855-856-1247</a> {% trans '(toll-free)' %}</p>
            <p>{% trans 'Telephone Device for the Deaf' %}</p>
            <p>{% trans '(TTY)' %} <a href="tel:202-514-0716">(202) 514-0716</a></p>
          </div>
        </div>

        <div class="usa-footer__section">
          <div class="usa-footer__icon usa-footer__icon__language">
            <img src="{% static "img/globe-language.svg" %}" alt="language" class="icon">
          </div>
          <div class="usa-footer__links usa-footer__language">
            {% include 'partials/i8n.html' %}
            <p class="usa-footer__language_assistance">
              <img src="{% static "img/ic_help-circle.svg" %}" alt="help" class="icon">
              <a href="https://www.justice.gov/crt/availability-language-assistance-services">
                {% trans 'Availability of Language Assistance Services' %}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="tablet:grid-col-1"></div>

    <div class="tablet:grid-col-6 grid-col-12">
      <div class="usa-footer__heading usa-footer__logo-heading">
        {% trans 'Links' %}
        <div class="usa-footer__separator"></div>
      </div>

      <nav class="usa-footer__nav" aria-label="Footer navigation,,">
        <div class="grid-row grid-gap">
          <div class="tablet:grid-col-6 grid-col-12 usa-footer__links">
            <a href="https://www.justice.gov/crt/about">
              {% trans "About the division" %}
            </a>
            <a href="https://civilrights.justice.gov">
              {% trans "Report a violation" %}
            </a>
            <a href="{% url 'privacy_policy' %}">
              {% trans "Privacy policy" %}
            </a>
            <a href="https://www.justice.gov/crt/freedom-information-act-0">
              {% trans "FOIA" %}
            </a>
            <a href="https://bidenwhitehouse.archives.gov/omb/management/ofcio/m-24-08-strengthening-digital-accessibility-and-the-management-of-section-508-of-the-rehabilitation-act/">
              {% trans "Accessibility" %}
            </a>
            <a href="https://www.justice.gov">
              justice.gov
            </a>
            {% if show_omb %}
            <a class="open-omb-modal" href="javascript:void()">OMB #1190-0020 (Expires 08/31/2026)</a>
            {% endif %}
          </div>

          <div class="tablet:grid-col-6 grid-col-12 usa-footer__links">
            <a href="https://www.justice.gov/crt">
              Justice.gov/CRT
            </a>
            <a href="https://oig.justice.gov/">
              {% trans "Office of Inspector General" %}
            </a>
            <a href="https://www.justice.gov/doj/budget-and-performance">
              {% trans "Budget and performance" %}
            </a>
            <a href="https://www.justice.gov/legalpolicies">
              {% trans "Legal policies and Disclaimers" %}
            </a>
            <a href="https://www.usa.gov/">
              USA.gov
            </a>
            <a href="https://www.usa.gov/espanol/">
              USAGov en Español
            </a>
          </div>
        </div>
      </nav>

    </div>
  </div>
</div>
