{% load i18n %}

<div class="grid-container">
  <div class="grid-row">

    <div class="grid-col-12">
      <div class="usa-footer__heading usa-footer__logo-heading">
        Privacy Policy
        <div class="usa-footer__separator"></div>
      </div>

      <div class="grid-row grid-gap">
        <div class="grid-col-9 usa-footer__links" style="font-size: 14px">
          <p style="margin-bottom: 1em">
            The purpose of this form is to allow the public to submit civil rights complaints to the Department of Justice, thereby allowing us to enforce over thirty <a style="color: white; text-transform: none" href="{% url 'privacy_policy' %}#our-statutes">civil rights statutes</a> within our authority. These statutes authorize us to collect this information.  You should know that any information you provide through this form is voluntary, yet failure to provide some of the information might limit the Department’s ability to pursue your claim. We may use this information for certain routine uses, including sharing this information under certain circumstances with:
            <ul>
              <li>contractors who work with us, if they need it to perform a contract;</li>
              <li>a court, magistrate, or administrative tribunal, as well as opposing counsel during settlement negotiations and/or litigation;</li>
              <li>Members of Congress;</li>
              <li>Federal, state, or local law enforcement agencies.</li>
            </ul>
          </p>

          <p style="margin-bottom: 2em">You can find our complete <a style="color: white; text-transform: none" href="{% url 'privacy_policy' %}">Privacy Policy here</a>.</p>
        </div>
      </div>

    </div>
  </div>
</div>
