<div id="routing-guide" hidden>
  <div class="modal-wrapper routing-guide--modal">
    <div class="modal-content modal-content--guide">
      <div class="modal-header">
        <h1>Field guide for report routing <small>(version - June 27, 2020)</small></h1>
      </div>
      <div tabindex="0" class="modal-guide">
        <p>
          <strong>This guide is intended to help new intake specialists.</strong><br> This is an internal guide designed
          to
          help new intake specialists know when to redirect violations reports to other sections.
        </p>
        <p>
          <strong>Why is it important to reroute reports correctly & quickly?</strong><br> Because we want to give the
          section
          best-positioned to analyze any given report the chance to do so as soon as possible.
        </p>
        <div class="modal-table">
          <table class="usa-table width-full routing-guide">
            <caption>Step 1</caption>
            <thead>
              <th>Does your section handle this kind of report?</th>
            </thead>
            <tbody>
              <tr>
                <td>YES - handle according to your section’s protocol</td>
              </tr>
              <tr>
                <td>NO - continue to next step</td>
              </tr>
            </tbody>
          </table>

          <table class="usa-table width-full routing-guide">
            <caption>Step 2</caption>
            <thead>
              <tr>
                <th colspan="2">Do any of the following apply?</th>
              </tr>
              <tr>
                <th>Report Involves...</th>
                <th>Route to...</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Hate Crime (involves physical harm or threat)</td>
                <td>CRM</td>
              </tr>
              <tr>
                <td>Human Trafficking</td>
                <td>CRM</td>
              </tr>
              <tr>
                <td>Police Misconduct</td>
                <td>SPL</td>
              </tr>
              <tr>
                <td>Jail/Prison/Juvenile Mistreatment</td>
                <td>SPL</td>
              </tr>
              <tr>
                <td>Accessing a Reproductive Health Clinic</td>
                <td>SPL</td>
              </tr>
              <tr>
                <td>State Courts</td>
                <td>FCS</td>
              </tr>
              <tr>
                <td>Living in an Institutional Setting<br>
                  <span class="text-italic">Inc: mental health & long-term care facilities/nursing homes</span>
                </td>
                <td>DRS (Disability-related)</td>
              </tr>
              <tr>
                <td>Housing</td>
                <td>HCE</td>
              </tr>
              <tr>
                <td>Land Use/Zoning<br>
                  <span class="text-italic">Inc: churches/places of worship</span>
                </td>
                <td>HCE</td>
              </tr>
              <tr>
                <td>Lending<br>
                  <span class="text-italic">Any lender (bank, credit card, car dealership, etc.), any type of loan
                    (mortgages, auto, etc.)</span>
                </td>
                <td>HCE</td>
              </tr>
              <tr>
                <td>Public Accommodations<br>
                  <span class="text-italic">Inc: restaurants, bars, hotels</span>
                </td>
                <td>HCE <span class="text-italic">except:</span><br>
                  Disability-related = DRS
                </td>
              </tr>
              <tr>
                <td>Servicemember/Military Protections & Benefits</td>
                <td>HCE <span class="text-italic">except:</span><br>
                  Job-related = ELS<br>
                  Voting-related = VOT
                </td>
              </tr>
              <tr>
                <td>Voting/Registering to Vote/Elections</td>
                <td>VOT <span class="text-italic">except:</span><br>
                  Accessibility of <span class="text-underline">polling location</span> = DRS
                </td>
              </tr>
              <tr>
                <td>School/Educational Program</td>
                <td>EOS</td>
              </tr>
              <tr>
                <td>Employment</td>
                <td>ELS <span class="text-italic">except:</span><br>
                  Citizenship, visa, work document-related = IER<br>
                  Disability = DRS
                </td>
              </tr>
              <tr>
                <td>Not sure - more than one seem to apply</td>
                <td><span class="text-italic">Ask your supervisor</span></td>
              </tr>
              <tr>
                <td>None of the above apply to me</td>
                <td><span class="text-italic">Continue to next step</span></td>
              </tr>
            </tbody>
          </table>

          <table class="usa-table width-full routing-guide">
            <caption>Step 3</caption>
            <thead class="text-center">
              <tr>
                <th colspan="2">Does any of the following apply?</th>
              </tr>
              <tr>
                <th>Report involves...</th>
                <th>Route to...</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Any other disability-related issue</td>
                <td>DRS</td>
              </tr>
              <tr>
                <td>Discrimination by an entity that is receiving federal funding. Common examples include <span
                    class="text-underline">state & local</span>:
                  <ul>
                    <li>Police depts, prisons and jails</li>
                    <li>Dept of Child & Family Services (aka Child Protective Services)</li>
                    <li>Entities/nonprofits that provide food assistance (e.g. SNAP, TANF), housing assistance, job
                      training, health services, legal services, shelters, or emergency services</li>
                    <li>Depts of Transportation</li>
                    <li>Depts of Labor</li>
                    <li>Depts. of Health & Human Services</li>
                    <li>Housing authorities</li>
                    <li>Emergency Management Depts</li>
                  </ul>
                </td>
                <td>FCS</td>
              </tr>
              <tr>
                <td>None of the above apply</td>
                <td>Use your section's approach for non-actionable reports</td>
              </tr>
            </tbody>
          </table>

          <h2>Questions?</h2>
          <p>If you have a question about whether you should route a report to a particular section, start by talking to
            your supervisor</p>
          <p>If you still have questions, call or message the current point of contact for a given section.</p>
          <p>
            <strong>
              Final Note - This guide is designed to be practical, not precise.
            </strong>
            The federal civil rights laws we enforce are varied and complex. When we list a section for routing, it does
            not mean that the section will
            necessarily have enforcement authority for that report. It also does not mean this section is the only one
            who
            might have enforcement authority. Being listed here only means this section is likely best positioned to
            know the right next step for this kind of report.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <a id="routing_guide_close" href="#">Close</a>
      </div>
    </div>
  </div>
</div>
