<form
  id="filters-form"
  method="GET"
  action="/form/dashboard/activity"
  novalidate
>
  <div class="usa-form">
    <div class="display-flex flex-wrap flex-align-center flex-justify">
      <div class="intake-filters activity-filters">
        {% include 'forms/complaint_view/dashboard/filters/assignee.html' %}
        {% include 'forms/complaint_view/index/filters/date.html' %}
        {% include 'forms/complaint_view/dashboard/filters/action.html' %}
        {% include 'forms/complaint_view/index/filters/public_id_filter.html' %}
      </div>
      <div class="text-right display-flex margin-bottom-4">
        <button class="usa-button" type="submit" id="apply-filters-button">
          Apply filters
        </button>
        <button class="usa-button usa-button--unstyled" data-clear-filters>
          Clear all filters
        </button>
      </div>
    </div>
    <div style="display:none" class="usa-alert usa-alert--error usa-alert--slim margin-bottom-2" id="filter-notification">
      <div class="usa-alert__body">
        <em class="usa-alert__text"></em>
      </div>
    </div>
  </div>
</form>
