<div class="title">
    <ul class="usa-nav__primary usa-accordion">
      <li class="usa-nav__primary-item">
        <a class="text-semibold text-base-dark crt-landing--menu_link reporting-header {% if page == 'team-management' %} selected {% endif %}" href="/form/dashboard">
          Reports touched
        </a>
      </li>
      <li class="usa-nav__primary-item">
        <a class="text-semibold text-base-dark crt-landing--menu_link reporting-header {% if page == 'activity-log' %} selected {% endif %}" href="/form/dashboard/activity">
          Activity log
        </a>
      </li>
    </ul>
  </div>