# This file ensures consistent line-ending behavior for all users, regardless of their Git settings.

# Git will always convert line endings to `LF` on checkout. You should use this for files that must keep LF endings, even on Windows.
# ignore all ttf, woff, woff2, svg and png for line ending conversion
* text eol=lf
*.ttf binary
*.woff binary
*.woff2 binary
*.svg binary
*.png binary
*.jpg binary
*.mp3 binary
*.jpg binary
*.jpeg binary
*.pdf binary
