version: "3.7"

services:
  db:
    build:
      dockerfile: db/db.Dockerfile
      args:
        - analytics_password=${POSTGRES_ANALYTICS_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - 5432:5432
  jupyter:
    platform: linux/amd64
    container_name: "jupyter_main"
    environment:
        # Format needed for Python connections:
      - DATABASE_URL=postgresql://analytics:${POSTGRES_ANALYTICS_PASSWORD}@db:5432/postgres
        # Format needed for R connections:
      - DATABASE_HOSTNAME=db
      - DATABASE_PORT=5432
      - DATABASE_USER=analytics
      - DATABASE_PASSWORD=${POSTGRES_ANALYTICS_PASSWORD}
      - OAUTH_PROVIDER_CLIENT_ID=${OAUTH_PROVIDER_CLIENT_ID}
      - OAUTH_PROVIDER_CLIENT_SECRET=${OAUTH_PROVIDER_CLIENT_SECRET}
      - WEB_EXTERNAL_HOSTNAME=${WEB_EXTERNAL_HOSTNAME}
      - WEB_INTERNAL_HOSTNAME=${WEB_INTERNAL_HOSTNAME}
    build:
      dockerfile: jupyterhub.Dockerfile
    command: jupyterhub --config '/srv/jupyterhub/jupyterhub_config.py'
    ports:
      - 8001:8000  # Don't conflict with the web app on 8000
    depends_on:
      - db
    volumes:
      - ./jupyterhub:/srv/jupyterhub
  web:
    platform: linux/amd64
    environment:
      - ENV=LOCAL
      - SECRET_KEY=${SECRET_KEY}
      - VOTING_MODE=${VOTING_MODE}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - TMS_AUTH_TOKEN=${TMS_AUTH_TOKEN}
      - TMS_WEBHOOK_ALLOWED_CIDR_NETS=${TMS_WEBHOOK_ALLOWED_CIDR_NETS}
      - RESTRICT_EMAIL_RECIPIENTS_TO=${RESTRICT_EMAIL_RECIPIENTS_TO}
      - FORM_AUTOCOMPLETE_OFF=False
      - USE_LOCALSTACK=True
      - LOCALSTACK_URL=http://localstack:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AV_SCAN_URL=http://clamav-rest:9000/scan
    build: .
    command: /code/run.sh
    volumes:
      - .:/code
    ports:
      - 8000:8000
    depends_on:
      - db
      - localstack
  localstack:
    container_name: "localstack_main"
    image: localstack/localstack-full:0.14.2
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      ## - DEBUG=1
      ## this will be deprecated in future community version of local-stack
#      - LEGACY_PERSISTENCE=1
      - DATA_DIR=/tmp/localstack/data
    volumes:
      - "localstack-vol:/tmp/localstack"
  mailhog:
     image: mailhog/mailhog
     ports:
       - 1025:1025 # smtp server
       - 8025:8025 # web ui
     # command: -invite-jim=1 -jim-accept=0.50  # uncomment to enable and configure Jim (Chaos Monkey)
  clamav-rest:
    image: ajilaag/clamav-rest:20220511   # ## 20201028
    environment:
      - MAX_FILE_SIZE=100M
      - SIGNATURE_CHECKS=1
    ports:
      - "9000:9000"
volumes:
  postgres_data:
  localstack-vol:
