version: "3.7"

services:
  db:
    hostname: db
    build:
      dockerfile: db/db.Dockerfile
      args:
        - analytics_password=${POSTGRES_ANALYTICS_PASSWORD}
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  jupyter:
    hostname: jupyter
    platform: linux/amd64
    environment:
        # Format needed for Python connections:
      - DATABASE_URL=postgresql://analytics:${POSTGRES_ANALYTICS_PASSWORD}@db:${DATABASE_PORT:-5432}/postgres
        # Format needed for R connections:
      - DATABASE_HOSTNAME=db
      - DATABASE_PORT=${DATABASE_PORT:-5432}
      - DATABASE_USER=analytics
      - DATABASE_PASSWORD=${POSTGRES_ANALYTICS_PASSWORD}
      - OAUTH_PROVIDER_CLIENT_ID=${OAUTH_PROVIDER_CLIENT_ID}
      - OAUTH_PROVIDER_CLIENT_SECRET=${OAUTH_PROVIDER_CLIENT_SECRET}
      - WEB_EXTERNAL_HOSTNAME=${WEB_EXTERNAL_HOSTNAME}
      - WEB_INTERNAL_HOSTNAME=${WEB_INTERNAL_HOSTNAME}
    build:
      dockerfile: jupyterhub.Dockerfile
    command: jupyterhub --config '/srv/jupyterhub/jupyterhub_config.py'
    depends_on:
      - db
      - web

  web:
    hostname: web
    platform: linux/amd64
    environment:
      - ENV=LOCAL
      - SECRET_KEY=${SECRET_KEY}
      - VOTING_MODE=${VOTING_MODE}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - TMS_AUTH_TOKEN=${TMS_AUTH_TOKEN}
      - TMS_WEBHOOK_ALLOWED_CIDR_NETS=${TMS_WEBHOOK_ALLOWED_CIDR_NETS}
      - RESTRICT_EMAIL_RECIPIENTS_TO=${RESTRICT_EMAIL_RECIPIENTS_TO}
      - FORM_AUTOCOMPLETE_OFF=False
      - USE_LOCALSTACK=${USE_LOCALSTACK:-True}
      - LOCALSTACK_URL=http://localstack:${LOCALSTACK_PORT-4566}
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AV_SCAN_URL=http://clamav-rest:${CLAMAV_REST_PORT:-9000}/scan
    build: .
    command: /code/run.sh
    depends_on:
      - db
      - localstack

  localstack:
    hostname: localstack
    image: localstack/localstack-full:0.14.2
    environment:
      - SERVICES=s3
      ## - DEBUG=1
      ## this will be deprecated in future community version of local-stack
#      - LEGACY_PERSISTENCE=1
      - DATA_DIR=/tmp/localstack/data

  mailhog:
    hostname: mailhog
    image: mailhog/mailhog
    # command: -invite-jim=1 -jim-accept=0.50  # uncomment to enable and configure Jim (Chaos Monkey)

  clamav-rest:
    hostname: clamav-rest
    image: ajilaag/clamav-rest:20230321 # ##20220511
    environment:
      - MAX_FILE_SIZE=100M
      - SIGNATURE_CHECKS=1

  standalone:
    platform: linux/amd64
    privileged: true  # This is required for docker-in-docker to run.
    build:
      dockerfile: standalone.Dockerfile
    command: docker-compose up
    environment:
      - COMPOSE_PROFILES=${STANDALONE_PROFILES:-tests,not-tests}
      - COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME:-crt-portal-standalone}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  postgres_data:
  localstack-vol:
