version: "3.7"

services:
  db:
    hostname: db
    build:
      dockerfile: db/db.Dockerfile
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  jupyter:
    hostname: jupyter
    platform: linux/amd64
    environment:
        # Format needed for Python connections:
      - DATABASE_URL=postgresql://${POSTGRES_ANALYTICS_USER}:${POSTGRES_ANALYTICS_PASSWORD}@db:5432/postgres
        # Format needed for R connections:
      - DATABASE_HOSTNAME=db
      - DATABASE_PORT=${DATABASE_PORT:-5432}
      - DATABASE_USER=${POSTGRES_ANALYTICS_USER}
      - DATABASE_PASSWORD=${POSTGRES_ANALYTICS_PASSWORD}
      - OAUTH_PROVIDER_CLIENT_ID=${OAUTH_PROVIDER_CLIENT_ID}
      - OAUTH_PROVIDER_CLIENT_SECRET=${OAUTH_PROVIDER_CLIENT_SECRET}
      - WEB_EXTERNAL_HOSTNAME=${WEB_EXTERNAL_HOSTNAME}
      - WEB_INTERNAL_HOSTNAME=${WEB_INTERNAL_HOSTNAME}
    build:
      dockerfile: jupyterhub.Dockerfile
    command: jupyterhub --config '/srv/jupyterhub/jupyterhub_config.py'
    depends_on:
      - db
      - web

  web:
    hostname: web
    platform: linux/amd64
    environment:
      - ENV=LOCAL
      - SECRET_KEY=${SECRET_KEY}
      - VOTING_MODE=${VOTING_MODE}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_ANALYTICS_PASSWORD=${POSTGRES_ANALYTICS_PASSWORD}
      - POSTGRES_ANALYTICS_USER=${POSTGRES_ANALYTICS_USER}
      - TMS_AUTH_TOKEN=${TMS_AUTH_TOKEN}
      - TMS_WEBHOOK_ALLOWED_CIDR_NETS=${TMS_WEBHOOK_ALLOWED_CIDR_NETS}
      - RESTRICT_EMAIL_RECIPIENTS_TO=${RESTRICT_EMAIL_RECIPIENTS_TO}
      - FORM_AUTOCOMPLETE_OFF=False
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AV_SCAN_URL=http://clamav-rest:${CLAMAV_REST_PORT:-9000}/scan
      - CHALLENGE_SITE_KEY=${CHALLENGE_SITE_KEY}
      - CHALLENGE_SECRET_KEY=${CHALLENGE_SECRET_KEY}
      - CHALLENGE_DEFEAT_KEY=${CHALLENGE_DEFEAT_KEY}
    build: .
    command: /code/run.sh
    depends_on:
      - db

  mailhog:
    hostname: mailhog
    image: mailhog/mailhog
    # command: -invite-jim=1 -jim-accept=0.50  # uncomment to enable and configure Jim (Chaos Monkey)

  clamav-rest:
    hostname: clamav-rest
    image: ajilaag/clamav-rest:latest # ##20220511
    environment:
      - MAX_FILE_SIZE=100M
      - SIGNATURE_CHECKS=1

volumes:
  postgres_data:
