version: "3.7"

services:
  db:
    image: postgres:11.14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - 5432:5432
  web:
    platform: linux/amd64
    environment:
      - ENV=LOCAL
      - SECRET_KEY=${SECRET_KEY}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - TMS_AUTH_TOKEN=${TMS_AUTH_TOKEN}
      - TMS_WEBHOOK_ALLOWED_CIDR_NETS=${TMS_WEBHOOK_ALLOWED_CIDR_NETS}
      - RESTRICT_EMAIL_RECIPIENTS_TO=${RESTRICT_EMAIL_RECIPIENTS_TO}
      - FORM_AUTOCOMPLETE_OFF=False
      - USE_LOCALSTACK=True
      - LOCALSTACK_URL=http://localstack:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AV_SCAN_URL=http://clamav-rest:9000/scan
    build: .
    command: /code/run.sh
    volumes:
      - .:/code
    ports:
      - 8000:8000
    depends_on:
      - db
      - localstack
  localstack:
    container_name: "localstack_main"
    image: localstack/localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      # - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
    volumes:
      - "localstack-vol:/tmp/localstack"
  mailhog:
     image: mailhog/mailhog
     ports:
       - 1025:1025 # smtp server
       - 8025:8025 # web ui
     # command: -invite-jim=1 -jim-accept=0.50  # uncomment to enable and configure Jim (Chaos Monkey)
  clamav-rest:
    image: ajilaag/clamav-rest:20201028
    environment:
      - MAX_FILE_SIZE=100M
      - SIGNATURE_CHECKS=1
    ports:
      - "9000:9000"
volumes:
  postgres_data:
  localstack-vol: