[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.2"
gunicorn = "*"
psycopg2 = "*"
django-compressor = "*"
django-compressor-toolkit = "*"
boto3 = "*"
django-storages = "*"

[requires]
python_version = "3.7"
