[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "*"
PyYAML = "==5.3.1" # To satisfy aws cli
rsa = "==4.7" # To satisfy aws cli
botocore = "==1.27.91" # To satisfy aws cli
bandit = "*"
flake8 = "*"
testfixtures = "*"
coverage = "*"
locust = "*"
faker = "*"
playwright = "==1.49.1"
pytest-playwright = "*"
pytest-base-url = "*"
python-dotenv = "*"
django-debug-toolbar = "*"
django-types = "*"
djangorestframework-types = "*"
factory-boy = "*"
tblib = "*"
pyshp = "*"

[packages]
django = "==4.2.22"
gunicorn = "*"
django-compressor = "*"
django-compressor-toolkit = "*"
django-storages = "*"
psycopg2-binary = "*"
rcssmin = "*"
django-formtools = "*"
django-crequest = "*"
django-oauth-toolkit = "*"
django-cors-headers = "*"
django-csp = "*"
pip = "*"
django-activity-stream = "*"
newrelic = "*"
babel = "*"
python-json-logger = "*"
requests = "*"
email-validator = "*"
netaddr = "*"
boto3 = "*"
python-frontmatter = "*"
djangorestframework = "*"
markdown = "*"
nbconvert = "*"  # For running Jupyter ipynb files.
nbformat = "*"  # For running Jupyter ipynb files.
pypdf = "*"
weasyprint = "*"
beautifulsoup4 = "*"
pytz = "*"
mozilla-django-oidc = "*"

[requires]
python_version = "3.13.3"

[pipenv]
allow_prereleases = true
