[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "*"

[packages]
django = "==2.2.4"
gunicorn = "*"
django-compressor = "*"
django-compressor-toolkit = "*"
boto3 = "*"
django-storages = "*"
psycopg2-binary = "*"
rcssmin = "*"
django-formtools = "*"
bandit = "*"
flake8 = "*"
django-phone-field = "*"

[requires]
python_version = "3.7"
