{% load static %}
<div class="usa-banner__guidance tablet:grid-col-6">
  <img class="usa-banner__icon usa-media-block__img" src="{% static "img/icon-dot-gov.svg" %}" alt="Dot gov">
  <div class="usa-media-block__body">
    <p>
      <strong>The .gov means it’s official.</strong>
      <br> Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
    </p>
  </div>
</div>
<div class="usa-banner__guidance tablet:grid-col-6">
  <img class="usa-banner__icon usa-media-block__img" src="{% static "img/icon-https.svg" %}" alt="Https">
  <div class="usa-media-block__body">
    <p>
      <strong>The site is secure.</strong>
      <br> The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
    </p>
  </div>
</div>