{% load static %}
{% load i18n %}
<div class="usa-banner__guidance tablet:grid-col-6">
  <img class="usa-banner__icon usa-media-block__img" src="{% static "img/icon-dot-gov.svg" %}" role="img" alt="Dot gov">
  <div class="usa-media-block__body">
    <p>
      <strong>{% trans "The .gov means it’s official." %}</strong>
      <br>{% trans "Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site." %}
    </p>
  </div>
</div>
<div class="usa-banner__guidance tablet:grid-col-6">
  <img class="usa-banner__icon usa-media-block__img" src="{% static "img/icon-https.svg" %}" role="img" alt="Https">
  <div class="usa-media-block__body">
    <p>
      <strong>{% trans "The site is secure." %}</strong>
      <br>{% trans "The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely." %}
    </p>
  </div>
</div>
