<div class="crt-filter assignee">
  <div class="grid-col-6">
    <span class="text-bold label margin-right-1">Date</span>
  </div>
  <div class="grid-col-6">
    <label for="id_date">
      <span class="usa-sr-only">Date</span>
    </label>
    <div
      class="usa-combo-box crt-combo-box-filter"
      data-placeholder="Date"
      data-default-value=""
      data-enhanced="true"
    >
      <select
        name="date"
        class="usa-input usa-select usa-sr-only usa-combo-box__select"
        id=""
        aria-hidden="true"
        tabindex="-1"
      >
        <option value=""></option>
        <option value="thirty-days">Last 30 Days</option>
        <option value="ninty-days">Last 90 Days</option>
        <option value="last-year">Last Year</option>
        <option value="this-year">This Year</option>
        <option value="custom-dates">Custom Dates</option>

      </select>
      <input
        aria-owns="id_date--list"
        aria-autocomplete="list"
        aria-describedby="id_date--assistiveHint"
        aria-expanded="false"
        autocapitalize="off"
        autocomplete="off"
        id="id_date"
        class="usa-combo-box__input"
        type="text"
        role="combobox"
        placeholder="Date"
      /><span class="usa-combo-box__clear-input__wrapper" tabindex="-1">
        <button
          type="button"
          class="usa-combo-box__clear-input"
          aria-label="Clear the select contents"
        >
          &nbsp;
        </button> </span
      ><span class="usa-combo-box__toggle-list__wrapper" tabindex="-1">
        <button
          type="button"
          tabindex="-1"
          class="usa-combo-box__toggle-list"
          aria-label="Toggle the dropdown list"
        >
          &nbsp;
        </button>
      </span>
      <ul
        tabindex="-1"
        id="id_date--list"
        class="usa-combo-box__list"
        role="listbox"
        aria-labelledby="id_date-label"
        hidden=""
      ></ul>
      <div class="usa-combo-box__status usa-sr-only" role="status"></div>
    </div>
  </div>
</div>
