{% load sortable_table_heading %}

<form class="usa-form"
      method="get"
      action="{% url 'crt_forms:disposition-actions' %}"
      novalidate
>
  <input type="hidden" value="{{ return_url_args }}" name="next" id="next" />
  <div class="crt-xscroll">
    <table class="usa-table crt-table sort-table">
      <thead>
        <tr>
          {% if can_approve_disposition %}
          <th class="checkbox-input-all">
          </th>
          {% endif %}
          {% render_sortable_heading 'Status' sort_state filter_state grouping group_params index %}
          {% render_sortable_heading 'Create Date' sort_state filter_state grouping group_params index %}
          <th>
            UUID
          </th>
          {% render_sortable_heading 'Retention Schedule' sort_state filter_state grouping group_params index %}
          {% render_sortable_heading 'Proposed Disposal Date' sort_state filter_state grouping group_params index %}
        </tr>
      </thead>
      {% if data %}
        <tbody>
          {% for datum in data %}
            <tr class="tr--hover{% cycle ' stripe' '' %}">
              {% if can_approve_disposition %}
              {% if datum.batch.status == 'rejected' %}
              {% if not datum.batch.all_rejected %}
              <td>
                <div class="usa-checkbox td-checkbox">
                  <input type="checkbox"
                         name="rejected_batch_uuid"
                         class="usa-checkbox__input"
                         value="{{ datum.batch.uuid }}"
                         id="checkbox-{{ datum.batch.uuid }}"
                  >
                  <label class="usa-checkbox__label crt-checkbox__label" for="checkbox-{{ datum.batch.uuid }}" aria-label="Select batch {{ datum.batch.uuid }}"></label>
                </div>
              </td>
              {% else %}
              <td>
                <div class="usa-checkbox td-checkbox">
                  <span class="usa-tooltip" title="This entire batch has been rejected and cannot be re-used">
                    <input type="checkbox"
                           class="usa-checkbox__input"
                           disabled="disabled"
                           id="checkbox-{{ datum.batch.uuid }}"
                    >
                    <label class="usa-checkbox__label crt-checkbox__label" for="checkbox-{{ datum.batch.uuid }}" aria-label="This entire batch has been rejected and cannot be re-used {{ datum.batch.uuid }}"></label>
                  </span>
                </div>
              </td>
              {% endif %}
              {% else %}
              <td></td>
              {% endif %}
              {% endif %}
              <td>
                <a class="td-link display-block" href="{{datum.url}}">
                  <span class="status-tag status-closed">
                    {{ datum.batch.status }}
                  </span>
                </a>
              </td>
              <td>
                <a class="td-link display-block" href="{{datum.url}}">
                  {{ datum.batch.create_date|date:"SHORT_DATE_FORMAT"|default:"—"  }}
                </a>
              </td>
              <td>
                <a class="td-link display-block" href="{{datum.url}}">
                  {{ datum.truncated_uuid }}
                </a>
              </td>
              <td class="text-uppercase">
                <a class="td-link display-block" href="{{datum.url}}">
                  {{ datum.retention_schedule|default:"—"  }}
                </a>
              </td>
              <td>
                <a class="td-link display-block" href="{{datum.url}}">
                  {{ datum.batch.proposed_disposal_date|date:"SHORT_DATE_FORMAT"|default:"—"  }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      {% endif %}
    </table>
  </div>
  <div class="selection-action-notification" hidden>
    <div class="display-flex flex-align-center">
      <div>
        <img src="{% static 'img/ic_successconfirmation-white.svg' %}" alt="action available on selection" class="icon">
      </div>
      <h2>
        <span hidden id="selection-action-count" class="selection-action-count"></span>
        Create new batch without rejected records
      </h2>
      <div class="selection-submit">
        <button type="submit" id="actions" label="actions" class="usa-button">Create new batch</button>
      </div>
    </div>
  </div>
</form>

{% if not data %}
  <div class="crt-portal-card table-message">
    <div class="crt-portal-card__content">
      <div class="grid-container padding-bottom-2">
        <div class="align-center">
          <img alt="filter icon" src="{% static 'img/filters.svg' %}" class="margin-top-1" />
          <p class="margin-bottom-1 margin-top-1" role="status"><b>No batches found</b></p>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if not page_format.has_next and data %}
  <div class="crt-portal-card table-message">
    <div class="crt-portal-card__content">
      <div class="grid-container padding-bottom-2">
        <div class="align-center">
          <p class="margin-bottom-1">
            <img alt="encouraging coffee icon" src="{% static 'img/coffee.svg' %}" />
            <b>End of results</b>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endif %}
