{% extends "forms/complaint_view/intake_base.html" %}

{% block page_header %}
{% include 'forms/complaint_view/disposition/header.html' with profile_form=profile_form %}
{% endblock %}

{% block content %}
<div class="intake-content">
  <div id="status-update" class="grid-col-auto">
  {% include 'partials/messages.html' %}
</div>
<h2 class="intake-section-title padding-bottom-2">Disposing Report Records</h2>
<div class="margin-bottom-2">Review the disposition status of reports, including retention schedule and expiration date.</div>
<header class="tab-header">
    {% include 'forms/complaint_view/disposition/tabs.html' with disposition_status=disposition_status %}
</header>

<div class="grid-col-auto">
    {% include "forms/complaint_view/disposition/filter-controls.html" with filters=filters form=form %}
</div>
<div class="display-flex margin-top-8">
<span class="intake-pagination margin-left-auto">
  Showing {{ page_format.page_range_start }} - {{ page_format.page_range_end }} of {{ page_format.count }} records
  {% include 'forms/complaint_view/index/filters/per_page.html' with per_page=page_format.per_page %}
</span>
</div>
<br/>
</form>
<div class="grid-col-auto">
<div class="intake-table">
  <div class="intake-table-header">
    {% include 'forms/complaint_view/disposition/table-title.html' with disposition_status=disposition_status %}
    <div class="margin-left-auto">
      {% include "forms/snippets/pagination.html" with page_format=page_format page_args=page_args placement="top" %}
    </div>
  </div>
  {% if disposition_status == 'batches' %}
    {% include "forms/complaint_view/disposition/batches_table.html" %}
  {% else %}
    {% include "forms/complaint_view/disposition/complaints_table.html" with page_format=page_format sort_state=sort_state disposition_status=disposition_status %}
  {% endif %}
  </div>
  </div>
  <div class="margin-bottom-5">
    {% include "forms/snippets/pagination.html" with page_format=page_format page_args=page_args placement="bottom" %}
  </div>
</div>
</div>
{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'js/ga_util.min.js' %}"></script>
<script src="{% static 'vendor/js.cookie.min.js' %}"></script>
<script src="{% static 'js/complaint_quick_view.min.js' %}"></script>
<script src="{% static 'js/filters.min.js' %}"></script>
<script type="module" src="{% static 'js/disposition_pagination.min.js' %}"></script>
<script src="{% static 'js/constant_writer.min.js'%}"></script>
<script src="{% static 'js/complaint_actions.min.js' %}"></script>
<script src="{% static 'js/dashboard_view_all.min.js'%}"></script>
<script src="{% static 'vendor/shepherd.min.js'%}"></script>
<script type="module" src="{% static 'js/tour.min.js'%}"></script>
{% endblock %}