{% extends "forms/complaint_view/intake_base.html" %}

{% block page_header %}
{% include 'forms/complaint_view/disposition/header.html' with profile_form=profile_form %}
{% endblock %}

{% block main_class %} class="margin-top-5 margin-bottom-0"{% endblock %}

{% block content %}
<div class="intake-content">
  <div id="status-update" class="grid-col-auto">
  {% include 'partials/messages.html' %}
</div>
<h2 class="intake-section-title padding-bottom-2">Disposing Report Records</h2>
<div class="margin-bottom-2">Review the disposition status of reports, including retention schedule and expiration date.</div>


</form>
<div class="grid-col-auto">
<div class="intake-table flat">
  <form
    id="sort-page-form"
    method="GET"
    action="/form/disposition"
    novalidate
  >
    <div class="intake-table-tabbed-header">
      {% include 'forms/complaint_view/disposition/tabs.html' with disposition_status=disposition_status %}
      <span class="intake-pagination">
        {{ page_format.page_range_start }} to {{ page_format.page_range_end }} of {{ page_format.count }} records
        {% include 'forms/complaint_view/index/filters/per_page.html' with per_page=page_format.per_page %}
      </span>
    </div>
    {% if disposition_status == 'batches' %}
    {% else %}
    <div class="intake-table-chipbar">
      {% include "forms/complaint_view/disposition/chipbar.html" with disposition_status=disposition_status %}
      <div class="controls">
      {% include "forms/complaint_view/disposition/filter-controls.html" with filters=filters form=form %}
      </div>
    </div>
    {% endif %}
  </form>
</div>
  <div class="scrollable-table">
  {% if disposition_status == 'batches' %}
    {% include "forms/complaint_view/disposition/batches_table.html" with page_format=page_format sort_state=sort_state disposition_status=disposition_status %}
  {% else %}
    {% include "forms/complaint_view/disposition/complaints_table.html" with page_format=page_format sort_state=sort_state disposition_status=disposition_status %}
  {% endif %}
  </div>
  </div>
  <div class="scrollable-table-footer">
    {% include "forms/snippets/pagination.html" with page_format=page_format page_args=page_args placement="bottom" %}
  </div>
</div>

</div>
</div>
{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'js/ga_util.min.js' %}"></script>
<script src="{% static 'vendor/js.cookie.min.js' %}"></script>
<script src="{% static 'js/complaint_quick_view.min.js' %}"></script>
<script src="{% static 'js/filters.min.js' %}"></script>
<script type="module" src="{% static 'js/disposition_filters.min.js' %}"></script>
<script src="{% static 'js/constant_writer.min.js'%}"></script>
<script src="{% static 'js/complaint_actions.min.js' %}"></script>
<script src="{% static 'js/dashboard_view_all.min.js'%}"></script>
<script src="{% static 'vendor/shepherd.min.js'%}"></script>
<script type="module" src="{% static 'js/tour.min.js'%}"></script>
{% endblock %}
