<div class="title">
    <ul class="usa-nav__primary usa-accordion display-flex flex-row">
      <li class="usa-nav__primary-item past-disposition" data-ga-event-name="nav item past disposition">
        <span class="usa-tooltip" data-position="right" data-classes="display-inline" title="Reports that are past their expiration date">
        <a class="border-base text-semibold border-bottom-05 text-base-dark crt-landing--menu_link reporting-header {% if disposition_status == 'past' %} selected {% endif %}" href="/form/disposition?disposition_status=past">
          Past disposition
        </a>
        </span>
      </li>
      <li class="usa-nav__primary-item eligible-expiration" data-ga-event-name="nav item eligible for disposition">
        <span class="usa-tooltip" data-position="right" data-classes="display-inline" title="Reports that are within 30 days of or on their expiration date">
        <a class="border-base text-semibold border-bottom-05 text-base-dark crt-landing--menu_link reporting-header {% if disposition_status == 'eligible' %} selected {% endif %}" href="/form/disposition?disposition_status=eligible">
          Eligible for disposition
        </a>
        </span>
      </li>
      <li class="usa-nav__primary-item other-scheduled" data-ga-event-name="nav item other scheduled reports">
        <span class="usa-tooltip" data-position="right" data-classes="display-inline" title="Reports that have expiration dates more than 30 days in the future">
        <a class="border-base text-semibold border-bottom-05 text-base-dark crt-landing--menu_link reporting-header {% if disposition_status == 'other' %} selected {% endif %}" href="/form/disposition?disposition_status=other">
          Other scheduled reports
        </a>
        </span>
      </li>
    </ul>
  </div>