<div class="title">
    <ul class="usa-nav__primary usa-accordion display-flex flex-row">
      <li class="usa-nav__primary-item past-disposition" data-ga-event-name="nav item past disposition">
        <a class="border-base text-semibold border-bottom-05 text-base-dark crt-landing--menu_link reporting-header {% if disposition_status == 'past' %} selected {% endif %}" href="/form/disposition?disposition_status=past">
          Past disposition
        </a>
      </li>
      <li class="usa-nav__primary-item eligible-expiration" data-ga-event-name="nav item eligible for expiration">
        <a class="border-base text-semibold border-bottom-05 text-base-dark crt-landing--menu_link reporting-header {% if disposition_status == 'eligible' %} selected {% endif %}" href="/form/disposition?disposition_status=eligible">
          Eligible for expiration
        </a>
      </li>
      <li class="usa-nav__primary-item other-scheduled" data-ga-event-name="nav item other scheduled reports">
        <a class="border-base text-semibold border-bottom-05 text-base-dark crt-landing--menu_link reporting-header {% if disposition_status == 'other' %} selected {% endif %}" href="/form/disposition?disposition_status=other">
          Other scheduled reports
        </a>
      </li>
    </ul>
  </div>