{% extends "base.html" %}
{% block head %}
{{ block.super }}

<script src="{% static 'vendor/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/jszip.min.js' %}"></script>
<link rel="stylesheet" href="{% static "css/vendor/jquery.dataTables.min.css" %}" />
<!-- To add an extension, you must also update package.json and gulpfile.js -->
{% with 'buttons colReorder searchPanes select' as datatables_extensions %}
{% for extension in datatables_extensions.split %}
 <script src="{% static "vendor/dataTables."|add:extension|add:".min.js" %}"></script>
 <link rel="stylesheet" href="{% static "css/vendor/"|add:extension|add:".dataTables.min.css" %}" />
 <script src="{% static "vendor/buttons.print.min.js" %}"></script>
 <script src="{% static "vendor/buttons.colVis.min.js" %}"></script>
 <script src="{% static "vendor/buttons.html5.min.js" %}"></script>
{% endfor %}
{% endwith %}
{% endblock %}
{% block ga_tagmanager_head %}{% endblock %}
{% block ga_tagmanager_body %}{% endblock %}
{% block meta_analytics %}{% endblock %}
{% block usa_banner %}{% endblock %}
{% block page_header %}
{% include 'forms/complaint_view/intake_header.html' %}
{% endblock %}
{% block body_class %}class="intake-bg"{% endblock %}
{% block main_class %} class="margin-top-5"{% endblock %}
{% block usa_footer %}{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'js/dropdown.min.js' %}"></script>
<script src="{% static 'js/usa_tag_select.min.js' %}"></script>
{%endblock%}
{# no google analytics on backend #}
{% block analytics %}{% endblock %}
