{% extends "forms/complaint_view/intake_base.html" %}
{% load static %}
{% block page_header %}
{% include 'forms/complaint_view/routing_guide_header.html' %}
{% endblock %}
{% block content %}
<div class="intake-content grid-container-widescreen routing-guide">
  <div class="display-flex margin-bottom-6 routing-guide-buttons">
    <a class="outline-button outline-button--dark" href="{{redirect_path}}">
      <img src="{% static "img/intake-icons/ic_arrow_forward.svg" %}" alt="back arrow" class="icon">
      Back to report details
    </a>
    <button class="usa-button routing-guide-print-button" type="submit" id="apply-filters-button">
      Print
    </button>
  </div>
  <h2 class="intake-section-title margin-bottom-2">Field guide for report routing</h2>
  <p class="text-italic">(last updated: July 2022)</p>
  <p class="text-bold margin-top-205 margin-bottom-05">This guide is intended to help intake specialists</p>
  <span>This is an internal guide designed to help intake specialists know when to redirect violation
    reports to other sections.</span>
  <p class="text-bold margin-bottom-05">Why is it important to reroute reports correctly and quickly?</p>
  <span>We want to give the section best-positioned to analyze any given report the chance to do so as
    soon as possible.</span>
  <div class="crt-portal-card padding-x-4 padding-y-3">
    <div class="title">
      <div class="image-container">
        <img class="report-image" src="{% static 'img/alerts/report.svg' %}" alt="language" class="icon">
      </div>
      <h2 class="intake-section-title">Step 1.</h2>
    </div>
    <p class="text-bold">Does the writer present a threat to themselves or others?</p>
    <table class="usa-table usa-table--borderless routing-guide-table-1">
      <tbody>
        <tr>
          <th>Yes</th>
          <td>
            Print a copy of the original incoming report (correspondent information, reported issue, personal description) and email the PDF to {{ routing_step_one_contacts }}. Federal Protective Services (FPS) will follow-up with any relevant federal agency and the correspondent.
            <p>No further action is necessary by CRT and the report can be closed.</p>
          </td>
        </tr>
        <tr>
          <th class="routing-last-row">No</th>
          <td class="routing-last-row">Continue to next step.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="crt-portal-card padding-x-4 padding-top-3 padding-bottom-4 routing-step-2-card">
    <div class="title">
      <div class="image-container">
        <img class="lightbulb-image" src="{% static 'img/lightbulb_outline.svg' %}" alt="language" class="icon">
      </div>
      <h2 class="intake-section-title">Step 2.</h2>
    </div>
    <p class="text-bold">Do any of the following apply?</p>
    <table class="usa-table usa-table--borderless routing-guide-table-2">
      <tbody>
        <th class="routing-border-bottom">Report involves...</th>
        <th class="routing-border-bottom">Route to...</th>
        <tr>
          <td>Hate Crime (involves physical harm or threat)</td>
          <td>CRM</td>
        </tr>
        <tr>
          <td>Human Trafficking</td>
          <td>CRM</td>
        </tr>
        <tr>
          <td>Pattern of Police Misconduct</td>
          <td>SPL</td>
        </tr>
        <tr>
          <td>Jail/Prison/Juvenile Mistreatment (state and local institutions)</td>
          <td>SPL</td>
        </tr>
        <tr>
          <td>Accessing a Reproductive Health Clinic (FACE)</td>
          <td>SPL</td>
        </tr>
        <tr>
          <td>Living in an Institutional Setting<br /><br />Inc: mental health & long-term care facilities/nursing homes</td>
          <td>DRS <span class="text-normal">(Disability-related)</span><br /><br />SPL <span class="text-normal">(conditions of confinement)</span></td>
        </tr>
        <tr>
          <td>Housing
            <ul>
              <li>Pattern or practice – tenants being harassed by landlord</li>
              <li>Familial status – tenants being moved to certain apartments or areas because they have children</li>
              <li>Potential tenants being turned away because they have children</li>
            </ul>
          </td>
            </ul>
          <td>HCE</td>
        </tr>
        <tr>
          <td>Religious Land Use/Zoning (RLUIPA)<br /><br />Inc: churches/places of worship, correctional facilities</td>
          <td>HCE <span class="text-normal">(public place)</span><br /><br />SPL <span class="text-normal">(correctional facility)</span></td>
        </tr>
        <tr>
          <td>Lending<br /><br />Any lender (bank, credit card, car dealership, etc.) any type of loan (mortgages, auto, etc.)</td>
          <td>HCE <span class="text-normal">except:<br /><br />SCRA = </span>POL</td>
        </tr>
        <tr>
          <td>Servicemember/Military Protections & Benefits
            <ul>
              <li>SCRA violations (repossessions, foreclosures, default judgements, credit card and loan interest rates, lease terminations, evictions)</li>
            </ul>
          </td>
          <td>POL <span class="text-normal">except:<br />Job-related (USERRA) = </span>ELS <br /> <span class="text-normal">Voting-related (UOCAVA) =</span> VOT</td>
        </tr>
        <tr>
          <td>Voting/Registering to Vote/Elections
            <ul>
              <li>Redistricting issues</li>
              <li>Voter registration issues</li>
              <li>Language access</li>
            </ul>
          </td>
          <td>VOT <span class="text-normal">except:<br /><br />Accessibility of polling location = </span>DRS</td>
        </tr>
        <tr>
          <td>School/Educational Program<br /><br />
            <span class="text-bold">Public</span> K-12 school district or a <span class="text-bold">public</span> college/university<br />
            <ul>
              <li>Discrimination or segregation based on race, color, national origin, sex (including gender identity and sexual orientation), religion, or disability</li>
              <li>Failure to respond or indifference to harassment/bullying based on race, color, national origin, sex (including gender identity and sexual orientation), religion, or disability</li>
            </ul>
            <span class="text-bold">Public</span> K-12 school district<br />
            <ul>
              <li>Denial of language access services for English learner students</li>
            </ul>
            <span class="text-bold">Private</span> K-12 school district or a <span class="text-bold">private</span> college/university that receives federal funding from the Department of Justice
            <ul>
              <li>Discrimination based on race, color, national origin, or sex</li>
            </ul>
          </td>
          <td>EOS</td>
        </tr>
        <tr>
          <td>Employment<br /><br />
            <span class="text-bold">Title VII</span> – State and local government employers discriminating based on grounds of race, sex (including pregnancy, sexual orientation, and gender identity), religion, and national origin<br /><br />
            <span class="text-bold">USERRA</span> – Employers discriminating or retaliating against an employee or applicant for employment because of such <span class="text-bold">person’s past, current or future military obligation</span></td>
          <td>ELS <span class="text-normal">except:<br /><br />Citizenship, visa, work document-related =</span> IER<br /><br /><span class="text-normal">Disability =</span> DRS</td>
        </tr>
        <tr>
          <td>Any other disability-related issue</td>
          <td>DRS</td>
        </tr>
        <tr>
          <td>Discrimination by an entity that is receiving federal funding.<br /><br />
            <ul>
              <li>Common examples include state and local:</li>
              <li>Police depts, prisons and jails</li>
              <li>Dept of Child & Family Services (aka Child Protective Services)</li>
              <li>Entities/nonprofits that provide food assistance (e.g. SNAP, TANF), housing assistance, job training, health services, legal services, shelters, or emergency services</li>
              <li>Depts of Transportation</li>
              <li>Depts of Labor</li>
              <li>Depts of Health and Human Services</li>
              <li>Housing authorities</li>
              <li>Emergency Management Depts</li>
            </ul>
          </td>
          <td>FCS</td>
        </tr>
        <tr>
          <td>LGBTI related concerns</td>
          <td><span class="text-normal">Section most closely related to the subject matter.<br /><br />Except: Transgender =</span> FCS</td>
        </tr>
        <tr>
          <td>Not sure – more than one seem to apply</td>
          <td><span class="text-normal">Ask your supervisor</span></td>
        </tr>
        <tr>
          <td>None of the above apply</td>
          <td><span class="text-normal">Use your section’s approach for non-actionable reports</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="crt-portal-card padding-x-4 padding-top-3 padding-bottom-4">
    <div class="title">
      <div class="image-container">
        <img class="translate-image" src="{% static 'img/translate.svg' %}" alt="language" class="icon">
      </div>
      <h2 class="intake-section-title">Translation Request Form</h2>
    </div>
    <p>To request a translation, complete the <a href="http://mycrt/services/lawg/documents/transrequest.pdf">Translation Request Form</a>.</p>
    <div class="title">
      <div class="image-container">
        <img class="translate-image" src="{% static 'img/help_outline.svg' %}" alt="language" class="icon">
      </div>
      <h2 class="intake-section-title">Questions?</h2>
    </div>
    <p>If you have a question about whether you should route a report to a particular section, start by talking to your supervisor.</p>
    <p>If you still have questions, contact the point of contact for a given section.</p>
    <table class="usa-table usa-table--borderless routing-guide-table-3">
      <tbody>
      {% for routing_section_block in routing_section_blocks %}
        <tr>
          <th>{{ routing_section_block.section_1 }}</th>
          <td>{{ routing_section_block.names_1 }}</td>
          <th>{{ routing_section_block.section_2 }}</th>
          <td>{{ routing_section_block.names_2 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <h3 class="routing-guide-h3">Final Note</h3>
  <p><span class="text-bold">This guide is designed to be practical, not precise.</span> The federal civil rights laws we enforce are varied and complex. When we list a section for routing, it does not mean that the section will necessarily have enforcement authority for that report. It also does not mean this section is the only one who might have enforcement authority. Being listed here only means this section is likely best positioned to know the right next step for this kind of report.</p>
</div>
{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'js/routing_guide.min.js' %}"></script>
{% endblock %}
