{% load get_env %}
{% load get_request %}

<div class="side-nav">
<div class="side-nav-content">
    <a href="#" class="menu-slider">
        <svg class="icon menu-icon" fill="#FFF" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" id="menu" viewBox="0 0 24 24">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
    </a>
    <h1 class="title-copy intake-section-title">
      CRT Reporting Portal
    </h1>
    {% if section_filter %}
    <span>SECTION</span>
    {% include 'forms/complaint_view/index/filters/side_nav_section_filter.html' %}
    {% endif %}
    <span>RECORD MANAGEMENT</span>
    <a class="add-record display-flex flex-align-center" href="/form/new/" label="create record" name="Create record">
        <span class="usa-tooltip" data-position="right" data-classes="display-inline" title="Add new record">
            <svg fill="#ffbe2e" class="icon plus-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="add">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
            </svg>
        </span>
        <span>New record</span>
    </a>
    {% include 'forms/complaint_view/side_nav_options.html' with page=page %}
    {% if ENABLED_FEATURES.resources %}
    <span>RESOURCES</span>
    {% include 'forms/complaint_view/side_nav_resources.html' with page=page %}
    {% endif %}
    {% environment as env %}
    {% get_request_user as user %}
    {% if env != "PRODUCTION" and user.is_superuser  %}
    <span>TEST SITE ADMINISTRATION</span>
    {% include 'forms/complaint_view/side_nav_test_site.html' with page=page %}
    {% endif %}
  </div>
</div>
