<div class="title">
    <ul class="usa-nav__primary usa-accordion">
      <li class="usa-nav__primary-item" data-ga-event-name="report records nav item">
        <a class="crt-landing--menu_link reporting-header {% if page == 'report_records' %} selected {% endif %}" href="/form/view">
          Report records
        </a>
      </li>
      <li class="usa-nav__primary-item" data-ga-event-name="team management nav item">
        <a class="crt-landing--menu_link reporting-header {% if page == 'team_management' %} selected {% endif %}" href="/form/dashboard">
          Team management
        </a>
      </li>
      {% if ENABLED_FEATURES.saved_searches %}
      <li class="usa-nav__primary-item" data-ga-event-name="saved searches nav item">
        <a class="crt-landing--menu_link reporting-header {% if page == 'saved_searches' %} selected {% endif %}" href="/form/saved-searches">
          Saved searches
        </a>
      </li>
      {% endif %}
      {% if ENABLED_FEATURES.data_dashboard %}
      <li class="usa-nav__primary-item" data-ga-event-name="data dashboard nav item">
        <a class="crt-landing--menu_link reporting-header {% if page == 'data_dashboard' %} selected {% endif %}" href="/form/data">
          Data dashboard
        </a>
      </li>
      {% endif %}
      {% if ENABLED_FEATURES.disposition %}
      <li class="usa-nav__primary-item" data-ga-event-name="disposition nav item">
        <a class="crt-landing--menu_link reporting-header {% if page == 'disposition' %} selected {% endif %}" href="/form/disposition">
          Disposition
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
