{% extends "forms/complaint_view/intake_base.html" %}
{% load static %}
{% block page_header %}
{% include 'team_management/header.html' %} {% endblock %} {% block content %}
<div class="usa-card__container team-management">
  <header class="usa-card__header">
    <h2 class="title">Assignee Activity</h2>
  </header>
  <div class="usa-card__body">
    <div class="grid-row">
      <div class="grid-col-6">
        {% include "team_management/filter-controls.html" with filters=filters form=form %}
      </div>
      <div class="grid-col-6 align-center results">
        <img src="{% static "img/sliders.svg" %}" alt="icon" class="icon" />
        <strong>Select intake specialist</strong>
        <p class="results-text">Please select an intake specialist to see assignee activity details</p>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block page_js %} {{ block.super }}
<script src="{% static 'js/dashboard_quick_view.min.js' %}"></script>
<script src="{% static 'js/dashboard_view_filters.min.js' %}"></script>
{% endblock %}
