{% load get_dict_item %}

<div class="crt-xscroll">
  <table class="notifications crt-table">
    <thead>
      <tr>
        <th>
          Type
        </th>
        <th>
          Notification Cadence
        </th>
        <th>
          Threshold
        </th>
      </tr>
    </thead>
    <tbody>
    {% include 'forms/complaint_view/notifications/preference.html' with preferences=preferences choices=choices title="Complaint assignments" key="assigned_to" %}

    {% for search_id in preferences.saved_searches %}
    {% with search_name=search_names|get_dict_item:search_id %}
    {% include 'forms/complaint_view/notifications/preference.html' with id=search_id preferences=preferences threshold_preferences=threshold_preferences threshold_key="saved_search_"|add:search_id|add:"_threshold" choices=choices title="Saved Search "|add:search_name key="saved_search_"|add:search_id %}
    {% endwith %}
    {% endfor %}
    </tbody>
  </table>
</div>
