{% load notification_preference_helpers %}
{% load get_dict_item %}

<tr>
  {% if group %}
  <td>
      <div>
        <input id="{{group.id}}" type="hidden" name="{{group.id}}" value="{{group.id}}"/>
        <label> {{group.name}} </label>
      </div>
  </td>
  <td>
    {% for choice_value, choice_display in choices %}
    {% with existing_value=preferences %}
      <input id="{{key}}-{{choice_value}}" class="usa-radio__input" type="radio" name="{{key}}" {% if choice_value == existing_value %}checked="checked" {% endif %}value="{{choice_value}}"/>
      <label
          data-position="left"
          for="{{key}}-{{choice_value}}"
          class="usa-radio__label display-flex flex-column">
        <span class="usa-tooltip"
          {% if choice_value == 'weekly' %}title="Receive a brief list of events at most once per week"{% endif %}
          {% if choice_value == 'none' %}title="Select this to disable any notifications for this event or action"{% endif %}
        >
        {{choice_display}}
        </span>
      </label>
    {% endwith %}
    {% endfor %}
    <div class="margin-bottom-2 crt-dropdown threshold margin-top-2" {% if not group_threshold_notification_preference %}hidden{% endif %}>
      <label for="{{ group_threshold_name }}" class="intake-label">
        Threshold
      </label>
      <input value="{{ group_threshold_notification_preference }}" id="{{ group_threshold_name }}" name="{{ group_threshold_name }}" type="number"/>
    </div>
  </td>
  {% else %}
  <td>
    <label class="intake-label"> {{title}} </label>
  </td>
  <td>
    {% for choice_value, choice_display in choices|get_dict_item:key %}
    {% with existing_value=preferences|get_preference_value:key %}
      <input id="{{key}}-{{choice_value}}" class="usa-radio__input" type="radio" name="{{key}}" {% if choice_value == existing_value %}checked="checked" {% endif %}value="{{choice_value}}"/>
      <label
          data-position="left"
          for="{{key}}-{{choice_value}}"
          class="usa-radio__label display-flex flex-column">
        <span class="usa-tooltip"
          {% if choice_value == 'individual' %}title="Select this to receive a notification every time this action or event occurs"{% endif %}
          {% if choice_value == 'daily' %}title="Receive a brief list of events at most once per day"{% endif %}
          {% if choice_value == 'weekly' %}title="Receive a brief list of events at most once per week"{% endif %}
          {% if choice_value == 'threshold' %}title="Receive a list of events once the number of events reaches a chosen threshold"{% endif %}
          {% if choice_value == 'none' %}title="Select this to disable any notifications for this event or action"{% endif %}
        >
        {{choice_display}}
        </span>
      </label>
    {% endwith %}
    {% endfor %}
    <div class="margin-bottom-2 crt-dropdown threshold margin-top-2" {% if not threshold_notification_preference %}hidden{% endif %}>
      <label for="{{ threshold_name }}" class="intake-label">
        Threshold
      </label>
      <input value="{{ threshold_notification_preference }}" id="{{ threshold_name }}" name="{{ threshold_name }}" type="number"/>
    </div>
  </td>
  {% endif %}
</tr>
