{% extends "forms/complaint_view/index/filter.html" %}

{% block controls %}tags{% endblock %}
{% block label %}Tags{% endblock %}
{% block id %}tags{% endblock %}
{% block content %}
<label for="id_tags">
    <span class="usa-sr-only">tags</span>
</label>
{% with id=widget.attrs.id %}
<div {% if id %} id="{{ id }}" {% endif %}
    class="usa-tags-container {% if widget.attrs.class %}{{ widget.attrs.class }}{% endif %}">

    <div class="details-edit {% if details_form and not details_form.errors %}display-none{% endif %}">
        <label class="usa-label usa-sr-only" for="{{id}}-assign-tag">Assign a tag</label>
        <div class="usa-combo-box assign-tag" title="Type to select a tag for this report"
            data-placeholder="Add tags...">
            <select class="usa-select" id="{{id}}-assign-tag">
                {% for group, options, index in widget.optgroups %}
                {% for option in options %}
                <option value="{{ option.value }}">{{ option.label }}</option>
                {% endfor %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="usa-selected-tags">
    {% spaceless %}
    {% for group, options, index in widget.optgroups %}
    {% if group %}
    <div>
        <label>{{ group }}</label>
        {% endif %}
        {% for option in options %}
        <div class="tag-option">{% include option.template_name with widget=option %}</div>
        {% endfor %}
        {% if group %}
    </div>
    {% endif %}
    {% endfor %}
    {% endspaceless %}
</div>
{% endwith %}
{% endblock %}