/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.0.3
----------------------------------------
COLOR SETTINGS
----------------------------------------
Read more about settings and
USWDS color tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens/color
----------------------------------------
*/

/*
----------------------------------------
Theme palette colors
----------------------------------------
*/

// Base colors
$theme-color-base-family:           'gray'; 
$theme-color-base-lightest:         'gray-5';
$theme-color-base-lighter:          'gray-cool-10';
$theme-color-base-light:            'gray-30';
$theme-color-base:                  'gray-50';
$theme-color-base-dark:             'gray-cool-60';
$theme-color-base-darker:           'gray-70';
$theme-color-base-darkest:          'gray-90';
$theme-color-base-ink:              'gray-warm-80';

// Primary colors
$theme-color-primary-family:        'blue';
$theme-color-primary-lightest:      'blue-warm-5';
$theme-color-primary-lighter:       'blue-warm-10';
$theme-color-primary-light:         false;
$theme-color-primary:               'blue-warm-70v';
$theme-color-primary-vivid:         false;
$theme-color-primary-dark:          'blue-warm-70v';
$theme-color-primary-darker:        'blue-warm-80v';
$theme-color-primary-darkest:       false;

// Secondary colors
$theme-color-secondary-family:      'red';
$theme-color-secondary-lightest:    false;
$theme-color-secondary-lighter:     false;
$theme-color-secondary-light:       false;
$theme-color-secondary:             'red-50';
$theme-color-secondary-vivid:       false; 
$theme-color-secondary-dark:        'red-60v';
$theme-color-secondary-darker:      'red-70v';
$theme-color-secondary-darkest:     false;

// Accent warm colors
$theme-color-accent-warm-family:    'orange';
$theme-color-accent-warm-lightest:  false;
$theme-color-accent-warm-lighter:   false;
$theme-color-accent-warm-light:     false; 
$theme-color-accent-warm:           false;
$theme-color-accent-warm-dark:      false;
$theme-color-accent-warm-darker:    false;
$theme-color-accent-warm-darkest:   false;

// Accent cool colors
$theme-color-accent-cool-family:    'blue-cool';
$theme-color-accent-cool-lightest:  false;
$theme-color-accent-cool-lighter:   false;
$theme-color-accent-cool-light:     false;
$theme-color-accent-cool:           'cyan-30v';
$theme-color-accent-cool-dark:      'blue-cool-40v';
$theme-color-accent-cool-darker:    'blue-cool-60v';
$theme-color-accent-cool-darkest:   false;

/*
----------------------------------------
State palette colors
----------------------------------------
*/

// Error colors
$theme-color-error-family: 'red-warm';
$theme-color-error-lighter: 'red-warm-10';
$theme-color-error-light: 'red-warm-30v';
$theme-color-error: 'red-warm-50v';
$theme-color-error-dark: 'red-60v';
$theme-color-error-darker: 'red-70';

// Warning colors
$theme-color-warning-family: 'gold';
$theme-color-warning-lighter: 'yellow-5';
$theme-color-warning-light: 'yellow-10v';
$theme-color-warning: 'gold-20v';
$theme-color-warning-dark: 'gold-30v';
$theme-color-warning-darker: 'gold-50v';

// Success colors
$theme-color-success-family: 'green-cool';
$theme-color-success-lighter: 'green-cool-5';
$theme-color-success-light: 'green-cool-20v';
$theme-color-success: 'green-cool-40v';
$theme-color-success-dark: 'green-cool-50';
$theme-color-success-darker: 'green-cool-60';

// Info colors
$theme-color-info-family: 'cyan';
$theme-color-info-lighter: 'cyan-5';
$theme-color-info-light: 'cyan-20';
$theme-color-info: 'cyan-30v';
$theme-color-info-dark: 'cyan-40v';
$theme-color-info-darker: 'blue-cool-60';

// Disabled colors
$theme-color-disabled-family: 'gray';
$theme-color-disabled-light: 'gray-10';
$theme-color-disabled: 'gray-20';
$theme-color-disabled-dark: 'gray-30';

/*
----------------------------------------
General colors
----------------------------------------
*/

// Links
$theme-link-color: $theme-color-primary-darker;
$theme-link-visited-color: $theme-color-primary-darker; 
$theme-link-hover-color: 'blue-50';
$theme-link-active-color: 'primary-darker';
$theme-link-dark-hover-color:       'blue-warm-30v';

