/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// Sticky Footer (IE 10/11)
// Based on: https://codepen.io/dezertdezine/pen/zKjggy

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.content-wrapper {
  max-width: 700px;
  margin: auto;
}

// Form Width
.usa-form {
  max-width: 30rem !important;
}

// Input Overrides
.usa-checkbox__input, .usa-radio__input {
  // Display HTML5 error messages on hidden inputs:
  // https://stackoverflow.com/questions/49687229/display-html5-error-message-validation-on-hidden-radio-checkbox
  left: 45px;
  opacity: 0;
}

// Footer Styles
.usa-footer__logo-heading {
  @include h4
  color: white;
  font-weight: normal;
}

.usa-footer__secondary-section {
  background-color: #2E2E2A;
}

// Header Styles
h1 {
  @include u-font('heading', '2xl')
}

h2 {
  @include u-font('body', '2xl')
}

.intro-subtitle {
  @include u-font('body', 'lg')
  @include u-line-height('alt', 5)
}

h3 {
  @include u-text('primary-dark')
}

// USA Gov Banner Customization
$bg-yellow: #FEE685;

.usa-banner {
  background-color: #2E2E2A;

  .usa-banner__header-text,
  .usa-media-block__body {
    color: white;
  }

  .usa-banner__button {
    color: #FFBE2E;

    &:hover {
      color: $bg-yellow;
    }
  }
}

// Header area

$header-background: #F6F6F2;

.page-header-background {
  background-color: $header-background;
}

// Django Formtools Wizard customization

form#report-form {
  li {
    list-style: none;
  }
}

.question_group_optional_tag {
  font-weight: lighter;
  color: black;
}

.usa-input {
  width: 320px;
}