/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

// Variables

$yellow: #FEE685;
$gold: #FFBE2E;
$light-beige: #F6F6F2;
$blue-warm-vivid-70: #1A4480;
$blue-50: #2378C3;
$blue-vivid-40: #2491FF;
$gray-warm: #2E2E2A;
$gray-90: #171717;
$gray-70: #454545;
$gray-cool-4: #F1F3F6;
$white: #FFFFFF;
$bold: 700;

// Sticky Footer (IE 10/11)
// Based on: https://codepen.io/dezertdezine/pen/zKjggy

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1 0 auto;

  p, em, h2, label:not(.big), span:not(.big) {
    color: $gray-warm;
  }

  legend, .page-subtitle, label.big, span.big {
    color: $blue-warm-vivid-70;
    font-weight: bold;
    font-size: 1.17em; // Matches h3 size
    margin-bottom: 0.5rem;
  }
}

footer {
  flex-shrink: 0;
}

.content-wrapper {
  max-width: 700px;
  margin: auto;
  padding: 0 8px;
}

// Form styles
.usa-form {
  max-width: 30rem !important;

  .usa-button {

    &:hover {
      background-color: $blue-50;
    }

    &:focus {
      outline: .125rem solid $blue-vivid-40;
      outline-offset: .125rem;
    }

    @media (min-width: 30em) {
      margin-top: 0;
    }
  }

  .blue-left-highlight {
    border-left: 2px solid $blue-warm-vivid-70;
    padding-left: 0.5rem;
  }

  li {
    margin-bottom: 1rem;
  }

  .usa-input {
    width: 320px;

    &:focus {
      outline: .125rem solid $blue-vivid-40;
      border: 1px solid $blue-vivid-40;
    }
  }

  textarea.usa-textarea {
    resize: none;
    height: 15rem;

    &:focus {
      outline: .125rem solid $blue-vivid-40;
      border: 1px solid $blue-vivid-40;
    }

    &.bg-gold-outline {
      outline: .125rem solid $gold;
      border: 1px solid $gold;
    }

    &.bg-gold-outline:focus {
      outline: .125rem solid $gold;
      border: .125rem solid $gold;
    }
  }
}

// Input Overrides
.usa-checkbox__input, .usa-radio__input {
  // Display HTML5 error messages on hidden inputs:
  // https://stackoverflow.com/questions/49687229/display-html5-error-message-validation-on-hidden-radio-checkbox
  left: 45px;
  opacity: 0;
}

// Footer Styles
.usa-footer__logo-heading {
  @include h4
  color: white;
  font-weight: normal;
}

.usa-footer__secondary-section {
  background-color: #2E2E2A;
}

.look-like-link {
  padding: 0;
  border: none;
  background: none;
  text-decoration: underline;

  &:focus:not([disabled]) {
    outline: .125rem solid $blue-vivid-40;
    outline-offset: .125rem;
  }
}

// Header Styles
h1 {
  @include u-font('heading', '2xl')
}

h2 {
  @include u-font('body', 'xl')
}

.intro-subtitle {
  @include u-font('body', 'lg')
  @include u-line-height('alt', 5)
}

h3 {
  @include u-text('primary-dark')
}

// USA Gov Banner Customization

.usa-banner {
  background-color: #2E2E2A;

  .usa-banner__header-text,
  .usa-media-block__body {
    color: white;
  }

  .usa-banner__button, .usa-banner__header-action {
    color: $gold;

    &:hover {
      color: $yellow;
    }
  }
}

// Header area

.page-header-background {
  background-color: $light-beige;
}

// Django Formtools Wizard customization

form#report-form {
  li {
    list-style: none;
  }
}

.question_group_optional_tag {
  font-weight: lighter;
  color: $gray-warm;
}

.crt-table {
  @extend .usa-table;
  font-size: 14px;
  color: $gray-90;
  line-height: 22px;
  background: $white;
  box-shadow: 0 1px 6px 2px rgba(0,0,0,0.14);
  thead {
    font-weight: $bold;
    font-size: 12px;
    line-height: 25.92px;
    text-transform: uppercase;
    th {
      background-color: $white;
    }
  }
}

#word-limit-alert.usa-alert.usa-alert--warning {
  background-image: url(../img/alerts/word-count-alert.svg),linear-gradient(transparent,transparent);
}

legend, .page-subtitle {
  color: $blue-warm-vivid-70;
  font-weight: bold;
  font-size: 1.17em; // Matches h3 size
  margin-bottom: 0.5rem;
}

.crt-checkbox__label {
  @extend .usa-checkbox__label;
  padding-left: 0;
}

.crt-radio__label_area {
  @extend .usa-radio__label;
  background-color: $gray-cool-4;
  padding: 1.5rem 0 1.5rem 3.5rem;
  border-radius: 1rem;

  .examples {
    text-transform: uppercase;
    font-weight: bold;
    color: $gray-70;
  }
}