.shepherd-element {
  background-color: white;
  padding: 0;
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 10px var(--object-tools-bg);
}

.shepherd-title {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5em;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.shepherd-button {
  color: #fff;
  height: 35px;
  line-height: 15px;
  border: 0;
  border-radius: 4px;
  transition: background 0.15s;
  background-color: var(--button-bg);

  &:hover {
    background-color: var(--button-hover-bg);
  }
}

.shepherd-footer {
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.shepherd-target {
  border: 3px solid red;
}

body.shepherd-target {
  border: 0px;
}

.shepherd-step-count {
  background-color: var(--breadcrumbs-bg);
  border-radius: 2px;
  color: var(--breadcrumbs-link-fg);
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-right: 0.255em;
  display: inline-flex;
}

.shepherd-text {
  padding: 1em;
}

.admin-copy {
  flex-grow: 1;
}

.admin-copy-button {
  margin: 0 10px !important;
}

.admin-copy-button-parent {
  display: flex;
  gap: 5px;
}

.change-profile {
  form .aligned {
    ul {
      margin-left: 2em;
      padding-left: 1em;

      li {
        list-style-type: square;
      }
    }
  }
}

.flex-submit {
  button {
    color: white;
    height: 35px;
    line-height: 15px;
    border: none;
    border-radius: 4px;
    transition: background 0.15s;
  }

  .dangerous {
    background: var(--delete-button-bg);

    &:hover,
    &:active,
    &:focus {
      background: var(--delete-button-hover-bg);
    }
  }

  display: flex;
  text-align: left;
  align-items: center;
  gap: 15px;
}

.form-row.field-results,
.form-row.field-preview {
  label {
    display: none;
  }

  .readonly {
    margin-left: 0;
    width: 100%;
  }
}

.response-template-preview {
  border: 0px;
  background-color: white;
}

.ipynb-results {
  border: 0px;
  background-color: white;
  height: 100vh;
  width: 100%;
}

.field-preview .readonly {
  display: flex;
  width: auto;
  height: 90vh;
}
