/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
*/

// -------------------------------------
// Import individual theme settings

@import "uswds-theme-general";
@import "uswds-theme-typography";
@import "uswds-theme-spacing";
@import "uswds-theme-color";
@import "uswds-theme-utilities";

// components import needs to be last
@import "uswds-theme-components";

// -------------------------------------
// Import the complete USWDS kit

@import "node_modules/uswds/dist/scss/uswds";

// -------------------------------------
// Import theme custom styles

// layout needs to be first
@import "custom/layout";
@import "custom/card";
@import "custom/complaint";
@import "custom/alerts";
@import "custom/banner";
@import "custom/buttons";
@import "custom/combo-box";
@import "custom/footer";
@import "custom/form";
@import "custom/header";
@import "custom/ie";
@import "custom/intake.scss";
@import "custom/pagination";
@import "custom/progress";
@import "custom/skipnav";
@import "custom/table";
@import "custom/typography";
@import "custom/utils";
@import "custom/confirmation";
@import "custom/landing";
@import "custom/privacy";
@import "custom/subpage";
@import "custom/touchpoints";
@import "custom/links";
@import "custom/modal";
@import "custom/print";
@import "custom/error";
