/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
*/

// -------------------------------------
// Import theme settings
@forward "uswds-theme";

// -------------------------------------
// Import the necessary USWDS packages
@forward "uswds";

// -------------------------------------
// Import theme custom styles

// layout needs to be first
@forward "custom/layout";
@forward "custom/variables";
@forward "custom/card";
@forward "custom/complaint";
@forward "custom/alerts";
@forward "custom/banner";
@forward "custom/buttons";
@forward "custom/combo-box";
@forward "custom/disposition-guide";
@forward "custom/footer";
@forward "custom/form";
@forward "custom/header";
@forward "custom/ie";
@forward "custom/intake.scss";
@forward "custom/pagination";
@forward "custom/progress";
@forward "custom/routing-guide";
@forward "custom/skipnav";
@forward "custom/table";
@forward "custom/typography";
@forward "custom/utils";
@forward "custom/confirmation";
@forward "custom/landing";
@forward "custom/privacy";
@forward "custom/subpage";
@forward "custom/touchpoints";
@forward "custom/links";
@forward "custom/modal";
@forward "custom/print";
@forward "custom/error";
@forward "custom/tour";

.usa-sr-only {
  max-width: 999em;
}

.usa-fieldset .iti {
  margin-top: 0.5rem;
  display: block;
}

.iti__flag {background-image: url("/static/img/flags.png") !important;}
@media (min-resolution: 2x) {
  .iti__flag {background-image: url("/static/img/flags@2x.png") !important;}
}

.phone-input {
  &.usa-input.phone-input--valid:focus {
    border: 1px solid #538200;
    outline: 2px solid #538200;
  }

  &.usa-input.phone-input--error,
  &.usa-input.phone-input--error:focus {
    border: 1px solid #e41d3d;
    outline: 2px solid #e41d3d;
  }
}
