{% extends "forms/complaint_view/intake_base.html" %}

{% block page_header %}
{% include 'forms/complaint_view/saved_searches/header.html' %}
{% endblock %}

{% block content %}
<div class="intake-content">
  <div id="status-update" class="grid-col-auto">
    {% include 'partials/messages.html' %}
  </div>
  <div class="grid-col-auto">
  </div>
</div>
{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'js/dashboard_quick_view.min.js' %}"></script>
<script src="{% static 'js/filters.min.js' %}"></script>
<script src="{% static 'js/dashboard_view_filters.min.js' %}"></script>
<script src="{% static 'js/ga_util.min.js' %}"></script>
{% endblock %}
