{% extends "forms/complaint_view/intake_base.html" %}

{% block page_header %}
{% include 'forms/complaint_view/saved_searches/header.html' %}
{% endblock %}

{% block content %}
<div class="intake-content">
  <div id="status-update" class="grid-col-auto">
    {% include 'partials/messages.html' %}
  </div>
  {% include 'forms/complaint_view/saved_searches/saved-search-header.html' %}
  {% include 'forms/complaint_view/saved_searches/filter-controls.html' %}
<div class="grid-col-auto">
  <div class="display-flex flex-align-center">
    {% if saved_searches %}
      <ul class="usa-list usa-list--unstyled">
        {% for saved_search in saved_searches %}
          <li>
            <a data-ga-event-name="saved search link: {{ saved_search.name }}" href="/form/view/?{{ saved_search.query }}">{{ saved_search.name }}</a>
            <form class="usa-form"
              method="get"
              action="{% url 'crt_forms:saved-search-actions' %}"
              novalidate
            >
              <input type="hidden" value="{{ saved_search.pk }}" name="saved_search_id" id="saved_search_id"  />
              <input type="hidden" value="{{ section }}" name="section" id="section"  />
              <button class="usa-button" type="submit" id="submit-button">
                Edit search
              </button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
<form class="usa-form"
  method="get"
  action="{% url 'crt_forms:saved-search-actions' %}"
  novalidate
>
  <input type="hidden" value="{{ section }}" name="section" id="section"  />
  <button class="usa-button" type="submit" id="submit-button">
    Add new search
  </button>
</form>
</div>
{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'js/ga_util.min.js' %}"></script>
{% endblock %}
