{% extends "forms/complaint_view/intake_base.html" %}

{% block page_header %}
{% include 'forms/complaint_view/saved_searches/header.html' %}
{% endblock %}

{% block content %}
<div class="intake-content">
  {% include 'forms/complaint_view/saved_searches/saved-search-header.html' %}
  <header class="tab-header">
    {% include 'forms/complaint_view/saved_searches/tabs.html' with saved_search_view=saved_search_view %}
  </header>
  <div id="status-update" class="grid-col-auto">
    {% include 'partials/messages.html' %}
  </div>
  {% include 'forms/complaint_view/saved_searches/filter-controls.html' %}
  <div class="display-flex margin-top-8">
    <span class="intake-pagination margin-left-auto">
      Showing {{ page_format.page_range_start }} - {{ page_format.page_range_end }} of {{ page_format.count }} records
      {% include 'forms/complaint_view/index/filters/per_page.html' with per_page=page_format.per_page %}
    </span>
  </div>
<div class="grid-col-auto margin-top-3">
  <div class="intake-table">
    <div class="intake-table-header flex-justify">
      {% include 'forms/complaint_view/saved_searches/table-title.html' with saved_search_view=saved_search_view %}
      <form class="usa-form" method="get" action="/form/saved-searches/actions/new" novalidate>
        {% if section_filter %}
          <input type="hidden" value="{{ section_filter }}" name="section_filter" id="section_filter" />
        {% endif %}
        <div class="text-left margin-top-3 margin-bottom-3">
          <button class="usa-button" type="submit" id="add-button">
            Add new search
          </button>
        </div>
      </form>
      <div>
        {% include "forms/snippets/pagination.html" with page_format=page_format page_args=page_args placement="top" %}
      </div>
    </div>
  {% include 'forms/complaint_view/saved_searches/saved-search-table.html' %}
</div>
</div>
<div class="margin-bottom-5">
  {% include "forms/snippets/pagination.html" with page_format=page_format page_args=page_args placement="bottom" %}
</div>
</div>
{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'js/ga_util.min.js' %}"></script>
<script src="{% static 'js/filters.min.js' %}"></script>
<script type="module" src="{% static 'js/saved_search_pagination.min.js' %}"></script>
<script src="{% static 'js/complaint_quick_view.min.js' %}"></script>
<script src="{% static 'js/dashboard_view_all.min.js'%}"></script>
<script src="{% static 'vendor/js.cookie.min.js' %}"></script>
<script src="{% static 'vendor/shepherd.js'%}"></script>
<script type="module" src="{% static 'js/tour.min.js'%}"></script>
{% endblock %}
