<div class="crt-xscroll">
    <table class="usa-table crt-table sort-table">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Query
          </th>
          <th>
            Section
          </th>
          <th>
            Created By
          </th>
          <th></th>
        </tr>
      </thead>
      {% if saved_searches %}
      <tbody>
        {% for saved_search in saved_searches %}
        <tr>
          <td>
            <a
              data-ga-event-name="saved search link: {{ saved_search.name }}"
              href="/form/view/?{{ saved_search.query }}"
              >{{ saved_search.name }}</a
            >
          </td>
          <td>
            {{ saved_search.description|truncatechars:100|default:"-" }}
          </td>
          <td>
            {{ saved_search.query|truncatechars:60 }}
          </td>
          <td>
            {{ saved_search.section }}
          </td>
          <td>
            {{ saved_search.created_by }}
          </td>
          <td>
            {% if not saved_search.auto_close and not saved_search.override_section_assignment %}
            <form
              class="usa-form"
              method="get"
              action="/form/saved-searches/actions/{{ saved_search.pk }}/"
              novalidate
            >
              <input
                type="hidden"
                value="{{ section_filter }}"
                name="section_filter"
                id="section_filter"
              />
              <button class="usa-button usa-button--unstyled" type="submit" id="edit-button">
                Edit
              </button>
              {% else %}
                Locked
              {% endif %}
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
</div>
