<div class="title">
    <ul class="usa-nav__primary usa-accordion display-flex flex-row">
      <li class="usa-nav__primary-item all-saved-searches" data-ga-event-name="nav item shared saved searches">
        <a class="border-base text-semibold border-bottom-05 text-base-dark crt-landing--menu_link reporting-header {% if saved_search_view == 'all' %} selected {% endif %}" href="/form/saved-searches?saved_search_view=all">
          Shared saved searches
        </a>
        </span>
      </li>
      <li class="usa-nav__primary-item my-saved-searches" data-ga-event-name="nav item my saved searches">
        <a class="border-base text-semibold border-bottom-05 text-base-dark crt-landing--menu_link reporting-header {% if saved_search_view == 'my-saved-searches' %} selected {% endif %}" href="/form/saved-searches?saved_search_view=my-saved-searches">
          My saved searches
        </a>
        </span>
      </li>
    </ul>
  </div>