{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {# Asking search engines not to index our site while we're in development mode. #}
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if wizard.steps.step1 and current_step_name %}
      <title>Step {{ wizard.steps.step1 }}: {{ current_step_name }} - Contact the Civil Rights Division - Department of Justice</title>
    {% else %}
      <title>Contact the Civil Rights Division - Department of Justice</title>
    {% endif %}

    <link rel="icon" href="{% static "img/us_flag_small.png" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <div class="usa-banner">
      <div class="usa-accordion">
        <header class="usa-banner__header">
          <div class="usa-banner__inner">
            <div class="grid-col-auto">
              <img class="usa-banner__header-flag" src="{% static "img/us_flag_small.png" %}" alt="U.S. flag">
            </div>
            <div class="grid-col-fill tablet:grid-col-auto">
              <p class="usa-banner__header-text">An official website of the United States government</p>
              <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
            </div>
            <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
              <span class="usa-banner__button-text">Here’s how you know</span>
            </button>
          </div>
        </header>
        <div class="usa-banner__content usa-accordion__content" id="gov-banner">
          <div class="grid-row grid-gap-lg">
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img class="usa-banner__icon usa-media-block__img" src="{% static "img/icon-dot-gov.svg" %}" alt="Dot gov">
              <div class="usa-media-block__body">
                <p>
                  <strong>The .gov means it’s official.</strong>
                  <br> Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
                </p>
              </div>
            </div>
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img class="usa-banner__icon usa-media-block__img" src="{% static "img/icon-https.svg" %}" alt="Https">
                <div class="usa-media-block__body">
                  <p>
                    <strong>The site is secure.</strong>
                    <br> The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block page_header %}{% endblock %}

    <main id="main-content" {% block main_class %}{% endblock %}>
      {% block content %} {% endblock %}
    </main>

    <footer class="usa-footer usa-footer--slim" role="contentinfo">
      <div class="usa-footer__secondary-section">
        <div class="grid-container">
          <div class="usa-footer__logo grid-row grid-gap-2">
            <div class="grid-col-auto">
              <img src="{% static "img/doj-logo-footer.svg" %}"
                   alt=""
                   height="64" />
            </div>
            <div class="grid-col-auto">
              <p class="usa-footer__logo-heading">
                Civil Rights Division
                <br/> U.S. Department of Justice
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="{% static 'js/uswds.min.js' %}"></script>
  {% block page_js %}{% endblock %}
</html>
