{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block page_header %}
<header class="confirmation-header">
  <div class="grid-container">
    <div class="grid-row grid-gap flex-child">
      <div class="tablet:grid-col-9 tablet:grid-offset-1">
        <div class="doj-brand display-flex flex-align-center font-serif-lg">
          <img src="{% static "img/doj-logo-footer.svg" %}" alt="" height="38" class="margin-right-105" />
          <span>United States Department of Justice<span>
        </div>
        <h1 class="padding-top-2 padding-bottom-1 margin-0 title">
          Civil Rights Division
        </h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section class="grid-container">
  <div class="grid-row">
  <div class="tablet:grid-col-8 tablet:grid-offset-2">
    <div class="crt-success-card">
      <div class="crt-success-card__content">
          <h2>{{ status }}<img src="{% static "img/alerts/error-red.svg" %}" width="50px" height="50px" class="padding-top-3"></h2>
          <h3>{{ message }}</h3>
          <p>{{ helptext }}</p>
          </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}

