{% load i18n %}

{% for question_group in wizard.form.question_groups %}
  <fieldset class="usa-fieldset">
    <legend class="question--header">
      {{ question_group.group_name }}{% if not question_group.optional %}<span class="field-required--group">{% trans "required" %}</span>{% endif %}
    </legend>
    {% if question_group.help_text %}
      <p class="help-text {% if question_group.label_cls %}{{question_group.label_cls}}{% endif %}" id="{{question_group.ally_id}}">
        {{ question_group.help_text }}
      </p>
    {% endif %}

    {% for field in question_group %}
      {% include "forms/snippets/input.html" with field=field label_class=question_group.help_cls %}
`    {% endfor %}`
  </fieldset>
{% endfor %}
