{% for question_group in wizard.form.question_groups %}
  <fieldset class="usa-fieldset">
    <legend class="em-text">
      {{ question_group.group_name }}
    </legend>
    {% if question_group.help_text %}
      <p class="margin-bottom-4 margin-top-0 {{question_group.label_cls}}" id="{{question_group.ally_id}}">
        <em class="help-text">
          {{ question_group.help_text }}
        </em>
      </p>
    {% else %}
      <div class="margin-bottom-4"></div>
    {% endif %}

    {% for field in question_group %}
      {% include "forms/snippets/input.html" with field=field label_class=question_group.help_cls %}
    {% endfor %}
  </fieldset>
{% endfor %}
