{% for question_group in wizard.form.question_groups %}
  <fieldset class="usa-fieldset">
    <legend class="em-text">
      {{ question_group.group_name }}
    </legend>
    {% if question_group.help_text %}
      <p class="margin-bottom-3 margin-top-0" id="{{question_group.ally_id}}">
        <em>
          {{ question_group.help_text }}
        </em>
      </p>
    {% else %}
      <div class="margin-bottom-3"></div>
    {% endif %}

    {% for field in question_group %}
      {% include "forms/snippets/input.html" with field=field label_class=question_group.cls %}
    {% endfor %}
  </fieldset>
{% endfor %}
