{% extends "forms/base.html" %}

{% block page_header %}

<header class="page-header-background">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12">
          <p align="right"><a href="/accounts/logout">log out</a></p>
          <h1>
            DOJ Civil Rights Portal
          </h1>
        </div>
      </div>
    </div>
  </header>
{% endblock %}


{% block content %}

<div class="grid-container">
<div class="grid-col-auto">
  <a href="/report"><button name="Create record" label="first step" class="usa-button margin-top-2">+ Add new record</button></a>
  <h2>All reports view</h2>
  <table class="usa-table">
    <tr>
      <th>Submission Date</th>
      <th>Complainant Name</th>
      <th>Complainant Contact</th>
      <th>Violation Summary</th>
    </tr>
    {% if data_dict %}
     {% for violationreport in data_dict %}
       <tr>
       <td>{{ violationreport.create_date|date:"SHORT_DATE_FORMAT" }}</td>
       <td>{{ violationreport.contact_last_name }}, {{ violationreport.contact_first_name }}</td>
       <td>{{ violationreport.contact_email }}<br>{{ violationreport.contact_phone }}</td>
       <td>{{ violationreport.violation_summary|truncatechars:125 }}</td>
       </tr>
     {% endfor %}
    {% else %}
      <tr><th>No reports are available.<th><tr>
    {% endif %}
  </table>
  </div>
</div>
{% endblock %}