{% extends "forms/complaint_view/intake_base.html" %}
{% load configurable_content %}
{% include "templates/partials/expandable.html" %}
{{ super }}

{% block head %}
  {{ super }}
  <link rel="stylesheet" href="{% static 'css/vendor/intlTelInput.min.css' %}">
{% endblock %}

{% block page_header %}
 {% include 'forms/complaint_view/side_nav.html' with page='report_records' section_filter=False %}
{% endblock %}

{% block main_class %} class="margin-top-5 margin-bottom-0"{% endblock %}

{% block content %}
<form style="all: unset;" action="/api/report-edit/" method="post" id="report-form">
<div class="grid-row">
<h1 class="intake-section-title padding-bottom-2m margin-left-5">{{title}}</h1>
</div>
<div class="grid-row margin-top-2">
<div class="intake-content intake-phone-content grid-col-8">
  <div id="status-update" class="grid-col-auto">
    {% include 'partials/messages.html' %}
  </div>

  <div class="crt-portal-card main-card">
    <div class="crt-portal-card__content">
      <section id="page-errors" class="page-errors margin-bottom-2" role="alert" aria-live="assertive" hidden>
      </section>

      {% csrf_token %}
      <h2>Contact</h2>
 
      <!-- 
        We should probably clean up all of the "if section == ..." stuff 
       as this is going to become a nightmare in terms of readability
       and therefore difficult to maintain. I would suggest we split each section's
       form out into its own template, but that also gets messy because we then are duplicating
       templates... so I don't really have a good solution at this time. I will think about this
       more when I have time as right now I am focused on delivering an MVP for the CRU form.
       -->
      {% if section == "CRU" %}
      <hr>
      {% include 'partials/start_expandable.html' with title='Charging Party of Aggrieved Individual' expanded="true" %}
      {% endif %}

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.contact_first_name %}
      </div>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.contact_last_name %}
      </div>

      <div class="grid-row margin-top-2 margin-bottom-3">
        {% include 'partials/field.html' with field=form.contact_phone %}
      </div>

      {% if section == 'VOT' %}
      <hr>
      {% include 'partials/start_expandable.html' with title='See more contact fields' %}

      <p>
        <em>Though the reporter is not obligated to provide the following, you may record volunteered information here</em>
      </p>
      {% endif %}

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.contact_email %}
      </div>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.contact_address_line_1 %}
      </div>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.contact_address_line_2 %}
      </div>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.contact_city field_size=6 extra_class="padding-right-2" %}
        {% include 'partials/field.html' with field=form.contact_state extra_class="padding-right-2" field_size=6 %}
      </div>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.contact_zip %}
      </div>

      {% if section == "CRU" %}
      {% include 'partials/end_expandable.html' %}
      {% endif %}

      {% if section == 'VOT' %}
      <hr>
      {% include 'partials/end_expandable.html' %}
      {% endif %}

      {% for additional_contact in additional_contacts %}
        <hr>
        {% include 'partials/start_expandable.html' with title=additional_contact.kind.initial %}

        <div class="grid-row margin-top-2">
          {% include 'partials/field.html' with field=additional_contact.name %}
        </div>

        <div class="grid-row margin-top-2 margin-bottom-3">
          {% include 'partials/field.html' with field=additional_contact.phone %}
        </div>

        <div class="grid-row margin-top-2">
          {% include 'partials/field.html' with field=additional_contact.email %}
        </div>

        <div class="grid-row margin-top-2">
          {% include 'partials/field.html' with field=additional_contact.address_line_1 %}
        </div>

        <div class="grid-row margin-top-2">
          {% include 'partials/field.html' with field=additional_contact.address_line_2 %}
        </div>

        <div class="grid-row margin-top-2">
          {% include 'partials/field.html' with field=additional_contact.city field_size=6 extra_class="padding-right-2" %}
          {% include 'partials/field.html' with field=additional_contact.state extra_class="padding-right-2" field_size=6 %}
        </div>

        <div class="grid-row margin-top-2">
          {% include 'partials/field.html' with field=additional_contact.zip_code %}
        </div>

        {% include 'partials/end_expandable.html' %}
      {% endfor %}

      <hr>

      <h2>Primary concern</h2>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.primary_complaint strong_label=True %}
      </div>

      {% if form.public_or_private_employer %}
      <h2>Public or private employer</h2>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.public_or_private_employer strong_label=True %}
      </div>
      {% endif %}

      {% if form.employer_size %}
      <h2>Employer size</h2>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.employer_size strong_label=True %}
      </div>
      {% endif %}

      {% if form.protected_class %}
      <h2>Protected class</h2>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.protected_class strong_label=True %}
      </div>
      {% endif %}

      {% if form.eeoc_charge_number %}
        <h2>EEOC charge number</h2>

        <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.eeoc_charge_number strong_label=True %}
        </div>
      {% endif %}

      {% if form.eeoc_office %}
      <h2>EEOC office</h2>

      <div class="margin-bottom-2 crt-dropdown">
        <label for="id_eeoc_office" class="intake-label display-none">
          {{ form.fields.eeoc_office.label }}
        </label>
        <div class="usa-combo-box" style="width: 100%" data-placeholder="(none)" data-default-value="{{ form.eeoc_office.value }}">
          {{ form.eeoc_office }}
        </div>
      </div>
      {% endif %}

      {% if section != "CRU" %}
      <h2>Incident location</h2>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.location_name %}
      </div>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.location_address_line_1 %}
      </div>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.location_address_line_2 %}
      </div>

      <div class="grid-row margin-top-2">
        {% include 'partials/field.html' with field=form.location_city_town field_size=6 extra_class="padding-right-2" %}
        {% include 'partials/field.html' with field=form.location_state field_size=6 %}
      </div>

      <div class="grid-row margin-top-2 margin-bottom-3">
        {% include 'partials/field.html' with field=form.location_zipcode %}
      </div>

      <hr>

      <h2>Summary</h2>
      <div class="margin-top-1 margin-bottom-2">
        {% include "forms/question_cards/single_question.html" with field=form.violation_summary card_title="Personal Description" %}
        {% include "forms/word_counter.html" with word_limit=500 %}
      </div>

      {% endif %}

      <hr>

      <div class="margin-bottom-3 margin-top-3 display-flex flex-align-end">
        {% include "forms/question_cards/date.html" with question='Receipt date' month=form.crt_reciept_month day=form.crt_reciept_day year=form.crt_reciept_year required=True proform_required=True %}
      </div>

      {# These are hidden inputs: #}
      {{form.intake_format}}
      {{form.pk}}
    </div>
  </div>
</div>
<div class="intake-sidebar grid-col-3 margin-top-3">
  {% if section == 'VOT' %}
  <div class="crt-portal-card margin-top-2">
    <div class="crt-portal-card__content">
      <h2>Quick Links</h2>
      {% configurable_content 'vot-form-links' %}
    </div>
  </div>
  {% endif %}

  {% if section == 'VOT' %}
  <div class="crt-portal-card margin-top-2">
    <div class="crt-portal-card__content stacked-sidebar-width">
      <h2>State resources</h2>
      {{ state_resources_selector }}
      <div class="width-mobile">
      <table class="usa-table usa-table--stacked usa-table--borderless">
        <thead>
          <tr>
            <td>Poll Hours</td>
            <td>Contact - Questions</td>
            <td>Contact - Complaints</td>
          </tr>
        </thead>
        <tbody>
          {% configurable_content 'vot-form-states' %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="margin-top-2">
    {% include 'partials/field.html' with field=form.public_id %}

    <button type="button" data-saves="report-form" class="usa-button crt-button--large">Save</button>
    <a href="/form/new/phone" class="usa-button usa-button--outline crt-button--large">Create New</a>
  </div>

</div>
</div>
</form>

{% endblock %}
{% if ENABLED_FEATURES.nav_updates %}
</div>
{% endif %}
{% block page_js %}
{{ super }}
<script nonce="{{request.csp_nonce}}">
  (function(root) {
    root.CRT = root.CRT || {};

    root.CRT.translations = {
      wordRemainingText: "word remaining",
      wordsRemainingText: " words remaining",
      wordLimitReachedText: " word limit reached"
    };
  })(window)
</script>
<script src="{% static 'js/ga_util.min.js' %}"></script>
<script src="{% static 'vendor/js.cookie.min.js' %}"></script>
<script src="{% static 'vendor/shepherd.min.js'%}"></script>
<script src="{% static 'js/modal.min.js' %}"></script>
<script src="{% static 'js/pro_form_show_hide.min.js' %}"></script>
<script src="{% static 'js/word_count.min.js' %}"></script>
<script src="{% static 'vendor/intlTelInput.min.js' %}"></script>
<script src="{% static 'js/report_phone.min.js' %}"></script>
<script src="{% static 'js/async_report_edit.min.js' %}"></script>
<script src="{% static 'js/state_hide_show.min.js' %}"></script>
{% if ENABLED_FEATURES.nav_updates %}
    <script src="{% static 'js/side_nav_slider.min.js' %}"></script>
{% endif %}
<script type="module" src="{% static 'js/tour.min.js'%}"></script>
<script src="{% static 'js/autofill_current_date.min.js' %}"></script>
{% endblock %}
