{% extends "forms/report_base.html" %}

{{ super }}
{% block form_id %}
<form id="report-form"
      class="usa-form"
      action=""
      method="post"
      novalidate
>
{% endblock form_id %}

{% block form_questions %}
{{ block.super }}

     <div class="crt-portal-card">
        <div class="crt-portal-card__content crt-portal-card__content--lg">
            <h2>Intake</h2>
            {% include "forms/question_cards/date.html" with question='CRT receipt date' month=wizard.form.crt_reciept_day day=wizard.form.crt_reciept_day year=wizard.form.crt_reciept_year %}

            {% include "forms/question_cards/single_question.html" with field=wizard.form.intake_format %}
        </div>
    </div>

    {% include "forms/question_cards/contact.html" with card_title='Contact' %}

    {% include "forms/question_cards/single_form.html" with field=wizard.form.servicemember card_title="Service Member" %}

    {% include "forms/question_cards/single_form.html" with field=wizard.form.primary_complaint card_title="Primary Concern" %}

    {% include "forms/question_cards/single_form.html" with field=wizard.form.hatecrimes_trafficking %}

    <div class="crt-portal-card">
        <div class="crt-portal-card__content crt-portal-card__content--lg">
            <h2>Follow up questions</h2>

            {% include "forms/question_cards/single_question.html" with field=wizard.form.public_or_private_employer label_class=question_group.help_cls %}
            {% include "forms/question_cards/single_question.html" with field=wizard.form.employer_size label_class=question_group.help_cls %}
            {% include "forms/question_cards/single_question.html" with field=wizard.form.public_or_private_school label_class=question_group.help_cls %}
            {% include "forms/question_cards/single_question.html" with field=wizard.form.election_details label_class=question_group.help_cls %}
            {% include "forms/question_cards/single_question.html" with field=wizard.form.inside_correctional_facility label_class=question_group.help_cls %}
            {% include "forms/question_cards/single_question.html" with field=wizard.form.correctional_facility_type label_class=question_group.help_cls %}
            {% include "forms/question_cards/single_question.html" with field=wizard.form.commercial_or_public_place label_class=question_group.help_cls %}
            {% include "forms/question_cards/single_question.html" with field=wizard.form.other_commercial_or_public_place label_class=question_group.help_cls %}

        </div>
    </div>

    {% include "forms/question_cards/location.html" with card_title="Incident location" %}


    <div class="crt-portal-card">
        <div class="crt-portal-card__content crt-portal-card__content--lg">
            <h2>Personal characteristics</h2>
            {% include "forms/question_cards/single_question.html" with field=wizard.form.protected_class card_title="Personal characteristics" %}
            {% include "forms/question_cards/single_question.html" with field=wizard.form.other_class card_title="Personal characteristics" %}
        </div>
    </div>

    <div class="crt-portal-card">
        <div class="crt-portal-card__content crt-portal-card__content--lg">
            <h2>Date</h2>
            {% include "forms/question_cards/date.html" with card_title='Date' question=wizard.form.date_question month=wizard.form.last_incident_month day=wizard.form.last_incident_day year=wizard.form.last_incident_year %}
        </div>
    </div>

    {% include "forms/question_cards/summary.html" with field=wizard.form.violation_summary card_title="Intake summary" %}

{% endblock %}
