{# not on public pages #}
{% extends "forms/report_base.html" %}
{{ super }}

{% block head %}
  {{ super }}
  <link rel="stylesheet" href="{% static 'css/vendor/intlTelInput.min.css' %}">
{% endblock %}

{% block page_header %}
  {% include 'forms/complaint_view/intake_header.html' with title_text="CRT Public Complaint Intake" section_filter=False %}
  {% if ENABLED_FEATURES.nav_updates %}
  <div class="intake-header--progress-bar">
    <div class="grid-container">
      {% include 'forms/portal/progress-bar.html' %}
    </div>
  </div>
  <div class="main-wrapper intake-form">
  {% endif %}
{% endblock %}

{% block form_questions %}
<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    {% if page_errors %}
      <section id="page-errors" class="display-none page-errors margin-bottom-2" role="alert" aria-live="assertive">
      {{ num_page_errors }} error{{ num_page_errors|pluralize }}: {{ page_errors_desc }}
      </section>
    {% endif %}

    <h2 class="h1" id="intake">Intake</h2>
    <div class="margin-top-3 display-flex flex-align-end">
      {% include "forms/question_cards/date.html" with question='CRT receipt date' month=form.crt_reciept_month day=form.crt_reciept_day year=form.crt_reciept_year required=True proform_required=True %}
      <button id="today-receipt-btn" name="today-receipt-date" label="autofill receipt date"
        class="usa-button usa-button--unstyled autofill_today_btn margin-left-2" type="button">Today</button>
    </div>
    <div class="margin-top-4">
      {% include "forms/question_cards/single_question.html" with field=form.intake_format required=True proform_required=True %}
    </div>
  </div>
</div>

<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    {% include "forms/question_cards/contact.html" with card_title='Contact' %}
  </div>
</div>

{% include "forms/question_cards/single_form.html" with field=form.servicemember card_title="Service member" %}

<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    <h2 class="h1" id="primary-concern">Primary concern</h2>
    <div class="margin-top-3">
      {% include "forms/question_cards/single_question.html" with field=form.primary_complaint required=True proform_required=True %}

      {# Optional questions: #}

      {% include "forms/question_cards/single_question.html" with hidden=True field=form.public_or_private_employer label_class=question_group.help_cls %}

      {% include "forms/question_cards/single_question.html" with hidden=True field=form.employer_size label_class=question_group.help_cls %}

      {% include "forms/question_cards/single_question.html" with hidden=True field=form.public_or_private_school label_class=question_group.help_cls %}

      {% include "forms/question_cards/single_question.html" with hidden=True field=form.inside_correctional_facility label_class=question_group.help_cls %}

      {% include "forms/question_cards/single_question.html" with hidden=True field=form.correctional_facility_type label_class=question_group.help_cls %}

      {% include "forms/question_cards/single_question.html" with hidden=True field=form.commercial_or_public_place label_class=question_group.help_cls %}

      {% include "forms/question_cards/other_question.html" with hidden=True field=form.other_commercial_or_public_place label="Other commercial or public place" label_class=question_group.help_cls %}
    </div>
  </div>
</div>

{% include "forms/question_cards/single_form.html" with field=form.hate_crime %}

{% include "forms/question_cards/location.html" with card_title="Incident location" %}

<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    <h2 class="h1" id="personal-characteristics">Personal characteristics</h2>
    <div class="margin-top-3">
      {% include "forms/question_cards/single_question.html" with field=form.protected_class card_title="Personal characteristics" %}
    </div>
    {% include "forms/question_cards/other_question.html" with field=form.other_class card_title="Personal characteristics" %}
  </div>
</div>

<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    <h2 class="h1" id="date">Date</h2>
    <div class="margin-top-3 display-flex flex-align-end">
      {% include "forms/question_cards/date.html" with card_title='Date' question=form.date_question month=form.last_incident_month day=form.last_incident_day year=form.last_incident_year required=False %}
      <button id="today-complaint-btn" name="today-complaint-date" label="autofill complaint date"
        class="usa-button usa-button--unstyled autofill_today_btn margin-left-2 flex-align-end" type="button">
        Today
      </button>
    </div>
  </div>
</div>

<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    <h2 class="h1" id="date">Attachments</h2>
    <div class="display-flex flex-align-end grid-row">
      {% include "forms/snippets/file_upload.html" with title="Attachments" %}
    </div>
  </div>
</div>

<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    <h2 class="h1" id="personal-description">Personal Description</h2>
    <div class="margin-top-3">
      {% include "forms/question_cards/single_question.html" with field=form.violation_summary card_title="Personal Description" %}
      {% include "forms/word_counter.html" with word_limit=500 %}
    </div>
  </div>
</div>

{% endblock %}
{% if ENABLED_FEATURES.nav_updates %}
</div>
{% endif %}
{% block page_js %}
{{ super }}
<script nonce="{{request.csp_nonce}}">
  (function(root) {
    root.CRT = root.CRT || {};

    root.CRT.translations = {
      wordRemainingText: "word remaining",
      wordsRemainingText: " words remaining",
      wordLimitReachedText: " word limit reached"
    };
  })(window)
</script>
<script src="{% static 'vendor/js.cookie.min.js' %}"></script>
<script src="{% static 'js/modal.min.js' %}"></script>
<script src="{% static 'js/pro_form_attachments.min.js' %}"></script>
<script src="{% static 'js/disable_submit_button.min.js' %}"></script>
<script src="{% static 'js/pro_form_show_hide.min.js' %}"></script>
<script src="{% static 'js/autofill_current_date.min.js' %}"></script>
<script src="{% static 'js/word_count.min.js' %}"></script>
<script src="{% static 'js/progress-bar.min.js' %}"></script>
<script src="{% static 'vendor/intlTelInput.min.js' %}"></script>
<script src="{% static 'js/report_phone.min.js' %}"></script>
{% if ENABLED_FEATURES.nav_updates %}
    <script src="{% static 'js/side_nav_slider.min.js' %}"></script>
{% endif %}
{% endblock %}
