{% extends "forms/report_base.html" %}
{% load i18n %}
{% load static %}

{% block form_questions %}
<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    {{ block.super }}

    {% include "forms/question_cards/single_question.html" with field=form.hate_crime %}
    <div class="form-group top-margin">
      <h3 class="question--header">
        {% trans "Were you forced to work against your will?" %}
      </h3>
      <p class="help-text__small">
        {% trans "Human trafficking includes being forced or coerced to do work, or forced or coerced to engage in sex acts for something of value." %}
      </p>
      <a class="usa-button usa-button--outline light-button external-link--popup" aria-label="{% trans "Were you forced to work against your will?" %} {% trans "Get help from the National Human Trafficking Hotline" %}" href=" https://humantraffickinghotline.org/">{% trans "Get help from the National Human Trafficking Hotline" %}
        <img src="{% static 'img/external_link.svg'%}" alt="external link" class="icon" />
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block modals %}
  {% include "partials/redirect-modal.html" %}
{% endblock %}

{% block footer_extra %}
  <div class="privacy-footer">
    {% include "partials/policy.html" %}
  </div>
{% endblock %}

{% block page_js %}
  {{ super }}
  <script src="{% static 'js/bold_phrase.min.js' %}"></script>
  <script src="{% static 'js/modal.min.js' %}"></script>
  <script src="{% static 'js/redirect-modal.min.js' %}"></script>
{% endblock %}
