{% extends "forms/report_base.html" %}
{% load i18n %}


{% block extra_errors %}
  <ul class="error-summary">
  {% for question in form.summary_error_questions %}
      <li>{{question}}</li>
  {% endfor %}
  </ul>
{% endblock %}

{% block form_questions %}
  <div class="crt-portal-card">
    <div class="crt-portal-card__content crt-portal-card__content--lg">
      {{ block.super }}

      {% if form.name == 'PoliceLocation' %}
        {% include "forms/question_cards/police_location.html" with form=form %}
      {% elif form.name == 'CommericalPublicLocation' %}
        {% include 'forms/question_cards/commercial_public_location.html' %}
      {% endif %}

      {% include 'forms/grouped_questions.html' %}

      {% with city=form.location_city_town state=form.location_state %}
        <div class="grid-row">
          <div class="margin-top-3 mobile-lg:grid-col-9">
            <div class="grid-row margin-bottom-4">
              <div class="mobile-lg:grid-col-6 margin-bottom-3">
                <label for="{{city.id_for_label}}">
                  {{ city.label }}{% if city.field.required %}<span class="field-required">{% trans "required" %}</span>{% endif %}
                </label>
                {{city|withInputError}}
              </div>
              <div class="mobile-lg:grid-col-5 mobile-lg:grid-offset-1">
                <label for="{{state.id_for_label}}">
                  {{state.label}}{% if state.field.required %}<span class="field-required">{% trans "required" %}</span>{% endif %}
                </label>
                {{state|withInputError}}
              </div>
            </div>
            {% if city.errors %}
              {% include "forms/snippets/error_alert.html" with errors=city.errors %}
            {% endif %}
            {% if state.errors %}
              {% include "forms/snippets/error_alert.html" with errors=state.errors %}
            {% endif %}
          </div>
        </div>
      {% endwith %}
    </div>
  </div>
{% endblock %}
