{% extends "forms/report_base.html" %}
{% load i18n %}

{% block form_questions %}
 <div class="crt-portal-card">
    <div class="crt-portal-card__content crt-portal-card__content--lg margin-bottom-3">
        {{ block.super }}

        <h3 class="question--header display-block margin-bottom-1">{% trans "Before you submit your report, please check your responses" %}</h3>

        <p class="help-text">{% trans "If you need to make any changes, you can go back and edit the previous pages. Please make sure your information is accurate. This allows us to respond to your report quickly." %}</p>

        <input id="submit-next-top" type="submit" value="{% trans 'Submit report' %}" class="usa-button">
    </div>
</div>

{% include "forms/report_data.html" with ordered_step_names=ordered_step_names question=question form_data_dict=form_data_dict %}

{% endblock %}

{% block bottom-navigation %}
<div class="margin-top-5">
<input id="submit-next-bottom"
      type="submit"
      value="{% trans 'Submit report' %}"
      class="usa-button" />

    {% if wizard.steps.prev %}
    <div class="margin-top-2">
      <button name="wizard_goto_step"
              id="submit-report"
              type="submit"
              label="{% trans "previous step" %}"
              value="{{ wizard.steps.prev }}"
              class="usa-button usa-button--unstyled">
        {% trans "Back" %}
      </button>
    </div>
    {% endif %}
</div>
{% endblock %}
