{% extends "forms/report_base.html" %}
{% block page_info_card %}
  <div class="crt-portal-card crt-portal-card margin-bottom-3">
    <div class="crt-portal-card__content crt-portal-card__content--lg padding-bottom-4">
      <p class="page-form-title font-sans">
        If you believe you or someone else has experienced a civil rights violation, please tell us what happened.
      </p>
    </div>
  </div>
{% endblock %}
{% block form_questions %}
  <div class="crt-portal-card crt-portal-card">
    <div class="crt-portal-card__content crt-portal-card__content--lg">
      {{ block.super }}
      {% include 'forms/grouped_questions.html' %}
      {% with city=wizard.form.contact_city state=wizard.form.contact_state zip=wizard.form.contact_zip %}
        <div class="grid-row grid-gap margin-y-neg-3 margin-bottom-4">
          <div class="mobile-lg:grid-col-8">
            <label for="{{city.id_for_label}}">
              {{ city.label }}
            </label>
            {{ city }}
          </div>
          <div class="mobile-lg:grid-col-4">
            <label for="{{state.id_for_label}}">
              {{state.label}}
            </label>
            {{ state }}
          </div>
        </div>
        <div class="margin-bottom-5">
          <label for="{{zip.id_for_label}}">
            {{ zip.label }}
          </label>
          {{ zip }}
        </div>
      {% endwith %}


    </div>
  </div>

  <div class="crt-portal-card crt-portal-card margin-top-3">
    <div class="crt-portal-card__content crt-portal-card__content--lg">  
      {% with field=wizard.form.servicemember %}
        <fieldset class="usa-fieldset">
          <legend class="em-text big margin-bottom-0">
            {{field.label}}
          </legend> 
          <p class="margin-bottom-3 margin-top-0" id="service-member-help-text">
            <em>{{ field.help_text }}</em>
          </p>
          <div aria-labelledby="service-member-help-text">
            {{ field }}
            {% if field.errors %}
              {% include "forms/snippets/error_alert.html" with errors=field.errors %}
            {% endif %}
          </div>
        </fieldset>
      {% endwith %}
    </div>
  </div>
{% endblock %}
