{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}
  {% if wizard.steps.step1 and current_step_name %}
    <title>
        {% blocktrans with stage_number=stage_number current_step_name=current_step_name %}
          Step {{ stage_number }}: {{ current_step_name }} - Contact the Civil Rights Division | Department of Justice
        {% endblocktrans %}
    </title>
  {% else %}
    <title>{% trans "Contact the Civil Rights Division | Department of Justice" %}</title>
  {% endif %}
{% endblock %}

{% block head %}
  {{ wizard.form.media }}
{% endblock %}

{% block page_header %}
  {% trans "Contact the Department of Justice to report a civil rights violation" as intro_text %}
  {% include 'forms/portal/header.html' with intro_text=intro_text %}
{% endblock %}

{% block content %}
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-8 tablet:grid-offset-2">
        {% block page_info_card %}{% endblock %}
          <form id="report-form"
                class="usa-form"
                action=""
                method="post"
                {% if form_autocomplete_off %}autocomplete="off"{% endif %}
                {% if form_novalidate %}novalidate{% endif %}
          >
          {% csrf_token %}
          {{ wizard.management_form }}

          {% if form.non_field_errors %}
            {% include "forms/snippets/error_alert.html" with errors=form.non_field_errors %}
          {% endif %}

          {% for hidden_field in form.hidden_fields %}
            {% if hidden_field.errors %}
              {% include "forms/snippets/error_alert.html" with errors=hidden_field.errors %}
            {% endif %}
            {{ hidden_field }}
          {% endfor %}

          {% block form_questions %}
            {% if page_errors %}
              <section id="page-errors" class="page-errors margin-bottom-2" role="alert" aria-live="assertive">
                {% blocktrans count counter=num_page_errors %}
                  1 error found
                {% plural %}
                  {{counter}} errors found
                {% endblocktrans %}

                {% block extra_errors %}
                  <ul class="error-summary">
                    {% for field in form %}
                      {% if field.errors %}
                        <li>{{field.label}}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endblock extra_errors %}
              </section>

            {% endif %}
            <h2 class="h1">{{ current_step_title }}</h2>
            {% if form.page_note %}
              <p class="help-text">{{ form.page_note }}</p>
            {% endif %}
          {% endblock %}

          {% block bottom-navigation %}
          <div class="margin-top-5">
            <input id="submit-next"
                  type="submit"
                  value={% if submit_button %}
                          "{% trans 'Submit' %}"
                        {% else %}
                          "{% trans 'Next' %}"
                        {% endif %}
                  class="usa-button" />

            {% if wizard.steps.prev %}
              <button name="wizard_goto_step"
                      type="submit"
                      label="{% trans "previous step" %}"
                      value="{{ wizard.steps.prev }}"
                      class="look-like-link margin-top-2 display-block">
                {% trans "Back" %}
              </button>
            {% endif %}
          </div>
          {% endblock %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_extra %}
<div class="privacy-footer">
  {% include "partials/policy.html" %}
</div>
{% endblock footer_extra %}

{% block page_js %}
<script nonce="{{request.csp_nonce}}">
  (function(root) {
    root.CRT = root.CRT || {};

    root.CRT.translations = {
      wordRemainingText: "{{ word_count_text.wordRemainingText }}",
      wordsRemainingText: "{{ word_count_text.wordsRemainingText }}",
      wordLimitReachedText: "{{ word_count_text.wordLimitReachedText }}"
    };
  })(window)
</script>
<script src="{% static 'js/word_count.js' %}"></script>
{% endblock %}
