{% extends "forms/report_base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block form_questions %}
  {% with primary_complaint_field=wizard.form.primary_complaint %}
    <div class="crt-portal-card">
      <div class="crt-portal-card__content crt-portal-card__content--lg">
        {{ block.super }}
        <p class="question--header" id="primary-complaint-help-text">
          {{ primary_complaint_field.label }}{% if not question_group.optional %}<span class="field-required--group">{% trans "required" %}</span>{% endif %}
        </p>

        {% if primary_complaint_field.help_text %}
          <div class="help-text">
            {{ primary_complaint_field.help_text }}
          </div>
        {% endif %}
      </div>
    </div>

    {% if primary_complaint_field.errors %}
      {% include "forms/snippets/error_alert.html" with errors=primary_complaint_field.errors %}
    {% endif %}
    <div role="group" aria-labelledby="primary-complaint-help-text" class="question_primary_complaint margin-top-3">
      {{ primary_complaint_field|withInputError }}
    </div>
  {% endwith %}
{% endblock %}

{% block page_js %}
  {{ block.super }}
  {% render_bundle 'primaryComplaint' %}
{% endblock %}
