{% extends "forms/report_base.html" %}
{% block form_questions %}

  {% for field in wizard.form.visible_fields %}
    <div class="usa-prose margin-bottom-2">
      <label for="{{ field.id_for_label }}"
             class="big margin-bottom-0">
        {{ field.label }}
      </label>
      <p><em>{{ field.help_text }}</em></p>
      {% if field.errors %}
        <div class="usa-alert usa-alert--warning usa-alert--slim">
          <div class="usa-alert__body">
          <em class="usa-alert__text">{{ field.errors }}</em>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="margin-bottom-1">
      {{ field }}
    </div>
    {% include "forms/word_counter.html" with word_limit=500 %}
  {% endfor %}

<div class="margin-bottom-5"></div>
{% endblock %}
