{% extends "forms/report_base.html" %}
{% block form_questions %}
	<div class="crt-portal-card">
		<div class="crt-portal-card__content crt-portal-card__content--lg">
			{{ block.super }}
			{% for field in wizard.form.visible_fields %}

				<div class="margin-bottom-2">
				<label
					for="{{ field.id_for_label }}"
					class="{{label_class}} margin-bottom-0"
				>
					<span class="em-text display-block margin-bottom-1">{{ field.label }}</span>
				{% if field.help_text %}
					<em>{{ field.help_text.title }}</em>
					<ul class="question_primary_complaint">
					{% for example in field.help_text.examples %}
						<li class="primary-issue-example-li margin-left-4"><em>{{ example }}</em></li>
					{% endfor %}
					</ul>
				{% endif %}
				</label>

			</div>
			<div class="margin-bottom-1">
				{{ field|withInputError }}
				{% if field.errors %}
					{% include "forms/snippets/error_alert.html" with errors=field.errors %}
				{% endif %}
			</div>

				{% include "forms/word_counter.html" with word_limit=500 %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
