{% extends "forms/report_base.html" %}
{% block form_questions %}
  <div class="page-subtitle margin-top-4">{{ page_subtitle }}</div>

  {% if step_helptext %}
  <div class="margin-bottom-4"><em>{{ step_helptext }}</em></div>
  {% endif %}

  {% for question_group in wizard.form.question_groups %}
    <fieldset class="usa-fieldset margin-bottom-5">
      <legend>
        {{ question_group.group_name }}
        {% if question_group.optional %}
          <span class="question_group_optional_tag">(optional)</span>
        {% endif %}
      </legend>
      {% if question_group.help_text %}
        <div class="margin-bottom-3">
          <em>{{ question_group.help_text }}</em>
        </div>
      {% else %}
        <div class="margin-bottom-2"></div>
      {% endif %}

      {% for field in question_group %}
        <label for="{{ field.id_for_label }}" class="margin-bottom-0">
          {{ field.label }}
        </label>
        <em>{{ field.help_text }}</em>
        {{ field.errors }}
        <div {% if forloop.last %}{% else %}class="margin-bottom-2"{% endif %}>
          {{ field }}
        </div>
      {% endfor %}
    </fieldset>
  {% endfor %}
{% endblock %}
