{% extends "forms/report_base.html" %}
{% block form_questions %}

  {% for field in wizard.form.visible_fields %}
    <div class="question_{{field.name}} margin-bottom-5">
      {% if field.help_text %}
        <div class="margin-bottom-4 usa-prose" tabindex="0">
          <em>{{ field.help_text }}</em>
        </div>
      {% endif %}

      {{ field }}

      {% if field.errors %}
        {% include "forms/snippets/error_alert.html" with errors=field.errors %}
      {% endif %}
    </div>
  {% endfor %}

{% endblock %}
