{% extends "forms/report_base.html" %}
{% load i18n %}

{% block page_info_card %}
  <div class="crt-portal-card crt-portal-card">
    <div class="crt-portal-card__content crt-portal-card__content--lg padding-bottom-4">
      <p class="page-form-title">
        {% trans "If you believe you or someone else has experienced a civil rights violation, please tell us what happened." %}
      </p>
    </div>
  </div>
{% endblock %}

{% block form_questions %}
  <div class="crt-portal-card crt-portal-card">
    <div class="crt-portal-card__content crt-portal-card__content--lg">
      {{ block.super }}
      <p class="help-text">{{ form.help_text.0 }}</p>

      {% include "forms/question_cards/contact.html" %}
    </div>
  </div>

  <div role="group" aria-labelledby="servicemember-help-text">
    {% include "forms/question_cards/single_form.html" with field=form.servicemember ally_id="servicemember-help-text" %}
  </div>
{% endblock %}

{% block submit-button %}
    <br />
    <button class="usa-button button--continue" id="report-step-1-continue">
        {% trans 'Next' %}
    </button>
    <input hidden
           id="submit-next"
           type="submit"
           value={% if submit_button %}
               {% trans 'Submit' %}
           {% else %}
               {% trans 'Next' %}
           {% endif %}
                   class="usa-button"
    />
{% endblock %}

{% block modals %}
  {% include "partials/contact-info-confirmation-modal.html" %}
{% endblock %}
