{% extends "forms/report_base.html" %}
{% block form_questions %}
  {% include 'forms/grouped_questions.html' %}
  {% if wizard.form.servicemember %}
    {% with field=wizard.form.servicemember %}
        <fieldset class="usa-fieldset">
          <legend class="em-text big margin-bottom-0">
            {{field.label}}
          </legend>
          <em id="service-member-help-text">{{ field.help_text }}</em>
          <div aria-labelledby="service-member-help-text">
            {{ field }}
            {% if field.errors %}
              {% include "forms/snippets/error_alert.html" with errors=field.errors %}
            {% endif %}
          </div>
        </fieldset>
      {% endwith %}
    {% endif %}
  {% endblock %}
