{% extends "forms/report_base.html" %}
{% load i18n %}
{% load static %}

{% block form_questions %}
 <div class="crt-portal-card">
    <div class="crt-portal-card__content margin-bottom-3">
        {{ block.super }}

        <span class="em-text display-block margin-bottom-1">Before you submit your report, please check your responses</span>

        <p><em>If you need to make any changes, you can go back and edit the previous pages. Please make sure your information is accurate. This allows us to respond to your report quickly.</em></p>

        <input id="submit-next" type="submit" value="Submit concern" class="usa-button">
    </div>
</div>

<div class="crt-portal-card">
    <div class="crt-portal-card__content margin-bottom-3">
        <h2>{{ordered_step_names.0}}</h2>
        <button name="wizard_goto_step" type="submit" label="edit contact step" value="0" class="usa-button usa-button--outline margin-top-2">
                Edit this page
              </button>
        <h3>Your name</h3>
        <h4>First name</h4>
        <p>{{ form_data_dict.contact_first_name }}</p>
        <h4>Last name</h4>
        <p>{{ form_data_dict.contact_last_name }}</p>

        <h3>Contact information</h3>
        <h4>Email address</h4>
        <p>{{ form_data_dict.contact_email }}</p>
        <h4>Phone number</h4>
        <p>{{ form_data_dict.contact_phone }}</p>

        <h3>Are you now or have ever been an active duty service member?</h3>
        <p>{{ form_data_dict.servicemember }}</p>
    </div>
</div>
<div class="crt-portal-card">
    <div class="crt-portal-card__content margin-bottom-3">
        <h2>{{ordered_step_names.1}}</h2>
        <button name="wizard_goto_step" type="submit" label="edit contact step" value="1" class="usa-button usa-button--outline margin-top-2 display-block">
                Edit this page
              </button>
        <h3>What is your primary reason for contacting the Civil Rights Division?</h3>
        <!-- TO DO: need to decode these -->
        <p>{{ form_data_dict.primary_complaint }}</p>

        <h2>Hate crimes and human trafficking</h2>
        {% for crime in form_data_dict.hatecrimes_trafficking %}
            <p>{{ crime }}</p>
        {% empty %}
            <p>None reported</p>
        {% endfor %}

    </div>
</div>
<div class="crt-portal-card">
    <div class="crt-portal-card__content margin-bottom-3">
        <h2>{{ordered_step_names.2}}</h2>
        <!-- TO DO pass the link to the right card -->
        <button name="wizard_goto_step" type="submit" label="edit contact step" value="2" class="usa-button usa-button--outline margin-top-2 display-block">
                Edit this page
              </button>

        <h3>Where did this happen?</h3>
        <p>{{ form_data_dict.location_address_line_1 }}</p>
        <p>{{ form_data_dict.location_address_line_2 }}</p>
        <p>{{ form_data_dict.location_city_town }}</p>
        <p>{{ form_data_dict.location_name }}</p>
        <p>{{ form_data_dict.location_state }}</p>

    </div>
</div>
<div class="crt-portal-card">
    <div class="crt-portal-card__content margin-bottom-3">
        <h2>{{ ordered_step_names.3 }}</h2>
        <button name="wizard_goto_step" type="submit" label="edit contact step" value="9" class="usa-button usa-button--outline margin-top-2 display-block">
                Edit this page
              </button>
        {% for characteristic in form_data_dict.protected_class %}
            <p>{{ characteristic }}</p>
        {% endfor %}

    </div>
</div>
<div class="crt-portal-card">
    <div class="crt-portal-card__content margin-bottom-3">
        <h2>{{ ordered_step_names.4 }}</h2>
        <button name="wizard_goto_step" type="submit" label="edit contact step" value="10" class="usa-button usa-button--outline margin-top-2 display-block">
                Edit this page
              </button>
        <p>{{ form_data_dict.last_incident_month }}/{{ form_data_dict.last_incident_day|default:"—" }}/{{ form_data_dict.last_incident_year}}</p>

    </div>
</div>
<div class="crt-portal-card">
    <div class="crt-portal-card__content margin-bottom-3">
        <h2>{{ordered_step_names.5}}</h2>
        <button name="wizard_goto_step" type="submit" label="edit contact step" value="11" class="usa-button usa-button--outline margin-top-2 display-block">
                Edit this page
              </button>
        <p>{{ form_data_dict.violation_summary }}</p>
    </div>
</div>
{% endblock %}


{% block bottom-navigation %}
<div class="margin-top-5">
<input id="submit-next"
      type="submit"
      value="{% trans 'Submit concern' %}"
      class="usa-button" />

    {% if wizard.steps.prev %}
      <button name="wizard_goto_step"
              type="submit"
              label="previous step"
              value="{{ wizard.steps.prev }}"
              class="look-like-link margin-top-2 display-block">
        {% trans "Back" %}
      </button>
    {% endif %}
</div>
{% endblock %}