{% extends "forms/base.html" %}
{% load i18n %}
{% block head %}
{{ wizard.form.media }}
{% endblock %}
{% block content %}
  <ol class="steps">
    <li {% if wizard.steps.step1 == 1 %}class="current"{% endif %}>
      <a href="#">What Happened</a>
    </li>
    <li {% if wizard.steps.step1 == 2 %}class="current"{% endif %}>
      <a href="#">Where</a>
    </li>
    <li {% if wizard.steps.step1 == 3 %}class="current"{% endif %}>
      <a href="#">Who</a>
    </li>
    <li {% if wizard.steps.step1 == 4 %}class="current"{% endif %}>
      <a href="#">Details</a>
    </li>
    <li {% if wizard.steps.step1 == 5 %}class="current"{% endif %}>
      <a href="#">Contact</a>
    </li>
    <li {% if wizard.steps.step1 == 6 %}class="current"{% endif %}>
      <a href="#">Review & Submit</a>
    </li>
  </ol>

  <form action="/report/" method="post">{% csrf_token %}
    <table>
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
              {{ form }}
          {% endfor %}
      {% else %}
          {{ wizard.form }}
      {% endif %}
    </table>
    {% if wizard.steps.prev %}
      <button name="wizard_goto_step" type="submit" label="first step" value="{{ wizard.steps.first }}" class="usa-button">{% trans "first step" %}</button>
      <button name="wizard_goto_step" type="submit" label="previous step" value="{{ wizard.steps.prev }}" class="usa-button">{% trans "prev step" %}</button>
    {% endif %}
    <input type="submit" label="submit" value="{% trans "submit" %}" class="usa-button"/>
  </form>
{% endblock %}
