{% extends "forms/report_base.html" %}
{% load static %}
{% block form_questions %}

<fieldset class="usa-fieldset" aria-label="{{ current_step_name }}">
  {% for field in wizard.form.visible_fields %}
    {% if field.name == 'protected_class' %}
      <label for="{{ field.id_for_label }}" class="big">
        {{ field.label }}
      </label>
      {% if field.errors %}
        {% include "forms/error_warning.html" with errors=field.errors %}
      {% endif %}
      <p class="usa-prose margin-bottom-4">
        <em>{{ field.help_text }}</em>
      </p>
      <div class="margin-bottom-3">
        {{ field }}
      </div>
    {% elif field.name == 'other_class' %}
      <div id='other-class-option' class="padding-left-3">
        {% if field.errors %}
          {% include "forms/error_warning.html" with errors=field.errors %}
        {% endif %}
        <div class="blue-left-highlight">
          <label for="{{ field.id_for_label }}">{{ field.help_text }}</label>
          {{ field }}
          <div class="margin-top-1">
            {% include "forms/word_counter.html" with word_limit=10 %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</fieldset>

<div class="margin-bottom-5"></div>
{% endblock %}

{% block page_js %}
<script src="{% static 'js/other_show_hide.js' %}"></script>
<script src="{% static 'js/word_count.js' %}"></script>
{% endblock %}