{% extends "forms/report_base.html" %}
{% load i18n %}
{% load static %}

{% block form_questions %}
<div class="crt-portal-card">
  <div class="crt-portal-card__content crt-portal-card__content--lg">
    {{ block.super }}

    {% include "forms/question_cards/single_question.html" with field=form.hate_crime %}
    <div class="form-group top-margin">
      <h3 class="question--header">
        {% trans "Were you forced to work against your will?" %}
      </h3>
      <p class="help-text__small">
        {% trans "Human trafficking includes being forced or coerced to do work, or forced or coerced to engage in sex acts for something of value." %}
      </p>
      <a class="usa-button usa-button--outline light-button external-link--popup" aria-label="{% trans "Were you forced to work against your will?" %} {% trans "Get help from the National Human Trafficking Hotline" %}" href=" https://humantraffickinghotline.org/">{% trans "Get help from the National Human Trafficking Hotline" %}
        <img src="{% static 'img/external_link.svg'%}" alt="external link" class="icon" />
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block usa_footer %}
  <div id="external-link--modal" hidden>
    <div class="modal-wrapper" role="dialog" aria-modal="true" aria-describedby="modal_dialog_header">
      <div class="modal-content modal-content--small">
        <div class="modal-header">
          <h1 id="modal_dialog_header" class="h2__display">
            {% trans "You are now leaving the Department of Justice website." %}
          </h1>
        </div>
        <div class="modal-form">
          <p>
            {% trans "You will automatically be redirected to:" %}
            <span>
              <a id="external-link--address" href="#"></a>
            </span>
          </p>
          <p class="external-link--disclaimer">
            {% trans "The Department of Justice does not endorse the organizations or views represented by this site and takes no responsibility for, and exercises no control over, the accuracy, accessibility, copyright or trademark compliance or legality of the material contained on this site." %}
          </p>
          <div class="modal-footer">
            <a id="external-link--cancel" href="#" class="usa-button usa-button--outline button--cancel light-button">{% trans "Back" %}</a>
            <a id="external-link--continue" href="#" class="usa-button button--continue">{% trans "Continue" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_js %}
  {{ super }}
  <script src="{% static 'js/bold_phrase.js' %}"></script>
  <script src="{% static 'js/modal.js' %}"></script>
  <script src="{% static 'js/redirect-modal.js' %}"></script>
{% endblock %}
