{% extends "forms/report_base.html" %}
{% load static %}
{% block form_questions %}
<fieldset class="usa-fieldset">
  <div class="page-subtitle">{{ page_subtitle }}</div>
  {% for field in wizard.form.visible_fields %}
      {% if field.label == 'Other' %}
        <div class="usa-prose margin-bottom-2 padding-left-3" id='other-class-option' >
      {% else %}
        <div class="usa-prose margin-bottom-2">
        <label for="{{ field.id_for_label }}" class="big margin-bottom-0">{{ field.label }}</div>
      {% endif %}
      {{ field.errors }}
    <div class="margin-bottom-1">
    {% if field.label == 'Other' %}
        <div>
          <p><em>{{ field.help_text }}</em></p>
          {{ field }}
          <em id="word_count_area" hidden>
            <span id="display_count">10</span>
            <span id="count_message">word(s) remaining</span>
          </em>
          <div id="word-limit-alert" class="usa-alert usa-alert--warning usa-alert--slim" hidden>
            <div class="usa-alert__body">
              <em class="usa-alert__text">10 word limit reached</em>
            </div>
        </div>
      </div>
    {% else %}
      <p><em>{{ field.help_text }}</em></p>
      {{ field }}
    {% endif %}
    </div>
  {% endfor %}

</fieldset>
<div class="margin-bottom-5"></div>
{% endblock %}

{% block page_js %}
<script>
var check_id = "id_{{ wizard.steps.current }}-protected_class_11"
var otherbox = document.getElementById("other-class-option");
otherbox.setAttribute("hidden","");

var othercheck = document.getElementById(check_id);

othercheck.setAttribute("onclick","checkOther(check_id);");
</script>
<script src="{% static 'js/word_count.js' %}"></script>
<script type="text/javascript">
window.selectionchange = checkOther(check_id);
</script>
{% endblock %}