{% extends "base.html" %}
{% load i18n %}
{% load banner_message %}

{% block page_header %}
{% banner_message %}
<header class="confirmation-header crt-landing--blue padding-bottom-10">
  <div class="grid-container">
    <div class="grid-row grid-gap flex-child">
      <div class="tablet:grid-col-9 tablet:grid-offset-1">
        <div class="doj-brand display-flex flex-align-center font-serif-lg">
          <img src="{% static "img/doj-logo-footer.png" %}" alt="US DOJ logo" height="55" class="margin-right-105" />
          <div>
            <span>{% trans 'U.S. Department of Justice' %}</span>
            <div>{% trans 'Civil Rights Division' %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section class="grid-container">
  <div class="grid-row">
    <div class="tablet:grid-col-8 tablet:grid-offset-2">
      <div class="crt-error-card">
        <div class="crt-error-card__content">
          <div class="display-flex flex-column padding-bottom-3">
            <h1 class=".h1__display">This form is unavailable.</h1>
            <p>The appropriation that funds the salaries of staff who support the Civil Rights Reporting Portal has lapsed. As a result, the staff is furloughed and is not available to support the Civil Rights Reporting Portal. The Civil Rights Reporting Portal is currently not receiving new reports. We will reopen the Civil Rights Reporting Portal as soon as funding is restored.</p>
            <p>
              If you or someone else is in immediate danger, <a href="tel:911">please call 911</a> or local police.
            </p>
            <p>
              If you are reporting misconduct by law enforcement or believe you have experienced a hate crime, please <a href="https://www.fbi.gov/contact-us">contact the FBI</a>.
            </p>
            <p>
              Please refer to the <a href="https://www.justice.gov/jmd/page/file/1015676/download">Department of Justice’s contingency plan</a>  for more information.
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
