{% extends "forms/report_base.html" %}
{% load static %}
{% block form_questions %}

<fieldset class="usa-fieldset" aria-label="{{ current_step_name }}">
  {% for field in wizard.form.visible_fields %}

    {% if field.name == 'protected_class' %}
      <div class="margin-bottom-2">
      <label for="{{ field.id_for_label }}" class="big margin-bottom-0">{{ field.label }}</div>
    {% elif field.name == 'other_class' %}
      <div class="margin-bottom-2 padding-left-3" id='other-class-option' >
    {% endif %}

    {% if field.errors %}
      <div class="usa-alert usa-alert--warning usa-alert--slim">
        <div class="usa-alert__body"><em class="usa-alert__text">
          {{ field.errors }}
        </em></div>
      </div>
    {% endif %}

    <div class="margin-bottom-1">
    {% if field.name == 'protected_class' %}
      <p><em>{{ field.help_text }}</em></p>
      {{ field }}
    {% elif field.name == 'other_class' %}
      <div>
        <div class="blue-left-highlight">
          <p><em><label for="{{ field.id_for_label }}">{{ field.help_text }}</label></em></p>
          {{ field }}
          {% include "forms/word_counter.html" with word_limit=10 %}
        </div>
      </div>
    {% endif %}
    </div>
  {% endfor %}
</fieldset>

<div class="margin-bottom-5"></div>
{% endblock %}

{% block page_js %}
<script src="{% static 'js/other_show_hide.js' %}"></script>
<script src="{% static 'js/word_count.js' %}"></script>
{% endblock %}