{% extends "forms/report_base.html" %}
{% block form_questions %}
<p class="margin-top-1 margin-bottom-4"><em>{{ page_note }}</em></p>

  {% for field in wizard.form.visible_fields %}
    <div class="usa-prose margin-bottom-2">
      <label for="{{ field.id_for_label }}"
             class="big margin-bottom-0">
        {{ field.label }}
      </label>
      <p><em>{{ field.help_text }}</em></p>
      {% if field.errors %}
        <div class="usa-alert usa-alert--warning usa-alert--slim">
          <div class="usa-alert__body">
          <em class="usa-alert__text">{{ field.errors }}</em>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="margin-bottom-1">
      {{ field }}
    </div>
    <noscript>
      <em>500 word limit.</em>
    </noscript>
    <div id="word_count_area" aria-live="polite" hidden>
      <em id="word_limit_message"></em>
      <div id="word_limit_alert"
           role="alert"
           class="usa-alert usa-alert--warning usa-alert--slim"
           hidden>
        <div class="usa-alert__body">
          <em class="usa-alert__text" aria-hidden="true">
            500 word limit reached
          </em>
          <span id="word_limit_sr_text" class="usa-sr-only">
            500 word limit reached
          </span>
        </div>
      </div>
    </div>
  {% endfor %}

<div class="margin-bottom-5"></div>
{% endblock %}
