{% extends "forms/report_base.html" %}

{% block form_questions %}
  <div class="crt-portal-card">
    <div class="crt-portal-card__content">
      {{ block.super }}
      <fieldset class="usa-fieldset">
        <legend class="em-text ">
          When did this happen?
        </legend>

        <p class="margin-top-0 margin-bottom-1" id="incident-date-help-text">
          <em>
            If this happened over a period of time or is still happening, please provide the most recent date. Please use the format MM/DD/YY.
          </em>
        </p>
        {% with month=wizard.form.last_incident_month day=wizard.form.last_incident_day year=wizard.form.last_incident_year %}
          <section class="usa-memorable-date">
            <div class="grid-row grid-gap" aria-labelledby="incident-date-help-text">
              <div class="mobile-lg:grid-col-3">
                <label class="usa-label" for="{{ month.id_for_label }}">
                  {{ month.label }}
                </label>
                {{ month|withInputError }}
              </div>
              <div class="mobile-lg:grid-col-3">
                <label class="usa-label" for="{{ day.id_for_label}}">
                  {{ day.label }} <span class="usa-sr-only">optional</span>
                </label>
                {{ day }}
                <p class="margin-bottom-0 margin-top-1">
                  <em>Optional</em>
                </p>
              </div>
              <div class="mobile-lg:grid-col-6">
                <label class="usa-label" for="{{ year.id_for_label }}">
                  {{ year.label }}
                </label>
                {{ year|withInputError }}
              </div>
            </div>
          </section>
        {% if month.errors %}
          {% include "forms/snippets/error_alert.html" with errors=month.errors %}
        {% endif %}
        {% if day.errors %}
          {% include "forms/snippets/error_alert.html" with errors=day.errors %}
        {% endif %}
        {% if year.errors %}
          {% include "forms/snippets/error_alert.html" with errors=year.errors %}
        {% endif %}
      </fieldset>
    {% endwith %}
  </div>
</div>
{% endblock %}
