{% load i18n %}

<noscript>
  <span class="usa-hint usa-character-count__message">{% blocktrans with word_limit=word_limit %}
    {{ word_limit }} word limit.
  {% endblocktrans %}</span>
</noscript>
<div id="word_count_area" hidden>
  <span id="word_limit_message" class="usa-hint usa-character-count__message" aria-live="polite"></span>
  <div id="word_limit_alert"
       role="alert"
       class="usa-alert usa-alert--warning usa-alert--slim"
       hidden>
    <div class="usa-alert__body">
      <em class="usa-alert__text" aria-hidden="true">
        {% blocktrans with word_limit=word_limit %}
          {{ word_limit }} word limit reached
        {% endblocktrans %}
      </em>
      <span id="word_limit_sr_text" class="usa-sr-only">
        {% blocktrans with word_limit=word_limit %}
          {{ word_limit }} word limit reached
        {% endblocktrans %}
      </span>
    </div>
  </div>
</div>
