{% extends "forms/complaint_view/show/card.html" %}

{% load i18n %}
{% load application_contact %}

{% block title %}Update multiple records{% endblock %}

{% block extra_classes %}crt-actions-card{% endblock %}

{% block icon %}
  <img src="{% static "img/intake-icons/ic_check-circle.svg" %}" alt="icon" class="icon" />
{% endblock %}

{% block card_content %}
  {% if ids_count %}
    <form class="usa-form" method="post" novalidate>
      {% csrf_token %}

      <input type="hidden" value="{{ return_url_args }}" name="next" id="next" />
      <input type="hidden" value="{{ ids }}" name="ids" id="ids" />
      <input type="hidden" value="{{ selected_all }}" name="all" id="all" />
      <input type="hidden" value="{{ query_string }}" name="query_string" id="query_string" />

      <div id="bulk_actions_section">

        <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
          <label for="id_assigned_section" class="intake-label">
            {{ bulk_actions_form.assigned_section.label }}
          </label>
          {{ bulk_actions_form.assigned_section }}
        </div>
        <p>
          Please know that any change to <code>Section</code> will make the following fields uneditable:</p>
        <ul class="bulk-helptext-list">
          <li>Status</li>
          <li>Primary classification</li>
          <li>Judicial district</li>
          <li>Assigned to</li>
          {% if ENABLED_FEATURES.disposition %}
          <li>Retention schedule</li>
          <li>Litigation hold</li>
          {% endif %}
        </ul>
        <p>
          If you need to edit these fields, please return to the <a href="{% url 'crt_forms:crt-forms-index' %}{{ return_url_args }}">Back to All Table</a>. If you have additional questions, please contact {% application_contact_markup %}
        </p>
        <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
          <label for="id_status" class="intake-label">
            {{ bulk_actions_form.status.label }}
          </label>
          {{ bulk_actions_form.status }}
        </div>
        <div class="margin-bottom-2 crt-dropdown">
          <label for="id_primary_statute" class="intake-label">
            {{ bulk_actions_form.primary_statute.label }}
          </label>
          {{ bulk_actions_form.primary_statute }}
        </div>
        <div class="margin-bottom-2 crt-dropdown">
          <label for="id_district" class="intake-label">
            {{ bulk_actions_form.district.label }}
          </label>
          {{ bulk_actions_form.district }}
        </div>
        <div class="margin-bottom-2 crt-dropdown">
          <label for="id_assigned_to" class="intake-label">
            {{ bulk_actions_form.assigned_to.label }}
          </label>
          {{ bulk_actions_form.assigned_to }}
        </div>
        {% if ENABLED_FEATURES.disposition %}
        <div class="margin-bottom-2 crt-dropdown">
          <label for="id_retention_schedule" class="intake-label">
            {{ bulk_actions_form.retention_schedule.label }}
          </label>
          {{ bulk_actions_form.retention_schedule }}
        </div>
        <div class="margin-bottom-2 crt-checkbox">
          <label for="id_litigation_hold" class="intake-label">
            {{ bulk_actions_form.litigation_hold.label }}
          </label>
          {{ bulk_actions_form.litigation_hold }}
        </div>
        {% endif %}
        <div class="margin-bottom-2 crt-dropdown">
          <label for="id_tags" class="intake-label">
            {{ bulk_actions_form.tags.label }}
          </label>
          {{ bulk_actions_form.tags }}
        </div>
        <div class="margin-bottom-2 crt-textarea">
          <label for="id_summary" class="intake-label">
            {{ bulk_actions_form.summary.label }}
          </label>
          {{ bulk_actions_form.summary }}
        </div>
        <div class="margin-bottom-2 crt-textarea">
          <label for="id_comment" class="intake-label">
            {{ bulk_actions_form.comment.label }}
            <span class="field-required">{% trans "required" %}</span>
          </label>
          {{ bulk_actions_form.comment}}
        </div>

        <button class="usa-button{% if show_warning %} button--warning display-flex align-center{% endif %}"
                {% if show_warning %}id="show_warning_section_partial"{% endif %}
                disabled
                type="submit"
                name="selected_ids"
        >
          Apply changes to {{ ids_count }} record{{ ids_count|pluralize:"s" }}
        </button>

        {% if selected_all %}
          {% if all_ids_count <= 500 %}
            <button class="usa-button button--warning display-flex align-center"
                    id="show_warning_section"
                    disabled
            >
              Apply changes to {{ all_ids_count }} record{{ all_ids_count|pluralize:"s" }}
            </button>
          {% else %}
            <p>
              Maximum records for bulk change is capped at 500. Please return to the <a href="{% url 'crt_forms:crt-forms-index' %}{{ return_url_args }}">View All Table</a> and adjust your filters.
            </p>
          {% endif %}
        {% endif %}
      </div>

      {% if show_warning or selected_all %}
        <div id="warning_section" hidden>
          <p>
            Are you sure you want to update
            <span id="warning_count_all">{{ all_ids_count }}</span>
            <span id="warning_count_partial">{{ ids_count }}</span>
            records?
          </p>
          <button class="usa-button button--warning display-flex align-center"
                  id="confirm_button"
                  name="confirm_all"
                  value="confirm_all"
                  type="submit">
            Yes
          </button>
          <button class="usa-button"
                  id="cancel_warning_section">
            No
          </button>
        </div>
      {% endif %}
    </form>
  {% else %}
    <p>No records were selected.</p>
  {% endif %}
{% endblock %}
