{% extends "forms/complaint_view/intake_base.html" %}

{% load static %}

{% block page_title %}
  <title>CRT Complaint Records - Update multiple records</title>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/accessible-autocomplete.min.css" %}" />
{% endblock head %}

{% block content %}
  <div class="complaint-show-body">
    <div class="grid-container-widescreen">

      <div class="grid-row margin-bottom-1">
        <div class="tablet:grid-col-10 grid-offset-1 padding-left-05">
          <div class="complaint-filter-navigation display-flex flex-row flex-justify">
            <div class="display-flex">
              <a class="outline-button outline-button--dark" href="{% url 'crt_forms:crt-forms-index' %}{{ return_url_args }}">
                <img src="{% static "img/intake-icons/ic_arrow_forward.svg" %}" alt="back arrow" class="icon">
                Back to all
              </a>
            </div>
          </div>
        </div>
        <div id="status-update" class="tablet:grid-col-6 grid-offset-1 padding-left-05">
          {% include 'partials/messages.html' %}
        </div>
      </div>

      <div class="tablet:grid-col-4 grid-offset-1 padding-left-05">
        <div class="display-flex flex-align-center">
          <h1 class="h2__display backend-blue">
            Update multiple records
          </h1>
        </div>
      </div>

      <div class="complaint-page grid-row grid-gap-4">
        <div class="complaint-actions tablet:grid-col-4 grid-offset-1">
          {% include 'forms/complaint_view/actions/bulk_assign.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/accessible-autocomplete.min.js' %}"></script>
  <script nonce="{{request.csp_nonce}}">
   accessibleAutocomplete.enhanceSelectElement({
     defaultValue: '',
     selectElement: document.querySelector('#id_assigned_to'),
     onConfirm: function(what) {
       var buttons = document.querySelectorAll('.complaint-page .usa-button');
       for(var i = 0; i < buttons.length; i++) {
         var button = buttons[i];
         button.removeAttribute('disabled');
       }
       // work around a bug in the accessible autocomplete library
       var actualSelectElement = document.getElementById('id_assigned_to-select');
       var options = actualSelectElement.options;
       for(var i = 0; i < options.length; i++) {
         var option = options[i];
         if (option.text === what) {
           actualSelectElement.value = option.value;
           break;
         }
       }
     }
   });

   var show_warning_section = document.getElementById('show_warning_section');
   show_warning_section.onclick = function(event) {
     event.preventDefault();
     var assign = document.getElementById('assign_section');
     var section = document.getElementById('warning_section');
     var assignee = document.getElementById('warning_section_assignee');
     var selectElement = document.getElementById('id_assigned_to');
     assign.setAttribute('hidden', 'hidden');
     section.removeAttribute('hidden');
     assignee.innerText = selectElement.value;
   };

   var cancel_warning_section = document.getElementById('cancel_warning_section');
   cancel_warning_section.onclick = function(event) {
     event.preventDefault();
     var assign = document.getElementById('assign_section');
     var section = document.getElementById('warning_section');
     assign.removeAttribute('hidden');
     section.setAttribute('hidden', 'hidden');
   }
  </script>
{% endblock %}
