{% extends "forms/complaint_view/show/card.html" %}
{% block title %}{{title}}{% endblock %}
{% block extra_classes %}crt-action-card{% endblock %}
{% block icon %}
<img src="{% static icon %}" alt="" class="icon" />
{% endblock %}

{% block card_content %}
<form id="complaint-view-actions" class="usa-form" method="post" action="/form/view/{{data.id}}/?next={{ return_url_args|urlencode }}&index={{ index }}" novalidate>
  {% csrf_token %}
  <fieldset name="view-actions" class="usa-fieldset usa-prose">
    <legend class="usa-sr-only">Complaint detail view actions</legend>
    <input type="hidden" value="{{ return_url_args }}" name="next" id="next" />
    <input type="hidden" value="{{ index }}" name="index" id="index" />
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_assigned_section" class="intake-label">
        {{ actions.fields.assigned_section.widget.label }}
      </label>
      {{ actions.assigned_section }}
      <a class="help-text usa-button usa-button--unstyled"  href="{{ routing_guide_link }}">
        <span>rerouting guide</span>
      </a>
    </div>
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_status" class="intake-label">
        {{ actions.fields.status.widget.label }}
      </label>
      {{ actions.status }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_primary_statute" class="intake-label">
        {{ actions.fields.primary_statute.widget.label }}
      </label>
      {{ actions.primary_statute }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_district" class="intake-label">
        {{ actions.fields.district.widget.label }}
      </label>
      {{ actions.district }}
    </div>
    {% if ENABLED_FEATURES.dj_number %}
    <span class="usa-tooltip" data-position="right" data-classes="display-inline" title="Tip: Paste a full DJ number in any box">
      <div class="margin-bottom-2 crt-dropdown crt-dj-number">
        <label for="actions_dj_number" class="intake-label">
          {{ actions.fields.dj_number.widget.attrs.field_label }}
        </label>
          <div id="actions_dj_number" class="crt-multi">
            {{ actions.dj_number }}
          </div>
      </div>
    </span>
    {% else %}
      <!-- Hidden DJ number input, as the feature is off. -->
      {{ actions.dj_number }}
    {% endif %}
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_assigned_to" class="intake-label">
        {{ actions.fields.assigned_to.label }}
      </label>
      <div class="usa-combo-box" data-placeholder="(none)" data-default-value="{{ actions.assigned_to.value }}">
        {{ actions.assigned_to }}
      </div>
    </div>
    <div class="margin-bottom-2 crt-checkbox">
      <label class="intake-label">
        {{ actions.fields.referred.label }}
      </label>
      {{ actions.referred }}
      {# empty label for the checkbox to render using the ::before selector #}
      <label for="id_referred" class="usa-checkbox__label crt-checkbox__label"></label>
    </div>
    <div class="intake-section apply-discard">
      <button class="usa-button" type="submit" name='type' value='{{actions.CONTEXT_KEY}}'>Apply changes</button>
      <button onclick="event.preventDefault();window.location.href = window.location.href" class="outline-button outline-button--blue">Discard changes</button>
    </div>
    <hr/>
    <div class="intake-section">
      <button class="outline-button outline-button--blue" id="contact_complainant">
        {% include 'partials/sprite.html' with icon='mail' %}
        Contact complainant
      </button>
      {% if ENABLED_FEATURES.separate_referrals_workflow %}
      <button type="button" class="outline-button outline-button--blue" id="refer_complaint">
        {% include 'partials/sprite.html' with icon='social_distance' %}
        Refer complaint
      </button>
      {% endif %}
      <button class="outline-button outline-button--blue" id="printout_report">
        {% include 'partials/sprite.html' with icon='print' %}
        Print report information
      </button>
    </div>
  </fieldset>
</form>

{% endblock %}
