{% extends "forms/complaint_view/show/card.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block icon %}
<img src="{% static icon %}" alt="" class="icon" />
{% endblock %}

{% block card_content %}
<form id="complaint-view-actions" class="usa-form" method="post" action="/form/view/{{data.id}}/" novalidate>
  {% csrf_token %}
  <fieldset name="view-actions" class="usa-fieldset usa-prose">
    <legend class="usa-sr-only">Complaint detail view actions</legend>
    <input type="hidden" value="{{ return_url_args }}" name="next" id="next" />
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_assigned_section" class="intake-label">
        {{ actions.fields.assigned_section.widget.label }}
      </label>
      {{ actions.assigned_section }}
    </div>
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_status" class="intake-label">
        {{ actions.fields.status.widget.label }}
      </label>
      {{ actions.status }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_primary_statute" class="intake-label">
        {{ actions.fields.primary_statute.widget.label }}
      </label>
      {{ actions.primary_statute }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_district" class="intake-label">
        {{ actions.fields.district.widget.label }}
      </label>
      {{ actions.district }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_assigned_to" class="intake-label">
        {{ actions.fields.assigned_to.label }}
      </label>
      {{ actions.assigned_to }}
    </div>
    <button class="usa-button" type="submit">Apply changes</button>
  </fieldset>
</form>
{% endblock %}
