{% extends "forms/complaint_view/show/card.html" %}
{% block title %}{{title}}{% endblock %}
{% block extra_title %}
  <div class="card-controls">
    <span class="usa-tooltip" data-position="right" title="Show only comments in the activity log">
      <input type="checkbox" name="show_comment" class="usa-checkbox__input" aria-label="Show only comments" id="id_activity_comment">
      <label for="id_activity_comment" class="usa-checkbox__label crt-checkbox__label">Comments only</label>
    </span>
  </div>
{% endblock %}
{% block icon %}
  <img src="{% static icon %}" alt="" class="icon" />
{% endblock %}
{% block card_content %}
  <ul class="activity-stream-list usa-list usa-list--unstyled">
    {% for activity in activity_stream %}
      {% include 'forms/complaint_view/show/activity_stream_item.html' with activity=activity %}
    {% endfor %}
    {% if autoresponse_email %}
      {% include 'forms/complaint_view/show/activity_stream_autoresponse.html' %}
    {% endif %}
    {% include 'forms/complaint_view/show/activity_stream_created.html' %}
  </ul>
{% endblock %}
