{% extends "forms/complaint_view/show/card.html" %}
{% load all_sections %}

{% block title %}Correspondent information{% endblock %}
{% block extra_title %}  <button aria-label="edit contact information" id="edit-contact-info-btn"
class="edit-toggle-btn usa-button usa-button--unstyled button--edit margin-left-auto" type="button">Edit</button>
{% endblock %}
{% block extra_classes %}crt-correspondent-card crt-toggleable-card{% endblock %}

{% block icon %}
  <img src="{% static "img/intake-icons/ic_contact.svg" %}" alt="" class="icon" />
{% endblock %}

{% block card_content %}
  <div id="contact-info" class="{% if contact_form.errors %}display-none{% endif %} toggle-info">
    <table class="usa-table usa-table--borderless complaint-card-table">
      <tr>
        <th>Name</th>
        <td>
          <strong>
            {% with l_name=data.contact_last_name|default:"—" f_name=data.contact_first_name|default:"—" %}
            {{ l_name }}, {{ f_name }}
            {% endwith %}
          </strong>
        </td>
      </tr>
      <tr>
        <th>Email</th>
        <td>
          <div class="display-flex">
            <span>{{ data.contact_email|default:"—" }}</span>
            {% if data.related_reports and data.related_reports_count > 1 %}
              <span class="margin-left-auto">
                <a class="related-reports" href="{% url 'crt_forms:crt-forms-index' %}?contact_email={{data.contact_email}}{% filter_for_all_sections %}">View All ({{data.related_reports_count}})</a>
              </span>
            {% endif %}
            </div>
        </td>


      </tr>
      <tr>
        <th>Phone</th>
        <td><input disabled class="usa-input phone-input" value="{{ data.contact_phone|default:"" }}"/></td>
      </tr>
      <tr>
        <th>Address</th>
        <td>
          <span>{{ data.contact_address_line_1|default:"—" }}</span>
          <br>
          <span>{{ data.contact_address_line_2|default:"—" }}</span>
          <br>
          <span>{{ data.contact_city|default:"—" }},
            {{ data.contact_state|default:"—" }},
            {{ data.contact_zip|default:"—" }}</span>
        </td>
      </tr>

      <tr>
        <th>Inmate Number</th>
        <td>
          <div class="display-flex">
            <span>{{ data.contact_inmate_number|default:"—" }}</span>
          </div>
        </td>
      </tr>

    </table>
  </div>

  {% if not disable_edit %}
    <div class="edit-contact">
      {% include 'forms/complaint_view/show/contact_edit.html' %}
    </div>
  {% endif %}
{% endblock %}
