
<div class="display-flex flex-align-center details-id">
  <h2 class="margin-right-205 margin-top-0 margin-bottom-0 backend-blue">
    ID: {{ data.public_id }}
  </h2>
  <span class="status-tag status-{{data.status}} margin-top-05">{{ data.status }}</span>
</div>
<p>
  <span>
    <span class="details-date-label text-uppercase backend-blue">Received: </span>
    <span class="backend-blue">{{ data.create_date|date:'g:i a F j, Y' }}</span>
  </span>
  {% if data.intake_format %}
    <span class="usa-tooltip" data-position="right" data-classes="margin-left-1 display-inline" title="from {{ data.intake_format }}">
    {% if data.intake_format == 'web' %}
      <img src="{% static "img/intake-icons/ic_web.svg" %}" class="text-tbottom" alt="" role="presentation">
    {% elif data.intake_format == 'email' %}
      <img src="{% static "img/intake-icons/ic_email.svg" %}" class="text-tbottom" alt="" role="presentation">
    {% elif data.intake_format == 'letter' %}
      <img src="{% static "img/intake-icons/ic_letter.svg" %}" class="text-tbottom" alt="" role="presentation">
    {% elif data.intake_format == 'phone' %}
      <img src="{% static "img/intake-icons/ic_contact.svg" %}" class="text-tbottom" alt="" role="presentation">
    {% elif data.intake_format == 'fax' %}
      <img src="{% static "img/intake-icons/ic_printer.svg" %}" class="text-tbottom" alt="=" role="presentation">
    {% endif %}
    </span>
  {% endif %}
</p>
<p>
  <span class="details-date-label text-uppercase backend-blue">Last Updated: </span>
  <span class="backend-blue">{{ data.modified_date|date:'g:i a F j, Y' }}</span>
</p>
