{% extends "forms/complaint_view/intake_base.html" %}
{% load static %}

{% block page_title %}
 <title>CRT Complaint Records{% for message in messages %} - {{ message }}{% endfor %}</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/accessible-autocomplete.min.css" %}" />
{% endblock head %}


{% block content %}
<div class="complaint-show-body">
  <div class="grid-container-widescreen">
    <div class="grid-row margin-bottom-1">
      <div class="tablet:grid-col-4 grid-offset-1 padding-left-05">
        <div class="display-flex">
          <a class="outline-button outline-button--dark" href="{% url 'crt_forms:crt-forms-index' %}{{ return_url_args }}">
            <img src="{% static "img/intake-icons/ic_arrow_forward.svg" %}" alt="back arrow" class="icon">
            Back to all
          </a>
        </div>
        <div class="display-flex flex-align-center details-id">
          <h2 class="margin-right-205 margin-top-0 margin-bottom-0 backend-blue">
            ID: {{ data.public_id }}
          </h2>
          <span class="status-tag status-{{data.status}} margin-top-05">{{ data.status }}</span>
        </div>
        <p class="display-flex">
          <span>
            <span class="details-date-label text-uppercase backend-blue">Received: </span>
            <span class="backend-blue">{{ data.create_date|date:'g:i a F j, Y' }}</span>
            {% if data.intake_format %}
            <span class="usa-sr-only"> from {{ data.intake_format }}</span>
            {% endif %}
          </span>
          {% if data.intake_format %}
            <span class="tooltip">
              <span class="tooltiptext backend-blue">from {{ data.intake_format }}</span>
            {% if data.intake_format == 'web' %}
              <img src="{% static "img/intake-icons/ic_web.svg" %}" class="icon margin-left-2" alt="from web">
            {% elif data.intake_format == 'email' %}
              <img src="{% static "img/intake-icons/ic_email.svg" %}" class="icon margin-left-2" alt="from email">
            {% elif data.intake_format == 'letter' %}
              <img src="{% static "img/intake-icons/ic_letter.svg" %}" class="icon margin-left-2" alt="from a letter">
            {% elif data.intake_format == 'phone' %}
              <img src="{% static "img/intake-icons/ic_contact.svg" %}" class="icon margin-left-2" alt="from phone">
            {% elif data.intake_format == 'fax' %}
              <img src="{% static "img/intake-icons/ic_fax.svg" %}" class="icon margin-left-2" alt="from fax">
            {% endif %}
            </span>
          {% endif %}
        </p>
        <p class="display-flex">
          <span class="details-date-label text-uppercase backend-blue">Last Updated: </span>
          <span class="backend-blue">{{ data.modified_date|date:'g:i a F j, Y' }}</span>
        </p>
      </div>
      <div id="status-update" class="tablet:grid-col-6">
        {% include 'partials/messages.html' %}
      </div>
    </div>
    <div class="grid-row grid-gap-4">
      <div class="tablet:grid-col-4 grid-offset-1">
        {% include 'forms/complaint_view/show/actions.html' with title="Actions" icon="img/intake-icons/ic_check-circle.svg" %}
        <div class="activity-stream">
          {% include 'forms/complaint_view/show/activity_stream.html' with title="Activity" icon="img/intake-icons/ic_activity.svg" %}
        </div>
        <div class="crt-portal-card">
          <div class="crt-portal-card__content">
            {% include 'forms/complaint_view/show/actions/comment_summary.html' with id_name="comment" is_summary=False button_text='Save' button_aria_label='save comment' label='New comment' comment_box=comments.note %}
          </div>
        </div>
      </div>
      <div class="tablet:grid-col-6">
        {% include 'forms/complaint_view/show/correspondent_info.html' with data=data %}

        {% include 'forms/complaint_view/show/complaint_details.html' with data=data primary_complaint=primary_complaint summary=summary %}

        {% include 'forms/complaint_view/show/description.html' with description=data.violation_summary %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block usa_footer %}
  {% include 'forms/complaint_view/show/response_template.html' %}
{% endblock %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/edit_contact_info.js' %}"></script>
<script src="{% static 'js/edit_details.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/form_letter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/accessible-autocomplete.min.js' %}"></script>
<script nonce="{{request.csp_nonce}}">
  accessibleAutocomplete.enhanceSelectElement({
  defaultValue: '',
  selectElement: document.querySelector('#id_assigned_to')
});
</script>
{%endblock%}
