{% extends "forms/complaint_view/intake_base.html" %}
{% load static %}

{% block content %}      
  <div class="complaint-show-body">
    <div class="grid-container-widescreen">
      <div class="grid-row margin-bottom-2">
        <div class="tablet:grid-col-4 grid-offset-1 padding-left-05">
          <div class="display-flex">
            <a class="outline-button outline-button--dark" href="/form/view{{ return_url_args }}">
              <img src="{% static "img/intake-icons/ic_arrow_forward.svg" %}" class="icon">
              Back to all
            </a>
          </div>
          <div class="display-flex flex-align-center">
            <h2 class="margin-right-205">
              ID: {{data.id}} 
            </h2>
            <span class="status-tag status-{{data.status}} margin-top-05">
              {{ data.status }}
            </span>
          </div>
          <p>
            <span class="details-date-label text-uppercase">Received: </span>
            <span>{{ data.create_date|date:'g:i a F j, Y' }}</span>
          </p>
          <p>
            <span class="details-date-label text-uppercase">Last Updated: </span>
            <span>{{ data.modified_date|date:'g:i a F j, Y' }}</span>
          </p>
        </div>
      </div>
      <div class="grid-row grid-gap-lg">
        <div class="tablet:grid-col-4 grid-offset-1">
          {% include 'forms/complaint_view/show/actions.html' with title="Actions" icon="img/intake-icons/ic_check-circle.svg" %}
          {% include 'forms/complaint_view/show/activity_stream.html' with title="Activity" icon="img/intake-icons/ic_activity.svg" %}
        </div>
        <div class="tablet:grid-col-6">
          {% include 'forms/complaint_view/show/correspondent_info.html' with data=data %}
          {% include 'forms/complaint_view/show/complaint_details.html' with data=data primaty_complaint=primary_complaint %}
          {% include 'forms/complaint_view/show/full_summary.html' with summary=data.violation_summary %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
