{% extends "forms/complaint_view/intake_base.html" %}
{% load static %}

{% block page_header %}
<header class="page-header-background margin-bottom-5">
  <div class="grid-container">
    <div class="grid-row flex-align-center">
      <div class="grid-col-fill">
        <h1>CRT Public Complaint Intake</h1>
      </div>
      <div class="grid-col-auto">
        <a class="usa-button" href="/accounts/logout">Log out</a>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block main_class %} class="page-header-background"{% endblock %}

{% block content %}
  <div class="grid-container-widescreen">
    <div class="complaint-header bg-primary text-white">
      <div class="grid-container-widescreen">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-6">
          <h2 class="text-uppercase">
            Complaint
          </h2>
          <p>
            <span class="text-gold text-uppercase">Received:  </span>
            <span class="text-white">{{ data.create_date|date:'g:i a F j, Y' }}</span>
          </p>
          <p>
            <span class="text-gold text-uppercase">Last Updated:  </span>
            <span class="text-white">{{ data.modified_date|date:'g:i a F j, Y' }}</span>
          </p>
        </div>
        <div class="tablet:grid-col-3 tablet:grid-offset-3 text-right">
          <a class="usa-button usa-button--light close-record" href="/form/view{{ return_url_args }}">
            <img src="{% static "img/close-blue-50-alt.svg" %}">
            Close record
          </a>
        </div>
      </div>
    </div>
    </div>
    <div class="complaint-body">
      <div class="grid-container-widescreen">
        <div class="grid-row grid-gap-md">
          <div class="tablet:grid-col-4">
            {% include 'forms/complaint_view/show/actions.html' %}
            {% include 'forms/complaint_view/show/activity_stream.html' %}
          </div>
          <div class="tablet:grid-col-8">
            {% include 'forms/complaint_view/show/correspondent_info.html' with data=data %}
            {% include 'forms/complaint_view/show/complaint_details.html' with data=data primaty_complaint=primary_complaint %}
            {% include 'forms/complaint_view/show/full_summary.html' with summary=data.violation_summary %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
