<form id="complaint-view-outreach" class="toggle-edit-form usa-form {% if not contact_form.errors %}display-none{% endif %}" method="post" action="/form/view/{{data.id}}/?next={{ return_url_args|urlencode }}&index={{ index }}" novalidate>
  {% csrf_token %}
  <fieldset name="view-outreach" class="usa-fieldset usa-prose">
    <legend class="usa-sr-only">Complaint detail view outreach</legend>
    <input type="hidden" value="{{ return_url_args }}" name="next" id="next" />
    <input type="hidden" value="{{ index }}" name="index" id="index" />

    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_campaign" class="intake-label">
        Campaign
      </label>
      {{ outreach.origination_utm_campaign }}
      {% include 'partials/help_tooltip.html' with tip=outreach.origination_utm_campaign.help_text %}
    </div>

    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_source" class="intake-label">
        Source
      </label>
      {{ outreach.origination_utm_source }}
      {% include 'partials/help_tooltip.html' with tip=outreach.origination_utm_source.help_text %}
    </div>

    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_medium" class="intake-label">
        Medium
      </label>
      {{ outreach.origination_utm_medium }}
      {% include 'partials/help_tooltip.html' with tip=outreach.origination_utm_medium.help_text %}
    </div>

    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_content" class="intake-label">
        Content
      </label>
      {{ outreach.origination_utm_content }}
      {% include 'partials/help_tooltip.html' with tip=outreach.origination_utm_content.help_text %}
    </div>

    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_term" class="intake-label">
        Term
      </label>
      {{ outreach.origination_utm_term }}
      {% include 'partials/help_tooltip.html' with tip=outreach.origination_utm_term.help_text %}
    </div>

    <button aria-label="update contact details" class="usa-button button--save" disabled type="submit" name="type" value="{{outreach.CONTEXT_KEY}}">Save</button>
    <button class="usa-button usa-button--unstyled button--cancel" type="button">Cancel</button>
  </fieldset>
</form>
