{% load static %}

<form class="usa-form" method="post" action="{% url 'crt_forms:crt-forms-response' id=data.id %}">
  {% csrf_token %}
  <input type="hidden" value="{{ return_url_args }}" name="next" id="modal_next" />
  <div id="intake_template" hidden>
    <div class="modal-wrapper intake-template--modal">
      <div class="modal-content modal-content--large">
        <div class="modal-header">
          <h1>Contact complainant</h1>
        </div>
        <div class="modal-form">
          <p class="intake-template--description">
            <strong id="intake_description">(no template chosen)</strong>
          </p>
          {{ responses.templates }}
          <div class="intake-template--content">
            <textarea disabled aria-label="intake letter" id="intake_letter" rows="10" cols="80"></textarea>
          </div>
          <div class="modal-footer">
            <button disabled id="intake_copy" class="usa-button" type="submit" name="type" value="copy">Copy</button>
            <button disabled id="intake_print" class="usa-button" type="submit" name="type" value="print">Print</button>
            <a id="intake_template_cancel" href="#">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
