{% extends "forms/complaint_view/index/filter.html" %}

{% block controls %}dj_number{% endblock %}
{% block label %}ICM DJ Number{% endblock %}
{% block id %}dj_number{% endblock %}
{% block content %}
  <label for="dj_number">
    <span class="usa-sr-only">ICM DJ number</span>
  </label>
  <span class="usa-tooltip" data-position="right" data-classes="display-inline" title="Tip: Paste a full DJ number in any box">
    <div class="margin-bottom-2 crt-dropdown crt-dj-number">
        <div class="crt-multi">
          {{ form.dj_number }}
        </div>
    </div>
  </span>
{% endblock %}
