{% extends "forms/complaint_view/index/filter.html" %}

{% block controls %}incident-location{% endblock %}
{% block label %}Incident location{% endblock %}
{% block id %}incident-locations{% endblock %}

{% block content %}
  <div id="location-name-filter">
    <label for="id_{{form.fields.location_name.widget.attrs.name}}" class="margin-bottom-1">
      <b>{{form.location_name.label}}</b>
    </label>
    {{ form.location_name }}
  </div>
  <div id="location-city-filter">
    <label for="id_{{form.fields.location_city_town.widget.attrs.name}}" class="usa-label margin-bottom-1">
      <b>{{form.location_city_town.label}}</b>
    </label>
    {{ form.location_city_town }}
  </div>
  <div id="location-state-filter">
    <label for="id_{{form.fields.location_state.widget.attrs.name}}" class="usa-label margin-bottom-1">
      <b>{{form.location_state.label }}</b>
    </label>
    <div class="multicheckboxes-container">
      {{ form.location_state }}
    </div>
  </div>
{% endblock %}
