{% extends "forms/complaint_view/index/filter-no-dropdown.html" %}

{% block id %}incident-location{% endblock %}
{% block classes %}summary_input{% endblock %}

{% block content %}
{% if ENABLED_FEATURES.fuzzy_location_name %}
<span class="usa-tooltip" data-position="right" data-classes="display-inline" title='Tip: Use "~some location" (without quotes) to match locations that sound or look similar to some location'>
{% endif %}
  <div id="incident_location-filter">
    <label for="id_{{form.fields.location_name.widget.attrs.name}}">
      {{ form.location_name }}
    </label>
  </div>
{% if ENABLED_FEATURES.fuzzy_location_name %}
</span>
{% endif %}
{% endblock %}
