{% extends "forms/complaint_view/index/filter.html" %}

{% block controls %}assigned-section{% endblock %}
{% block label %}{{form.assigned_section.label|title}}{% endblock %}
{% block id %}assigned-section{% endblock %}option.selected
{% block content %}
  <form id="filters-form" method="GET" action="/form/view" novalidate>
    <label for="id_{{form.fields.assigned_section.widget.attrs.name}}">
      <span class="usa-sr-only">{{form.assigned_section.label}}</span>
    </label>
    {{ form.assigned_section }}
    <button class="usa-button margin-top-2" type="submit">Update View</button>
  </form>
{% endblock %}
