{% extends "forms/complaint_view/index/filter.html" %}

{% block controls %}servicemember{% endblock %}
{% block label %}Service Member{% endblock %}
{% block id %}service-member{% endblock %}

{% block content %}
  <div id="servicemember-filter">
    <label for="id_{{ form.fields.servicemember.widget.attrs.name }}" class="usa-label margin-bottom-1">
      <b>{{ form.servicemember.label }}</b>
    </label>
    <div class="location-state--container">
      {{ form.servicemember }}
    </div>
  </div>
{% endblock %}
