{% load i18n %}

<div id="form-letterhead" hidden>
  <div class="form-letterhead--header">
    <div class="form-letterhead--header-logo">
      <img src="{% static "img/doj-logo-footer.png" %}" alt="" />
    </div>
    <div class="form-letterhead--header-textbox">
      <h2 class="form-letterhead--header-text">U.S. Department of Justice</h2>
      <h2 class="form-letterhead--header-subtext">Civil Rights Division</h2>
    </div>
  </div>
  <hr />
  <div style="float: left; width: 49%;">
    {% include 'letterhead.html' with report=data %}
    {% include 'letterhead-respondent.html' with report=data %}
  </div>
  <div style="float: right; width: 49%;">
    <p><em>Washington, DC 20530</em></p>
    <p>{% now "F j, Y" %}</p>
  </div>
  <div id="form-letter--placeholder" class="form-letter" style="clear: both;">
  </div>
</div>
