<table class="usa-table usa-table--borderless attachments-table width-full">
  <thead>
    <th scope='col'>File Name</th>
    <th scope='col'></th>
  </thead>
  <tbody id="attachmentTable">
  </tbody>
</table>
<div class="usa-alert usa-alert--error usa-alert--slim response-wrapper" hidden></div>
<form id="complaint-view-attachments" novalidate>
  {% csrf_token %}
  <fieldset name="view-attachments" class="usa-fieldset usa-prose">
    <legend class="usa-sr-only">Complaint detail view attachments</legend>
    <input type="hidden" value="{{ return_url_args }}" name="next" id="next" />
    <input type="hidden" value="{{ index }}" name="index" id="index" />
    <input type="hidden" value="{{ data.pk }}" name="report" id="report_id" />
    <div class="intake-section">
      <input type="file" name="file" id="file_input" accept="{{ allowed_file_types|join:', ' }}" hidden />
      <button class="outline-button outline-button--blue" id="add_attachment">
        {% include 'partials/sprite.html' with icon='folder' %}
        ADD ATTACHMENT
      </button>
    </div>
  </fieldset>
</form>

{% include "partials/attachment-uploading-modal.html" %}
{% include "partials/attachment-removal-confirmation-modal.html" %}
