{% load i18n %}

<div class="form-group tablet:grid-col-9">
  {% if field.label %}
    <label
      for="{{ field.id_for_label }}"
      class="{{label_class}} margin-bottom-0"
    >
      {{ field.label }} {% if field.field.required != True %}<em>{% trans "(Optional)" %}</em>{% endif %}
    </label>
  {% endif %}
  {% if field.help_text %}
    <p class="help-text__small" {% if ally_id%}id="{{ally_id}}"{%endif%}>
      <em>{{ field.help_text }}</em>
    </p>
  {% endif %}
  {{ field|withInputError }}
  {% if field.errors %}
    {% include "forms/snippets/error_alert.html" with errors=field.errors %}
  {% endif %}
</div>
