{# not on public pages #}

{% load static %}

<th scope="col" class="{% if sort_url %}sort-cell{% endif %}" {% if nowrap %}nowrap{% endif %}>
  {% if sort_url %}
    <a
      id="{{id}}"
      href="{{sort_url}}{{filter_state}}"
      class="sort-link display-block {% if is_descending %}sort-up{% else %}sort-down{% endif %}"
      aria-label="Sort complaints by {{ heading }} {% if is_descending %}descending{% else %}ascending{% endif %}"
    >
      <span>{{ heading }}</span>
    </a>
  {% else %}
    <span tabindex="0">
      {{ heading }}
    </span>
  {% endif %}
</th>
