{% extends "forms/base.html" %}

{% block page_header %}
<header class="page-header-background">
  <div class="grid-container">
    <div class="grid-row flex-align-center">
      <div class="grid-col-fill">
        <h1>CRT Public Complaint Intake</h1>
      </div>
      <div class="grid-col-auto">
        <a class="usa-button" href="/accounts/logout">Log out</a>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block main_class %} class="page-header-background"{% endblock %}

{% block content %}
  <div class="grid-container">
    <div class="grid-col-auto">      
      <strong>DEBUG</strong>
      <pre style="white-space: pre-wrap;">
        {{ debug_data }}
      </pre>
    </div>
    <div class="complaint-header bg-primary text-white padding-top-1 padding-x-3">
      <h2>
        Complaint <span class="text-gold">{{ data.id }}</span>
      </h2>
      <p>
        <span class="text-gold">Received:  </span>
        <span class="text-white">{{ data.create_date }}</span>
      </p>
    </div>
    <div class="complaint-body" style="min-height: 400px; border: 1px solid gray">
      <div class="grid-container">
        <div class="grid-row">
          <div class="tablet:grid-col-6"></div>
          <div class="tablet:grid-col-6">
            <div class="complaint-tabular-card">
              <h3>Correspondant information</h3>
              <button class="usa-button usa-button--outline">
                Edit info
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
