{% load field_formatting %}

<div id="active-filters" data-active-filters>
{% with chip_filters=filters|prepare_filters_for_chips %}
{% for key, value in chip_filters.items %}
{% for item in value %}
{% if key == "assigned_section" %}
{% else %}
{% with plaintext=item|get_field_plaintext:key markup=item|get_field_markup:key %}
  <span class="usa-sr-only">{{key}}: {{plaintext}}</span>
  <button
    class="filter-tag"
    aria-label="Remove filter {{'Report'|get_field_label:key}}: {{plaintext}} from the list"
    data-filter-name="{{key}}"
    data-filter-value="{{item}}"
  >
    <span>{{ 'Report'|get_field_label:key }}: {{markup}}</span>
    <img src="{% static 'img/intake-icons/ic_close.svg' %}" class="icon right" alt="close">
  </button>
{% endwith %}
{% endif %}
{% endfor %}
{% endfor %}
{% endwith %}
</div>
