{% load static %}
{% load get_field_label %}

<div id="active-filters" data-active-filters>
  {% for key, value in filters.items %}
    {% for item in value %}
      <span class="usa-sr-only">{{key}}: {{item}}</span>
      <button
        class="filter-tag"
        aria-label="Remove filter {{'Report'|get_field_label:key}}: {{item}} from the list"
        data-filter-name="{{key}}"
        data-filter-value="{{item}}"
      >
        {% if key == 'assigned_section' %}
          Routed
        {% elif key == 'contact_first_name' %}
          Contact first name
        {% elif key == 'contact_last_name' %}
          Contact last name
        {% elif key == 'location_city_town' %}
          City
        {% elif key == 'location_state' %}
          State
        {% elif key == 'public_id' %}
          Complaint ID
        {% elif key == 'primary_statute' %}
          Statute
        {% else %}
          {{key|capfirst}}
        {% endif %}: {{item}}
        <img src="{% static 'img/intake-icons/ic_close.svg' %}" class="icon right">
      </button>
    {% endfor %}
  {% endfor %}
</div>
