{% load static %}
<div class="crt-dropdown" data-crt-dropdown>
  <button
    class="title"
    aria-controls="{% block controls %}{% endblock %}"
    aria-expanded="true"
    type="button"
  >
    <span style="pointer-events: none;">
      {% block label %}{% endblock %}
      <img src="{% static 'img/intake-icons/ic_select-down.svg' %}" alt="open filter dropdown" class="icon" />
    </span>   
  </button>  
  <div class="content" id="{%block id %}{% endblock %}">
    {% block content %}{% endblock %}
  </div>
</div>
