{% load static %}

<div class="complaint-card">
  <form
    id="filters-form"
    class="usa-form"
    method="GET"
    action="/form/view"
    novalidate
  >
    {{ form }}
  </form>
  <div class="active-filters margin-top-4">
    {% for key, value in filters.items %}
      <span class="usa-sr-only">{{key}}: {{value}}</span>
      <button
        class="filter-control usa-button usa-button--light"
        aria-label="Remove filter {{ key}}: {{value}} from the list"
      >
        {% if key == 'assigned_section' %} Routed {% else %} {{key}} {% endif %}: {{value}}  
        <div class="divider"></div>
        <img src="{% static "img/close-blue-50-alt.svg" %}" class="filter-action">
      </button>
    {% endfor %}
  </div>
</div>
