{% load static %}
<h2 class="intake-section-title margin-bottom-105">Report Records</h2>
<span>Find specific CRT Report Records by using the filter options below.</span>
<form
  id="filters-form"
  method="GET"
  action="/form/view"
  novalidate
>
  <div class="usa-form intake-filters intake-checkbox">
    {% include 'forms/complaint_view/index/filters/checkbox_status_filter.html' %}
  </div>
  <div class="usa-form">
    <div class="intake-filters">
      {% include 'forms/complaint_view/index/filters/contact_filter.html' %} <!-- First Name -->
      {% include 'forms/complaint_view/index/filters/contact_filter_lastname.html' %}
      {% include 'forms/complaint_view/index/filters/public_id_filter.html' %}
      {% include 'forms/complaint_view/index/filters/assignee.html' %}
      {% include 'forms/complaint_view/index/filters/campaign.html' %}
      {% include 'forms/complaint_view/index/filters/incident_city_state.html' %}
    </div>

    <div class="intake-filters">
      {% include 'forms/complaint_view/index/filters/contact_email.html' %}
      {% include 'forms/complaint_view/index/filters/contact_phone_number_filter.html' %} <!-- CRT summary -->
      {% include 'forms/complaint_view/index/filters/date.html' %}
      {% include 'forms/complaint_view/index/filters/primary_statute_filter.html' %} <!-- Classification -->
      {% include 'forms/complaint_view/index/filters/primary_issue.html' %}
      {% include 'forms/complaint_view/index/filters/reported_reason.html' %}
      {% include 'forms/complaint_view/index/filters/relevant_details.html' %}
      {% include 'forms/complaint_view/index/filters/servicemember.html' %}
      {% include 'forms/complaint_view/index/filters/intake_type.html' %}
      {% include 'forms/complaint_view/index/filters/secondary_review.html' %}
      {% include 'forms/complaint_view/index/filters/report_language.html' %}
      {% include 'forms/complaint_view/index/filters/hate_crime.html' %}
      {% include 'forms/complaint_view/index/filters/prison_type_filter.html' %}

      {% include 'forms/complaint_view/index/filters/summary_filter.html' %} <!-- CRT summary -->
      {% include 'forms/complaint_view/index/filters/incident_location_filter.html' %}
      {% if ENABLED_FEATURES.dj_number %}
        {% include 'forms/complaint_view/index/filters/dj_number.html' %}
      {% endif %}
    </div>
    <div class="grid-row flex-wrap flex-justify flex-align-end padding-bottom-5 border-gray-50 border-bottom">
      <div class="grid-col flex-3">
        <p>
          Search on keywords in the Personal Description field below. Use AND, OR, minus sign (-), “quotations”, or (parentheses) to search multiple keywords combinations.
          <a href="{% url 'crt_forms:cts-forms-search-help' %}?next={{ return_url_args}}" class="text-no-wrap">View search examples</a>
        </p>
        <div class="summary-filter">
          {% include 'forms/complaint_view/index/filters/violation_summary_filter.html' %} <!-- Personal description -->
        </div>
        <div class="usa-alert usa-alert--error usa-alert--slim" id="search-notification">
          <div class="usa-alert__body">
            <em class="usa-alert__text"></em>
          </div>
        </div>
      </div>
      <div class="text-right flex-2">
        <button class="usa-button" type="submit" id="apply-filters-button">
          Apply filters
        </button>
        <button class="usa-button usa-button--unstyled" data-clear-filters>
          Clear all filters
       </button>
      </div>
    </div>
  </div>
</form>
