{% load static %}
<form
  id="filters-form"
  method="GET"
  action="/form/view"
  novalidate
>
  <div class="intake-filters">
    {% include 'forms/complaint_view/index/filter.html' with meta=form.fields.assigned_section field=form.assigned_section %}

    <div id="contact-first-name-filter" class="margin-right-2">
      <label for="id_{{form.fields.contact_first_name.widget.attrs.name}}" class="usa-label margin-bottom-1">
        <b>{{form.contact_first_name.label }}</b>
      </label>
      {{ form.contact_first_name }}
    </div>
    <div id="contact-last-name-filter" class="margin-right-2">
      <label for="id_{{form.fields.contact_last_name.widget.attrs.name}}" class="usa-label margin-bottom-1">
        <b>{{form.contact_last_name.label }}</b>
      </label>
      {{ form.contact_last_name }}
    </div>
    <div class="margin-right-2">
      <label for="id_{{form.fields.location_city_town.widget.attrs.name}}" class="usa-label margin-bottom-1">
        <b>{{form.location_city_town.label}}</b>
      </label>
      {{ form.location_city_town }}
    </div>
    <div id="location-state-filter" class="margin-right-2">
      <label for="id_{{form.fields.location_state.widget.attrs.name}}" class="usa-label margin-bottom-1">
        <b>{{form.location_state.label }}</b>
      </label>
      {{ form.location_state }}
    </div>
  </div>
  <div class="margin-top-2">
    <button type="submit" class="usa-button usa-button--primary">
      Filter results
    </button>
  </div>
</form>
<div id="active-filters" class="active-filters margin-top-2">
  {% for key, value in filters.items %}
    {% for item in value %}
      <span class="usa-sr-only">{{key}}: {{item}}</span>
      <button
        class="filter-control usa-button usa-button--light margin-top-2"
        aria-label="Remove filter {{ key}}: {{item}} from the list"
        data-filter-name="{{key}}"
        data-filter-value="{{item}}"
      >
        {% if key == 'assigned_section' %}
          Routed
        {% elif key == 'contact_first_name' %}
          Contact first name
        {% elif key == 'contact_last_name' %}
          Contact last name
        {% elif key == 'location_city_town' %}
          City
        {% elif key == 'location_state' %}
          State
        {% else %}
          {{key}}
        {% endif %}: {{item}}
        <div class="divider"></div>
        <img src="{% static "img/close-blue-50-alt.svg" %}" class="filter-action">
      </button>
      {% endfor %}
  {% endfor %}
</div>
