{% extends "forms/complaint_view/intake_base.html" %}
{% load static %}

{% block page_header %}
{% include 'forms/complaint_view/intake_filters_header.html' with title_text="Reporting Portal" profile_form=profile_form  %}
{% endblock %}

{% block content %}
<div class="intake-content">
  <div id="status-update" class="grid-col-auto">
    {% include 'partials/messages.html' %}
  </div>
  <h2 class="intake-section-title margin-bottom-105">Report Records</h2>
  <span>Find specific CRT Report Records by using the filter options below.</span>
  <form
    id="filters-form"
    method="GET"
    action="/form/view"
    novalidate
  >
    <div class="usa-form intake-filters intake-checkbox">
      {% include 'forms/complaint_view/index/filters/checkbox_status_filter.html' %}
    </div>
    <div class="usa-form">
      <div class="intake-filters">
        {% include 'forms/complaint_view/index/filters/contact_filter.html' %} <!-- First Name -->
        {% include 'forms/complaint_view/index/filters/contact_filter_lastname.html' %}
        {% include 'forms/complaint_view/index/filters/public_id_filter.html' %}
        {% include 'forms/complaint_view/index/filters/assignee.html' %}
        {% include 'forms/complaint_view/index/filters/incident_city_state.html' %}
      </div>

      <div class="intake-filters">
        {% include 'forms/complaint_view/index/filters/contact_email.html' %}
        {% include 'forms/complaint_view/index/filters/date.html' %}
        {% include 'forms/complaint_view/index/filters/primary_statute_filter.html' %} <!-- Classification -->
        {% include 'forms/complaint_view/index/filters/primary_issue.html' %}
        {% include 'forms/complaint_view/index/filters/reported_reason.html' %}
        {% include 'forms/complaint_view/index/filters/relevant_details.html' %}
        {% include 'forms/complaint_view/index/filters/servicemember.html' %}
        {% include 'forms/complaint_view/index/filters/intake_type.html' %}
        {% include 'forms/complaint_view/index/filters/secondary_review.html' %}
        {% include 'forms/complaint_view/index/filters/report_language.html' %}
        {% include 'forms/complaint_view/index/filters/hate_crime.html' %}
        {% include 'forms/complaint_view/index/filters/prison_type_filter.html' %}

        {% include 'forms/complaint_view/index/filters/summary_filter.html' %} <!-- CRT summary -->
        {% include 'forms/complaint_view/index/filters/incident_location_filter.html' %}
      </div>

      <p>
        Search on keywords in the Personal Description field below. Use AND, OR, minus sign (-), “quotations”, or (parentheses) to search multiple keywords combinations.
        <a href="{% url 'crt_forms:cts-forms-search-help' %}?next={{ return_url_args}}" class="text-no-wrap">View search examples</a>
      </p>
      <div class="intake-filters">
        {% include 'forms/complaint_view/index/filters/violation_summary_filter.html' %} <!-- Personal description -->
      </div>
      <div class="usa-alert usa-alert--error usa-alert--slim" id="search-notification">
        <div class="usa-alert__body">
          <em class="usa-alert__text"></em>
        </div>
      </div>

      <div class="text-right">
        <button class="usa-button" type="submit" id="apply-filters-button">
          Apply filters
        </button>
        <button class="usa-button usa-button--unstyled" data-clear-filters>
          Clear all filters
        </button>
      </div>
    </div>
  <div class="display-flex margin-top-8">
    {% include "forms/complaint_view/index/active-filters.html" %}
    <span class="intake-pagination margin-left-auto">
      <img src="{% static "img/kebab-menu-icon.svg" %}" role="img" alt="" aria-hidden="true">
      Showing {{ page_format.page_range_start }} to {{ page_format.page_range_end }} of TOTAL records 
    </span>
  </div>
  <br/>
  <br/>
  <p>{% include 'forms/complaint_view/index/filters/per_page.html' %}</p>
  </form>
  <div class="grid-col-auto">
    <div class="intake-table">
      <div class="intake-table-header">
        <h2 class="intake-section-title">Incoming records</h2>
        <div class="margin-left-auto">
          {% include "forms/snippets/pagination.html" with page_format=page_format page_args=page_args placement="top" %}
        </div>
      </div>
      {% include "forms/complaint_view/index/complaints_table.html" with page_format=page_format data_dict=data_dict sort_state=sort_state filter_state=filter_state %}
    </div>
  </div>
  <div class="margin-bottom-5">
    {% include "forms/snippets/pagination.html" with page_format=page_format page_args=page_args placement="bottom" %}
  </div>
</div>
{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'vendor/js.cookie.min.js' %}"></script>
<script src="{% static 'js/complaint_quick_view.min.js' %}"></script>
<script src="{% static 'js/complaint_view_filters.min.js' %}"></script>
<script src="{% static 'js/complaint_actions.min.js' %}"></script>
{% endblock %}
