{% extends "base.html" %}

{% block content %}
<div class="grid-container">
  <div class="grid-row">
    <div class="tablet:grid-col-7 tablet:grid-offset-3">
      <h2>Login</h2>
      {% if env != "PRODUCTION" and env != "STAGE" %}
      <p>Please note this process will be replaced with DOJ single sign on.</p>
      <form label="log in form" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {{ form.as_p }}
        <button label="login" type="submit" id="login" class="usa-button">Login</button>
      </form>
      {% else %}
      <div class="display-flex flex-align-center">
        <hr class="flex-fill margin-0" />
        <p class="margin-left-1 margin-right-1">or</p>
        <hr class="flex-fill margin-0" />
      </div>
      <div>
        <a href="{% url 'django_auth_adfs_login' %}">
          <button class="usa-button" type="button">Log In with ADFS</button>
        </a>
      </div>
      <div class="display-flex flex-align-center">
        <hr class="flex-fill margin-0" />
        <p class="margin-left-1 margin-right-1">or</p>
        <hr class="flex-fill margin-0" />
      </div>
      <div>
        <a href="{% url 'oidc_authentication_init' %}">
          <button class="usa-button" type="button">Log In with DOJ Login</button>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
