{% load i18n %}
{% trans "United States Department of Justice" as DOJ %}

<header class="crt-form-header">
  <div class="grid-container">
    <div class="grid-row grid-gap flex-child">

      <div class="tablet:grid-col-10 tablet:grid-offset-1">
        <div class="doj-brand display-flex flex-align-center font-serif-lg">
          <img
            src="{% static "img/doj-logo-footer.png" %}"
            alt=""
            class="margin-right-105"
          />
          <span class='bold'>{{ DOJ }}</span>
        </div>
        <h1 class="h1__display padding-top-2 padding-bottom-1 margin-0">
          {{ intro_text }}
        </h1>
      </div>
    </div>
    {% include 'forms/portal/progress-bar.html' %}
  </div>
</header>
