{% load i18n %}

<input type="radio"
      name="{{ widget.name }}"
      {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
      class="usa-radio__input"
      {% include "django/forms/widgets/attrs.html" %} />
<label class="usa-radio__label crt-radio__label_area"
      {% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}>
  <div class="label-text">
    <h3 class="question--label">
      {{ widget.label }}<span class="usa-sr-only">.</span>
    </h3>
    {% if widget.value != None %}
      {% for reason, helptext in widget.attrs.choices_to_helptext.items %}
        {% if widget.value == reason %}
          <p class="help-text__small">{{ helptext }}</p>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if widget.value != None %}
      {% for reason, examples in widget.attrs.choices_to_examples.items %}
        {% if widget.value == reason %}
          {% if examples %}
            <div class="examples-title margin-top-2">
              {% trans "Examples:" %}
            </div>
            <ul class="examples">
              {% for example in examples %}
                <li class="primary-issue-example-li" role="listitem">
                  {{ example|safe }}<span class="usa-sr-only">.</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</label>
