<div class="usa-radio">
  <input type="radio"
         name="{{ widget.name }}"
         {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
         class="usa-radio__input"
         {% include "django/forms/widgets/attrs.html" %} />
  <label class="crt-radio__label_area"
         {% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}>
    <span class="big">{{ widget.label }}</span>
    <div class="examples margin-top-2 margin-bottom-1 padding-left-5">
      Examples
    </div>
    <ul class="primary_reason_examples show">
      {% if widget.value != None %}
        {% for reason, examples in widget.attrs.choices_to_examples.items %}
          {% if widget.value == reason %}
            {% for example in examples %}
              <li class="show">{{example}}</li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </label>
</div>
