{% spaceless %}
  {% for widget in widget.subwidgets %}
    <label id="{{widget.name}}_label" for="id_{{widget.name}}" class="usa-sr-only">{{widget.attrs.label}}</label>
    {% if widget.attrs.is_combobox %}
      <div
          class="usa-combo-box"
          for="{{widget.name}}_label"
          title="Paste a full DJ number here to fill all boxes"
          data-placeholder="{{widget.attrs.placeholder}}"
          data-default-value="{{ widget.value | first }}">
        {% include widget.template_name %}
      </div>
    {% else %}
      {% include widget.template_name %}
    {% endif %}
  {% endfor %}
{% endspaceless %}

