{% load get_dict_item %}
<input type="radio"
       name="{{ widget.name }}"
       {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
       class="usa-radio__input"
       {% include "django/forms/widgets/attrs.html" %} />
<label class="usa-radio__label"
       {% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}
>{{ widget.label }}
    {% if widget.attrs.help_text %}
      {% with help_text=widget.attrs.help_text|get_dict_item:widget.value %}
      {% if help_text %}
        <p class="help-text--radio help-text__small">
          {{ help_text }}
        </p>
      {% endif %}
      {% endwith %}
    {% endif %}
</label>
