[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
jupyterhub = "*"
jupyterlab = "*"
jupyter_client = "*"
oauthenticator = "*"
jupysql = "*"
sqlalchemy = "<2"
psycopg2-binary = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
ipywidgets = "*"
plotly = "*"
bokeh = "*"
holoviews = "*"
exceptiongroup = "*"

[requires]
python_version = "3.12.4"

[pipenv]
allow_prereleases = true
