<form id="comment-actions-{{ id_name }}" class="usa-form" method="post"
  action="{% url 'crt_forms:save-report-comment' report_id=data.pk %}" novalidate>
  {% csrf_token %}
  <fieldset name="fieldset-{{ id_name }}" class="usa-fieldset usa-prose">
    <legend class="usa-sr-only">Submit a {{ id_name }}</legend>
    <input type="hidden" value="{{ return_url_args }}" name="next" id="next-{{ id_name }}" />
    <input type="hidden" value="{{ index }}" name="index" id="index-{{ id_name }}" />
    <input type="hidden" value="{{ is_summary }}" name="is_summary" id="is_summary-{{ id_name }}" />
    <input type="hidden" value="{{ data.pk }}" name="report_id" id="report_id-{{ id_name }}" />
    {% if comment.pk %}
      <input type="hidden" value="{{ comment.pk }}" name="comment_id" id="comment_id-{{ comment.pk }}" />
    {% endif %}
    <div class="margin-bottom-2">
      <label for="id_note-{{ id_name }}" class="bold backend-blue">
        {{ label }}
      </label>
      {{ comment_box }}
    </div>
    <button aria-label="{{ button_aria_label }}" class="usa-button" type="submit">{{ button_text }}</button>
    {% if show_cancel %}
      <button class="usa-button usa-button--unstyled button--cancel" type="button">Cancel</button>
    {% endif %}

  </fieldset>
</form>
