{% extends "forms/complaint_view/show/card.html" %}

{% load i18n %}

{% block title %}Demo Dashboards{% endblock %}

{% block extra_classes %}crt-actions-card dashboard-list{% endblock %}
{% block icon %}
<img src="{% static icon %}" alt="" class="icon" />
{% endblock %}

{% block card_content %}
<table class="usa-table usa-table--borderless complaint-card-table">
    {% for notebook in intake_notebooks %}
    {% if notebook.group != 'Section Requested Dashboards' %}
    <tr>
        <td>
        <p class="text-bold">{{ notebook.name }}</p>

        <a href="/form/data/{{notebook.metadata.url}}">{{ notebook.description }}</a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}
