{% extends "forms/complaint_view/intake_base.html" %}
{% load application_contact %}

{% block page_header %}
{% include 'forms/complaint_view/data/header.html' with profile_form=profile_form%}
{% endblock %}

{% block content %}
<div class="margin-left-4 padding-left-2">
  <h2 class="intake-section-title padding-bottom-2">Data dashboards</h2>
</div>

<div class="intake-content">
  <div id="status-update" class="grid-col-auto">
    {% include 'partials/messages.html' %}
  </div>
</div>

<div class="intake-content">
  <p class="margin-left-1">The following are a collection of existing notebooks, meant to help staff understand trends, patterns, and operational insights from complainant reports. Select a notebook below to view it.</p>
  <p class="margin-left-1">If you can't quite find what you want here, or have ideas for how to improve these, please reach out to {% application_contact_markup %}.</p>

  <ul class="notebook-links">
  {% for notebook in intake_notebooks %}
  {% with name=notebook.name|slice:":-6" %}
    <li><a href="/form/data/{{name}}">{{ name }}</a> <small>(updated {{ notebook.last_modified | date:"SHORT_DATETIME_FORMAT"}})</small></li>
  {% endwith %}
  {% endfor %}
  </ul>
</div>
{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'js/ga_util.min.js' %}"></script>
<script src="{% static 'js/data-tables.min.js' %}"></script>
{% endblock %}
