{% extends "forms/complaint_view/intake_base.html" %}
{% load application_contact %}

{% block page_header %}
{% include 'forms/complaint_view/data/header.html' with profile_form=profile_form%}
{% endblock %}

{% block content %}
<div class="margin-left-4 padding-left-2">
  <h2 class="intake-section-title padding-bottom-2">Data dashboards</h2>
</div>

<div class="intake-content">
  <div id="status-update" class="grid-col-auto">
    {% include 'partials/messages.html' %}
  </div>
</div>

<div class="intake-content">
  <p class="margin-left-1">These dashboards are intended to surface trends, patterns and operational insights from reports found in the portal. They were created based on feedback from portal users like you.</p>
  <p class="margin-left-1">The data in these dashboards is updated every four hours.</p>
  <p class="margin-left-1">If you have any questions, ideas for new dashboards or ideas for improvements to current dashboards, please reach out to {% application_contact_markup %}.</p>
  <div class="bg-white width-full padding-bottom-2 padding-top-1">
    <div class="grid-row">
      <div class="grid-col-3 display-flex">
        <select class="margin-left-1 usa-select" name="dashboards-filter-section-select" id="dashboards-filter-section-select">
          <option value>All Dashboards</option>
          {% for section, notebook_list in intake_notebooks_by_section.items %}
          <option value="{{section}}">{{section}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="grid-col-6">
      </div>
      <div class="grid-col-3">
        <div class="display-flex flex-justify-end">
          <a href="mailto:{% application_contact_mailto_string %}" class="margin-top-1" id="request-new-dashboard-button">
            <button class="usa-button">+ Request New Dashboard</button>
          </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="grid-row">
      <div class="grid-col-3">
        <div class="bg-primary-lighter margin-left-1 padding-bottom-1">
          <div class="margin-left-1 margin-right-1">
            <h3 class="text-primary-darker">Contact</h3>
            <p>For questions or feedback, contact:</p>
            <div>
              {% application_contact_email_list %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid-col-9">
        {{ intake_notebooks_by_section|json_script:"dashboards-by-section-data" }}
        {% for section, notebook_list in intake_notebooks_by_section.items %}
        <div class="grid-row display-block" id="{{section}}-dashboards-container" name="section-dashboards-container">
          <div class="margin-left-1">
            <h3 class="text-primary-darker">{{section}} Dashboards:</h3>
            <ul
              id="{{section}}-dashboards-cards-container" 
              name="section-dashboards-cards-container" 
              class="display-flex usa-list usa-list--unstyled"
              data-current-page="0"
              data-last-page="0"
              data-page-size="2"
            >
            </ul>
            <nav aria-label="Pagination" class="usa-pagination">
              <ul id="{{section}}-dashboards-pagination-container" class="usa-pagination__list">
                <li class="usa-pagination__item usa-pagination__arrow">
                  <a id="{{section}}-dashboards-previous" class="usa-pagination__link usa-pagination__previous-page">
                    <img src="/static/img/usa-icons/navigate_before.svg"></img>
                    <span class="usa-pagination__link-text" aria-label="Previous page">Previous</span>
                  </a>
                </li>
                <li class="usa-pagination__item usa-pagination__page-no">
                  <a id="{{section}}-dashboards-first-page" class="usa-pagination__button" aria-label="First Page">1</a>
                </li>
                <li class="usa-pagination__item usa-pagination__overflow" aria-label="ellipsis indicating non-visible pages">
                  <span>…</span>
                </li>
                <li class="usa-pagination__item" aria-label="Current Page">
                  <span id="{{section}}-dashboards-current-page" class="flex-align-self-center"></span>
                </li>
                <li class="usa-pagination__item usa-pagination__overflow" aria-label="ellipsis indicating non-visible pages">
                  <span>…</span>
                </li>
                <li class="usa-pagination__item usa-pagination__page-no">
                  <a id="{{section}}-dashboards-last-page" class="usa-pagination__button" aria-label="Last Page">2</a>
                </li>
                <li class="usa-pagination__item usa-pagination__arrow">
                  <a id="{{section}}-dashboards-next" class="usa-pagination__link usa-pagination__next-page">
                    <span class="usa-pagination__link-text" aria-label="Next page">Next </span>
                    <img src="/static/img/usa-icons/navigate_next.svg"></img>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <hr>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'js/ga_util.min.js' %}"></script>
<script src="{% static 'js/data-tables.min.js' %}"></script>
<script src="{% static 'js/dashboards-index-page.min.js' %}"></script>
{% endblock %}
