{% extends "forms/complaint_view/show/card.html" %}

{% load i18n %}

{% block title %}Approve {{ all_ids_count }} records for disposal{% endblock %}

{% block extra_classes %}disposition-actions-card crt-actions-card{% endblock %}

{% block card_content %}
  {% if all_ids_count %}
    <form class="usa-form" method="post" action="/form/disposition/actions" novalidate>
      {% csrf_token %}

      <input type="hidden" value="{{ return_url_args }}" name="next" id="next" />
      <input type="hidden" value="{{ ids }}" name="ids" id="ids" />
      <input type="hidden" value="{{ selected_all }}" name="all" id="all" />
      <input type="hidden" value="{{ query_string }}" name="query_string" id="query_string" />
      <input type="hidden" value="{{ id }}" name="id" id="id" />
      <input type="hidden" value="{{ uuid }}" name="uuid" id="uuid" />
      <div id="bulk_actions_section">
        <p><i>This form documents the destruction of federal records in accordance with the Federal Records Act of 1950, as amended (44 U.S.C., Chapters 29, 31, and 33)</i></p>
        <h2>Primary Information</h2>
        <table class="usa-table usa-table--borderless complaint-card-table">
          <tr>
            <th>Agency/Locality</th>
            <td>
              Department of Justice
            </td>
          </tr>
          <tr>
            <th>Division</th>
            <td>
              Civil Rights
            </td>
          </tr>
          <tr>
            <th>Section</th>
            <td>{{ shared_report_fields.assigned_section }}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>
              4CON
            </td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>
              202-514-3847
            </td>
          </tr>
        </table>
        <h2>Records To Be Destroyed</h2>
        <table class="usa-table usa-table--borderless complaint-card-table">
          <tr>
            <th>Retention Assignment</th>
            <td>
              {{ shared_report_fields.retention_schedule }}
            </td>
          </tr>
          <tr>
            <th>Records Batch Number</th>
            <td>
              {{ uuid }}
            </td>
          </tr>
          <tr>
            <th>Date Range</th>
            <td>{{ shared_report_fields.date_range }}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>
              US DOJ CRT
            </td>
          </tr>
          <tr>
            <th>Format</th>
            <td>
              Electronic
            </td>
          </tr>
          <tr>
            <th>Volume</th>
            <td>
              {{ all_ids_count }}
            </td>
          </tr>
          <tr>
            <th>Destruction Method</th>
            <td>
              --
            </td>
          </tr>
          <tr>
            <th>Proposed Disposal Date</th>
            <td>
              <input type="hidden" value="{{ shared_report_fields.proposed_disposal_date }}" name="proposed_disposal_date" id="proposed_disposal_date" />
              {{ shared_report_fields.proposed_disposal_date }}
            </td>
          </tr>
        </table>
        <div class="margin-bottom-2 crt-dropdown">
            <label for="id_disposed_by" class="intake-label">
              {{ bulk_disposition_form.disposed_by.label }}
            </label>
            {{ bulk_disposition_form.disposed_by }}
        </div>
        <div class="margin-bottom-2 crt-dropdown">
          <label for="id_create_date" class="intake-label">
            {{ bulk_disposition_form.create_date.label }}
          </label>
          {{ bulk_disposition_form.create_date }}
        </div>
        {% if shared_report_fields.retention_schedule == 'Multiple' or shared_report_fields.proposed_disposal_date == 'Multiple' %}
          <p>The selected reports have multiple retention schedules.</p>
          <p>All reports must have the same retention schedule and expiration date to be batched.</p>
        {% endif %}
        <input type="hidden" value="{{ all_ids_count }}" name="disposed_count" id="disposed_count" />
        {% if selected_all %}
            <button class="usa-button button--warning display-flex align-center"
                    id="show_warning_section"
            >
            Approve Disposal of {{ all_ids_count }} record{{ all_ids_count|pluralize:"s" }}
            </button>
        {% else %}
          <button class="usa-button{% if show_warning %} button--warning display-flex align-center{% endif %}"
                {% if show_warning %}id="show_warning_section_partial"{% endif %}
                {% if shared_report_fields.retention_schedule == 'Multiple' or shared_report_fields.proposed_disposal_date == 'Multiple' %}disabled{% endif %}
                type="submit"
                id="submit_report_count"
                name="selected_ids"
          >
            Approve Disposal of {{ all_ids_count }} record{{ all_ids_count|pluralize:"s" }}
          </button>
        {% endif %}
        </div>
      {% if show_warning or selected_all %}
        <div id="warning_section" hidden>
          <p>
            Are you sure you want to update
            <span id="warning_count_all">{{ all_ids_count }}</span>
            records?
          </p>
          <button class="usa-button button--warning display-flex align-center"
                  id="confirm_button"
                  name="confirm_all"
                  value="confirm_all"
                  type="submit">
            Yes
          </button>
          <button class="usa-button"
                  id="cancel_warning_section">
            No
          </button>
        </div>
      {% endif %}
    </form>
  {% else %}
    <p>No records were selected.</p>
  {% endif %}
{% endblock %}