{% extends "forms/complaint_view/show/card.html" %}

{% load i18n %}

{% block title %}Approve {{ ids_count }} records for deletion{% endblock %}

{% block extra_classes %}disposition-actions-card crt-actions-card{% endblock %}

{% block card_content %}
  {% if ids_count %}
    <form class="usa-form" method="post" novalidate>
      {% csrf_token %}

      <input type="hidden" value="{{ return_url_args }}" name="next" id="next" />
      <input type="hidden" value="{{ ids }}" name="ids" id="ids" />
      <input type="hidden" value="{{ selected_all }}" name="all" id="all" />
      <input type="hidden" value="{{ query_string }}" name="query_string" id="query_string" />
      <input type="hidden" value="{{ uuid }}" name="uuid" id="uuid" />

        <p><i>This form documents the destruction of federal records in accordance with the Federal Records Act of 1950, as amended (44 U.S.C., Chapters 29, 31, and 33)</i></p>
        <h2>Primary Information</h2>
        <table class="usa-table usa-table--borderless complaint-card-table">
          <tr>
            <th>Agency/Locality</th>
            <td>
              Department of Justice
            </td>
          </tr>
          <tr>
            <th>Division</th>
            <td>
              Civil Rights
            </td>
          </tr>
          <tr>
            <th>Section</th>
            <td>{{ shared_report_fields.assigned_section }}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>
              4CON
            </td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>
              444-444-4444
            </td>
          </tr>
        </table>
        <h2>Records To Be Destroyed</h2>
        <table class="usa-table usa-table--borderless complaint-card-table">
          <tr>
            <th>Retention Assignment</th>
            <td>
              {{ shared_report_fields.retention_schedule }}
            </td>
          </tr>
          <tr>
            <th>Records Batch Number</th>
            <td>
              {{ uuid }}
            </td>
          </tr>
          <tr>
            <th>Date Range</th>
            <td>{{ shared_report_fields.date_range }}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>
              US DOJ CRT
            </td>
          </tr>
          <tr>
            <th>Format</th>
            <td>
              Electronic
            </td>
          </tr>
          <tr>
            <th>Volume</th>
            <td>
              {{ ids_count }}
            </td>
          </tr>
          <tr>
            <th>Destruction Method</th>
            <td>
              --
            </td>
          </tr>
          <tr>
            <th>Proposed Disposal Date</th>
            <td>
              {{ shared_report_fields.expiration_date }}
            </td>
          </tr>
        </table>
        <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
            <label for="id_assigned_section" class="intake-label">
              Approving Official
            </label>
            {{ bulk_actions_form.disposed_by }}
        </div>
        <div class="margin-bottom-2 crt-dropdown">
            <label for="id_retention_schedule" class="intake-label">
             Date
            </label>

        </div>
        {% if bulk_actions_form.retention_schedule.initial == 1 %}
          <p>The selected reports have multiple retention schedules.</p>
          <p>All reports must have the same retention schedule to be batched.</p>
        {% endif %}
          <button class="usa-button{% if show_warning %} button--warning display-flex align-center{% endif %}"
                  {% if show_warning %}id="show_warning_section_partial"{% endif %}
                  {% if bulk_actions_form.retention_schedule.initial == 1 %}disabled{% endif %}
                  type="submit"
                  name="selected_ids"
          >
            Approve Deletion of {{ ids_count }} record{{ ids_count|pluralize:"s" }}
          </button>
    </form>
  {% else %}
    <p>No records were selected.</p>
  {% endif %}
{% endblock %}