{% extends "forms/complaint_view/intake_base.html" %}
{% load back_to_all %}


{% block page_title %}
  <title>CRT Complaint Disposition - Update multiple records</title>
{% endblock %}

{% block content %}
  <div class="complaint-show-body">
    <div class="grid-container-widescreen">

      <div class="grid-row margin-bottom-1">
        <div class="tablet:grid-col-10 grid-offset-1 padding-left-05">
          <div class="complaint-filter-navigation display-flex flex-row flex-justify">
            <div class="display-flex">
              <a class="outline-button outline-button--dark" href="{% url 'crt_forms:disposition' %}{% back_to_all return_url_args %}">
                <img src="{% static "img/intake-icons/ic_arrow_forward.svg" %}" alt="back arrow" class="icon">
                Back to all
              </a>
            </div>
          </div>
        </div>
        <div id="status-update" class="tablet:grid-col-6 grid-offset-1 padding-left-05">
          {% include 'partials/messages.html' %}
        </div>
      </div>

      <div class="complaint-page grid-row grid-gap-2">
        <div class="complaint-actions tablet:grid-col-5 grid-offset-1">
          {% include 'forms/complaint_view/disposition/actions/bulk_actions.html' %}
        </div>
        <div class="complaint-actions tablet:grid-col-6">
          {% include 'forms/complaint_view/disposition/actions/report_list.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'vendor/aria-autocomplete-1.2.3.min.js' %}"></script>
  <script src="{% static 'js/bulk_actions.min.js' %}"></script>
  <script src="{% static 'js/modal.min.js' %}"></script>
  <script src="{% static 'js/print_report.min.js' %}"></script>
  <script type="module" src="{% static 'js/filters.min.js' %}"></script>
  <script type="module" src="{% static 'js/batch_pagination.min.js' %}"></script>
{% endblock %}
