{% extends "forms/complaint_view/show/card.html" %}

{% load i18n %}

{% block title %}Selected reports for disposal{% endblock %}

{% block extra_classes %}crt-actions-card report-list{% endblock %}

{% block card_content %}
<div>
<div id="active-filters" class="disposition-batch-list margin-top-2">
<div class="filter-tag">
   <span>Retention schedule: {{ shared_report_fields.retention_schedule }}</span>
</div>
<div class="filter-tag">
    <span>Section: {{ shared_report_fields.assigned_section }}</span>
</div>
<div class="filter-tag">
  <span>Status: {{ shared_report_fields.status }}</span>
</div>
</div>
<div class="grid-col-auto">
  <div class="crt-xscroll">
    <table class="usa-table crt-table sort-table disposition-action-table">
      <thead>
        <tr>
          {% if batch %}
          <th aria-label="report removal and addition buttons"></th>
          {% endif %}
          <th>
            Report ID
          </th>
          <th>
            Expiration
          </th>
          <th>
            Location
          </th>
          <th>
            City/State
          </th>
        </tr>
      </thead>
      {% if data %}
        <tbody>
          {% for datum in data %}
            <tr class="stripe">
              {% if batch %}
              <td class="report-control">
                <a href="#" class="report-batch-control" id="{{ datum.report.public_id }}">
                  <svg class="icon report-batch-icon remove" fill="#FFF" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" id="remove" viewBox="0 0 24 24">
                    <path d="M19 13H5v-2h14v2z"/>
                  </svg>
                  <svg fill="#fff" class="icon report-batch-icon add" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="add" aria-hidden="true" focusable="false" role="img">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                  </svg>
                </a>
              </td>
              {% endif %}
              <td><a class="td-link display-block" href="{{datum.url}}">{{ datum.report.public_id }}</a></td>
              <td><a class="td-link display-block" href="{{datum.url}}">{{ datum.report.expiration_date|date:"SHORT_DATE_FORMAT" }}</a></td>
              <td><a class="td-link display-block" href="{{datum.url}}">{{ datum.report.location_name|default:"-" }}</a></td>
              <td>
                <a class="td-link display-block" href="{{datum.url}}">
                  {{ datum.report.location_city_town }}, {{ datum.report.location_state }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      {% endif %}
    </table>
  </div>
</div>
</div>
<div>
  {% include "forms/snippets/pagination.html" with page_format=page_format page_args=page_args placement="bottom" %}
</div>
  {% if not data %}
  <div class="crt-portal-card table-message">
    <div class="crt-portal-card__content">
      <div class="grid-container padding-bottom-2">
        <div class="align-center">
          <img alt="filter icon" src="{% static 'img/filters.svg' %}" class="margin-top-1" />
          <p class="margin-bottom-1 margin-top-1" role="status"><b>No records selected</b></p>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}