{% extends "forms/complaint_view/intake_base.html" %}

{% block content %}
<div class="intake-content">
  <div id="status-update" class="grid-col-auto">
    {% include 'partials/messages.html' %}
  </div>
  <h2 class="intake-section-title padding-bottom-2">Resources</h2>
  <div class="margin-bottom-8">Review, edit, and share contacts, organizations, agencies, and resources.</div>
  </form>
  <div class="grid-col-auto">
    <div class="intake-table flat">
      <form>
        <div class="intake-table-tabbed-header">
          {% include 'forms/complaint_view/resources/tabs.html' %}
        </div>
      </form>
    </div>
    {% include "forms/complaint_view/resources/filter-controls.html" with filters=filters form=form %}
    <div class="resources-wrapper">
      {# table to load here #}
    </div>
    {% endblock %}
    {% block page_js %}
    {{ block.super }}
    <script src="{% static 'vendor/js.cookie.min.js' %}"></script>
    <script src="{% static 'js/resources.min.js' %}"></script>
    <script src="{% static 'js/complaint_quick_view.min.js' %}"></script>
    <script type="module" src="{% static 'js/ga_util.min.js' %}"></script>
    {% endblock %}