{% extends "forms/complaint_view/intake_base.html" %}

{% block content %}
<div class="intake-content">
  <div id="status-update" class="grid-col-auto">
    {% include 'partials/messages.html' %}
  </div>
  <br/>
</form>
<div class="grid-col-auto">
  <div class="intake-table">
    <div class="intake-table-header">
      <h3 class="intake-section-title">Resources</h3>
      <div class="margin-left-auto">
        {% include "forms/snippets/pagination.html" with page_args=page_args placement="top" %}
      </div>
    </div>
    {% include "forms/complaint_view/resources/resource_table.html" with resources=resources sort_state=sort_state filter_state=filter_state %}
  </div>
</div>
<div class="margin-bottom-5">
  {% include "forms/snippets/pagination.html" with page_args=page_args placement="bottom" %}
</div>
</div>
{% endblock %}
{% block page_js %}
{{ block.super }}
<script src="{% static 'vendor/js.cookie.min.js' %}"></script>
<script src="{% static 'js/complaint_quick_view.min.js' %}"></script>
<script type="module" src="{% static 'js/ga_util.min.js' %}"></script>
{% endblock %}