<form class="usa-form"
      method="get"
      action=""
      novalidate
>
  <div class="crt-xscroll">
    <table class="usa-table crt-table sort-table">
    {# This "fake" table makes nested headers available to screen readers #}
    <span tabindex="-1" role="table" class="usa-sr-only">
        <span role="row">
        <span role="columnheader" class="usa-sr-only" id="crt-table-indiv-contacts-header">Individual Contacts</span>
        <span role="columnheader" class="usa-sr-only" id="crt-table-notes-header">Notes</span>
        </span>
    </span>
      <thead>
        <tr>
          <th aria-label="Bulk Action Selection">
            <div class="usa-checkbox td-checkbox">
              <input type="checkbox"
                     name="all"
                     class="usa-checkbox__input checkbox-input-all"
                     value="all"
              >
              <label class="usa-checkbox__label crt-checkbox__label checkbox-all" aria-label="Select all records"></label>
            </div>
          </th>
          <th aria-label="Detail toggles">
            <a aria-expanded="false" role="button" aria-label="Expand all detail rows" class="td-toggle-all display-flex" data-posted='false' href="#">
              <img alt="" aria-hidden="true" src="{% static "img/intake-icons/ic_chevron-right.svg" %}" class="icon">
            </a>
          </th>
          <th>
            Section
          </th>
          <th>
            Organization
          </th>
          <th>
            Phone Number
          </th>
          <th>
            Url
          </th>
          <th>
            Other Resources Available
          </th>
          <th>
            Tags
          </th>
       </tr>
      </thead>
      {% if data_dict %}
        <tbody>
          {% for datum in data_dict %}
            <tr class="tr-status-{{ datum.resource.section }} tr--hover{% cycle ' stripe' '' %}">
              <td>
                <div class="usa-checkbox td-checkbox">
                  <input type="checkbox"
                         name="id"
                         class="usa-checkbox__input"
                         value="{{ datum.resource.id }}"
                         id="checkbox-{{ datum.resource.id }}"
                  >
                  <label class="usa-checkbox__label crt-checkbox__label" for="checkbox-{{ datum.resource.id }}" aria-label="Select record {{ datum.resource.id }}"></label>
                </div>
              </td>
              <td>
                <a data-id="{{ datum.resource.id }}" aria-expanded="false" aria-label="Expand details for Record {{datum.resource.id}}" role="button" aria-controls="tr-additional-{{ datum.resource.id }}" class="td-toggle display-flex" href="#">
                  <img aria-hidden="true" src="{% static "img/intake-icons/ic_chevron-right.svg" %}" class="icon">
                </a>
              </td>
              <td>
                <a class="td-link display-block" href="{{datum.url}}">
                  <span class="status-tag status-{{ datum.resource.section }}">
                    {{ datum.resource.section }}
                  </span>
                </a>
              </td>
              <td><a class="td-link display-block" href="{{datum.url}}">{{ datum.resource.name }}</a></td>
              <td><a class="td-link display-block" href="{{datum.url}}">{{ datum.resource.phone }}</a></td>
              <td><a class="td-link display-block" href="{{datum.url}}">{{ datum.resource.url }}</a></td>
              <td><a class="td-link display-block" href="{{datum.url}}"></a></td>
              <td>
                <a class="td-link display-block" href="{{datum.url}}">
                    {% for tag in datum.tags %}
                        {{ tag }}
                    {% endfor %}
                </a>
              </td>
            </tr>
            {# this row is hidden by default #}
            <tr class="tr-quickview" id="tr-additional-{{ datum.resource.id }}" hidden>
              <td class="quickview">
                <span class="usa-sr-only">Details for record {{ datum.resource.id }}</span>
              </td>
              {# All screen readers don't yet read the headers attribute correctly, so we've added a redundant aria-label #}
              {# https://a11ysupport.io/tech/html/headers_attribute #}
              <td aria-label="Individual Contacts" headers="crt-table-indiv-contacts-header" class="quickview" colspan="5">
                <label aria-hidden="true" for="tr-quickview-indiv-contacts-{{ datum.resource.id }}" class="td-quickview">
                  Individual Contacts
                </label>
                <div tabindex="0" role="textbox" aria-readonly="true" id="tr-quickview-indiv-contacts-{{ datum.resource.id }}" class="td-indiv-contacts">
                    <a class="td-link display-block" href="{{datum.url}}">
                        {% with last=datum.resource.contact_last_name|default:"—" %}
                        {{ last|truncatechars:20 }}{% endwith %}, {% with first=datum.resource.contact_first_name|default:"—" %}
                        {{ first|truncatechars:20 }}
                        {% endwith %}
                        {{ datum.resource.contact_title }}
                        {{ datum.resource.contact_affiliation }}
                        {{ datum.resource.contact_email }}
                        {{ datum.resource.contact_phone }}
                    </a>
                </div>
              </td>
              <td aria-label="Notes" headers="crt-table-notes-header" class="quickview" colspan="6">
                <label aria-hidden="true" for="tr-quickview-notes-{{ datum.resource.id }}" class="td-quickview">
                  Notes
                </label>
                <div tabindex="0" role="textbox" aria-readonly="true" id="tr-quickview-notes-{{ datum.resource.id }}" class="td-notes word-break">
                  {{ datum.resource.notes|linebreaks|default:"-" }}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      {% endif %}
    </table>
  </div>
</form>

{% if not data_dict %}
  <div class="crt-portal-card table-message">
    <div class="crt-portal-card__content">
      <div class="grid-container padding-bottom-2">
        <div class="align-center">
          <img alt="filter icon" src="{% static 'img/filters.svg' %}" class="margin-top-1" />
          <p class="margin-bottom-1 margin-top-1" role="status"><b>No resources found</b></p>
          <em>Try adjusting your filters to see more resources</em>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if not page_format.has_next and data_dict %}
  <div class="crt-portal-card table-message">
    <div class="crt-portal-card__content">
      <div class="grid-container padding-bottom-2">
        <div class="align-center">
          <p class="margin-bottom-1">
            <img alt="encouraging coffee icon" src="{% static 'img/coffee.svg' %}" />
            <b>End of results</b>
          </p>
          <em>Try adjusting your filters to see more resources</em>
        </div>
      </div>
    </div>
  </div>
{% endif %}
