{% extends "forms/complaint_view/show/card.html" %}
{% load get_env %}
{% block title %}{% if id %}Update resource{% else %}Add new resource{% endif %}{% endblock %}
{% block extra_classes %}crt-action-card{% endblock %}
{% block icon %}
<img src="{% static icon %}" alt="" class="icon" />
{% endblock %}

{% block card_content %}
<form id="resource-actions" class="usa-form" method="post" action="/form/resources/actions" novalidate>
  <input type="hidden" value="{{ id }}" name="id" id="id" />
  {% csrf_token %}
  <fieldset name="resource-actions" class="usa-fieldset usa-prose">
    <legend class="usa-sr-only">Resource actions</legend>
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_name" class="intake-label">
        {{ form.fields.name.label }}
      </label>
      {{ form.name }}
    </div>
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_section" class="intake-label">
        {{ form.fields.section.label }}
      </label>
      {{ form.section }}
    </div>
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_url" class="intake-label">
        {{ form.fields.url.label }}
      </label>
      {{ form.url }}
    </div>
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_email" class="intake-label display-flex flex-align-center">
        {{ form.fields.email.label }}
      </label>
      {{ form.email }}
    </div>
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_secondary_email" class="intake-label display-flex flex-align-center">
        {{ form.fields.secondary_email.label }}
      </label>
      {{ form.secondary_email }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_phone" class="intake-label">
        {{ form.fields.phone.label }}
      </label>
      {{ form.phone }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_secondary_phone" class="intake-label">
        {{ form.fields.secondary_phone.label }}
      </label>
      {{ form.secondary_phone }}
    </div>
    <div class="contact-container margin-top-4 margin-bottom-4">
      {% include "forms/complaint_view/resources/actions/contacts.html" with title="Contacts" resource_contacts=resource_contacts %}
      {% include 'partials/start_expandable.html' with title='Add a contact' %}
      <div class="margin-bottom-2 crt-dropdown">
        <label for="id_first_name" class="intake-label">
          {{ form.fields.first_name.label }}
        </label>
        {{ form.first_name }}
      </div>

      <div class="margin-bottom-2 crt-dropdown">
        <label for="id_last_name" class="intake-label">
          {{ form.fields.last_name.label }}
        </label>
        {{ form.last_name }}
      </div>

      <div class="margin-bottom-2 crt-dropdown">
        <label for="id_title" class="intake-label">
          {{ form.fields.title.label }}
        </label>
        {{ form.title }}
      </div>

      <div class="margin-bottom-2 crt-dropdown">
        <label for="id_contact_email" class="intake-label">
          {{ form.fields.contact_email.label }}
        </label>
        {{ form.contact_email }}
      </div>

      <div class="margin-bottom-2 crt-dropdown">
        <label for="id_contact_phone" class="intake-label">
          {{ form.fields.contact_phone.label }}
        </label>
        {{ form.contact_phone }}
      </div>
      <div class="intake-section display-flex flex-align-center">
        <button class="usa-button" id="add_contact">
          Add contact
        </button>
      </div>
    {% include 'partials/end_expandable.html' %}
  </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_tags" class="intake-label">
        Tags
      </label>
      {{ form.tags }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_notes" class="intake-label">
        {{ form.fields.notes.label }}
      </label>
      {{ form.notes }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_outreach_efforts" class="intake-label">
        {{ form.fields.outreach_efforts.label }}
      </label>
      {{ form.outreach_efforts }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_background" class="intake-label">
        {{ form.fields.background.label }}
      </label>
      {{ form.background }}
    </div>
    <div class="margin-bottom-2 crt-checkbox">
      <label class="intake-label margin-top-3">
        {{ form.fields.soi_opportunities.label }}
      </label>
      {{ form.soi_opportunities }}
      {# empty label for the checkbox to render using the ::before selector #}
      <label for="id_soi_opportunities" class="usa-checkbox__label crt-checkbox__label"></label>
    </div>
    <div class="margin-bottom-2 crt-checkbox">
      <label class="intake-label margin-top-3">
        {{ form.fields.need_followup.label }}
      </label>
      {{ form.need_followup }}
      {# empty label for the checkbox to render using the ::before selector #}
      <label for="id_need_followup" class="usa-checkbox__label crt-checkbox__label"></label>
    </div>
    {% if id %}
    <div class="intake-section apply-discard">
      <button class="usa-button" value="update" type="submit" name="update">Update</button>
      <button value="delete" type="submit" class="delete outline-button outline-button--blue" name="delete">Delete</button>
    </div>
    {% else %}
    <div class="intake-section apply-discard">
      <button class="usa-button" value="add" type="submit" name="add">Add</button>
      <button type="button" value="discard" name="discard" class="discard outline-button outline-button--blue">Discard</button>
    </div>
    {% endif %}
    <hr />
  </fieldset>
</form>

{% endblock %}