{% extends "forms/complaint_view/show/card.html" %}
{% block title %}{{title}}{% endblock %}
{% block extra_classes %}crt-action-card{% endblock %}
{% block icon %}
<img src="{% static icon %}" alt="" class="icon" />
{% endblock %}

{% block card_content %}
<form id="saved-search-actions" class="usa-form" method="post" action="/form/saved-searches/actions/new" novalidate>
  {% csrf_token %}
  <fieldset name="saved-search-actions" class="usa-fieldset usa-prose">
    <legend class="usa-sr-only">Saved search actions</legend>
    <input type="hidden" value="{{ section_filter }}" name="section_filter" id="section_filter" />
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_name" class="intake-label">
        {{ form.fields.name.label }}
      </label>
      {{ form.name }}
    </div>
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_name" class="intake-label">
        {{ form.fields.description.label }}
      </label>
      {{ form.description }}
    </div>
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_query" class="intake-label">
        {{ form.fields.query.label }}
      </label>
      {{ form.query }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_section" class="intake-label">
        {{ form.fields.section.widget.label }}
      </label>
      {{ form.section }}
    </div>
    <div class="margin-bottom-2 crt-checkbox">
      <label class="intake-label margin-top-3">
        {{ form.fields.shared.label }}
      </label>
      {{ form.shared }}
      {# empty label for the checkbox to render using the ::before selector #}
      <label for="id_shared" class="usa-checkbox__label crt-checkbox__label"></label>
    </div>
    <div class="intake-section apply-discard">
      <button class="usa-button" type="submit" name='type'>Add</button>
      <button type="button" class="discard outline-button outline-button--blue">Discard</button>
    </div>
    <hr/>
  </fieldset>
</form>

{% endblock %}