{% extends "forms/complaint_view/intake_base.html" %}


{% block page_title %}
  <title>Saved search</title>
{% endblock %}

{% block content %}
  <div class="complaint-show-body">
    <div class="grid-container-widescreen">

      <div class="grid-row margin-bottom-1">
        <div id="status-update" class="tablet:grid-col-6 grid-offset-1 padding-left-05">
          {% include 'partials/messages.html' %}
        </div>
      </div>
      <div class="complaint-actions tablet:grid-col-6 grid-offset-1">
          {% include 'forms/complaint_view/saved_searches/actions/new-action.html' with title="Add new saved search" icon="img/intake-icons/ic_check-circle.svg" %}
      </div>
    </div>
  </div>
{% endblock %}