{% extends "forms/complaint_view/show/card.html" %}
{% block title %}
    Saved search actions
{% endblock %}
{% block extra_classes %}crt-action-card{% endblock %}
{% block icon %}
<img src="{% static icon %}" alt="" class="icon" />
{% endblock %}

{% block card_content %}
<form id="saved-search-actions" class="usa-form" method="post" action="/form/saved-searches" novalidate>
  {% csrf_token %}
  <fieldset name="saved-search-actions" class="usa-fieldset usa-prose">
    <legend class="usa-sr-only">Saved search actions</legend>
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_name" class="intake-label">
        {{ form.fields.name.label }}
      </label>
      {{ form.name }}
    </div>
    <div class="margin-bottom-2 crt-dropdown crt-dropdown__shrink-to-contents">
      <label for="id_query" class="intake-label">
        {{ form.fields.query.label }}
      </label>
      {{ form.query }}
    </div>
    <div class="margin-bottom-2 crt-dropdown">
      <label for="id_section" class="intake-label">
        {{ form.fields.section.widget.label }}
      </label>
      {{ form.section }}
    </div>
    <div class="intake-section apply-discard">
      <button class="usa-button" type="submit" name='type' value='{{actions.CONTEXT_KEY}}'>Apply changes</button>
      <button type="button" class="discard outline-button outline-button--blue">Discard changes</button>
    </div>
    <hr/>
  </fieldset>
</form>

{% endblock %}