{% load i18n %}
<fieldset class="usa-fieldset margin-bottom-4">
  <legend class="question--header">
    {{ form.inside_correctional_facility.label }}{% if not question_group.optional %}<span class="field-required--group">{% trans "required" %}</span>{% endif %}
  </legend>
  <div data-toggle="toggle">
    {{ form.inside_correctional_facility }}
  </div>
  {% with field=form.correctional_facility_type %}
    <div class="other-class-option">
      <label for="{{ field.id_for_label }}">
        <b>{{ field.help_text }}</b>
      </label>
      {{ field }}
    </div>
    {% if field.errors %}
      {% include "forms/snippets/error_alert.html" with errors=field.errors %}
    {% endif %}
    {% if form.inside_correctional_facility.errors %}
      {% include "forms/snippets/error_alert.html" with errors=form.inside_correctional_facility.errors %}
    {% endif %}
  {% endwith %}

  <script nonce="{{request.csp_nonce}}">
    const toggleWrapperEl = document.querySelector('[data-toggle="toggle"]');
    const toggleControls = Array.prototype.slice.call(
      toggleWrapperEl.querySelectorAll('[name$="-inside_correctional_facility"]')
    );
    const toggleShowEl = toggleControls.find(control => control.value === 'inside');
    const toggleableEl = document.querySelector('.other-class-option');

    if (!toggleShowEl.checked) {
      toggleableEl.classList.add('display-none');
    }

    toggleWrapperEl.addEventListener('click', function(event) {
      if (event.target.nodeName === 'INPUT') {
        if (event.target === toggleShowEl) {
          toggleableEl.classList.remove('display-none');
        } else {
          toggleableEl.classList.add('display-none');
        }
      }
    });
  </script>
</fieldset>
