{% with primary_complaint_field=wizard.form.primary_complaint %}
  <div class="crt-portal-card">
    <div class="crt-portal-card__content crt-portal-card__content--lg">
      {{ block.super }}

      {% if card_title %}
        <h2>{{ card_title }}</h2>
      {% endif %}

      <div id="primary-complaint-help-text">
        <p class="em-text">
          {{ primary_complaint_field.label }}
        </p>

        {% if primary_complaint_field.help_text %}
          <div class="label-text">
            <em class="help-text">
              {{ primary_complaint_field.help_text }}
            </em>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div role="group" aria-labelledby="primary-complaint-help-text" class="question_primary_complaint margin-top-3">
    {{ primary_complaint_field }}

    {% if primary_complaint_field.errors %}
      {% include "forms/snippets/error_alert.html" with errors=primary_complaint_field.errors %}
    {% endif %}
  </div>
{% endwith %}