{% with primary_complaint_field=form.primary_complaint %}
{% if card_title %}
  <h2>{{ card_title }}</h2>
{% endif %}

<div id="primary-complaint-help-text">
  <p class="em-text">
    {{ primary_complaint_field.label }}
  </p>

{% if primary_complaint_field.help_text %}
    <div class="label-text">
      <em class="help-text">
        {{ primary_complaint_field.help_text }}
      </em>
    </div>
  </div>
</div>
{% endif %}

</div>
<div role="group" aria-labelledby="primary-complaint-help-text" class="question_primary_complaint margin-top-3">
  {{ primary_complaint_field }}

  {% if primary_complaint_field.errors %}
    {% include "forms/snippets/error_alert.html" with errors=primary_complaint_field.errors %}
  {% endif %}
</div>
{% endwith %}