<div class="form-group"{% if hidden == True %} style="display:none" id="div-{{ field.id_for_label }}">
{% else %}>{% endif %}
  {% if field.label %}
    <h3><label
      for="{{ field.id_for_label }}"
      class="{{label_class}} margin-bottom-0"
    >
      {{ field.label }} {% if not field.field.required %}<em>(Optional)</em>{% endif %}
    </label></h3>
  {% endif %}
  {% if field.help_text %}
    <p class="margin-top-1" {% if ally_id%}id="{{ally_id}}"{%endif%}>
      <em>{{ field.help_text }}</em>
    </p>
  {% endif %}
  {{ field|withInputError }}
  {% if field.errors %}
    {% include "forms/snippets/error_alert.html" with errors=field.errors %}
  {% endif %}
</div>