{% load i18n %}

<div
  class="form-group"
  {% if hidden %}
  style="display:none"
  id="div-{{ field.id_for_label }}"
  {%  endif %}
>
  {% if field.label %}
  <h3 class="question--header margin-top-0">
    <label for="{{ field.id_for_label }}" class="{{label_class}} margin-bottom-0">
      {{ field.label }}{% if required or field.field.required or proform_required %}<span class="field-required">{% trans "required" %}</span>{% endif %}
    </label>
  </h3>
  {% endif %} {% if field.help_text %}
  <p class="help-text__small" {% if ally_id%}id="{{ally_id}}" {%endif%}>
    <em>{{ field.help_text }}</em>
  </p>
  {% endif %} 
  {{ field | withInputError }} 
    {% if field.errors %} 
      {% include "forms/snippets/error_alert.html" with errors=field.errors %} 
    {% endif %}
</div>
