{% load i18n %}

<div class="crt-portal-card crt-portal-card">
    <div class="crt-portal-card__content crt-portal-card__content--lg">
        <div class="form-group">
          {% if card_title %}
            <h2 id="{{ card_title }}">{{ card_title }}</h2>
          {% endif %}

          {% if field.label %}
            <h3><label
              for="{{ field.id_for_label }}"
              class="{{label_class}}"
              style="line-height:1.25"
            >
              {{ field.label }}
              {% if field.field.required != True %}<em>{% trans "(Optional)" %}</em>{% endif %}
              <!-- only used on the back end for now -->
              {% if required %} <span class="text-secondary">*{% trans "required" %}</span>{% endif %}
            </label></h3>
          {% endif %}
          {% if field.help_text %}
            <p class="margin-top-1" {% if ally_id%}id="{{ally_id}}"{%endif%}>
              <em>{{ field.help_text }}</em>
            </p>
          {% endif %}
          {{ field|withInputError }}
          {% if field.errors %}
            {% include "forms/snippets/error_alert.html" with errors=field.errors %}
          {% endif %}
        </div>
    </div>
</div>
