
<div class="crt-portal-card">
    <div class="crt-portal-card__content crt-portal-card__content--lg">
        {% if page_errors %}
          <section id="page-errors" class="display-none page-errors margin-bottom-2" role="alert" aria-live="assertive">
            {{ num_page_errors }} error{{ num_page_errors|pluralize }}: {{ page_errors_desc }}
          </section>
        {% endif %}

        <h2>{{ card_title }}</h2>

        <div id="primary-complaint-help-text">
          <p class="em-text">
            {{ field.label }}
          </p>

          {% if field.help_text %}
            <div class="label-text">
              <em class="help-text">
                {{ field.help_text }}
              </em>
            </div>
          {% endif %}
        </div>

        <div role="group" aria-labelledby="primary-complaint-help-text" class="question_primary_complaint margin-top-3">
          {{ field }}

          {% if field.errors %}
            {% include "forms/snippets/error_alert.html" with errors=field.errors %}
          {% endif %}
        </div>
    </div>
</div>
