{% load static %}
{% load i18n %}
{% load get_env %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {# Asking search engines not to index our site while we're in development mode. #}
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block page_title %}
      <title>{% trans "Civil Rights Division - Department of Justice" %}</title>
    {% endblock %}

    <link rel="icon" href="{% static "img/us_flag_small.png" %}">
    <link rel="stylesheet" href="{% static "css/compiled/styles.css" %}">
    {% block head %}{% endblock %}
  </head>
  <body {% block body_class %}{% endblock %}>
    <a class="usa-skipnav" href="#main-content">{% trans "Skip to main content" %}</a>
    {% block usa_banner %}
      {% include "partials/banner/usa_banner.html" %}
    {% endblock %}

    {% block page_header %}{% endblock %}

    <main id="main-content" {% block main_class %}{% endblock %}>
      {% block content %} {% endblock %}
    </main>

    {% block usa_footer %}
    <footer class="usa-footer usa-footer--slim">
      <div class="usa-footer__secondary-section">
        <div class="grid-container">
          <div class="usa-footer__logo grid-row grid-gap-2">
            <div class="grid-col-auto">
              <img src="{% static "img/doj-logo-footer.svg" %}"
                   alt=""
                   height="64" />
            </div>
            <div class="grid-col-auto">
              <p class="usa-footer__logo-heading">
                {% trans "Civil Rights Division" %}
                <br/> {% trans "U.S. Department of Justice" %}
              </p>
            </div>
            <div class="grid-col-auto">
              <p class="usa-footer__logo-heading">
                {% include 'partials/i8n.html' %}
            </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}
    <script src="{% static 'js/url_params_polyfill.js' %}"></script>
    <script src="{% static 'js/uswds.min.js' %}"></script>
    <script src="{% static 'js/focus_alert.js' %}"></script>
    <script src="{% static 'js/clear_error_class.js' %}"></script>
    {% block page_js %}{% endblock %}

    {% block analytics %}
    {% environment as env %}
    {% if env == PRODUCTION %}
      <script async="async" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOJ&amp;sp=find&amp;yt=true"></script>
    {% endif %}
    {% endblock %}
  </body>
</html>
