{% extends "landing.html" %}

{% load i18n %}

{% block meta_title %}
  {% trans "Civil Rights Division - Department of Justice - Election Integrity" as meta_title %}
  <meta property="og:title" content="{{meta_title}}" />
  <meta property="name" content="{{meta_title}}" />
{% endblock meta_title %}

{% block page_title %}
  <title>
    {% trans "Civil Rights Division - Department of Justice - Election Integrity" %}
  </title>
{% endblock %}

{% block head %}
  {% include "partials/map_widget_assets.html" %}
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="display-flex flex-column justify-center align-center margin-top-8">
        <p class="text-primary-darker margin-0">NATIONWIDE ENFORCEMENT ACTIONS</p>
        <h2 class="font-serif-2xl text-normal text-primary-darker margin-0">{% trans "Explore Activity by State" %}</h2>
    </div>
    {% include "partials/map_widget.html" with data_src="data/map-widget/data/test-data.json" map_classes="margin-top-4 margin-bottom-4" map_default_fill_color="#162e51" info_heading_classes="usa-heading margin-top-0" info_list_classes="usa-list" %}
</div>
{% endblock %}
