{% extends "landing.html" %}

{% load static %}
{% load i18n %}

{% block meta_title %}
  {% trans "Civil Rights Division - Department of Justice - Get resources" as meta_title %}
  <meta property="og:title" content="{{meta_title}}" />
  <meta property="name" content="{{meta_title}}" />
{% endblock meta_title %}

{% block page_title %}
  <title>
    {% trans "Civil Rights Division - Department of Justice - Get resources" %}
  </title>
{% endblock %}

{% block content %}
<div class="crt-landing--section crt-landing--pale crt-subpage">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <ul class="usa-sidenav crt-subpage--nav" id="toc">
          <li class="usa-sidenav__item">
            <a href="#get-help">{% trans "Housing Section Resources" %}</a>
          </li>
          <ul class="sublist">
            <li class="usa-sidenav__item">
              <a href="#credit">{% trans "Credit" %}</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="#disability">{% trans "Disability" %}</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="#housing">{% trans "Housing" %}</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="#find-an-attorney">{% trans "Find an attorney" %}</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="#enforcement-of-state-laws">{% trans "Enforcement of state laws" %}</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="#general-assistance">{% trans "General assistance" %}</a>
            </li>
          </ul>
        </ul>
      </div>
      <div class="tablet:grid-col-8">
        <h1 id="get-help">
          {% trans "Housing section resources" %}
        </h1>
        <div class="crt-landing--separator"></div>

        <section id="credit">
          <h2>{% trans "Credit" %}</h2>
          
          <p>
            <strong><a class="external-link--blue" href="https://www.consumerfinance.gov/complaint/">{% trans "Consumer Financial Protection Bureau" %}</a></strong><br />
            {% trans "Submit a complaint about a financial product or service." %}<br />
            1700 G Street, N.W.<br />
            Washington, DC 20552<br />
            (855) 411-2372
          </p>
          <p>
            <strong>{% trans "Credit Bureaus" %}</strong><br />
            {% trans "Find information about credit history or credit scores." %}
          </p>
          <ul>
            <li><a class="external-link--blue external-link--popup" href="https://www.equifax.com/home/en_us">Equifax</a> (800) 685-1111</li>
            <li><a class="external-link--blue external-link--popup" href="https://www.experian.com/">Experian</a> (888) 397-3742</li>
            <li><a class="external-link--blue external-link--popup" href="https://www.transunion.com/">Trans Union</a> (800) 916-8800</li>
          </ul>
        </section>
        <section id="disability">
          <h2>{% trans "Disability" %}</h2>

          <p>
            <strong><a class="external-link--blue" href="https://www.hud.gov/program_offices/fair_housing_equal_opp/accessibility_first_home">Fair Housing Accessibility First</a></strong><br />
            {%  trans "Information about physical accessibility requirements in multifamily housing."  %}<br />
            (888) 341-7781
          </p>
        </section>
        <section id="housing">
          <h2>{% trans "Housing" %}</h2>

          <p>
            <strong><a class="external-link--blue" href="https://www.hud.gov/program_offices/fair_housing_equal_opp/online-complaint">{% trans "U.S. Department of Housing and Urban Development" %}</a></strong><br />
            {% trans "Submit a complaint about discrimination in housing." %}<br />
            451 7th Street, S.W.<br />
            Washington, DC 20410<br />
            (800) 669-9777
          </p>

          <p>
            <strong><a class="external-link--blue external-link--popup" href="https://www.hudexchange.info/housing-and-homeless-assistance/">{% trans "Homelessness Resources" %}</a></strong><br />
            {% trans "Information on housing assistance." %}
          </p>

          <p>
            <strong><a class="external-link--blue" href="https://www.hud.gov/program_offices/public_indian_housing/">{% trans "Office of Public &amp; Indian Housing" %}</a></strong><br />
            {% trans "Information on public housing authorities, rental assistance, and housing counseling." %}<br />
              (800) 955-2232 {% trans "(for inquiries on public housing authorities and housing choice voucher programs)" %}
          </p>

          <p>
            <strong><a class="external-link--blue" href="https://www.hudoig.gov/about/where-were-located">{% trans "Office of Inspector General (OIG)" %}</a></strong><br />
            {% trans "Report fraud, waste, or abuse in HUD-funded programs." %}<br />
            (800) 347-3735<br />
            (202) 708-4829 Facsimile<br />
            Email: hotline@hudoig.gov
          </p>

          <p>
            <strong><a class="external-link--blue" href="https://www.hud.gov/program_offices/fair_housing_equal_opp/partners/FHIP">{% trans "Fair Housing Initiatives Program Agencies" %}</a></strong><br />
            {% trans "Information about organizations that assist people who believe they have been victims of housing discrimination." %}
          </p>

          <p>
            <strong><a class="external-link--blue" href="https://www.hud.gov/program_offices/fair_housing_equal_opp/partners/FHAP/agencies">{% trans "Fair Housing Assistance Program Agencies" %}</a></strong><br />
            {% trans "State and local agencies responsible for receiving reports of discrimination." %}
          </p>

          <p>
            <strong><a class="external-link--blue" href="https://www.consumerfinance.gov/coronavirus/mortgage-and-housing-assistance/renter-protections/find-help-with-rent-and-utilities/">{% trans "Rent and Utility Payment Assistance" %}</a></strong><br />
            {% trans "Information on rental assistance programs in your area." %}
          </p>
        </section>
        <section id="find-an-attorney">
          <h2>{% trans "Find an Attorney" %}</h2>

          <p>
            <strong><a class="external-link--blue external-link--popup" href="https://www.americanbar.org/groups/legal_services/flh-home/">{% trans "American Bar Association" %}</a></strong><br />
            1050 Connecticut Avenue, N.W. Suite 400<br />
            Washington, DC 20036<br />
            (800) 285-2221
          </p>

          <p>
            <strong><a class="external-link--blue external-link--popup" href="https://www.lsc.gov/find-legal-aid">{% trans "Legal Services Corporation (or Legal Aid Offices)" %}</a></strong><br />
            {% trans "Information on non-profit organizations providing legal help to people with limited income. Visit <a class='external-link--blue external-link--popup' href='https://www.lsc.gov/find-legal-aid'>www.lsc.gov/find-legal-aid</a> or call (202) 295-1500" %}
          </p>
        </section>
        <section id="enforcement-of-state-laws">
          <h2>{% trans "Enforcement of State Laws" %}</h2>

          <p>
            <strong><a class="external-link--blue" href="https://www.usa.gov/state-attorney-general">{% trans "State Attorneys General" %}</a></strong><br />
            {% trans "Find contact information for your state attorney general." %}
          </p>
        </section>
        <section id="general-assistance">
          <h2>{% trans "General Assistance" %}</h2>

          <p>
            <strong><a class="external-link--blue" href="https://www.usa.gov/">USA.Gov</a></strong><br />
            {% trans "Assistance with questions about federal agencies, government programs, services, and more." %}<br />
            (844) 872-4681
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
<script src="{% static 'js/modal.min.js' %}"></script>
<script src="{% static 'js/redirect-modal.min.js' %}"></script>
<script src="{% static 'vendor/gumshoe.min.js' %}"></script>
<script src="{% static 'js/highlight_active_header.js' %}"></script>
{% endblock %}
