{% extends "landing.html" %}

{% load static %}
{% load i18n %}

{% block meta_title %}
  {% trans "Civil Rights Division - Department of Justice - Get help for hate crimes and human trafficking" as meta_title %}
  <meta property="og:title" content="{{meta_title}}" />
  <meta property="name" content="{{meta_title}}" />
{% endblock meta_title %}

{% block page_title %}
  <title>
    {% trans "Civil Rights Division - Department of Justice - Get help for hate crimes and human trafficking" %}
  </title>
{% endblock %}

{% block content %}
<div class="crt-landing--section crt-landing--pale crt-subpage">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <ul class="usa-sidenav crt-subpage--nav">
          <li class="usa-sidenav__item">
            <a href="#get-help" class="usa-current">List of resources</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="#hce1">Credit</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="#hce2">Disability</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="#hce3">Housing</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="#hce4">Private attorney resources
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a href="#hce5">Public accomodations
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a href="#hce6">Religious land use
            </a>
          </li>
          <li class="usa-sidenav__item">
            <a href="#hce7">Servicemembers
            </a>
          </li>
        </ul>
      </div>
      <div class="tablet:grid-col-8">
        <h1 id="get-help">
          Housing section resources
        </h1>
        <div class="crt-landing--separator"></div>

        <p>For your convenience, we include below a list of resources that you may find helpful. You also may wish to consult a private attorney to determine what claims, if any, you may have under other federal and state laws.  If you do not have an attorney, you may find your <a class="external-link--blue" href="https://www.findlegalhelp.org">state bar association</a> or <a class="external-link--blue" href="https://www.lsc.gov/find-legal-aid">local legal assistance agency</a> helpful in locating an attorney to discuss your complaint.</p>

        <section id="hce1">
          <h2>Credit</h2>

          <p><strong><a class="external-link--blue" href="https://www.consumerfinance.gov/complaint/">Consumer Financial Protection Bureau</a></strong><br />
          
          (discrimination in lending - mortgage foreclosures, financing, credit cards)<br />
          
          1700 G Street, N.W. Washington, DC 20552<br />
          
          (855) 411-2372</p>
          
          <p><strong>Credit Bureaus</strong></p>
          
          <ul>
          
          <li><a class="external-link--blue" href="https://www.equifax.com/home/en_us">Equifax</a> (800) 685-1111</li>
          
          <li><a class="external-link--blue" href="https://www.experian.com/">Experian</a> (888) 397-3742</li>
          
          <li><a class="external-link--blue" href="https://www.transunion.com/">Trans Union</a> (800) 916-8800</li>
          
          </ul>
        </section>
        <section id="hce2">
          <h2>Disability</h2>
        
          <h3>Accessibility/Disability Resources (complaints, disability &amp; accessibility resources)</h3>
          
          <p><strong>U.S. Department of Justice Civil Rights Division</strong><br />
          
          <strong><a class="external-link--blue" href="https://www.ada.gov/">Disability Rights Section</a></strong><br />
          
          150 M Street, N.E. – 4CON<br />
          
          Washington, DC 20530<br />
          
          (800) 514-0301</p>
          
          <h3>Accessibility Issues</h3>
          
          <p><strong><a class="external-link--blue" href="www.fairhousingfirst.org">Fair Housing Accessibility First</a></strong><br />
          
          (HUD contractor; builder/developer technical guidance)<br />
          
          (888) 341-7781</p>
        </section>
        <section id="hce3">

        <h2>Housing</h2>
        
        <p><strong><a class="external-link--blue" href="https://www.hud.gov/topics/housing_discrimination">U.S. Department of Housing and Urban Development</a></strong><br />
        
        (discrimination in housing) <br />
        
        451 7th Street, S.W. Washington, DC 20410<br />
        
        (800) 669-9777</p>
        
        <p><strong><a class="external-link--blue" href="https://www.hudexchange.info/contact-us/">Community Partner Resources One CPD Resource Exchange</a></strong></p>
        
        <p><strong><a class="external-link--blue" href="www.hudexchange.info/housing-and-homeless-assistance/">Homelessness Resources</a></strong></p>
        
        <p><strong><a class="external-link--blue" href="www.hud.gov/program_offices/public_indian_ho using/pha/contacts">Office of Public &amp; Indian Housing</a></strong><br />
        
        (complaints about a public housing authority or its employees, housing vouchers, landlord)<br />
        
        (800) 955-2232</p>
        
        <p><strong><a class="external-link--blue" href="www.hudoig.gov/about/where-were-located">Office of Inspector General (OIG)</a></strong><br />
        
        (fraud)<br />
        
        (800) 347-3735<br />
        
        (202) 708-4829 Facsimile<br />
        
        hotline@hudoig.gov</p>
        
        <p><strong><a class="external-link--blue" href="www.hud.gov/program_offices/fair_housing_equal_opp/partners/FHIP">Fair Housing Initiatives Program Agencies</a></strong><br />
        
        (discrimination in housing- fair housing organizations) </p>
        
        <p><strong><a class="external-link--blue" href="https://www.findlaw.com/civilrights/enforcing-your-civil-rights/state-civil-rights-offices.html">Substantially Equivalent State Agencies</a></strong><br />
        
        (discrimination in housing- state listings)</p>
        
        <p><strong><a class="external-link--blue" href="https://www.consumerfinance.gov/coronavirus/mortgage-and-housing-assistance/renter-protections/find-help-with-rent-and-utilities/">Rent and Utility Payment Assistance</a></strong><br />
        
        (information about state and local resources)</p>
      </section>
      <section id="hce4">

        <h2>Private Attorney Resources</h2>
        
        <p><strong><a class="external-link--blue" href="www.findlegalhelp.org">American Bar Association</a></strong><br />
        
        1050 Connecticut Avenue, N.W. Suite 400<br />
        
        Washington, DC 20036<br />
        
        (800) 285-2221</p>
        
        <p><strong><a class="external-link--blue" href="www.lsc.gov/find-legal-aid">Legal Services Corporation (or Legal Aid Offices)</a></strong><br />
        
        3333 K Street, N.W. Washington, DC 20007<br />
        
        (202) 295-1500</p>
      </section>
      <section id="hce5">

        <h2>Public Accommodations</h2>
        
        <p><strong><a class="external-link--blue" href="https://www.usa.gov/state-attorney-general">State Attorneys General</a></strong><br />
        
        (complaints- hotels, restaurants, theaters, public places)<br />
        
        (844) 872-4681</p>
      </section>
      <section id="hce6">

        <h2>Religious Land Use</h2>
        
        <p><strong>U.S. Department of Justice Civil Rights</strong><br />
        
        <strong><a class="external-link--blue" href="www.justice.gov/crt/place-worship-initiative">Division Place to Worship Initiative</a></strong><br />
        
        (discrimination in zoning)<br />
        
        150 M Street, N.E. – 4CON<br />
        
        Washington, DC 20530<br />
        
        (202) 514-4609</p>
      </section>
      <section id="hce7">

        <h2>Servicemembers</h2>
        
        <p><strong>U.S. Department of Justice Civil Rights Division</strong><br />
        
        <strong><a class="external-link--blue" href="https://www.servicemembers.gov">Servicemembers and Veterans Initiative</a></strong><br />
        
        (mortgage foreclosures, residential &amp; vehicle leases, evictions, automobile repossessions, interest rate reductions)<br />
        
        (202) 307-SCRA (7272)<br />
        
        servicemembers@usdoj.gov</p>
</section>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
<script src="{% static 'js/modal.min.js' %}"></script>
<script src="{% static 'js/redirect-modal.min.js' %}"></script>
{% endblock %}
