{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block page_header %}
  <header class="crt-landing--header crt-landing--blue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-4">
          <div class="grid-container crt-landing--logo_section">
            <div class="usa-footer__logo grid-row grid-gap-2">
              <div class="grid-col-auto">
                <img src="{% static "img/doj-logo-footer.svg" %}"
                     alt=""
                     height="48" />
              </div>
              <div class="grid-col-auto">
                <p class="crt-landing--logo_subheading">
                  {% trans "U.S. Department of Justice" %}
                </p>
                <p class="crt-landing--logo_heading">
                  {% trans "Civil Rights Division" %}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="tablet:grid-col-8 crt-landing--menu">
          <ul>
            <li><a href="#about-the-division">About the Division</li></a></li>
            <li><a href="#your-rights">Your rights</a></li>
            <li><a href="#report-a-violation">Report a violation</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block main_class %} class="margin-top-0 margin-bottom-0"{% endblock %}

{% block content %}
  <div class="crt-landing--section crt-landing--hero crt-landing--lightblue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8">
          <h1>{% trans "Have you or someone you know experienced unlawful discrimination?" %}</h1>
          <div class="crt-landing--separator"></div>
          <p class="crt-landing--largetext">
            <strong>{% trans "The Civil Rights Division may be able to help." %}</strong>
            {% trans "We enforce federal laws that protect you from discrimination based on your race, color, national origin, disability status, sex, religion, familial status, and more." %}
          </p>
          <a class="usa-button usa-button--big crt-button--large" href="{% url 'crt_report_form' %}">{% trans "Start a report" %}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="crt-landing--section crt-landing--emergency crt-landing--blue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <img src="{% static "img/phone.svg" %}" alt="phone" class="icon">
          <p class="crt-landing--emergency_header">
            {% trans 'If you are in danger, contact <a href="tel:911">9-1-1</a>' %}
          </p>
        </div>
        <div class="tablet:grid-col-12">
          <p class="crt-landing--emergency_contact">
            <em>
              {% trans 'If you or someone else is in immediate danger, <a href="tel:911">please call 9-1-1 or local police.</a>' %}
            </em>
          </p>
          <p class="crt-landing--emergency_contact">
            <em>
              {% trans 'If you are reporting misconduct by law enforcement <a href="https://www.fbi.gov/tips">call the FBI\'s tip line</a>.' %}
            </em>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="crt-landing--section crt-landing--description crt-landing--pale">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <h1 id="about-the-division">{% trans "We uphold the civil and constitutional rights of <em>all people in the United States</em>." %}</h1>
          <div class="crt-landing--separator"></div>
          <p class="crt-landing--description_rights">{% trans "We protect your rights through:" %}</p>
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-4">
              <p class="crt-landing--subheader">{% trans "Enforcement" %}</p>
              <div class="crt-landing--smallseparator"></div>
              <p class="crt-landing--largetext">{% trans "We sue or prosecute those who violate civil rights laws." %}</p>
              <p>{% trans "You can help us do this work by reporting a possible civil rights violation through our" %} <a href="{% url 'crt_report_form' %}">{% trans "online form" %}</a>.</p>
            </div>
            <div class="tablet:grid-col-4">
              <p class="crt-landing--subheader">{% trans "Education" %}</p>
              <div class="crt-landing--smallseparator"></div>
              <p class="crt-landing--largetext">{% trans "We help the public understand how to comply with these laws." %}</p>
              <p>{% trans "We speak at conferences and public events, produce technical assistance materials, and post information online about our past cases." %}</p>
            </div>
            <div class="tablet:grid-col-4">
              <p class="crt-landing--subheader">{% trans "Coordination" %}</p>
              <div class="crt-landing--smallseparator"></div>
              <p class="crt-landing--largetext">{% trans "We help the entire federal government work together to enforce these laws." %}</p>
              <p>{% trans "We regularly meet with other agencies to promote a consistent, unified response to civil rights issues facing the country." %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="crt-landing--section crt-landing--rights crt-landing--blue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8">
          <h1 id="your-rights">{% trans "Understanding your rights" %}</h1>
          <div class="crt-landing--separator"></div>
          <p class="crt-landing--rights_text">
            {% trans 'Civil rights laws can protect you from unlawful discrimination, harassment, or abuse in a variety of settings like <span class="crt-landing--rights_text crt-landing--rights_categories">housing, the workplace, school, voting, business, healthcare, public spaces</span>, and more.' %}
          </p>
          <p class="crt-landing--mediumtext">
            {% trans 'If you have been <span class="crt-landing--rights_categories">mistreated by law enforcement</span> (including while incarcerated), believe you have been a victim of a <span class="crt-landing--rights_categories">hate crime</span>, or a victim of <span class="crt-landing--rights_categories">human trafficking</span>, we can help get you to the right place.' %}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="crt-landing--lightblue">
    <div class="grid-container">
      <div class="crt-landing--arrow"></div>
    </div>
  </div>
  <div class="crt-landing--section crt-landing--list crt-landing--lightblue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <h2>{% trans "Common civil rights violations" %}</h2>
          <div class="crt-landing--separator"></div>
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-7">
              <p class="crt-landing--largetext">{% trans "Choose from this list to see examples." %}</p>

              <select id="crt-landing--examples" class="usa-select crt-landing--blue crt-landing--large_select" name="examples" aria-label="select example">
                {% for key, value in choices.items %}
                  <option value="{{ key }}"
                          data-examplecount="{{ value.examples | length }}"
                          {% for example in value.examples %}
                          data-example{{ forloop.counter0 }}="{{ example }}"
                          {% endfor %}
                  >
                    {{ value.description }}
                  </option>
                {% endfor %}
              </select>
              <div class="grid-row grid-gap">
                <div class="tablet:grid-col-10 crt-landing--example">
                  <p class="crt-landing--example_header">
                    Examples
                  </p>
                  <div id="crt-landing--choice_examples" class="crt-landing--text">
                    {% for example in choices.workplace.examples %}
                      <p>{{ example }}</p>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="grid-row grid-gap">
                <div class="tablet:grid-col-9">
                  <p class="crt-landing--similar_situation">
                    <em>
                      If you think you've experienced a similar situation, please see <a href="#crt-landing--reporting">how to report a civil rights violation.</a>
                    </em>
                  </p>
                </div>
              </div>
            </div>
            <div class="tablet:grid-col-4 crt-landing--divider">
              <h3>{% trans "Protected characteristics" %}</h3>
              <p>{% trans "These are the most common characteristics that are legally protected." %}</p>
              <ul class="crt-landing--text">
                <li>{% trans 'Race/color' %}</li>
                <li>{% trans 'Disability <span class="crt-landing--protected">including temporary or in recovery</span>' %}</li>
                <li>{% trans 'Religion' %}</li>
                <li>{% trans 'Sex, gender identity, and sexual orientation <span class="crt-landing--protected">including gender stereotypes</span>' %}</li>
                <li>{% trans 'Immigration/citizenship status' %}</li>
                <li>{% trans 'Language and national origin <span class="crt-landing--protected">including ancestry and ethnicity</span>' %}</li>
                <li>{% trans 'Family, marital, or parental status <span class="crt-landing--protected">including pregnancy</span>' %}</li>
                <li>{% trans 'Age' %}</li>
                <li>{% trans 'Genetic identification' %}</li>
                <li>{% trans 'Servicemember status' %}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="crt-landing--reporting" class="crt-landing--section crt-landing--how_to_report crt-landing--blue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <h1 id="report-a-violation">{% trans "How to report a civil rights violation" %}</h1>
          <div class="crt-landing--separator"></div>
        </div>
        <div class="tablet:grid-col-9">
          <p class="crt-landing--largetext">
            {% trans "If you believe that you or someone else experienced unlawful discrimination, you can report a civil rights violation." %}
          </p>
        </div>
        <div class="tablet:grid-col-12">
          <div class="grid-row">
            <div class="tablet:grid-col-3">
              <div class="crt-landing--reporting_column">
                <div class="crt-landing--icon_gold">1</div>
                <div>
                  <h2>{% trans "Report using our online form." %}</h2>
                  <p class="crt-landing--text">{% trans "By completing the online form, you can provide the details we need to understand what happened. You will receive a confirmation number and your report is immediately sent to our staff for review." %}</p>
                </div>
              </div>
            </div>
            <div class="tablet:grid-col-3 tablet:grid-offset-1">
              <div class="crt-landing--reporting_column">
                <div class="crt-landing--icon_gold">2</div>
                <div>
                  <h2>{% trans "We review your report." %}</h2>
                  <p class="crt-landing--text">{% trans "Teams that specialize in handling your type of issue will review it. If it needs to be forwarded to another team or agency, we will connect your complaint to the right group." %}</p>
                </div>
              </div>
            </div>
            <div class="tablet:grid-col-3 tablet:grid-offset-1">
              <div class="crt-landing--reporting_column">
                <div class="crt-landing--icon_gold">3</div>
                <div>
                  <h2>{% trans "We determine next steps and get back to you." %}</h2>
                  <p class="crt-landing--text">{% trans "Possible outcomes include: following up for more information, starting a mediation or investigation, or directing you to another organization for further help." %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="crt-landing--lightblue">
    <div class="grid-container">
      <div class="crt-landing--arrow"></div>
    </div>
  </div>
  <div class="crt-landing--section crt-landing--submit crt-landing--lightblue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8">
          <h2>{% trans "Think you or someone you know has experienced a civil rights violation?" %}</h2>
          <a class="usa-button usa-button--big crt-button--large" href="{% url 'crt_report_form' %}">{% trans "Submit a report" %}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="crt-landing--section crt-landing--already_submitted crt-landing--pale">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <h2>{% trans "Already submitted a report?" %}</h2>
          <div class="crt-landing--separator"></div>
          <p class="crt-landing--largetext">
            {% trans "Here's what to expect." %}
          </p>
        </div>
        <div class="tablet:grid-col-6">
          <p class="crt-landing--text">{% trans '<strong>Thank you for your report.</strong> We carefully read each one to determine if we have the authority to help. We do our best to let you know about the outcome of our review. However, we may not always be able to provide you with updates because:' %}</p>
          <ul class="crt-landing--text">
            <li>{% trans "We're actively working on an investigation or case related to your report." %}</li>
            <li>{% trans "We're receiving and actively reviewing many reports at the same time." %}</li>
          </ul>
          <p class="crt-landing--text">{% trans "If we are able to respond, we will contact you using the contact information you provided in this report. Depending on the type of report, response times can vary. If you need to reach us about your report, please refer to your report number when contacting us. This is how we keep track of your submission." %}</p>
        </div>
        <div class="tablet:grid-offset-1 tablet:grid-col-5 crt-landing--card">
          <h3>{% trans "Need urgent legal help?" %}</h3>
          <p class="crt-landing--text">{% trans "Due to the amount of complaints we receive, it can take several weeks for us to respond to your issue. Local legal aid officers or lawyers in your area may be able to quickly respond to or help with your concern if you need help sooner." %}</p>
          <p class="crt-landing--text">{% trans 'Contact Legal Service Corporation at <a href="https://lsc.gov/find-legal-aid">lsc.gov/find-legal-aid</a> or call <a href="tel:202-295-1500">(202) 295-1500</a>.' %}</p>
          <p class="crt-landing--text">{% trans 'Or visit <a href="http://www.findlegalhelp.org/">www.findlegalhelp.org</a> or call <a href="tel:800-285-2221">(800) 285-2221</a> to find a lawyer through the American Bar Association.' %}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block page_js %}
  <script nonce="{{ request.csp_nonce }}">
   (function() {
     var dropdown = document.getElementById("crt-landing--examples");
     var examples_field = document.getElementById("crt-landing--choice_examples");
     dropdown.addEventListener("change", function(event) {
       let el = event.target.options[event.target.selectedIndex];
       examples_field.innerText = "";
       let length = el.dataset.examplecount;
       for (var i = 0; i < length; i++) {
         var example = el.dataset["example" + i];
         examples_field.innerHTML += "<p>" + example + "</p>";
       }
     });
   })();
  </script>
{% endblock %}
