{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block page_header %}
  <header class="crt-landing--header crt-landing--blue">
    <div class="crt-landing--header_section">
      <div class="grid-container crt-landing--logo_section">
        <div class="usa-footer__logo grid-row grid-gap-2">
          <div class="grid-col-auto">
            <img src="{% static "img/doj-logo-footer.svg" %}"
                 alt=""
                 height="48" />
          </div>
          <div class="grid-col-auto">
            <p class="crt-landing--logo_subheading">
              {% trans "U.S. Department of Justice" %}
            </p>
            <p class="crt-landing--logo_heading">
              {% trans "Civil Rights Division" %}
            </p>
          </div>
        </div>
      </div>

      <div class="crt-menu--section grid-col-auto">
        <div class="usa-nav-container">
          <div class="crt-menu--navbar">
            <button class="crt-menu--mobile usa-menu-btn">Menu</button>
          </div>
          <div class="usa-nav">
            <button class="usa-nav__close">
              <img src="{% static "img/close.svg" %}" alt="close">
            </button>
            <ul class="usa-nav__primary usa-accordion">
              <li class="usa-nav__primary-item">
                <a class="crt-landing--menu_link" href="/#about-the-division">
                  {% trans "About the Division" %}
                </a>
              </li>
              <li class="usa-nav__primary-item">
                <a class="crt-landing--menu_link" href="/#your-rights">
                  {% trans "Your rights" %}
                </a>
              </li>
              <li class="usa-nav__primary-item">
                <a class="crt-landing--menu_link" href="/#report-a-violation">
                  {% trans "Report a violation" %}
                </a>
              </li>
              <li class="usa-nav__primary-item">
                <a class="crt-landing--menu_link" href="/#already-submitted">
                  {% trans "Already submitted?" %}
                </a>
              </li>
              <li class="usa-nav__primary-item">
                <a class="crt-landing--menu_link" href="/#contact-crt">
                  {% trans "Contact" %}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </header>
{% endblock %}

{% block main_class %} class="margin-top-0 margin-bottom-0"{% endblock %}

{% block content %}
  <div class="crt-landing--section crt-landing--hero crt-landing--lightblue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-9">
          <h1 class="h1__display">{% trans "We uphold the civil rights of <em>all</em> people in the United States." %}</h1>
        </div>
        <div class="tablet:grid-col-8">
          <div class="crt-landing--separator"></div>
          <p class="crt-landing--largetext">
            {% trans "The Civil Rights Division enforces federal laws that protect you from discrimination based on your race, color, national origin, disability status, sex, religion, familial status, or loss of other constitutional rights." %}
          </p>
          <p class="crt-landing--largetext">
            <strong>{% trans "If you believe your civil rights, or someone else’s, have been violated, submit a report using our online form." %}</strong>
          </p>
          <a class="usa-button usa-button--big crt-button--large" href="#report-a-violation">{% trans "Start a report" %}</a>
         <p class="text-italic">{% trans 'or learn more about <a href="#your-rights">your rights</a>' %}</p>

        </div>
      </div>
    </div>
  </div>

  <div class="crt-landing--section crt-landing--emergency crt-landing--blue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-offset-2 tablet:grid-col-8">
          <img src="{% static "img/ic_phone-circle.svg" %}" alt="phone" class="icon">
          <p class="h3__display crt-landing--emergency_header">
            {% trans 'If you are in danger, contact <a href="tel:911">9-1-1</a>' %}
          </p>
        </div>
        <div class="tablet:grid-offset-2 tablet:grid-col-8">
          <p class="crt-landing--emergency_contact">
            <em>
              {% trans 'If you or someone else is in immediate danger, <a href="tel:911">please call 9-1-1 or local police.</a>' %}
            </em>
          </p>
          <p class="crt-landing--emergency_contact">
            <em>
              {% trans 'If you are reporting misconduct by law enforcement or believe you have experienced a hate crime, please <a aria-label="contact the FBI" class="external-link--white" href="https://www.fbi.gov/tips">contact the FBI</a>.' %}
            </em>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="crt-landing--section crt-landing--description crt-landing--pale">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <h2 id="about-the-division" class="h1__display">{% trans "About the Civil Rights Division" %}</h2>
          <div class="crt-landing--separator"></div>
          <p class="crt-landing--description__rights">{% trans "We protect your rights through:" %}</p>
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-4">
              <p class="h3__display crt-landing--subheader">{% trans "Enforcement" %}</p>
              <div class="crt-landing--separator_sub"></div>
              <p class="crt-landing--columns crt-landing--largetext">{% trans "We sue or prosecute individuals and organizations who violate civil rights laws." %}</p>
              <p>{% trans "You can help us do this work by reporting a possible civil rights violation through our" %} <a href="{% url 'crt_report_form' %}">{% trans "online form" %}</a>.</p>
            </div>
            <div class="tablet:grid-col-4">
              <p class="h3__display crt-landing--subheader">{% trans "Education" %}</p>
              <div class="crt-landing--separator_sub"></div>
              <p class="crt-landing--columns crt-landing--largetext">{% trans "We help the public understand how to comply with these laws." %}</p>
              <p>{% trans "We do this through public speaking, technical assistance, and more." %}</p>
            </div>
            <div class="tablet:grid-col-4">
              <p class="h3__display crt-landing--subheader">{% trans "Coordination" %}</p>
              <div class="crt-landing--separator_sub"></div>
              <p class="crt-landing--columns crt-landing--largetext">{% trans "We help the entire federal government work together to enforce these laws." %}</p>
              <p>{% trans "Our teams work with other agencies to promote a consistent approach to civil rights laws." %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="crt-landing--your-rights" class="crt-landing--section crt-landing--rights crt-landing--blue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-10">
          <h2 class="h1__display text__reverse" id="your-rights">{% trans "Understanding your rights" %}</h2>
          <div class="crt-landing--separator"></div>
          <p class="crt-landing--rights_text">
            {% trans 'Civil rights laws can protect you from unlawful discrimination, harassment, or abuse in a variety of settings like <span class="crt-landing--rights_text crt-landing--rights_categories">housing, the workplace, school, voting, business, healthcare, public spaces</span>, and more.' %}
          </p>
          <p class="crt-landing--largetext">
            {% trans 'If you have been <span class="crt-landing--rights_categories">mistreated by law enforcement</span> (including while incarcerated), believe you have been a victim of a <span class="crt-landing--rights_categories">hate crime</span>, or a victim of <span class="crt-landing--rights_categories">human trafficking</span>, we can help get you to the right place.' %}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="crt-landing--lightblue">
    <div class="grid-container">
      <div class="crt-landing--arrow"></div>
    </div>
  </div>
  <div class="crt-landing--section crt-landing--list crt-landing--lightblue">
    <div class="grid-container">
      <div class="grid-row">
        <div class="tablet:grid-col-7">
          <h2 class="h2__display">{% trans "Choose from this list to see example civil rights violations:" %}</h2>
        </div>
        <div class="tablet:grid-col-12">
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-7">
              <ul class="usa-nav__primary usa-accordion crt-landing--large_select">
                <li>
                  <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="crt-landing--examples" aria-label="select example">
                    <div id="crt-landing--example_option">
                      {{ choices.workplace.description }}
                    </div>
                  </button>
                  <ul id="crt-landing--examples" class="usa-nav__submenu" hidden>
                    {% for key, value in choices.items %}
                      <li
                        id="crt-landing--example-{{ key }}"
                        class="usa-nav__submenu-item"
                        data-key="{{ key }}"
                        data-examplecount="{{ value.examples | length }}"
                        data-description="{{ value.description }}"
                        data-helptext="{{ value.helptext }}"
                        {% for example in value.examples %}
                          data-example{{ forloop.counter0 }}="{{ example }}"
                        {% endfor %}
                      >
                        <a href="#">{{ value.description }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
              <div class="crt-landing--example">
                <div id="crt-landing--choice_helptext">
                </div>
                <p class="crt-landing--example_header">
                  {% trans "Examples" %}
                </p>
                <div id="crt-landing--choice_examples" class="crt-landing--text">
                  {% for example in choices.workplace.examples %}
                    <p>{{ example }}</p>
                  {% endfor %}
                </div>
                <div hidden id="crt-landing--humantrafficking">
                  <a class="usa-button usa-button--outline light-button" aria-label="{% trans "Were you forced to work against your will?" %} {% trans "Get help from the National Human Trafficking Hotline" %}" href=" https://humantraffickinghotline.org/">{% trans "Get help from the National Human Trafficking Hotline" %}
                    <img src="{% static 'img/external_link.svg'%}" alt="external link" class="icon" />
                  </a>
                </div>
              </div>
              <div class="grid-row grid-gap">
                <div class="tablet:grid-col-9">
                  <p class="crt-landing--similar_situation">
                    <em>
                      {% blocktrans %}If you think you’ve experienced a similar situation, learn <a href="#crt-landing--reporting">how to report a civil rights violation</a>.{% endblocktrans %}
                    </em>
                  </p>
                </div>
              </div>
            </div>
            <div class="tablet:grid-offset-1 tablet:grid-col-4">
              <div class="crt-landing--divider">
                <div class="crt-header--icon_group">
                  <img src="{% static "img/ic_personcheck-circle.svg" %}" alt="person" class="icon  crt-header--icon">
                  <h3 class="h4__display">{% trans "Protected by civil rights laws" %}</h3>
                </div>
                <p class="crt-landing--smalltext">{% trans "These are the most common characteristics that are legally protected." %}</p>
                <ul>
                  <li class="crt-landing--smalltext">{% trans 'Race/color' %}</li>
                  <li class="crt-landing--smalltext">{% trans 'Disability <span class="crt-landing--protected">including temporary or in recovery</span>' %}</li>
                  <li class="crt-landing--smalltext">{% trans 'Religion' %}</li>
                  <li class="crt-landing--smalltext">{% trans 'Sex, gender identity, and sexual orientation' %}</li>
                  <li class="crt-landing--smalltext">{% trans 'Immigration/citizenship status' %}</li>
                  <li class="crt-landing--smalltext">{% trans 'Language and national origin <span class="crt-landing--protected">including ancestry and ethnicity</span>' %}</li>
                  <li class="crt-landing--smalltext">{% trans 'Family, marital, or parental status <span class="crt-landing--protected">including pregnancy</span>' %}</li>
                  <li class="crt-landing--smalltext">{% trans 'Age' %}</li>
                  <li class="crt-landing--smalltext">{% trans 'Genetic identification' %}</li>
                  <li class="crt-landing--smalltext">{% trans 'Servicemember status' %}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="crt-landing--reporting" class="crt-landing--section crt-landing--how_to_report crt-landing--blue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <h2 class="h1__display text__reverse" id="report-a-violation">{% trans "How to report a civil rights violation" %}</h2>
          <div class="crt-landing--separator_small"></div>
        </div>
        <div class="tablet:grid-col-9">
          <p class="crt-landing--largetext">
            {% trans "If you believe that you or someone else experienced unlawful discrimination, you can report a civil rights violation." %}
          </p>
        </div>
        <div class="tablet:grid-col-12">
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-4">
              <div class="crt-landing--reporting_column">
                <div class="h4__display crt-landing--icon_gold">1</div>
                <div>
                  <h2 class="h3__display text__reverse">{% trans "Report using our online form." %}</h2>
                  <p>{% trans "By completing the online form, you can provide the details we need to understand what happened. You will receive a confirmation number and your report is immediately sent to our staff for review." %}</p>
                </div>
              </div>
            </div>
            <div class="tablet:grid-col-4">
              <div class="crt-landing--reporting_column">
                <div class="h4__display crt-landing--icon_gold">2</div>
                <div>
                  <h2 class="h3__display text__reverse">{% trans "We review your report." %}</h2>
                  <p>{% trans "Teams that specialize in handling your type of issue will review it. If it needs to be forwarded to another team or agency, we will try to connect your complaint to the right group." %}</p>
                </div>
              </div>
            </div>
            <div class="tablet:grid-col-4">
              <div class="crt-landing--reporting_column">
                <div class="h4__display crt-landing--icon_gold">3</div>
                <div>
                  <h2 class="h3__display text__reverse">{% trans "We determine next steps and get back to you." %}</h2>
                  <p>{% trans "Possible outcomes include: following up for more information, starting a mediation or investigation, directing you to another organization for further help, or informing you that we cannot help." %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="crt-landing--lightblue">
    <div class="grid-container">
      <div class="crt-landing--arrow"></div>
    </div>
  </div>
  <div class="crt-landing--section crt-landing--submit crt-landing--lightblue">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8">
          <h2 class="h2__display">{% trans "Have you or someone you know experienced a civil rights violation?" %}</h2>
          <a class="usa-button usa-button--big crt-button--large" href="{% url 'crt_report_form' %}">{% trans "Submit a report" %}</a>
        </div>
      </div>
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-6">
          <p class="crt-landing--text"><em>{% trans 'If you cannot access the online form, you can <a href="#phone-footer">call</a> to report a violation or report a violation by <a href="#address-footer">mail</a>.' %}</em></p>
        </div>
      </div>
    </div>
  </div>

  <div class="crt-landing--section crt-landing--already_submitted crt-landing--pale">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <h2 class="h2__display" id="already-submitted">{% trans "Already submitted a report?" %}</h2>
          <div class="crt-landing--separator_small"></div>
          <p class="crt-landing--largetext">
            {% trans "Here's what to expect." %}
          </p>
        </div>
        <div class="tablet:grid-col-6">
          <p>{% trans '<strong>Thank you for your report.</strong> We carefully read each one to determine if we have the authority to help. We do our best to let you know about the outcome of our review. However, we may not always be able to provide you with updates because:' %}</p>
          <ul>
            <li>{% trans "We're actively working on an investigation or case related to your report." %}</li>
            <li>{% trans "We're receiving and actively reviewing many reports at the same time." %}</li>
          </ul>
          <p>{% trans "If we are able to respond, we will contact you using the contact information you provided in this report. Depending on the type of report, response times can vary. If you need to reach us about your report, please refer to your report number when contacting us. This is how we keep track of your submission." %}</p>
        </div>
        <div class="tablet:grid-offset-1 tablet:grid-col-5 crt-landing--card">
          <div class="crt-header--icon_group">
            <img src="{% static "img/clock.svg" %}" alt="help" class="icon crt-header--icon">
            <h3 class="h3__display">{% trans "Need urgent legal help?" %}</h3>
          </div>
          <p>{% trans "Due to the amount of reports we receive, it can take several weeks for us to respond to your issue. Local legal aid offices or lawyers in your area may be able to quickly respond to or help with your concern" %}</p>
          <p>{% trans 'Contact Legal Services Corporation at <a aria-label="www.lsc.gov/find-legal-aid" class="external-link--blue" href="https://www.lsc.gov/find-legal-aid">lsc.gov/find-legal-aid</a> or call <a href="tel:202-295-1500">(202) 295-1500</a>.' %}</p>
          <p>{% trans 'Or visit <a class="external-link--blue" aria-label="www.findlegalhelp.org" href="http://www.findlegalhelp.org/">www.findlegalhelp.org</a> or call <a href="tel:800-285-2221">(800) 285-2221</a> to find a lawyer through the American Bar Association.' %}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer_extra %}
  <div class="usa-footer__attribution">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12">
          <div class="usa-footer__logo-subheading">
            {% trans 'Image attributions' %}
          </div>
          <div class="usa-footer__attribution-names">
            <p>Unsplash: Jacob Le, Paul Stickman, Andre Hunter, Sobhan Joodi, Library of Congress</p>
            <p>Pexels: Akela Photography, Nicholas Swatz, Asad Photo, Cottonbro</p>
            <p>Flickr: Kelly Johnson Revolutionary Photography, The U.S. National Archives</p>
            <p>Wikimedia Commons Public Domain</p>
            <p>Cover art by Aviva Oskow</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock footer_extra %}

{% block page_js %}
  <script nonce="{{ request.csp_nonce }}">
   var examples = document.getElementById("crt-landing--examples");
   var items = examples.getElementsByClassName("usa-nav__submenu-item");
   for (var i = 0; i < items.length; i++) {
     var item = items[i];
     item.onclick = function (el) {
       var target = el.target;
       if (!el.target.dataset.hasOwnProperty("key")) {
         // user clicked on the link; obtain the parent element.
         target = el.target.parentElement;
       }
       var key = target.dataset["key"];
       displayExample(key);
       el.preventDefault();
     }
   }
   function displayExample(key) {
     var examples_field = document.getElementById("crt-landing--choice_examples");
     var helptext_field = document.getElementById("crt-landing--choice_helptext");
     var option_field = document.getElementById("crt-landing--example_option");
     var trafficking_button = document.getElementById("crt-landing--humantrafficking");
     var el = document.getElementById("crt-landing--example-" + key);
     var helptext = el.dataset["helptext"];
     if (helptext) {
       helptext_field.innerHTML = "<p>" + helptext + "</p>";
     } else {
       helptext_field.innerHTML = "";
     }
     if (key === "human_trafficking") {
       trafficking_button.removeAttribute('hidden');
     } else {
       trafficking_button.setAttribute('hidden', 'hidden');
     }
     option_field.innerHTML = el.dataset["description"];
     let length = el.dataset.examplecount;
     examples_field.innerHTML = "";
     for (var i = 0; i < length; i++) {
       var example = el.dataset["example" + i];
       examples_field.innerHTML += "<p>" + example + "</p>";
     }
   };
  </script>
{% endblock %}
