{% extends "landing.html" %}

{% load i18n %}

{% block meta_title %}
    {% trans "Civil Rights Division - Department of Justice - Privacy Policy" as meta_title %}
    <meta property="og:title" content="{{meta_title}}" />
    <meta property="name" content="{{meta_title}}" />
{% endblock meta_title %}

{% block page_title %}
    <title>{% trans "Civil Rights Division - Department of Justice - Privacy Policy" %}</title>
{% endblock %}

{% block content %}
<div class="crt-landing--section crt-landing--pale crt-subpage">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-4">
                <ul class="usa-sidenav crt-subpage--nav" id="toc">
                    <li class="usa-sidenav__item">
                        <a href="#privacy-act-statement" class="usa-current">{% trans "Privacy Act Statement" %}</a>
                    </li>
                    <ul class="sublist">
                        <li class="usa-sidenav__item">
                            <a href="#your-information">{% trans "Your information" %}</a>
                        </li>
                        <li class="usa-sidenav__item">
                            <a href="#our-statutes">{% trans "Our Statutes" %}</a>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="tablet:grid-col-8">
                <h1 id="privacy-act-statement">{% trans "Privacy Act Statement" %}</h1>
                <div class="crt-landing--separator"></div>
                <p class="font-body-lg">
                    {% trans "The information you provide through this form will help the Department of Justice’s Civil Rights Division (“us,” “we”) enforce the federal civil rights statutes within its authority." %}
                </p>
                <p class="font-body-md">
                    {% trans "In addition to our enforcement efforts, we may use the information you provide on this form for certain routine purposes. These include sharing with:" %}
                </p>
                <ul class="privacy-policy-list">{% blocktrans %}
                    <li>
                        a court, magistrate, or administrative tribunal, including disclosures to opposing counsel in
                        the course of settlement negotiations;
                    </li>
                    <li>
                        a Member of Congress submitting a request involving an individual, to whom the record pertains,
                        when the individual has requested assistance from the Member with respect to the subject matter
                        of the record.
                    </li>
                    <li>
                        a contractor with the Department of Justice who needs access to the information in order to
                        perform a contract. Recipients of information shall be required to comply with the requirements
                        of the Privacy Act of 1974, as amended, pursuant to 5 U.S.C. 552a(m).
                    </li>

                    <li>
                        a Federal, State, or local law enforcement agency, if we become aware of a violation or
                        potential violation of law or regulation outside the scope of our jurisdiction.
                    </li>
                    {% endblocktrans %}
                </ul>
                <p>
                    {% trans "For a complete list of routine agency uses, please consult the following:" %}
                    <ul class="privacy-policy-list">
                        <li>66 Fed. Reg. 29992 (6-04-2001)</li>
                        <li>66 Fed. Reg. 34743 (6-29-2001)</li>
                        <li>67 Fed. Reg. 65598 (10-25-2002)</li>
                        <li>82 Fed. Reg. 24147 (5-25-2017)</li>
                    </ul>
                </p>

                <h2 id="your-information">{% trans "You should also know that:" %}</h2>
                <div class="crt-landing--separator"></div>
                <ul class="privacy-policy-list">{% blocktrans %}
                    <li>Any information you provide to us through this form is voluntary.</li>
                    <li>If you choose not to provide the information we ask for on this form, we may not be able to
                        evaluate or take action based on your report.</li>
                    <li>We will treat the information you provide on this form confidentially, to the extent we are
                        allowed by the Freedom of Information Act (5 U.S.C. 552) and the Privacy Act (5 U.S.C. 552a).
                    </li>
                    {% endblocktrans %}
                </ul>
                <!-- <a class="float-right" href="#">{% trans 'Return to top' %}</a> -->

                <h2 id="our-statutes">
                    {% trans "We are authorized to collect this information pursuant to the following statutes:" %}</h2>
                <div class="crt-landing--separator"></div>
                <ul class="privacy-policy-list">{% blocktrans %}
                    <li>Official Misconduct, 18 U.S.C. §§ 241, 242</li>
                    <li>The Matthew Shepard and James Byrd, Jr., Hate Crimes Prevention Act of 2009, 18 U.S. Code § 249,
                        et seq.</li>
                    <li>Federally Protected Activities, 18 U.S.C. § 245</li>
                    <li>Criminal Interference with Right to Fair Housing, 18 U.S.C. § 3631</li>
                    <li>Damage to Religious Property, 18 U.S.C. § 247</li>
                    <li>Anti-Trafficking Statutes, including:
                        <ul>
                            <li>18 U.S.C. § 1581 (Peonage)</li>
                            <li>18 U.S.C. § 1584 (Involuntary Servitude)</li>
                            <li>18 U.S.C. § 1589 (Forced Labor)</li>
                            <li>18 U.S.C. § 1590 (Trafficking with Respect to Peonage, Slavery, Involuntary Servitude,
                                or Forced Labor)</li>
                            <li>18 U.S.C. § 1591 (Sex Trafficking of Children or by Force, Fraud, or Coercion)</li>
                            <li>18 U.S.C. § 1592 (Unlawful Conduct with Respect to Documents in Furtherance of
                                Trafficking, Peonage, Slavery, Involuntary Servitude, or Forced Labor)</li>
                            <li>18 U.S.C. § 1593 (Mandatory Restitution)</li>
                            <li>18 U.S.C. § 1594 (Attempt and Forfeiture)</li>
                            <li>18 U.S.C. § 1595 (Private Right of Action)</li>
                            <li>18 U.S.C. § 2423 (Transportation of Minors into Prostitution)</li>
                            <li>18 U.S.C. § 1546 (Visa Fraud)</li>
                        </ul>
                    </li>
                    <li>Freedom of Access to Clinic Entrances Act (FACE), 18 U.S.C. § 248</li>
                    <li>Criminal Protection for Voting Rights, 18 U.S.C. § 594</li>
                    <li>Americans with Disabilities Act, Titles I-III, 42 U.S.C. § 126, et seq.</li>
                    <li>Rehabilitation Act of 1973, 29 U.S.C. § 701, et seq.</li>
                    <li>Civil Rights Act of 1964, Titles II, IV, VI, VII</li>
                    <li>Uniformed Services Employment and Reemployment Rights Act (USERRA), 38 U.S.C. § 4301, et seq.
                    </li>
                    <li>Equal Education Opportunities Act of 1974 (EEOA), 20 USC § 1701, et seq.</li>
                    <li>Individuals with Disabilities in Education Act (IDEA), 20 USC § 1400, et seq.</li>
                    <li>Education Amendments of 1972, Title IX, 20 U.S.C. § 1681, et seq.</li>
                    <li>Fair Housing Act (FHA), 42 U.S.C. § 3601, et seq.</li>
                    <li>Equal Credit Opportunity Act (ECOA), 15 U.S.C. § 1691, et seq.</li>
                    <li>Religious Land Use and Institutionalized Persons Act (RLUIPA), 42 U.S.C. § 2000cc, et seq.</li>
                    <li>Servicemembers Civil Relief Act (SCRA), 50 U.S.C. § 3901, et seq.</li>
                    <li>Immigration and Nationality Act § 274B, 8 U.S.C. § 1324b</li>
                    <li>Civil Rights of Institutionalized Persons Act (CRIPA), 42 U.S.C. § 1997, et seq.</li>
                    <li>Violent Crime Control and Law Enforcement Act, 36 U.S.C. 12601, et seq.</li>
                    <li>Omnibus Crime and Safe Streets Act, 34 U.S.C. § 10101, et seq.</li>
                    <li>Voting Rights Act, 52 U.S.C. § 10101, et seq.</li>
                    <li>Voting Accessibility for the Elderly and Handicapped Act, 42 U.S.C. § 1973ee, et seq.</li>
                    <li>Uniformed and Overseas Citizens Absentee Voting Act (UOCAVA), 52 U.S.C. 20310, et seq.</li>
                    <li>National Voter Registration Act (NVRA), 52 U.S.C. § 20501, et seq.</li>
                    <li>Genetic Information Nondiscrimination Act (GINA), Title II, 42 U.S.C. § 21f</li>
                    <li>Help America Vote Act (HAVA), 52 U.S.C. § 20901, et seq.</li>
                    <li>Civil Rights Acts of 1870, 1957, 1960, & 1964</li>
                    {% endblocktrans %}
                </ul>
                <p>
                {% blocktrans %}
                The full list of routine uses for this correspondence can be found in the System of Records Notice titled, JUSTICE/CRT – 001, "Central Civil Rights Division Index File and Associated Records", 68 Fed. Reg. 47610, 611 (8-11-2003); 70 Fed. Reg. 43904 (7-29-2005); 72 Fed. Reg. 3410 (1-25-2007) (rescinded by 82 FR 24147); 82 Fed. Reg. 24147 (5-25-2017).
                {% endblocktrans %}
                </p>
                <!-- <a class="float-right" href="#">{% trans 'Return to top' %}</a> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script src="{% static 'vendor/gumshoe.min.js' %}"></script>
<script src="{% static 'js/highlight_active_header.js' %}"></script>
{% endblock %}
