{% load commercial_public_space_view %}
{% load correctional_facility_view %}
{% load employer_info_view %}
{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Public+Sans:ital@0;1&display=swap" rel="stylesheet"/>
  </head>
  <body bgcolor="#ecf1f7" style="padding: 0; margin: 0; width: 100%; font-family: 'Public Sans', 'Helvetica', 'Arial', san-serif; max-width: 100%; background-color: #ffffff; line-height:1.4;">
    <table bgcolor="#ecf1f7" border="0" cellpadding="0" cellspacing="0" style="background-color:#ecf1f7; font-family:'Public Sans','Helvetica','Arial',san-serif; margin:0; width:100%;">
      <tbody>
        <tr>
          <td>
            <center>
              <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff; margin:0 auto; width: 100%; max-width:800px; padding:0;">
                <tbody>
                  <tr>
                    <td class="wrapper header">
                      <table bgcolor="#162e51" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; background-color: #162e51; width: 100%; height: 100px;">
                        <tbody>
                          <tr>
                            <td class="column" valign="center" style="padding:24px 8px 24px 32px;width:64px;">
                              <img src="{% static "img/doj-logo-footer.png" %}" alt="" style="width:64px;height:64px;"/>
                            </td>
                            <td class="column" valign="center" style="padding:24px 0;width:100%;line-height:1.2;">
                              <p style="margin-top: 8px; margin-bottom:0;color:#ffffff;font-size:12px;font-weight: 700;font-family: Merriweather Web,Merriweather Web,Tinos,Georgia,Cambria,Times New Roman,Times,serif;">
                                U.S. Department of Justice
                              </p>
                              <p style="margin-bottom: 8px; margin-top:0;color:#ffffff;font-size:22px;font-weight: 700;font-family: Merriweather Web,Merriweather Web,Tinos,Georgia,Cambria,Times New Roman,Times,serif;">
                                Civil Rights Division
                              </p>
                            </td>
                            <td class="column" valign="center" style="padding:24px 32px;" align="right">
                              <p class="header-link" style="border-left: 1px solid #ffbe2e; padding-left:8px;">
                                <a href="https://civilrights.justice.gov" style="color:#ffffff;text-decoration:none;">civilrights.justice.gov</a>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; background-color:#ffffff; max-width:600px;">
                        <tbody>
                          <tr>
                            <td>
                              <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border:0; padding: 24px; width: 100%; max-width: 600px; margin: 0 auto; line-height:1.5;color:#444444;" class="content">
                                <tbody>
                                  <tr>
                                    <td>
                                      <tr>
                                        <td>
                                          {{data.referral_letter}}
                                        </td>
                                      </tr>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table style="margin:0 auto; background-color: #f6f6f2; width: 100%; height: 100px;">
                        <tbody>
                          <tr>
                            <td valign="center">
                              <table border="0" cellpadding="0" cellspacing="0" class="footer" style="padding: 0 32px 16px;width:100%;">
                                <tbody>
                                  <tr>
                                    <td>
                                      <h4 style="font-size: 16px;color: #162e51;font-family: Merriweather,Merriweather Web,Merriweather Web,Tinos,Georgia,Cambria,Times New Roman,Times,serif;line-height: 1.5;font-weight: 700;margin-bottom:0;">
                                        Contact
                                        <div style="margin-top: 4px; border: 2px solid #ffbe2e; border-radius: 2px; background: #ffbe2e; width: 18px;"></div>
                                      </h4>
                                    </td>
                                  </tr>
                                  <tr class="wrapper">
                                    <td class="column" valign="top" style="color: #162e51;font-size:16px;line-height: 1.5;width:34%;padding-top:16px;padding-right: 16px;">
                                      <a href="https://civilrights.justice.gov" style="color:#162e51;">civilrights.justice.gov</a>
                                    </td>
                                    <td class="column" valign="top" style="color: #162e51;font-size:12px;line-height: 1.5;width:33%;padding-top:16px;padding-right: 16px;">
                                      <table>
                                        <tbody>
                                          <tr>
                                            <td valign="top" style="width:32px;">
                                              <img src="{% static "img/mail_70.png" %}" alt="mail" style="width:22px;height:17px;"/>
                                            </td>
                                            <td>
                                              U.S. Department of Justice<br />
                                              Civil Rights Division<br />
                                              950 Pennsylvania Avenue, NW<br />
                                              Washington, D.C. 20530-0001<br />
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td class="column" valign="top" style="color: #162e51;font-size:12px;line-height: 1.5;width:33%;padding-top:16px;">
                                      <table>
                                        <tbody>
                                          <tr>
                                            <td valign="top" style="width:32px;">
                                              <img src="{% static "img/phone_70.png" %}" alt="phone" style="width:23px;height:22px;"/>
                                            </td>
                                            <td>
                                              (202) 514-3847<br />
                                              1-855-856-1247 (toll-free)<br />
                                              Telephone Device for the Deaf<br />
                                              (TTY) (202) 514-0716
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table style="margin:0 auto; background-color: #2e2e2a; width: 100%; height: 38px;">
                        <tbody>
                          <tr>
                            <td valign="center">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="wrapper header">
                      <table bgcolor="#162e51" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; background-color: #162e51; width: 100%; height: 100px;">
                        <tbody>
                          <tr>
                            <td class="column" valign="center" style="padding:24px 8px 24px 32px;width:64px;">
                              <img src="{% static "img/doj-logo-footer.png" %}" alt="" style="width:64px;height:64px;"/>
                            </td>
                            <td class="column" valign="center" style="padding:24px 0;width:100%;line-height:1.2;">
                              <p style="margin-top: 8px; margin-bottom:0;color:#ffffff;font-size:12px;font-weight: 700;font-family: Merriweather Web,Merriweather Web,Tinos,Georgia,Cambria,Times New Roman,Times,serif;">
                                U.S. Department of Justice
                              </p>
                              <p style="margin-bottom: 8px; margin-top:0;color:#ffffff;font-size:22px;font-weight: 700;font-family: Merriweather Web,Merriweather Web,Tinos,Georgia,Cambria,Times New Roman,Times,serif;">
                                Civil Rights Division
                              </p>
                            </td>
                            <td class="column" valign="center" style="padding:24px 32px;" align="right">
                              <p class="header-link" style="border-left: 1px solid #ffbe2e; padding-left:8px;">
                                <a href="https://civilrights.justice.gov" style="color:#ffffff;text-decoration:none;">civilrights.justice.gov</a>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; background-color:#ffffff; max-width:600px;">
                        <tbody>
                          <tr>
                            <td>
                              <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border:0; padding: 24px; width: 100%; max-width: 600px; margin: 0 auto; line-height:1.5;color:#444444;" class="content">
                                <tbody>
                                  <tr>
                                    <td>
                                      <tr>
                                        <td>
                                          <h1>Complainant Letter</h1>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          {{data.complainant_letter}}
                                        </td>
                                      </tr>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; background-color:#ffffff; max-width:600px;">
                        <tbody>
                          <tr>
                            <td>
                              <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border:0; padding: 24px; width: 100%; max-width: 600px; margin: 0 auto; line-height:1.5;color:#444444;" class="content">
                                <tbody>
                                  <tr>
                                    <td>
                                      <tr>
                                        <td>
                                          <h1>Complaint Information</h1>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>Name</th>
                                        <td>
                                          <strong>
                                            {% with l_name=data.contact_last_name|default:"—" f_name=data.contact_first_name|default:"—" %} {{ l_name}}, {{ f_name }} {% endwith %}
                                          </strong>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>Email</th>
                                        <td>
                                          <div class="display-flex">
                                            <span>{{ data.contact_email|default:"—" }}</span>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>Phone</th>
                                        <td>{{ data.contact_phone|default:"—" }}</td>
                                      </tr>
                                      <tr>
                                        <th>Address</th>
                                        <td>
                                          <span>{{ data.contact_address_line_1|default:"—" }}</span>
                                          <br />
                                          <span>{{ data.contact_address_line_2|default:"—" }}</span>
                                          <br />
                                          <span>{{ data.contact_city|default:"—" }}, {{data.contact_state|default:"—" }}, {{data.contact_zip|default:"—" }}</span>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th><label>Primary issue</label></th>
                                        <td>
                                          <div class="details">
                                            {{ data.primary_complaint }}
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th><label>Hate crime</label></th>
                                        <td>
                                          <div class="details">
                                            <span>{{data.hate_crime|title|default:"—"}}</span>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>Relevant details</th>
                                        <td>
                                          <div class="details">
                                            {% if data.election_details %} Election type (federal/local): {{ data.election_details }} {% elif data.commercial_or_public_place %} {% render_commercial_public_space_view data.commercial_or_public_place data.other_commercial_or_public_place %} {% elif data.inside_correctional_facility %} {% render_correctional_facility_view data.inside_correctional_facility data.correctional_facility_type %} {% elif data.public_or_private_school %} School type: {% if data.public_or_private_school == 'not_sure' %} Not sure {% else %} {{ data.public_or_private_school|title }} {% endif %} {% elif data.public_or_private_employer %} {% render_employer_info_view data.public_or_private_employer data.employer_size %} {% else %}<span>-</span>{% endif %}
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th><label>Organization name</label></th>
                                        <td>
                                          <div class="details">
                                            <span>{{data.location_name|default:"—"}}</span>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>Address</th>
                                        <td>
                                          <div class="details">
                                            <span>{{ data.location_address_line_1|default:"—" }}</span>
                                            <br />
                                            <span>{{ data.location_address_line_2|default:"—" }}</span>
                                            <br />
                                            <span>{{data.location_city_town|default:"—"}}, {{data.location_state|default:"—"}}</span>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th><label>Reported reason</label></th>
                                        <td>
                                          <div class="details">
                                            {% if data.other_class %}<br />Other: {{data.other_class}} {% endif %}{% if not data.other_class %}<span>-</span>{% endif %}
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th><label>Servicemember</label></th>
                                        <td>
                                          <div class="details">
                                            {{data.servicemember|title|default:"—"}}
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>Date of incident</th>
                                        <td>
                                          <div class="details">
                                            {{data.last_incident_month|default:"—"}}/{{data.last_incident_day|default:"—"}}/{{data.last_incident_year|default:"—"}}
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>CRT receipt date</th>
                                        <td>
                                          <div class="details">
                                            {{data.crt_reciept_month|default:"—"}}/{{data.crt_reciept_day|default:"—"}}/{{data.crt_reciept_year|default:"—"}}
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>Personal description</th>
                                        <td>
                                          <div class="details">
                                            {{ data.violation_summary|linebreaks }}
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <th>Report language</th>
                                        <td>
                                          <div class="details">
                                            {% for language in languages %} {% if language.code == data.language %}This report submitted in: {{language.name }}{% endif %} {% endfor %}
                                          </div>
                                        </td>
                                      </tr>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
{% endblock %}
