{% extends "notification.html" %}
{% block notification_content %}
  This is a {{ frequency }} digest of events concerning you from the CRT Reporting Portal, which takes in reports from the public at <a href="https://civilrights.justice.gov">civilrights.justice.gov</a>.

{% for digest in digests %}
<p>{{digest.title | safe }}</p>
<ul>
  {{digest.content | safe}}
</ul>
{% endfor %}

After reviewing the link(s) above, you can:

<ol>
  <li>Respond to the public through the Portal User Interface</li>
  <li>Change the status of the report (close the report)</li>
  <li>Assign it to another user and more</li>
</ol>
{% endblock %}
