{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Manager</title>
  <style type="text/css">
  [data-slate-editor] {
    -webkit-user-modify: read-write !important;
  }
  </style>
</head>
<body>
  <!-- Include the script that builds the page and powers Netlify CMS -->
  <script src="{% static 'vendor/js.cookie.min.js' %}"></script>
  <script src="{% static 'vendor/netlify-cms.js' %}"></script>
  <script src="{% static 'js/cms.min.js' %}"></script>
</body>
</html>
